{% extends "layout_manager.html" %} {% block title %}Properties{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">2-Step Verification</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form id="mfa" action="manager/mfa/changeMfaStatus" method="post">
                                        <div class="row">
                                            {% if mfa == false %}
                                            <div class="col-12">

                                                <h6>Setting up two-step verification is easy, just follow
                                                    the steps below.</h6>

                                                <hr>

                                                <div>
                                                    <div>Step-1: Download a two-step verification app</div> <br />
                                                    <h6>> iPhone, iPod Touch, or iPad: <a
                                                            href="https://itunes.apple.com/us/app/authy/id494168017"
                                                            target="_blank">Authy
                                                            for iOS</a></h6>
                                                    <h6>> Android devices: <a
                                                            href="https://play.google.com/store/apps/details?id=com.authy.authy"
                                                            target="_blank">Authy for Android</a></h6>
                                                    <h6>> Windows devices: <a
                                                            href="https://www.microsoft.com/en-us/store/apps/authenticator/9wzdncrfj3rj"
                                                            target="_blank">Microsoft Authenticator</a></h6>
                                                </div>

                                                <hr>

                                                <div>
                                                    <div>Step-2: Scan this QR code with your verification app</div>
                                                    <br />
                                                    <div class="mb-3 text-center">
                                                        <img src='{{ qrCodeUrl }}' />
                                                    </div>
                                                </div>

                                                <hr>

                                                <div>
                                                    <div>Step-3: Enter the resulting verification code</div> <br />
                                                    <div class="alert alert-danger mb-2" id="invalidOtp" role="alert"
                                                        hidden="hidden">
                                                    </div>
                                                    <input type="hidden" id="secret" name="secret" class="form-control"
                                                        value="{{secret}}" />
                                                    <input type="text" id="otp" name="otp" class="form-control mb-4"
                                                        placeholder="Enter OTP" required="true">
                                                </div>
                                                <center><button
                                                        class="btn btn-primary sbmt_btn text-center">Enable</button>
                                                </center>
                                            </div>

                                            {% else %}

                                            <div class="col-12">
                                                <h6 class="alert alert-success">2-Step verification is enabled.</h6>
                                                <hr>
                                                <div>You will have to enter a verification code at the time of login,
                                                    which you can find from the verification app installed in your
                                                    mobile device. </div>
                                                <br />
                                                <div>Click on the below button to disable now.</div>
                                                <center><button class="btn btn-warning disable">Disable</button>
                                                </center>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %} {% block afterJs %}
<script type="text/javascript" src="js/manager_mfa.js"></script>
{% endblock %}