/*========================================================
        DARK LAYOUT
=========================================================*/
.chat-application .content-area-wrapper .content-right .content-wrapper {
  padding: 0; }

.chat-application .content-area-wrapper {
  border-radius: 0.25rem; }

.chat-application .chat-profile-sidebar {
  border-right: 1px solid #E4E7ED;
  height: calc(100vh - 13rem);
  height: calc(var(--vh, 1vh) * 100 - 13rem);
  width: 360px;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  background-color: #fff;
  position: fixed;
  transform: translateX(-110%);
  transition: all .3s ease;
  z-index: 6; }
  .chat-application .chat-profile-sidebar.show {
    transform: translateX(0);
    transition: all .3s ease; }
  .chat-application .chat-profile-sidebar .chat-profile-header {
    display: flex;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
    .chat-application .chat-profile-sidebar .chat-profile-header .header-profile-sidebar {
      margin: 2rem auto .5rem; }
    .chat-application .chat-profile-sidebar .chat-profile-header .avatar {
      margin-bottom: 1.25rem; }
    .chat-application .chat-profile-sidebar .chat-profile-header .close-icon {
      position: absolute;
      top: 14px;
      right: 13px;
      font-size: 1.75rem;
      cursor: pointer; }
  .chat-application .chat-profile-sidebar .profile-sidebar-area .scroll-area {
    padding: 2rem;
    height: calc(100vh - 24.25rem);
    height: calc(var(--vh, 1vh) * 100 - 24.25rem);
    position: relative; }

.chat-application .sidebar-content {
  border-right: 1px solid #E4E7ED;
  height: calc(100vh - 13rem);
  height: calc(var(--vh, 1vh) * 100 - 13rem);
  width: 360px;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  box-shadow: none; }
  .chat-application .sidebar-content .sidebar-close-icon {
    position: absolute;
    right: .25rem;
    top: .25rem;
    font-size: 1.25rem;
    z-index: 1;
    cursor: pointer;
    visibility: hidden; }
  .chat-application .sidebar-content .chat-fixed-search {
    width: 360px;
    padding: .65rem; }
    .chat-application .sidebar-content .chat-fixed-search .sidebar-profile-toggle .avatar {
      display: inline-table;
      width: calc(32px + 8px); }
    .chat-application .sidebar-content .chat-fixed-search input.form-control {
      padding: .9rem 3rem .9rem 1rem;
      height: calc(1.25em + 1.4rem + 4px); }
    .chat-application .sidebar-content .chat-fixed-search .form-control-position {
      top: 5px; }
      .chat-application .sidebar-content .chat-fixed-search .form-control-position i {
        left: 9px; }
  .chat-application .sidebar-content .chat-user-list {
    height: 100%;
    margin-top: 0;
    width: 360px; }
    .chat-application .sidebar-content .chat-user-list ul {
      padding-left: 0;
      margin-bottom: 0; }
    .chat-application .sidebar-content .chat-user-list li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.322rem .85rem;
      margin-right: 0;
      /* &:not(:first-child){
          border-top: 1px solid $custom-border-color;
        } */ }
      .chat-application .sidebar-content .chat-user-list li .user-chat-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden; }
      .chat-application .sidebar-content .chat-user-list li .contact-info {
        width: calc(100vw - (100vw - 100%) - 1rem - 50px);
        margin-top: .3rem; }
        .chat-application .sidebar-content .chat-user-list li .contact-info .truncate {
          margin: 0; }
      .chat-application .sidebar-content .chat-user-list li:hover {
        cursor: pointer;
        background: #f0f4f7; }
      .chat-application .sidebar-content .chat-user-list li.active {
        background: linear-gradient(118deg, #03b8b8, rgba(3, 184, 184, 0.7));
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
        color: #fff; }
        .chat-application .sidebar-content .chat-user-list li.active h1, .chat-application .sidebar-content .chat-user-list li.active h2, .chat-application .sidebar-content .chat-user-list li.active h3, .chat-application .sidebar-content .chat-user-list li.active h4, .chat-application .sidebar-content .chat-user-list li.active h5, .chat-application .sidebar-content .chat-user-list li.active h6 {
          color: #fff; }
      .chat-application .sidebar-content .chat-user-list li img {
        border: 2px solid #fff; }
  .chat-application .sidebar-content .card {
    margin-bottom: 0; }

.chat-application .chat-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 2;
  visibility: hidden;
  border-radius: 0.25rem; }
  .chat-application .chat-overlay.show {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2); }

.chat-application .chat-app-window .favorite, .chat-application .chat-app-window .sidebar-toggle {
  cursor: pointer; }

.chat-application .chat-app-window .user-chats {
  padding: 16px 15px;
  position: relative;
  text-align: center;
  height: calc(100vh - 23.5rem);
  height: calc(var(--vh, 1vh) * 100 - 19rem); }

.chat-application .chat-app-window .start-chat-area, .chat-application .chat-app-window .user-chats {
  background-image: url("../../images/backgrounds/chat-bg.svg");
  background-color: #dfdbe5; }

.chat-application .chat-app-window .start-chat-area {
  height: calc(100vh - 13rem);
  height: calc(var(--vh, 1vh) * 100 - 13rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .chat-application .chat-app-window .start-chat-area .start-chat-icon, .chat-application .chat-app-window .start-chat-area .start-chat-text {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08) !important; }
  .chat-application .chat-app-window .start-chat-area .start-chat-text {
    border-radius: calc(0.5rem * 4);
    cursor: pointer; }
  .chat-application .chat-app-window .start-chat-area .start-chat-icon {
    border-radius: 50%;
    font-size: 4rem;
    padding: 2rem; }

.chat-application .chat-app-form {
  padding: 20px 10px; }

.chat-application .chats {
  padding: 0; }
  .chat-application .chats .chat-body {
    display: block;
    margin: 10px 0px 0 0;
    overflow: hidden; }
    .chat-application .chats .chat-body .chat-content {
      text-align: left;
      display: block;
      float: right;
      padding: 11px 10px;
      margin: 0 20px 10px 0;
      clear: both;
      position: relative;
      color: #6d6d6d;
      max-width: 70%;
      background: #dafcfc;
      min-width: 185px;
      border: 1px solid #e5e5e5;
      border-radius: 10px 0px 10px 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06); }
      .chat-application .chats .chat-body .chat-content p {
        margin: 0;
        font-size: 13px; }
      .chat-application .chats .chat-body .chat-content:before {
        content: "";
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        background: #e5e5e5;
        position: absolute;
        width: 9px;
        height: 11px;
        top: -1px;
        display: block;
        right: -9px; }
      .chat-application .chats .chat-body .chat-content:after {
        content: "";
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        background: #dafcfc;
        position: absolute;
        width: 8px;
        height: 10px;
        top: 0;
        display: block;
        right: -7px; }
  .chat-application .chats .chat-avatar {
    float: right; }
  .chat-application .chats .chat-left .chat-avatar {
    float: left; }
  .chat-application .chats .chat-left .chat-body {
    margin-right: 0;
    margin-left: 30px; }
  .chat-application .chats .chat-left .chat-content {
    text-align: left;
    float: left;
    margin: 0 0 10px 20px;
    color: #4d4d4d;
    border-radius: 0 10px 10px 10px;
    background: none;
    border: 1px solid #e5e5e5;
    background-color: white;
    position: relative; }
    .chat-application .chats .chat-left .chat-content:before {
      content: "";
      clip-path: polygon(0 0, 100% 100%, 100% 0);
      background: #e5e5e5;
      position: absolute;
      width: 9px;
      height: 11px;
      top: -1px;
      display: block;
      left: -9px; }
    .chat-application .chats .chat-left .chat-content:after {
      content: "";
      clip-path: polygon(0 0, 100% 100%, 100% 0);
      background: #fff;
      position: absolute;
      width: 8px;
      height: 10px;
      top: 0;
      display: block;
      left: -7px; }

.chat-application .user-profile-sidebar {
  border-right: 1px solid #E4E7ED;
  height: calc(100vh - 13rem);
  height: calc(var(--vh, 1vh) * 100 - 13rem);
  width: 360px;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
  background-color: #fff;
  position: fixed;
  transform: translateX(110%);
  transition: all .3s ease;
  z-index: 6;
  right: 4.2rem;
  bottom: 5.25rem;
  opacity: 0; }
  .chat-application .user-profile-sidebar.show {
    opacity: 1;
    transform: translateX(7%);
    transition: all .3s ease; }
  .chat-application .user-profile-sidebar .user-profile-header {
    display: flex;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
    .chat-application .user-profile-sidebar .user-profile-header .header-profile-sidebar {
      margin: 2rem auto .5rem; }
    .chat-application .user-profile-sidebar .user-profile-header .avatar {
      margin-bottom: 1.25rem; }
    .chat-application .user-profile-sidebar .user-profile-header .close-icon {
      position: absolute;
      top: 14px;
      right: 13px;
      font-size: 1.75rem;
      cursor: pointer; }
  .chat-application .user-profile-sidebar .user-profile-sidebar-area {
    height: calc(100vh - 24.25rem);
    height: calc(var(--vh, 1vh) * 100 - 24.25rem);
    position: relative; }

@media (max-width: 767.98px) {
  .chat-application .chat-app-window {
    height: calc(100% - 132px); }
  .chat-application .sidebar-content .sidebar-close-icon {
    visibility: visible; } }

@media (max-width: 575.98px) {
  .chat-application .sidebar-content {
    width: 320px;
    left: -4px !important; }
    .chat-application .sidebar-content .chat-fixed-search, .chat-application .sidebar-content .chat-user-list {
      width: 320px; }
  .chat-application .chat-profile-sidebar {
    width: 320px; }
  .chat-application .user-profile-sidebar {
    width: 320px;
    right: 2.35rem; }
  .chat-application .chat-application .chats .chat-body .chat-content {
    max-width: 85%; } }

@media (max-width: 991.98px) {
  .chat-application .content-right {
    width: 100%; }
  .chat-application .chat-application .sidebar-content {
    transform: translateX(-110%);
    transition: all .3s ease-in-out;
    left: 0;
    position: fixed;
    z-index: 5;
    left: -2px; }
    .chat-application .chat-application .sidebar-content.show {
      transform: translateX(8.5%);
      transition: all .3s ease;
      display: block; } }

@media (max-width: 349.98px) {
  .chat-application .chat-application .sidebar-content {
    width: 230px;
    left: -2px !important; }
    .chat-application .chat-application .sidebar-content .chat-fixed-search, .chat-application .chat-application .sidebar-content .chat-user-list {
      width: 230px; }
  .chat-application .chat-application .chat-profile-sidebar {
    width: 230px; }
  .chat-application .chat-application .user-profile-sidebar {
    width: 230px; } }
