@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rnizmp');
  src:  url('fonts/icomoon.eot?rnizmp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rnizmp') format('truetype'),
    url('fonts/icomoon.woff?rnizmp') format('woff'),
    url('fonts/icomoon.svg?rnizmp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notification-2:before {
  content: "\e925";
}
.icon-admin:before {
  content: "\e926";
}
.icon-cogs:before {
  content: "\e927";
}
.icon-users:before {
  content: "\e928";
}
.icon-setting:before {
  content: "\e924";
}
.icon-smile-icon:before {
  content: "\e920";
}
.icon-attach:before {
  content: "\e921";
}
.icon-long-arrow-right:before {
  content: "\e922";
}
.icon-paper-plane:before {
  content: "\e923";
}
.icon-card:before {
  content: "\e91e";
}
.icon-profile-user:before {
  content: "\e91f";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-key:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91a";
}
.icon-user-plus:before {
  content: "\e91b";
}
.icon-edit:before {
  content: "\e918";
}
.icon-trash:before {
  content: "\e919";
}
.icon-plus-circle:before {
  content: "\e917";
}
.icon-ellipsis:before {
  content: "\e916";
  color: #4d4d4d;
}
.icon-market-shop:before {
  content: "\e915";
}
.icon-angle-right:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-checklist:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-dashboard:before {
  content: "\e905";
}
.icon-devices:before {
  content: "\e906";
}
.icon-global:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-mobile:before {
  content: "\e90b";
}
.icon-notes:before {
  content: "\e90c";
}
.icon-notification:before {
  content: "\e90d";
}
.icon-property-calendar:before {
  content: "\e90e";
}
.icon-reservation-id:before {
  content: "\e90f";
}
.icon-role:before {
  content: "\e910";
}
.icon-schedule:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-user:before {
  content: "\e913";
}
.icon-user-icon:before {
  content: "\e914";
  color: #14166c;
}
