{% extends "layout_manager.html" %}

{% block title %}Calendar{% endblock %}
{% block afterCSS %}
<link rel="stylesheet" href="manager/css/bootstrap-formhelpers.min.css" />
<style>
    .input-group-addon{padding: 0px}
    .bfh-colorpicker-toggle .bfh-colorpicker-icon{height: 43px}
</style>
{% endblock %}  

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">{% if not calendar %}New Calendar{% else %}Edit Calendar{% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form method="POST" action="manager/calendar/api/save-calendar/{{ calendar ? "#{calendar.calendar_id}" : '' }}"  id="edit-calendar" class="form-horizontal" data-calendar="{{calendar|json_encode}}" data-access="{{access|json_encode}}" @submit.prevent="save">
                                        <input type="hidden" id="calendarPropertyId" value="{{propertyId}}">   
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="bookingSource">Booking Source</label>
                                                        <select class="form-control" id="bookingSource" v-model="booking_source" required>
                                                            <option>AirBnB</option>
                                                            <option>Booking.com</option>
                                                            <option>VRBO</option>
                                                            <option>HomeAway</option>
                                                            <option>TripAdvisor</option>
                                                            <option>FlipKey</option>
                                                            <option>Others</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="deviceTitle">URL</label> 
                                                        <input type="text" placeholder="URL" id="url" class="form-control" v-model="url" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="deviceTitle">Color</label>
                                                        <div class="bfh-colorpicker" data-name="color" data-color="{{ calendar.color is defined ? calendar.color : '' }}"></div>
                                                    </div>
                                                </div>

                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light"> <span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status" aria-hidden="true"></span>Save</button>                                                    
                                                    <a href="/manager/calendar/index?property_id={{propertyId}}" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block afterJs %}
<script src="manager/js/bootstrap-formhelpers.js"></script>
<script type="text/javascript" src="js/manager_calendar_edit.js"></script>
{% endblock %}