{% extends "layout_manager.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">List Calendar</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        {% if hasPermission(property, "Calendar.create") %}
                            <a href="/manager/calendar/add-calendar?property_id={{property.id}}" class="btn btn-warning"><i class="icon icon-plus-circle"></i> New Calendar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Booking Source</th>
                                                    <th>URL</th>
                                                    <th>Operation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for calendar in calendars %}
                                                <tr data-calendar-id="{{calendar.calendar_id}}">
                                                    <td>{{calendar.calendar_id}}</td>
                                                    <td>{{calendar.booking_source}}</td>
                                                    <td>{{calendar.url}}</td>
                                                    <td> 
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">                    
                                                                {% if hasPermission(property, "Calendar.edit") %}<a class="dropdown-item" href='/manager/calendar/edit-calendar?id={{calendar.calendar_id}}&property_id={{property.id}}'>Edit</a>{% endif %}
                                                                {% if hasAllPermissions(property, ["Calendar.edit", "Calendar.delete"]) %}{% endif %}
                                                                {% if hasPermission(property, "Device.delete") %}<a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal">Delete</a>{% endif %}                           
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete calendar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert"><strong>Warning!</strong> Are you sure want to delete ?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary do-delete">
                    <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block afterJs %}
<script type="text/javascript" src="js/manager_calendar_list.js"></script>
{% endblock %}
