<div class="container"> <!-- Container Start -->            
    <div class="row">  <!-- Row Start -->
        <div class="col-md-12">  <!-- col-md-8 Start -->
            <div id="checklistButtons"></div>
            <div style="clear:both"></div>
            <br />
            <table class="table table-condensed table-hover table-striped" data-sorting="false" data-navigation="0" data-toggle="bootgrid" data-ajax="true" data-url="manager/checklist/api/show">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false">ID</th>
                        <th data-column-id="code">Property Code</th>
                        <th data-column-id="submitDate">Filled Date</th>
                        <th data-column-id="submitWeek">Filled Week</th>
                        <th data-column-id="filledBy">Filled By</th>
                        <th data-column-id="ops">Operations</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

<div class="modal fade" id="modalFormDiv" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
  <div class="modal-content">
    <form method='post' action="manager/checklist/api/set" id="editForm" class="form-horizontal">
    <input type='hidden' name='checklistId' id='checklistId' />
    <input type='hidden' name='templateId' id='templateId' />
    <div class="modal-header">
      <h5 class="modal-title" id="modalTitle"></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"> 
          <div class="row">
              <div id="modalInfo"></div>
          </div>
          <div class="row">
              <div id="modalResult"></div>
          </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </form>  
  </div>
</div>


<script>    
    function get(template_id,checklist_id) {
        $.get('manager/checklist/api/get/'+template_id+'/'+checklist_id,
            function (data, textStatus) { 
                var r = $.parseJSON(data);
                $('#modalResult').html(r.html);
                $('#modalTitle').html(r.title);
                $('#modalInfo').html(r.info);
                $('#checklistId').val(checklist_id);
                $('#templateId').val(template_id);

                $('#modalResult input[type="checkbox"]').bootstrapToggle({
                  on: 'Yes',
                  off: 'No',
                  onstyle: "success",
                  offstyle: "danger"
                });
                $('#modalFormDiv').modal('show');
            });
    }
    function del(id) {
        if (confirm("Are you sure to delete?") == false) return false;
        $("#"+id).animate({ backgroundColor: '#ffbcbc' },2000); 
        $.get('manager/checklist/api/del/'+id,
            function (data, textStatus) {
                var r = $.parseJSON(data);
                if (r.ok) {
                    location.reload();
                } else {
                    alert('Something went wrong');
                }
            }
        );
    }
    $(document).ready(function(){
        
        $.get( "manager/checklist/template/api/getButtons", function( data ) {
            var response = $.parseJSON(data);
            $.each(response, function(idx, obj) {
                $('#checklistButtons').append("<a class='btn btn-primary' href='javascript:get("+obj.id+",0)'>New "+obj.title+"</a> ");
            });
        });
        
        
        $("#editForm").submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: $('#editForm').attr('method'),
                url: $('#editForm').attr('action'),
                data: $("#editForm").serialize(),
                success: function(data){
                    var r = $.parseJSON(data);
                    if (r.ok) {
                        location.reload();
                    } else {
                        alert('Something went wrong');
                    }
                }
            });
        });
    });
</script>
