<div class="container">
</div>

<div class="modal fade" id="modalFormDiv" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
  <div class="modal-content">
    <form method='post' action="manager/checklist/template/api/set" id="editForm" class="form-horizontal">
    <input type='hidden' name='templateId' id='templateId' />
    <div class="modal-header">
      <h5 class="modal-title">
          <input name="code" type="text" placeholder="Template Code" id="modalCode" />
          <input name="title" type="text" placeholder="Template Name" id="modalTitle" />
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"> 
          <div class="row">
              <div id="modalInfo"></div>
          </div>
          <div class="row">
              <div id="modalResult"></div>
          </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" id="continueBtn">Continue</button>
      <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </form>  
  </div>
</div>


<script type="text/javascript" src="js/checklists.js"></script>
