<div class="settings">
	<div class="settings-box">
		<div class="container">
			<div class="row manager-title">
				<div class="col">
					<h1 class="centered">Settings</h1>
					<hr>
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<form id="contact-form" method="post" action="" role="form">
						<div class="messages"></div>
						<div class="controls">
							<div class="row">
								<div class="col">
									<div class="form-group row">
	                                <label for="form_name" class="col-2">First Name *</label>
		                                <div class="col-10">
		                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your First Name *" required="required" data-error="Firstname is required.">
		                                </div>
		                                <div class="help-block with-errors"></div>
	                            	</div>
                            	</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group row">
	                                <label for="form_lastname" class="col-2">Last Name *</label>
		                                <div class="col-10">
		                                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your Last Name *" required="required" data-error="Lastname is required.">
		                                </div>
		                                <div class="help-block with-errors"></div>
	                            	</div>
                            	</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group row">
	                                <label for="form_companyname" class="col-2">Company Name</label>
		                                <div class="col-10">
		                                    <input id="form_companyname" type="text" name="email" class="form-control" placeholder="Please enter your Company Name">
		                                </div>
		                                <div class="help-block with-errors"></div>
	                            	</div>
                            	</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group row">
	                                <label for="form_email" class="col-2">Email *</label>
		                                <div class="col-10">
		                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your Email *" required="required" data-error="Valid email is required.">
		                                </div>
		                                <div class="help-block with-errors"></div>
	                            	</div>
                            	</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group row">
	                                <label for="form_phone" class="col-2">Phone *</label>
		                                <div class="col-10">
		                                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your Phone*" required="required">
		                                </div>
		                                <div class="help-block with-errors"></div>
	                            	</div>
                            	</div>
							</div>
							<div class="row">
								<div class="col">
									<br>
									<h5>Change Password</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
								    <div class="form-group pass_show"> 
						                <input type="password" value="" class="form-control" placeholder="Current Password"> 
						            </div>
						        </div>
								<div class="col-4">
						            <div class="form-group pass_show"> 
						                <input type="password" value="" class="form-control" placeholder="New Password"> 
						            </div> 
						        </div>
								<div class="col-4">
						            <div class="form-group pass_show"> 
						                <input type="password" value="" class="form-control" placeholder="Confirm Password"> 
						            </div> 
						        </div>
							</div><!--
							<div class="row">
								<div class="col">
									<p class="divider-text"><span class="bg-light" style="background-color: #fff !important">ADVANCED SETTINGS</span></p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group row">
		                                <div class="col">
		                                	<select id="inputState" class="form-control">
		                                		<option selected>Please choose...</option>
					                        	<option value="x" href="#">Multi-factor Authentication Configuration</option>
					                        	<option value="y" href="#">API Settings</option>
					                      	</select>
		                                </div>
		                                <div class="help-block with-errors"></div>
	                            	</div>
                            	</div>
							</div>-->
							<div class="row">
								<div class="col">
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<button type="button" class="btn btn-secondary btn-dark btn-lg">Save</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>