<div class="container"> <!-- Container Start -->            
    <div class="row">  <!-- Row Start -->
        <div class="col-md-12">  <!-- col-md-8 Start -->
            <a class="btn btn-primary" href='javascript:get(0)'>New RCI Account</a>
            <div style="clear:both"></div>
            <br />
            <table class="table table-condensed table-hover table-striped" data-sorting="false" data-navigation="0" data-toggle="bootgrid" data-ajax="true" data-url="manager/rci/account/api/show">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false">ID</th>
                        <th data-column-id="userName">User Name</th>
                        <th data-column-id="ops">Operations</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

<div class="modal fade" id="modalFormDiv" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
  <div class="modal-content">
    <form method='post' action="manager/rci/account/api/set" id="editForm" class="form-horizontal">
    <input type='hidden' name='userId' id='userId' />
    <div class="modal-header">
      <h5 class="modal-title" id="modalTitle">New RCI Account</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"> 
          <div class="row">
              <div id="modalInfo"></div>
          </div>
          <div class="row">
              <div id="modalResult">
                 <label>User Name:</label> <input type="text" id="userName" name="userName" /><br />
                 <label>Password:</label> <input type="password" id="password" name="password"  autocomplete="off" /><br />
              </div>
          </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </form>  
  </div>
</div>


<script>   
    function get(id) {
        $.get('manager/rci/account/api/get/'+id,
            function (data, textStatus) { 
                var r = $.parseJSON(data);
                if (r.userName == '') {
                    $('#modalTitle').html('New RCI Account');
                } else {
                    $('#modalTitle').html('Edit RCI Account');
                    $('#userName').val(r.userName);
                    $('#userId').val(id);                    
                }
                $('#password').val('');
                $('#modalFormDiv').modal('show');
            });
    }
    function del(id) {
        if (confirm("Are you sure to delete?") == false) return false;
        $("#"+id).animate({ backgroundColor: '#ffbcbc' },2000); 
        $.get('manager/rci/account/api/del/'+id,
            function (data, textStatus) {
                var r = $.parseJSON(data);
                if (r.ok) {
                    location.reload();
                } else {
                    alert(r.errMsg);
                }
            }
        );
    }
    $(document).ready(function(){
        $("#editForm").submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: $('#editForm').attr('method'),
                url: $('#editForm').attr('action'),
                data: $("#editForm").serialize(),
                success: function(data){
                    var r = $.parseJSON(data);
                    if (r.ok) {
                        location.reload();
                    } else {
                        alert(r.errMsg);
                    }
                }
            });
        });
    });
</script>