<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Leading Automation in Property Management">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/vendors.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="https://kit.fontawesome.com/5e226041e5.js" crossorigin="anonymous"></script>
</head>

<body class="body-login">
    <div id="login_wrap" class="login_wrapper">
        <div class="login_form_wrap">
            <div class="login_logo">
                <a href="/">
                    <img src="img/JV_logo_small.png" alt="" class="img-fluid">
                </a>
            </div>
            <div class="alert alert-success" style="position: sticky; top: 5px; display: none;"></div>
            <div class="alert alert-danger" style="position: sticky; top: 5px; display: none;"></div>
            <form id="loginForm" action="login/doLogin" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="email" class="form-control" placeholder="Email" required />
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><img src="img/envelope-icon.svg" width="21"
                                class="img-fluid"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password" required />
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><img src="img/key.svg" width="21"
                                class="img-fluid"></span>
                    </div>
                </div>
                <button type="submit" class="btn button-primary sbmt_btn">LOGIN <i class="fas fa-angle-right"
                        aria-hidden="true"></i></button>
            </form>
            <a href="/forgotPassword" class="forgot_pw_link mont-medium text-center d-block">Forgot Your Password?</a>
        </div>
        <p class="text-center mt-3 mont-medium signup_ll">New to Jervis? <a href="/signup">Sign up now</a></p>
    </div>

    <div id="mfa" class="login_wrapper text-center" hidden="hidden">
        <div class="login_form_wrap">
            <b>Two-step verification</b>
            <div class="verification_logo">
                <img src="img/verification-code.svg" class="img-fluid" width="200px">
            </div>
            <div>Open the two-step verification app on your mobile device to get your verification code</div><br>
            <div class="alert alert-danger ml-2 mr-2 mb-2" role="alert"></div>
            <form method="post" id="auth" action="login/varifyCode">
                <div class="input-group mb-3">
                    <input type="text" name="otp" id="otp" class="form-control" placeholder="Enter Code" required />
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><img src="img/key.svg" width="21"
                                class="img-fluid"></span>
                    </div>
                </div>
                <button type="submit" class="btn button-primary sbmt_btn">Verify</button>
            </form>
        </div>
    </div>

    <p class="login-copyright">{{ "now"|date("Y") }} &copy; Jervis</p>

    {{ include('inc/footer.html') }}

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.accordion.source.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</body>

</html>