<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Leading Automation in Property Management">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/vendors.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="https://kit.fontawesome.com/5e226041e5.js" crossorigin="anonymous"></script>
</head>

<body class="body-login">


    <div id="login_wrap" class="login_wrapper">
        <div class="login_form_wrap">
            <div class="login_logo">
                <a href="./">
                    <img src="img/JV_logo_small.png" alt="" class="img-fluid">
                </a>
            </div>
            <div class="alert alert-success" style="position: sticky; top: 5px; display: none;"></div>
            <div class="alert alert-danger" style="position: sticky; top: 5px; display: none;"></div>
            <form id="forgotPassword" action="forgotPassword/reset" method="post">
                <h3>Forgot Your Password?</h3>
                <p>Enter your email address to reset your password.</p>
                <div class="input-group mb-3">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required />
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><img src="img/envelope-icon.svg" width="21"
                                class="img-fluid"></span>
                    </div>
                </div>
                <br><br>
                <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                <script
                    src="https://www.google.com/recaptcha/api.js?render=6Leqp_oUAAAAAO92JqjQTY-s_nXi97TGS7P8FTbA"></script>
                <script>
                    grecaptcha.ready(function () {
                        grecaptcha.execute('6Leqp_oUAAAAAO92JqjQTY-s_nXi97TGS7P8FTbA', {
                            action: 'contact'
                        }).then(function (token) {
                            var recaptchaResponse = document.getElementById('recaptchaResponse');
                            recaptchaResponse.value = token;
                        });
                    });
                </script>

                <button type="submit" class="btn button-primary sbmt_btn">RESET PASSWORD <i class="fas fa-angle-right"
                        aria-hidden="true"></i></button>
            </form>
            <!--  <a href="javascript:;" class="forgot_pw_link mont-medium text-center d-block">Forgot Password?</a> -->
        </div>
        <p class="text-center mt-3 mont-medium signup_ll">New to Jervis? <a href="/signup">Sign up now</a></p>
    </div>

    <p class="login-copyright"><?= date('Y'); ?> &copy; Jervis</p>

    {{ include('inc/footer.html') }}

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.accordion.source.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

    <script type="text/javascript" src="js/forgotPassword.js"></script>
</body>

</html>