<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="Leading Automation in Property Management">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{URL}}/css/vendors.css" />
        <link rel="stylesheet" type="text/css" href="{{URL}}/css/styles.css" />        
        <script src="https://kit.fontawesome.com/5e226041e5.js" crossorigin="anonymous"></script>
    </head>
    <body class="body-login">
        <div id="login_wrap" class="login_wrapper">
            <div class="login_form_wrap">
                <div class="login_logo">
                    <a href="/">
                        <img src="{{URL}}/img/JV_logo_small.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="alert alert-success" style="top: 5px; display: none;"></div>  
                <div class="alert alert-danger" style="top: 5px; display: none;"></div>
                <form id="forgotPassword" action="{{URL}}/forgotPassword/reset" method="post" oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")'>
                    <input type="hidden" id="token" value="{{token}}" name="token" />                    
                    <div class="input-group mb-3">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><img src="{{URL}}/img/key.svg" width="21" class="img-fluid"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control" required />
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><img src="{{URL}}/img/key.svg" width="21" class="img-fluid"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn button-primary sbmt_btn">Reset Password <i class="fas fa-angle-right" aria-hidden="true"></i></button>
                </form>
                <a href="/login" class="forgot_pw_link mont-medium text-center d-block">Login</a>
            </div>            
        </div>

        <p class="login-copyright">{{ "now"|date("Y") }} &copy; Jervis</p>

        {{ include('inc/footer.html') }}

        <script type="text/javascript" src="{{URL}}/js/jquery.js"></script>
        <script type="text/javascript" src="{{URL}}/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{URL}}/js/slick.min.js"></script>
        <script type="text/javascript" src="{{URL}}/js/jquery.accordion.source.js"></script>
        <script type="text/javascript" src="{{URL}}/js/jquery.fancybox.min.js"></script>
        <script type="text/javascript" src="{{URL}}/js/aos.js"></script>
        <script type="text/javascript" src="{{URL}}/js/scripts.js"></script>
        <script type="text/javascript" src="{{URL}}/js/forgotPassword.js"></script>
    </body>
</html>