<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light d-flex justify-content-between align-items-center">
    <p class="clearfix blue-grey lighten-2 mb-0">
        <span class="float-md-left d-block d-md-inline-block mt-25">2020 © Jervis</span>
        <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
    </p>
    <div><a href="javascript:;">About</a> | <a href="javascript:;">Team</a> | <a href="javascript:;">Contact</a></div>
</footer>
<!-- END: Footer-->