<!-- BEGIN: Header-->
<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-light navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav float-left" {% if propertyLists|length <= 1 %} hidden{% endif %}>
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <div class="user-nav d-sm-flex d-none">
                                <span class="user-name text-bold-600">
                                    {% set breakLoop = false %}
                                    {% if request_property_id|length == 0 %}
                                    {% for propertyList in propertyLists if breakLoop == false%}
                                    {{propertyList.title}}
                                    {% set breakLoop = true %}
                                    {% endfor %}
                                    {% else %}
                                    {% for propertyList in propertyLists if breakLoop == false%}
                                    {% if propertyList.id == request_property_id %}
                                    {{propertyList.title}}
                                    {% set breakLoop = true %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" id="propertyLists">
                            {% for propertyList in propertyLists %}
                            <a class="dropdown-item" href="javascript:;"
                                data-id="{{propertyList.id}}">{{propertyList.title}}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
                <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mobile-menu d-xl-none mr-auto">
                            <a class="nav-link nav-menu-main menu-toggle hidden" href="#"><i
                                    class="ficon feather icon-menu"></i></a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav float-right">
                    <li class="nav-item mobile-menu d-xl-none mr-auto">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                class="ficon feather icon-menu"></i></a>
                    </li>
                    <li class="dropdown dropdown-user nav-item" style="margin-top: 11px;">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <div class="user-nav d-sm-flex d-none">
                                <span class="user-name text-bold-600">
                                    {% for propertyRole in propertyRoles %}
                                    {% if userPropertyRole[propertyRole] is defined and userPropertyRole[propertyRole] == 1 %}
                                    {{propertyRole}}
                                    {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" id="userRole">
                            {% for propertyRole in propertyRoles %}
                            <a class="dropdown-item" href="#">{{propertyRole}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <span><img class="round"
                                    src="/avatar?name={{user.managerFirstName}} {{user.managerLastName}}" alt="avatar"
                                    height="40" width="40" /></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="manager/profile/index"><i class="feather icon-user"></i> Edit
                                Profile</a>
                            <a class="dropdown-item" href="manager/notification/custom-notification?property_id=1"><i
                                    class="feather icon-mail"></i> My Inbox</a>
                            <a class="dropdown-item" href="manager/checklist/index?property_id=1"><i
                                    class="feather icon-check-square"></i> Task</a>
                            <a class="dropdown-item" href="manager/chat/index"><i
                                    class="feather icon-message-square"></i> Chats</a>
                            <a class="dropdown-item" href="manager/mfa/index"><i class="feather icon-tablet"></i>
                                MFA</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="manager/logout"><i class="feather icon-power"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<ul class="main-search-list-defaultlist-other-list d-none">
    <li class="auto-suggestion d-flex align-items-center justify-content-between cursor-pointer">
        <a class="d-flex align-items-center justify-content-between w-100 py-50">
            <div class="d-flex justify-content-start"><span class="mr-75 feather icon-alert-circle"></span><span>No
                    results found.</span></div>
        </a>
    </li>
</ul>
<!-- END: Header-->