<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item m-auto">
                <a class="navbar-brand" href="./">
                    <div class="brand-logo"></div>
                </a>
            </li>
            <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                    <i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i>
                    <i class="toggle-icon feather icon-menu d-none d-xl-block" data-ticon="icon-menu"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li
                class="nav-item {% if controller == 'ManagerController' and controllerAction == 'index' %}open{% endif %}">
                <a href="/manager/"><i class="icon icon-dashboard"></i><span class="menu-title">Dashboard</span></a>
            </li>

            <li class="nav-item {% if controller == 'ManagerPropertyController'%} open {% endif %}">
                <a href="javascript:;"><i class="icon icon-home"></i><span class="menu-title">Property</span></a>
                <ul class="menu-content">
                    <li
                        class="{% if controller == 'ManagerPropertyController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="/manager/property/index"><span class="menu-item">View Properties</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerPropertyController' and controllerAction == 'addProperty' %} open {% endif %}">
                        <a href="/manager/property/add-property"><span class="menu-item">Add Property</span></a>
                    </li>
                </ul>
            </li>


            <li class="nav-item {% if controller == 'ManagerReservationController' or controller == 'ManagerCalendarController' %} open {% endif %}"
                {% if propertyLists|length == 0 %} hidden {% endif %}>
                <a href="javascript:;"><i class="icon icon-property-calendar"></i><span class="menu-title">Reservation
                        Calendar
                        {% if reservationCountNotification is defined and reservationCountNotification > 0 %}
                        <span class="badge badge-light">{{reservationCountNotification}}</span>
                        {% endif %}
                    </span></a>
                <ul class="menu-content">
                    {% if hasAnyPermission(currentProperty, ["Reservation.view","Reservation.edit", "Reservation.delete", "Reservation.create"]) %}
                    <li
                        class="{% if controller == 'ManagerReservationController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="" class="listReservation"> <span class="menu-item">View Calendar</span>
                            {% if reservationCountNotification is defined and reservationCountNotification > 0 %}
                            <span class="badge badge-light">{{reservationCountNotification}}</span>
                            {% endif %}
                        </a>
                    </li>
                    {% if hasPermission(currentProperty, "Reservation.create") %}
                    <li
                        class="{% if controller == 'ManagerReservationController' and controllerAction == 'addReservation' %} open {% endif %}">
                        <a href="" class="newReservation"><span class="menu-item">Add Reservation</span></a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if hasAnyPermission(currentProperty, ["Calendar.edit", "Calendar.delete", "Calendar.create"]) %}
                    <li
                        class="{% if controller == 'ManagerCalendarController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="" class="listCalendar"><span class="menu-item">List Calendars</span></a>
                    </li>
                    {% if hasPermission(currentProperty, "Calendar.create") %}
                    <li
                        class="{% if controller == 'ManagerCalendarController' and controllerAction == 'addCalendar' %} open {% endif %}">
                        <a href="" class="setupCalendar"><span class="menu-title">New Calendar</span></a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
            </li>


            <li class="nav-item {% if controller == 'ManagerScheduleController' %} open {% endif %}"
                {% if propertyLists|length == 0 %} hidden {% endif %}>
                <a href="javascript:;"><i class="icon icon-schedule"></i><span class="menu-title">Schedule
                        {% if appoinmentCountNotification is defined and appoinmentCountNotification > 0 %}
                        <span class="badge badge-light">{{appoinmentCountNotification}}</span>
                        {% endif %}
                    </span></a>
                <ul class="menu-content">
                    <li
                        class="{% if controller == 'ManagerScheduleController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="" class="schedulesetup"><span class="menu-item">Add Schedule</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerScheduleController' and controllerAction == 'appointmentNotification' %} open {% endif %}">
                        <a href="" class="appointmentNotification"><span class="menu-item">List Appointments</span>
                            {% if appoinmentCountNotification is defined and appoinmentCountNotification > 0 %}
                            <span class="badge badge-light">{{appoinmentCountNotification}}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item {% if controller == 'ManagerChecklistController' %} open {% endif %}"
                {% if propertyLists|length == 0 %} hidden {% endif %}>
                <a href="javascript:;"><i class="icon icon-checklist"></i><span class="menu-title">Checklist
                        {% if checklistCountNotification is defined and checklistCountNotification > 0 %}
                        <span class="badge badge-light">{{checklistCountNotification}}</span>
                        {% endif %}
                    </span>
                </a>
                <ul class="menu-content">
                    <li
                        class="{% if controller == 'ManagerChecklistController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="" class="listChecklist"><span class="menu-item">Checklist Status</span>
                            {% if checklistCountNotification is defined and checklistCountNotification > 0 %}
                            <span class="badge badge-light">{{checklistCountNotification}}</span>
                            {% endif %}
                        </a>
                    </li>
                    <!--li class="{% if controller == 'ManagerChecklistController' and controllerAction == 'incompleteTasks' %} open {% endif %}">
                          <a href="" class="incompleteTasks"><span class="menu-item">Incomplete Tasks</span></a>
                      </li-->
                    <li
                        class="{% if controller == 'ManagerChecklistController' and controllerAction == 'template' %} open {% endif %}">
                        <a href="" class="listChecklistTemplate"><span class="menu-item">Checklist Templates</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerChecklistController' and controllerAction == 'addTemplate' %} open {% endif %}">
                        <a href="" class="newTemplate"><span class="menu-item">New Checklist Templates</span></a>
                    </li>
                </ul>
            </li>

            {% if hasAnyPermission(currentProperty, ["Property.editDetails", "Property.assignRole", "Property.invite"]) %}
            <li class="nav-item {% if controller == 'ManagerUserController' %} open {% endif %}"
                {% if propertyLists|length == 0 %} hidden {% endif %}>
                <a href="javascript:;"><i class="icon icon-user"></i><span class="menu-title">User</span></a>
                <ul class="menu-content">
                    <li
                        class="{% if controller == 'ManagerUserController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="" class="listUser"><span class="menu-item">List User</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerUserController' and controllerAction == 'addDevice' %} open {% endif %}">
                        <a href="" class="newUser"><span class="menu-item">New User</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}

            {% if currentProperty %}
            <li
                class="nav-item {% if controller == 'ManagerChatController' and controllerAction == 'index' %} open {% endif %}">
                <a href="/manager/chat/index"><i class="icon icon-chat"></i><span class="menu-title">Chat
                        {% if chatCountNotification is defined and chatCountNotification > 0 %}
                        <span class="badge badge-light">{{chatCountNotification}}</span>
                        {% endif %}
                    </span></a>
            </li>

            {% endif %}

            {% if userRole.Owner is defined %}
            <li class="nav-item {% if controller == 'ManagerDeviceController' %} open {% endif %}"
                {% if propertyLists|length == 0 %} hidden {% endif %}>
                <a href="javascript:;"><i class="icon icon-devices"></i><span class="menu-title">Devices</span></a>
                <ul class="menu-content">
                    <li
                        class="{% if controller == 'ManagerDeviceController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="" class="listDevice"><span class="menu-item">Import Devices</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}

            {% if hasAnyPermission(currentProperty, ["Role.create","Role.edit", "Role.delete"]) %}
            <li class="nav-item {% if controller == 'ManagerRoleController' %} open {% endif %}"
                {% if propertyLists|length == 0 %} hidden {% endif %}>
                <a href="javascript:;"><i class="icon icon-role"></i><span class="menu-title">Role</span></a>
                <ul class="menu-content">
                    <li
                        class="{% if controller == 'ManagerRoleController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="" class="listRole"><span class="menu-item">List Roles</span></a>
                    </li>
                    {% if hasPermission(currentProperty, "Role.create") %}
                    <li
                        class="{% if controller == 'ManagerRoleController' and controllerAction == 'addRole' %} open {% endif %}">
                        <a href="" class="newRole"><span class="menu-item">New Role</span></a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            {% if hasPermission(currentProperty, "NotificationTemplate.edit") %}
            <li class="nav-item {% if controller == 'ManagerNotificationController' %} open {% endif %}"
                {% if propertyLists|length == 0 %} hidden {% endif %}>
                <a href="javascript:;"><i class="icon icon-notification"></i><span
                        class="menu-title">Notification</span></a>
                <ul class="menu-content">
                    <li
                        class="{% if controller == 'ManagerNotificationController' and controllerAction == 'template' %} open {% endif %}">
                        <a href="" class="listTemplate"><span class="menu-item">Notification Templates</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerNotificationController' and controllerAction == 'addNotification' or controllerAction == 'customNotification' %} open {% endif %}">
                        <a href="" class="newNotification"><span class="menu-item">Notification</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}

            <!--    <li class="nav-item">
                   <a href="reviews.html"><i class="icon icon-star"></i><span class="menu-title" data-i18n="Documentation">Reviews</span></a>
               </li> -->

            <li class="nav-item {% if controller == 'ManagerProfileController' %} open {% endif %}">
                <a href="javascript:;"><i class="icon icon-profile-user"></i><span class="menu-title">My
                        Profile</span></a>
                <ul class="menu-content">
                    <li
                        class="{% if controller == 'ManagerProfileController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="/manager/profile/index" class="profileInfo"><span class="menu-item">Profile Info</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerProfileController' and controllerAction == 'changePassword' %} open {% endif %}">
                        <a href="/manager/profile/change-password" class="changePassword"><span class="menu-item">Change Password</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerProfileController' and controllerAction == 'billing' %} open {% endif %}">
                        <a href="/manager/profile/billing" class="billingInfo"><span class="menu-item">Billing</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerProfileController' and controllerAction == 'company' %} open {% endif %}">
                        <a href="/manager/profile/company" class="companyInfo"><span class="menu-item">Company</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerProfileController' and controllerAction == 'notifications' %} open {% endif %}">
                        <a href="/manager/profile/notifications" class="notifications"><span class="menu-item">Notification settings</span></a>
                    </li>
                    <li
                        class="{% if controller == 'ManagerProfileController' and controllerAction == 'plan' %} open {% endif %}">
                        <a href="/manager/profile/plan" class="planInfo"><span class="menu-item">Plan</span></a>
                    </li>
                </ul>
            </li>
            {% if managerType != 0 %}
            <li
                class="nav-item {% if controller == 'AdminController' or controller == 'AdminUserController' or controller == 'AdminNotificationController' %} open {% endif %}">
                <a href="javascript:;"><i class="icon icon-admin"></i><span class="menu-title">Admin</span></a>
                <ul class="menu-content">
                    <li
                        class="{% if controller == 'AdminController' and controllerAction == 'index' %} open {% endif %}">
                        <a href="/admin" class="adminUser"><span class="menu-item">User Account Management</span></a>
                    </li>
                    <li
                        class="{% if controller == 'AdminController' and controllerAction == 'notification' or controllerAction == 'editTemplate' %} open {% endif %}">
                        <a href="/admin/notification"><span class="menu-item">Email Notifications</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>

    </div>
</div>
<!-- END: Main Menu-->