{% extends "layout_manager.html" %}

{% block title %}Chat{% endblock %}
{% block afterCSS %}
<link rel="stylesheet" type="text/css" href="manager/css/pages/app-chat.css" />
<style>

.ScrollStyle {max-height: 270px; overflow-y: auto;}
.ScrollStyle1 {max-height: 550px;overflow-y: auto;}
.chat-application .chat-app-window .start-chat-area, .chat-application .chat-app-window .user-chats {
    background-image: none !important;
    background-color: #f0f4f7!important;
}
</style>
{% endblock %}     
{% block content %}

<!-- begin:: Content -->

<div class="app-content content chat-application">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Chat</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-box">
        <div class="conversation_wrap w-100">
            <div class="text">
                <h2>Your Conversations</h2>
            </div>
            <div class="icon_wrap">
                <a href="javascript:;"><i class="icon icon-setting"></i></a>
                <a href="javascript:;"><i class="icon icon-user-plus" data-toggle="modal" data-target="#addperson" \></i></a>
                <div class="sidebar-toggle d-block d-lg-none"><i class="feather icon-menu"></i></div>
            </div>
        </div>
        <div class="content-area-wrapper m-0 w-100">
            <div class="sidebar-left">
                <div class="sidebar">
                    <!-- Chat Sidebar area -->
                    <div class="sidebar-content card">
                        <span class="sidebar-close-icon">
                            <i class="feather icon-x"></i>
                        </span>
                        <div class="chat-fixed-search">
                            <div class="">
                                <div class="form-group position-relative has-icon-right my-0">
                                    <input type="text" class="form-control border-0 round" id="chat-search" placeholder="Search" />
                                    <div class="form-control-position">
                                        <i class="icon icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="users-list" class="chat-user-list list-group position-relative">
                            <div class="d-flex justify-content-between">
                                <div class="form-group mb-0">
                                    <select class="form-control border-0">
                                        <option>All Messages</option>
                                    </select>
                                </div>
                                <div class="form-inline mb-0">
                                    <label>Sort by: </label>
                                    <select class="form-control border-0">
                                        <option>Date</option>
                                        <option>2may</option>
                                    </select>
                                </div>
                            </div>
                            <ul class="chat-users-list-wrapper media-list">
                                {% for userDatas in userData %}
                                <li class="chatbox" data-id="{{userDatas['id']}}" data-name="{{userDatas['first_name']}} {{userDatas['last_name']}}">
                                    <div class="pr-1">
                                        <span class="avatar m-0 avatar-md">
                                            <img class="round" src="/avatar?name={{userDatas['first_name']}} {{userDatas['last_name']}}" alt="avatar" height="40" width="40" />
                                            <i class="avatar-status-away"></i>
                                        </span>
                                    </div>
                                    <div class="user-chat-info">
                                        <div class="contact-info">
                                            <h5 class="mb-0">{{userDatas['first_name']}} {{userDatas['last_name']}}</h5>
                                            <p class="truncate">Hey</p>
                                        </div>
                                        <div class="contact-meta">
                                            <span class="float-right mb-25">Today</span>
                                            {% for chatNotifications in chatNotification %}
                                                {% if userDatas['id'] == chatNotifications['sender_id'] %}
                                                    <br><span class="float-right mb-25 chatnotification{{chatNotifications['sender_id']}}">{{chatNotifications['countData']}}</span>
                                                {% endif %}
                                            {% endfor %}    
                                        </div>
                                    </div>
                                </li>
                                {% endfor %} 
                                {% for groups in group %}
                                <li class="groupchatbox"  data-id="{{groups['id']}}">
                                    <div class="pr-1">
                                        <span class="avatar m-0 avatar-md">
                                            <img class="round" src="/avatar?name=Group" alt="avatar" height="40" width="40" />
                                            <i class="avatar-status-away"></i>
                                        </span>
                                    </div>
                                    <div class="user-chat-info">
                                        <div class="contact-info">
                                            <h5 class="mb-0">{% for groupNames in groups['names'] %}
                                                    {{groupNames}},
                                                    {% endfor %}</h5>
                                            <p class="truncate">group chat</p>
                                        </div>
                                        <div class="contact-meta">
                                            <span class="float-right mb-25">Today</span>
                                            {% for groupChatNotifications in groupChatNotification %}
                                            {% if groupChatNotifications['group_id'] == groups['id'] %}
                                            {% if groupChatNotifications is defined %}
                                                    <br><span class="float-right mb-25 chatnotification{{groups['id']}}">{{groupChatNotifications['countData']}}</span>
                                                    {% endif %}
                                            {% endif %}
                                            {% endfor %}   
                                        </div>
                                    </div>
                                </li>
                                {% endfor %} 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-right">
                <div class="content-wrapper">
                    <div class="content-header row"></div>
                    <div class="content-body">
                        <div class="chat-overlay"></div>
                        <section class="chat-app-window">
                            <div class="active-chat">
                                <!-- <div class="chat_navbar">
                                    <header class="chat_header d-flex justify-content-between align-items-center p-1">
                                        <div class="vs-con-items d-flex align-items-center">
                                            
                                        </div>
                                    </header>
                                </div> -->

                                <div class="user-chats ScrollStyle">
                                    <div class="chats">
                                        <div class="divider">
                                            <div class="divider-text usertitle"></div>
                                        </div>
                                        <div class="chat-body msgbox">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-app-form">
                                    <form class="chat-app-input d-flex" onsubmit="enter_chat();" action="javascript:void(0);">
                                        <input type="text" class="form-control message mr-1 ml-50" id="iconLeft4-1" placeholder="Type a new message" />
                                        <div class="btn-flex">
                                            <button type="button" class="btn btn-smile"><i class="icon icon-smile-icon"></i></button>
                                            <button type="button" class="btn btn-attac"><i class="icon icon-attach"></i></button>
                                            <button type="button" class="btn btn-primary sendchat"><i class="icon icon-paper-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>

                        <div class="user-profile-sidebar">
                            <header class="user-profile-header">
                                <span class="close-icon">
                                    <i class="feather icon-x"></i>
                                </span>
                                <div class="header-profile-sidebar">
                                    <div class="avatar">
                                        <img src="manager/images/portrait/small/avatar-s-1.jpg" alt="user_avatar" height="70" width="70" />
                                        <span class="avatar-status-busy avatar-status-lg"></span>
                                    </div>
                                    <h4 class="chat-user-name">Felecia Rower</h4>
                                </div>
                            </header>
                            <div class="user-profile-sidebar-area p-2">
                                <h6>About</h6>
                                <p>Toffee caramels jelly-o tart gummi bears cake I love ice cream lollipop. Sweet liquorice croissant candy danish dessert icing. Cake macaroon gingerbread toffee sweet.</p>
                            </div>
                        </div>
                        <!--/ User Chat profile right area -->
                    </div>
                </div>
            </div>
        </div>
          </div>
    </div>
    <input type="hidden" class="to_user_id">
    <input type="hidden" class="to_group_id">
    <input type="hidden" class="leatest_chat_id">
</div>
    <div class="modal fade" id="addperson" tabindex="-1" role="dialog" aria-labelledby="Add Person">
    <form  method="POST" id="add_group_person">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add person to Group Chat</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:0px;"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    {% for userDatas in userData %}
                    <div>
                        <label>{{userDatas['first_name']}} {{userDatas['last_name']}}</label>						
                        <input class="" type="checkbox" style="float:right" name="id[]" value="{{userDatas['id']}}">
                        <br>
                    </div>
                        <hr>	
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary addgroupperson">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
{% endblock %}

{% block afterJs %}
<script src="manager/js/scripts/pages/app-chat.js"></script>
<script>
    var latestUserId = '{{latestUserId}}';
</script>
<script type="text/javascript" src="js/manager_chat.js"></script>

{% endblock afterJs %}