{% extends "layout_manager.html" %} {% block title %}Create Notification{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Send Notification</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing border-none-last">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form method="POST" action="manager/notification/template/api/save-notification{{"?property_id=#{propertyId}"}}" id="notification" class="form-horizontal">
                                        <div class="form-body">
                                            <input type="hidden" name="propertyId" id="propertyId" value="{{propertyId}}">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>To Whom</label>
                                                        <select class="form-control" name="to_whom" v-model="to_whom" required>
                                                            {% for role in roles %}
                                                                <li>{{ role.role_name|e }}</li>
                                                                <option value="{{role.role_name}}">{{role.role_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>Send Type</label>
                                                        <select name="send_via" id="send_via" class="form-control">                   
                                                            <option value="Email">Email</option> 
                                                            <option value="SMS">SMS</option>                   
                                                        </select>
                                                    </div>
                                                </div>
                                                <div id="smsContent" hidden="hidden" class="col-md-12">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Subject</label>
                                                            <textarea name="sms_content" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="emailContent" class="col-md-12">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Subject</label>
                                                            <input type="text" name="subject" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Content</label>
                                                            <div id="full-wrapper">
                                                                <div id="full-container">
                                                                    <div id="summernote" name="content"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light" v-on:click="save">Save</button>
                                                    <a href="/manager/notification/custom-notification?property_id={{propertyId}}" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %} {% block afterJs %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>
<script type="text/javascript" src="js/manager_notification.js"></script>
{% endblock %}