{% extends "layout_manager.html" %} {% block title %}Templates{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row align-items-center mt-4 mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Create template</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing border-none-last">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form method="POST" action="manager/notification/template/api/save-template?property_id={{propertyId}}" id="edit-checklist-template" class="form-horizontal" data-template="{{template|json_encode}}">
                                        <div class="form-body">
                                            <input type="hidden" name="propertyId" id="propertyId" value="{{propertyId}}">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>Notification Name</label>
                                                        <input type="text" name="title" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <label>When</label>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <select id="duration" name="duration" class="form-control">
                                                            {% for duration in durations %}
                                                                <option value="{{duration}}">{{duration}}</option>
                                                            {% endfor %} 
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <select id="beforeAfter" name="beforeAfter" class="form-control">
                                                            <option value="Before" >Before</option>
                                                            <option value="After" >After</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <select id="event" name="event" class="form-control">
                                                            <option value="Reservation">Reservation</option>
                                                            <option value="Check-in">Check-in</option>
                                                            <option value="Check-out">Check-out</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-12">
                                                    <div class="form-group">
                                                        <label>Send Type</label>
                                                        <select name="send_via" id="send_via" class="form-control">                   
                                                            <option value="Email">Email</option> 
                                                            <option value="SMS">SMS</option>                   
                                                        </select>
                                                    </div>
                                                </div>
                                                <div id="emailContent" class="col-md-12">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Subject</label>
                                                            <input type="text" name="subject" class="form-control" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Content</label>
                                                            <div id="full-wrapper">
                                                                <div id="full-container">
                                                                    <div id="summernote" name="content" class="summernote"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="smsContent" hidden="hidden" class="col-md-12">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="Content">Content</label>
                                                            <textarea name="content" class="form-control"></textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light" v-on:click="save">Save</button>
                                                    <a href="/manager/notification/template?property_id={{propertyId}}" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>

{% endblock %} {% block afterJs %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>

<script type="text/javascript" src="js/manager_notification_template_edit.js"></script>

<script>
    $(document).ready(function() {
        if ($("#summernote").length > 0) {
            $("#summernote").summernote();
        }
        $("#send_via").change(function() {
            if ($("option:selected", this).val() == "SMS") {
                $("#emailContent").find(".summernote").removeAttr("id");
                $("#emailContent").attr("hidden", "hidden");
                $("#smsContent").removeAttr("hidden");
            } else {
                $("#smsContent").attr("hidden", "hidden");
                $("#emailContent").removeAttr("hidden");
                $("#emailContent").find(".summernote").attr("id", "summernote");
            }
        });
    });
</script>


{% endblock %}