{% extends "layout_manager.html" %} {% block title %}Templates{% endblock %} {% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row align-items-center mt-4 mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">{% if not template %}Create template{% else %}Edit {{template.title}}{% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing border-none-last">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form method="POST" action="manager/notification/template/api/save-template{{ template ? " ?id=#{template.id} " : "?property_id=#{propertyId} " }}" id="edit-checklist-template" class="form-horizontal" data-template="{{template|json_encode}}">
                                        <div class="form-body">
                                            <input type="hidden" name="propertyId" id="propertyId" value="{{propertyId}}">
                                            <input type="hidden" name="title" value="{{template.title}}"> {% if template.duration != "" %}
                                            <div class="row">
                                                <div class="col-12">
                                                    <label>When</label>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <select id="duration" name="duration" class="form-control">
                                                            {% for duration in durations %}
                                                                <option {% if duration in template.duration %} selected  {% endif %} value="{{duration}}">{{duration}}</option>
                                                            {% endfor %} 
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <select id="beforeAfter" name="beforeAfter" class="form-control">
                                                            <option {% if "Before" in template.beforeAfter %} selected  {% endif %} value="Before" >Before</option>
                                                            <option {% if "After" in template.beforeAfter %} selected  {% endif %} value="After" >After</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <select id="event" name="event" class="form-control">
                                                            <option {% if "Reservation" in template.event %} selected  {% endif %} value="Reservation">Reservation</option>
                                                            <option {% if "Check-in" in template.event %} selected  {% endif %} value="Check-in">Check-in</option>
                                                            <option {% if "Check-out" in template.event %} selected  {% endif %} value="Check-out">Check-out</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                {% endif %} {% if template.send_via == "SMS" %}
                                                <div id="smsContent" hidden="hidden" class="col-md-12">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="Content">Content</label>
                                                            <textarea name="content" class="form-control">{{template.content}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% elseif template.send_via == "Email" %}
                                                <div id="emailContent" class="col-md-12">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Subject</label>
                                                            <input type="text" name="subject" class="form-control" value="{{template.subject}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Content</label>
                                                            <div id="full-wrapper">
                                                                <div id="full-container">
                                                                    <div id="summernote" name="content" class="summernote"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div id="summernote" name="content"></div>
                                                {% endif %}

                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light" v-on:click="save">Save</button>
                                                    <a href="/manager/notification/template?property_id={{propertyId}}" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
{% endblock %} {% block afterJs %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>

<script type="text/javascript" src="js/manager_notification_template_edit.js"></script>

<script>
    $(document).ready(function() {
        if ($("#summernote").length > 0) {
            $("#summernote").summernote();
            $('#summernote').summernote('code', '{{ template.content |raw }}');
        }
    });
</script>


{% endblock %}