{% extends "layout_manager.html" %}

{% block title %}Reservations{% endblock %}

{% block vendorsCSS %}    
<link rel="stylesheet" type="text/css" href="manager/vendors/css/calendars/fullcalendar.min.css" />
<link rel="stylesheet" type="text/css" href="manager/vendors/css/calendars/extensions/daygrid.min.css" />
<link rel="stylesheet" type="text/css" href="manager/vendors/css/calendars/extensions/timegrid.min.css" />
<link rel="stylesheet" type="text/css" href="manager/vendors/css/pickers/pickadate/pickadate.css" />
{% endblock %}    

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Reservation Calendar</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        {% if hasPermission(property, "Reservation.create") %}
                        <a href="/manager/reservation/add-reservation?property_id={{property.id}}" class="btn btn-warning"><i class="icon icon-plus-circle"></i> Create Reservation</a>
                        {% endif %}                        
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="Calendar-wrap">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete device">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert"><strong>Warning!</strong> Are you sure want to delete ?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary do-delete">
                    <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="Notification">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Notification</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-hover table-striped" id="notification">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>
{% endblock %}

{% block afterJs %}
<script>const propertyId = '{{property_id}}'; </script>
<script src="manager/vendors/js/extensions/moment.min.js"></script>
<script src="manager/vendors/js/calendar/fullcalendar.min.js"></script>
<script src="manager/vendors/js/calendar/extensions/daygrid.min.js"></script>
<script src="manager/vendors/js/calendar/extensions/timegrid.min.js"></script>
<script src="manager/vendors/js/calendar/extensions/interactions.min.js"></script>
<script src="manager/js/scripts/components.js"></script>
<script type="text/javascript" src="js/manager_calendar.js"></script>
<script type="text/javascript" src="js/manager_reservation_list.js"></script>
{% endblock %}
