{% extends "layout_manager.html" %}

{% block title %}Reservations{% endblock %}

{% block content %}

<div class="container">
    
    <a href="/manager/reservation/add-calendar?property_id={{property.id}}" class="btn btn-primary">Import Calendar</a>
    
    <!-- Container Start -->
    <div class="row">
        <!-- Row Start -->
        <div class="col-md-12">
            <!-- col-md-8 Start -->
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Booking Source</th>
                        <th>URL</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    {% for calendar in calendars %}
                    <tr data-calendar-id="{{calendar.calendar_id}}">
                        <td>{{calendar.calendar_id}}</td>
                        <td>{{calendar.booking_source}}</td>
                        <td>{{calendar.url}}</td>
                        <td>{{calendar.color}}</td>
                        <td>                     
                            <a href='/manager/reservation/edit-calendar?id={{calendar.calendar_id}}&property_id={{property.id}}'>Edit</a> |                             
                            <a href="#" data-toggle="modal" data-target="#deleteModal">Delete</a>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete calendar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert"><strong>Warning!</strong> Are you sure want to delete ?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary do-delete">
                    <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block afterJs %}
<script type="text/javascript" src="js/manager_reservation_calendar_list.js"></script>
{% endblock %}
