<html lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8" />
        <title>Reservations Checkout Details- Jervis Systems</title>
        <meta name="description" content="Page with empty content"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container py-4">
            <div class="row">
                <div class="col-md-12">             
                    {{content|raw}}     
                </div>
            </div>                 
        </div>
    </body>
</html>