{% extends "layout_manager.html" %} {% block title %}Calendar{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h1 class="content-header-title float-left mb-0">{% if not reservation %}Add Reservation{% else %}Edit reservation{% endif %}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form method="POST" action="manager/reservation/api/save-reservation/{{ reservation ? "#{reservation.reservation_id}" : '' }}" id="edit-reservation" class="form-horizontal" data-reservation="{{reservation|json_encode}}" data-access="{{access|json_encode}}"
                                        @submit.prevent="save">
                                        <input type="hidden" name="propertyId" id="reservationPropertyId" value="{{propertyId}}">
                                        <input type="hidden" name="guestId" id="guestId" v-model="guest_id">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="bookingSource">Booking Source</label>
                                                        <select class="form-control" name="bookingSource" id="bookingSource" v-model="booking_source" required>
                                                            <option>RTE Website</option>
                                                            <option>AirBnB</option>
                                                            <option>Booking.com</option>
                                                            <option>VRBO</option>
                                                            <option>HomeAway</option>
                                                            <option>TripAdvisor</option>
                                                            <option>FlipKey</option>
                                                            <option>Others</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="sourceReservationId">Source Reservation Id</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input class="form-control" type="text" v-model="source_reservation_id" placeholder="Source Reservation Id" name="sourceReservationId" id="sourceReservationId" />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-reservation-id"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>Check-in Time</label>
                                                        <!-- <div class="position-relative has-icon-right">
                                                            <input type='text' class="form-control timepicker" id="checkInDate" name="check_in_date" value="{{ reservation.check_in_date is defined ? reservation.check_in_date : null}}" required />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div> -->
                                                        <div class="date_time" id='checkInDate'>
                                                            <input type="datetime-local" name="checkInDate" id="checkInDate" class="form-control" value="{{ reservation.check_in_date is defined ? reservation.check_in_date|date("Y-m-d\\Th:i:s") : null}}" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group" id='checkOutDate'>
                                                        <label>Check-out Time</label>
                                                        <div class="date_time">
                                                            <input type="datetime-local" name="checkOutDate"  class="form-control" value="{{ reservation.check_out_date is defined ? reservation.check_out_date|date("Y-m-d\\Th:i:s") : null }}" required />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="noOfGuest">Number of Guest</label>
                                                        <select class="form-control" name="noOfGuest" id="noOfGuest" v-model="no_of_guest">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="noOfInfants">Number of Infants</label>
                                                        <select class="form-control" name="noOfInfants" id="noOfInfants" v-model="no_of_infants">
                                                            <option>0</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="noOfToddlers">Number of Toddlers</label>
                                                        <select class="form-control" name="noOfToddlers" id="noOfToddlers" v-model="no_of_toddlers">
                                                            <option>0</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12"></div>

                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="country">Country</label>
                                                        <select class="form-control countries" name="country"  id="countryId" data-country="{{ reservation.country is defined ? reservation.country : 'US'}}" required>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="state">State</label>
                                                        <select name="state" name="state" id="stateId" class="form-control states" data-country="countries_states1" data-state="{{ reservation.state is defined ? reservation.state : ''}}" v-model="state">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="city">City</label>
                                                        <select  id="cityId" name="city" class="form-control cities"  v-model="city">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12"></div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input class="form-control" type="email" name="email" name="email" id="email" v-model="email" @focusout="verifyEmail" placeholder="Email" required/>
                                                            <div class="form-control-position">
                                                                <i class="icon icon-mail"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="phone">Phone</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input class="form-control bfh-phone" type="text" name="phone" name="phone" id="phone" data-country="countries_states1" @focusout="verifyPhone" placeholder="Phone" value="{{ reservation.phone is defined ? reservation.phone : null }}" required pattern="[\+\-\(\) 0-9]{10,}"
                                                            />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-mobile"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="firstName">First Name</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input class="form-control" type="text" v-model="first_name" placeholder="First Name" name="firstName" id="firstName" required/>
                                                            <div class="form-control-position">
                                                                <i class="icon icon-user-icon"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="lastName">Last Name</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input class="form-control" type="text" v-model="last_name" placeholder="Last Name" name="lastName" id="lastName" />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-user-icon"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="businessName">Business Name</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input class="form-control" type="text" v-model="business_name" placeholder="Business Name" name="businessName" id="businessName" />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-market-shop"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="address">Address</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input class="form-control" type="text" v-model="address" placeholder="Address" name="address" id="address" />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-location"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="zipcode">Zip code</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input class="form-control" type="text" v-model="zipcode" placeholder="Zip Code" name="zipcode" id="zipcode" />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-global"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="notes">Notes</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input class="form-control" type="text" v-model="notes" placeholder="Notes" name="notes"  id="notes" />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-notes"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light">
                                                        <span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status" aria-hidden="true"></span>
                                                        Save</button>
                                                    <a href="/manager/reservation/index?property_id={{propertyId}}" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="limitNotification" tabindex="-1" role="dialog" aria-labelledby="Limit Notification">
    <form class="needs-validation" novalidate>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User Limit Notifications</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %} {% block afterJs %}
<script>
    country = "{{ reservation ? reservation.country : '' }}"; 
    state = "{{ reservation ? reservation.state : '' }}";
    city = "{{ reservation ? reservation.city : '' }}";   
</script>
<script src="js/countrystatecity.js"></script>
<script type="text/javascript" src="js/manager_reservation_edit.js"></script>
{% endblock %}