<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>Reservations Details- Jervis Systems</title>
    <meta name="description" content="Page with empty content">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container mt-4 mb-4">
        <div class="card-header bg-info text-white d-flex">
            <a href="/manager/reservation/list/index?code={{reservation.code}}" class="text-white ml-auto">My Booking History</a>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <b>Dear {{reservation.first_name}} {{reservation.last_name}}</b>
                <p class="pt-2 pb-2">Your reservation for the {{property.title}} for the dates below has been confirmed. Your reservation ID is #{{reservation.reservation_id}}.</p>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Check-in</th>
                            <th>Check-out</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{reservation.check_in_date|date('m/d/Y')}} at {{reservation.check_in_date|date('H:i')}}</td>
                            <td>{{reservation.check_out_date|date('m/d/Y')}} at {{reservation.check_out_date|date('H:i')}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="pt-2 pb-2">You may add the reservation into your your Google Calender using this link (<a href="{{reservation.google_link}}" target="_blank">Google Calender Link</a>)</p>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Your address for check-in will be:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{property.address}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered text-center mt-5">
                    <thead>
                        <tr>
                            <th>The access code for the garage is below:</th>
                            <th>Your PIN for the front door and inside garage door entry is:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {% for device in devices %} {% if device.type == 'Garage' %} {{device.device_passcode}} {% endif %} {% endfor %}
                            </td>
                            <td>{% for device in devices %} {% if device.type == 'Door' %} {{device.device_passcode}} {% endif %} {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th colspan="2">There is WiFi access throughout the home. The details for this are below:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>For Internet access, connect to:</br>
                                {% for device in devices %} {% if device.type == 'WiFi' %}
                                <b>Access Point Name:</b> {{device.title}}</br>
                                <b>Wireless Password:</b> {{device.device_passcode}} {% endif %} {% endfor %}
                            </td>
                            <td>If you have an Apple phone or iPad, you can stream music or videos to the TVs:</br>
                                {% for device in devices %} {% if device.type == 'TV' %}
                                <b>Access Point Name:</b> {{device.title}}</br>
                                <b>Wireless Password:</b> {{device.device_passcode}} {% endif %} {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="pt-2 pb-2">Chat with property manager <a href="/manager/reservation/chat/index?code={{reservation.code}}">Click Here</a></p>
            </div>
        </div>
    </div>
</body>

</html>