<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reservation History</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <style>
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {    
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 18px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;  
    font-size: 18px;
}
  </style>
</head>
<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">                
    <div class="container mt-4 mb-4">
        <div class="card-header bg-info text-white d-flex">
                <br/>    
        </div>        
        <h1></h1>
        <b>Dear {{guest.first_name}} {{guest.last_name}}</b>
        <section id="tabs" class="mt-2">
            <div class="container">              
              <div class="row">
                <div class="col-xs-12 ">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="navUpcoming-tab" data-toggle="tab" href="#navUpcoming" role="tab" aria-controls="navUpcoming" aria-selected="true">Upcoming</a>
                      <a class="nav-item nav-link" id="navCompleted-tab" data-toggle="tab" href="#navCompleted" role="tab" aria-controls="navCompleted" aria-selected="false">Completed</a>                      
                    </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="navUpcoming" role="tabpanel" aria-labelledby="navUpcoming-tab">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Booking Source</th>
                                    <th>Check-in</th>
                                    <th>Check-out</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for upcomingReservation in upcomingReservations %}                                    
                                <tr>
                                        <td><a href="/manager/reservation/view/index?code={{upcomingReservation.code}}">{{upcomingReservation.title}}</a></td>
                                    <td>{{upcomingReservation.address}}</td>
                                    <td>{{upcomingReservation.booking_source}}</td>
                                    <td>{{upcomingReservation.check_in_date|date('m/d/Y')}} at {{upcomingReservation.check_in_date|date('H:i')}}</td>
                                    <td>{{upcomingReservation.check_out_date|date('m/d/Y')}} at {{upcomingReservation.check_out_date|date('H:i')}}</td>
                                </tr>                                   
                                {% endfor %}                                                              
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="navCompleted" role="tabpanel" aria-labelledby="navCompleted-tab">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Booking Source</th>
                                    <th>Check-in</th>
                                    <th>Check-out</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for completedReservation in completedReservations %}                                    
                                <tr>
                                    <td><a href="/manager/reservation/view/index?code={{completedReservation.code}}">{{completedReservation.title}}</a></td>
                                    <td>{{completedReservation.address}}</td>
                                    <td>{{completedReservation.booking_source}}</td>
                                    <td>{{completedReservation.check_in_date|date('m/d/Y')}} at {{completedReservation.check_in_date|date('H:i')}}</td>
                                    <td>{{completedReservation.check_out_date|date('m/d/Y')}} at {{completedReservation.check_out_date|date('H:i')}}</td>
                                </tr>                                   
                                {% endfor %}                                                              
                            </tbody>
                        </table>
                    </div>                    
                  </div>                
                </div>
              </div>
            </div>
          </section>
    </div>
    </body>
</html>
