{% extends "layout_manager.html" %}

{% block title %}Manager{% endblock %}

{% block afterCSS %}
<link rel="stylesheet" type="text/css" href="manager/vendors/css/charts/apexcharts.css" />
<link rel="stylesheet" type="text/css" href="manager/vendors/css/slick.css" />
<link rel="stylesheet" type="text/css" href="manager/css/pages/card-analytics.css" />
{% endblock %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="welcome_wrap">
            <div class="welcome_text">
                <h2>Welcome back, <strong>{{user.managerFirstName}} {{user.managerLastName}}.</strong> <img src="manager/images/property-img/smile.svg" width="33" /></h2>
            </div>
        </div>
        <div class="summary_wrap">
            <div class="row">
                <div class="col-20">
                    <div class="single_summary">
                        <div class="summary_icon">
                            <i class="icon icon-home"></i>
                        </div>
                        <div class="summary_detail">
                            <h3>Properties</h3>
                            <h2>{{ properties|length }}</h2>
                        </div>
                    </div>
                </div>                
                <div class="col-20">
                    <div class="single_summary">
                        <div class="summary_icon">
                            <i class="icon icon-checklist"></i>
                        </div>
                        <div class="summary_detail">
                            <h3>Checklists</h3>
                            {% set completedCheckListCount = 0 %}
                            {% set pendingCheckListCount = 0 %}
                            {% for request in requests %}
                                {% if request.filled_id is null  %}
                                    {% set pendingCheckListCount = pendingCheckListCount + 1 %}
                                {%else%}    
                                    {% set completedCheckListCount = completedCheckListCount + 1 %}
                                {% endif %}    
                            {% endfor %}                            
                            <p>Completed: <strong> {{completedCheckListCount}}</strong></p>
                            <p>Upcoming: <strong> {{pendingCheckListCount}}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="single_summary">
                        <div class="summary_icon">
                            <i class="icon icon-calendar"></i>
                        </div>
                        <div class="summary_detail">
                            <h3>Reservation</h3>
                            <p>Completed: <strong> {{completedReservations|length}}</strong></p>
                            <p>Upcoming: <strong> {{upcomingReservations|length}}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="single_summary">
                        <div class="summary_icon">
                            <i class="icon icon-notification-2"></i>
                        </div>
                        <div class="summary_detail">
                            <h3>Notifications</h3>
                            <h2>0</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h4 class="card-title">Reservations 2019-20</h4>
                            <div class="btn-wrap">
                                <a href="javascript:;" class="btn btn-outline-dark salesWeek">Week</a>
                                <a href="javascript:;" class="btn btn-outline-dark salesMonth">Month</a>
                                <a href="javascript:;" class="btn btn-outline-dark active salesYear">Year</a>
                            </div>
                        </div>
                        <div class="card-content line-chart">
                            <div class="card-body pb-0">
                                <div id="sales-line-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="card chart_wrap">
                        <div class="card-header d-flex justify-content-between">
                            <h4 class="card-title">Reservations Overview</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body pt-1 p-0">
                                <div id="donut-chart" class="mx-auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="dashboard_list row">
                <div class="col-lg-4 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="section-head">
                                <h2>Upcoming Reservations</h2>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">Weekly</a>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <a class="dropdown-item month">Month</a>
                                        <a class="dropdown-item year">Year</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel">
                                <div class="carousel-inner">
                                    {% for Upcoming in UpcomingSliderMenu %}
                                        {% if Upcoming['currentDay'] == Upcoming['DayNum']%}
                                            <div style="cursor: pointer;" class="item current-date Upcomingdateslider" data-upcomingsliderDate ="{{Upcoming['DDate']}}">
                                                <h5>{{Upcoming['Day']}}</h5>
                                                <h5>{{Upcoming['DayNum']}}</h5>
                                            </div>                                  
                                        {% else %}
                                            <div style="cursor: pointer;" class="item Upcomingdateslider" data-upcomingsliderDate ="{{Upcoming['DDate']}}">
                                                <h5>{{Upcoming['Day']}}</h5>
                                                <h5>{{Upcoming['DayNum']}}</h5>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Location</th>
                                        </tr>
                                    </thead>
                                    <tbody class="upcomingdata">
                                        {% for todayreservation in todayreservations %}
                                        <tr>
                                            <td>{{todayreservation['time']}}</td>
                                            <td>{{todayreservation['title']}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% if todayreservations is empty %}
                                            <td colspan='2'>No Reservation Available</td>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex card-footer">
                                <a href="javascript:;" class="btn btn-warning newReservation"><i class="icon icon-plus-circle"></i>ADD NEW RESERVATION</a>
                                <a href="javascript:;" class="view-link listReservation">View All <i class="icon icon-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="section-head">
                                <h2>Pending Checklists</h2>
                                <div class="dropdown">
                                    <a class="dropdown-toggle hide-angle" data-toggle="dropdown"><i class="icon icon-ellipsis"></i></a>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <a class="dropdown-item completed">Completed</a>
                                        <a class="dropdown-item incomplete">Incomplete </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Due Date</th>
                                            <th>Assign To</th>
                                        </tr>
                                    </thead>
                                    <tbody class="incomplatetable">
                                        {% for request in requests %}
                                           {% if request.filled_id is null  %}
                                            <tr>
                                                <td>{{request.template_title}}</td>
                                                <td>{{request.due_date|date("Y-m-d")}}</td>                        
                                                <td>{{request.first_name}} {{request.last_name}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    <tbody class="complatetable">
                                        {% for request in requests %}
                                           {% if request.filled_id is not null  %}
                                            <tr>
                                                <td>{{request.template_title}}</td>
                                                <td>{{request.due_date|date("Y-m-d")}}</td>                        
                                                <td>{{request.first_name}} {{request.last_name}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-end card-footer">
                                <a href="" class="listChecklist view-link">View All <i class="icon icon-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="section-head">
                                <h2>Recent Messages</h2>
                                <!-- <div class="dropdown">
                                    <a class="dropdown-toggle hide-angle" data-toggle="dropdown"><i class="icon icon-ellipsis"></i></a>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete </a>
                                    </div>
                                </div> -->
                            </div>
                            {% for chatDatas in chatData %}
                                <div class="message_wrap">
                                    <div class="chat_wrap">
                                        <div class="avatar-icon">
                                            <a class="avatar m-0" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                                <img class="round" src="/avatar?name={{chatDatas['user']}}" alt="avatar" height="40" width="40" />
                                            </a>
                                        </div>
                                        <div class="chat-body">
                                            <div class="chat-content">
                                                <h4>{{chatDatas['user']}}</h4>
                                                <p>{{chatDatas['chat_message']}}</p>
                                            </div>
                                            <div class="chat_footer">
                                                <a href="javascript:;"><img src="manager/images/property-img/back-icon.svg" /></a>
                                                <span>&nbsp;&nbsp;&nbsp;</span>
                                                <p class="chat-time text-right">{{chatDatas['timestamp']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <div class="blog-post-banner-wrap">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="big-banner  ">
                            <div class="row align-items-end">
                                <div class="col-md-7 add_text">
                                    <h2>Want more tips to <strong>maximize</strong> your <strong>property management</strong> potential?</h2>
                                    <a href="https://www.jervis-systems.com/blog/" class="btn btn-warning">View Blog</a>
                                </div>
                                <div class="col-md-5">
                                    <img src="manager/images/property-img/dashboard-img.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="small-banner add_text">
                            <h2>Looking to Add a Property?</h2>
                            <a href="manager/property/add-property" class="btn btn-warning">Add Property</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block afterJs %}
<script src="manager/vendors/js/charts/apexcharts.min.js"></script>
<script src="/js/manager_dashboard.js"></script>
<script type="text/javascript" src="manager/vendors/js/slick.min.js"></script>
<script type="text/javascript">
    $(".carousel-inner").slick({
    dots: false,
    infinite: false,
    speed: 300,
    arrows: true,
    prevArrow: "<button type='button' class='slick-prev'><svg viewBox='0 0 100 100'><path d='M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z'></path></svg></button>",
    nextArrow: "<button type='button' class='slick-next'><svg viewBox='0 0 100 100'><path d='M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z' transform='translate(100, 100) rotate(180)''></path></svg></button>",
    slidesToShow: 5,
    slidesToScroll: 5,
    responsive: [
        {
            breakpoint: 1024,
            settings: {
                slidesToShow: 5,
                slidesToScroll: 5,
            },
        },
        {
            breakpoint: 600,
            settings: {
                slidesToShow: 4,
                slidesToScroll: 4,
            },
        },
        {
            breakpoint: 480,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
            },
        },
              
    ],
});
</script>
{% endblock %}