{% extends "layout_manager.html" %}

{% block title %}Manager{% endblock %}

{% block content %}
  
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Property</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ properties|length }}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-home fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>            
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Checklist</div>
                        {% set completedCheckListCount = 0 %}
                        {% set pendingCheckListCount = 0 %}
                        {% for request in requests %}
                            {% if request.filled_id is null  %}
                                {% set pendingCheckListCount = pendingCheckListCount + 1 %}
                            {%else%}    
                                {% set completedCheckListCount = completedCheckListCount + 1 %}
                            {% endif %}    
                        {% endfor %}
                        <div><small>Completed : </small> <b>{{completedCheckListCount}}</b></div>
                        <div><small>Upcoming : </small> <b>{{pendingCheckListCount}}</b></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mb-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Pending Checklist</h6>
                </div>
                <div class="card-body">
                    <div id="pendingChecklist">
                        <table class="table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Due Date</th>
                                    <th>Assign To</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in requests %}
                                    {% if request.filled_id is null  %}
                                    <tr>
                                        <td>{{request.template_title}}</td>
                                        <td>{{request.due_date|date("m/d/Y")}}</td>                        
                                        <td>{{request.first_name}} {{request.last_name}}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>                     
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}