{% extends "layout_manager.html" %}

{% block title %}Manager{% endblock %}

{% block content %}

<div class="container">
    <h1>{{header}}</h1>

    <p class="lead">
        {{message}}
    </p>
</div>

{% endblock %}