.wrapper {
    position: relative;
    width: 400px;
    height: 120px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signature-pad {
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: #fff;
}

.signature-pad .row {
    padding: 0 50px;
}
