body, html { font-size: 16px; font-family: 'montserratregular', sans-serif; position: relative; height: 100%; }
.mont-regular{font-family: 'montserratregular', sans-serif;}
.mont-medium{font-family: 'montserratmedium', sans-serif;}
.mont-semibold{font-family: 'montserratsemibold', sans-serif;}
.mont-bold{font-family: 'montserratbold', sans-serif;}
.mont-italic{font-family: 'montserratitalic', sans-serif;}

h1{font-size: 55px; font-family: 'montserratsemibold', sans-serif; color: #333;}
h2{font-size: 40px; font-family: 'montserratmedium', sans-serif; color: #333;}
h3{font-size: 26px; font-family: 'montserratmedium', sans-serif; color: #333;}
h4{font-size: 20px; font-family: 'montserratmedium', sans-serif; color: #333;}
h5{font-size: 18px; font-family: 'montserratmedium', sans-serif; color: #333;}
h6{font-size: 14px; font-family: 'montserratmedium', sans-serif; color: #333;}
p{font-size: 16px; color: #80828e; line-height: 1.875; margin-bottom: 25px;}

 ul{list-style: none; margin-left: 0; padding-left: 0; margin-bottom: 22px;}
ul li{padding-left: 32px; position: relative; font-size: 16px; line-height: 1.875; margin-bottom: 12px; color: #80828e;}
ul li p{margin-bottom: 22px; }
ul li p:first-child{margin-bottom: 0;}

ul li:before{content: "\f061"; font-family: 'FontAwesome'; position: absolute; left: 0; top: 2px; color: #fd982a;}
ul li ul{margin-top: 12px;}
ul li strong{font-family: 'montserratmedium', sans-serif; font-weight: normal; color: #80828e;}
ul ul li{padding-left: 16px; line-height: 1.875; margin-bottom: 12px;}
ul ul li:before{width: 6px; height: 6px; display: block; border-radius: 50%;  position: absolute; top: 12px; left: 0;  content: ""; background: #fd9625;}
.main{margin-top: 65px; margin-bottom: 60px;}
a { text-decoration: none; -webkit-transition: 0.5s ease all; -o-transition: 0.5s ease all; transition: 0.5s ease all; color: #fd9625; }
a:hover{color:#80828e; text-decoration: none; }
a:focus, input:focus, textarea:focus { outline: none; -webkit-box-shadow: none; box-shadow: none;  }
.container { max-width: 1218px; }
#page { overflow: hidden; }
.btn { display: inline-block; padding: 15px 30px; font-family: 'montserratbold', sans-serif; text-transform: uppercase; font-size: 20px; -webkit-transition: 0.5s ease all; -o-transition: 0.5s ease all; transition: 0.5s ease all; border-radius: 50px; line-height: 1; }
.button-primary { background: #fd9625; border: 1px solid #fd9625; color: #fff; }
.button-primary i { margin-left: 12px; }
.button-primary:hover { color: #fff; background: #e27c0c; }
/* header css start*/
#header { position: absolute; top: 0; left: 0; z-index: 5; padding-top: 25px; padding-bottom: 25px; }
.header_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.logo a { display: block; }
.header_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#main ul { padding-left: 0; margin-bottom: 0; }
.nav_element { display: inline-block; vertical-align: middle; text-transform: uppercase; padding: 0 20px; font-size: 15px; font-family: 'montserratsemibold', sans-serif; }
.nav_element a { color: #fff; text-decoration: none; position: relative; }
.nav_element:before{display: none;}
.nav_element a:after{content: ""; width: 0; transition: width .3s; height: 2px; background: #fff; margin-top: 5px; display: block;}
/*.nav_element a:hover { color: #fd9625; }*/
.nav_element a:hover:after, .nav_element.active a:after{width: 100%;}
.header_wrap .button-primary { font-size: 16px; font-family: 'montserratsemibold', sans-serif; padding: 12px 12px 12px 21px;background:#000; border-color:#000;}
.menu_btn { display: none; }
.header__nav-button { background: transparent; width: 27px; margin-left: 0; height: 18px; border: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; display: block; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
.header__nav-button:hover, .header__nav-button:focus { outline: none; }
.header__nav-button > span { background: #fff; display: block; position: absolute; height: 1px; width: 100%; left: 0; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: 0.3s ease-in-out, background 0.2s cubic-bezier(0, 0, 0.58, 1); -o-transition: 0.3s ease-in-out, background 0.2s cubic-bezier(0, 0, 0.58, 1); transition: 0.3s ease-in-out, background 0.2s cubic-bezier(0, 0, 0.58, 1); }
.header__nav-button > span:nth-child(1) { top: 0px; }
.header__nav-button > span:nth-child(2) { top: 8px; }
.header__nav-button > span:nth-child(3) { top: 16px; }
.header__nav-button.header__nav-button_open > span:nth-child(1) { top: 8px; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); }
.header__nav-button.header__nav-button_open > span:nth-child(2) { opacity: 0; left: -60px; }
.header__nav-button.header__nav-button_open > span:nth-child(3) { top: 8px; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); }

/*.header__nav-button.header__nav-button_open {position: absolute;left: 236px;top: 15px; z-index: 99;}*/
/* header css end*/
.banner_wrap { background: url(../img/banner-bg.jpg) no-repeat center bottom; background-size: cover; padding-top: 190px; padding-bottom: 158px; position: relative; }
.banner_wrap:before { background: url(../img/banner-shape.svg) no-repeat center top; background-size: cover; width: 100%; height: 160px; bottom: 0; left: 0; position: absolute; content: ""; }
.banner_text { margin-top: 50px; }
.banner_text h2, .banner_text h1 { font-size: 55px; color: #fff; font-family: 'montserratsemibold', sans-serif; text-shadow: 0px 4px 4px rgba(0, 0, 0, 6%); margin-bottom: 15px; }
.banner_text h4 { font-size: 27px; color: #fff; font-family: 'montserratmedium', sans-serif; margin-bottom: 22px; }
.banner_text .btn { margin-bottom: 21px; }
.banner_text p { font-size: 14px; font-family: 'montserratitalic'; color: #fff; }
.banner-img { position: relative; display:inline-block;}

div.laptop-wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}
div.laptop-wrapper:focus{
	outline:none;
}
div.laptop-wrapper video:focus{
	outline:none;
}

div.laptop-wrapper iframe, div.laptop-wrapper video {
    box-sizing: border-box;
    background: url('../img/banner-img.png') center center no-repeat;
    background-size: contain;
    padding: 11.9% 15.5% 16%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-container {
	position: absolute;
}
#video-container {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}


.video-play { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.video-play:hover { -webkit-filter: invert(1); filter: invert(1); }
.section_head h4 { font-size: 15px; text-transform: uppercase; letter-spacing: 0.200rem; color: #01adbc; font-family: 'montserratsemibold', sans-serif; }
.section_head h2 { font-size: 40px; font-family: 'montserratmedium', sans-serif; color: #000; }
.features_wrap { margin-top: 100px; }
.features_wrap .section_head { margin-bottom: 60px; }
.single-features { -webkit-box-shadow: 0px 0px 40px 0px rgba(17,87,152,15%);box-shadow: 0px 0px 40px 0px rgba(17,87,152,15%); height: 100%; background: #fff; min-height: 189px; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 44px 40px 15px 15px; border-radius: 10px; }
.single-features .icon { max-width: 76px; min-width: 76px; }
.single-features-detail { padding-left: 5px; }
.single-features-detail h2 { font-size: 22px; color: #333333; font-family: 'montserratsemibold', sans-serif; margin-bottom: 14px; }
.single-features-detail p { font-size: 14px; line-height: 27px; color: #80828e; margin-bottom: 0; }
.single-features-wrap { margin-bottom: 25px; }
.scoll-down { width: 42px; height: 42px; display: -webkit-box; display: -ms-flexbox; display: flex; margin: 43px auto 20px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-shadow: 0px 0px 40px 0px #115798; box-shadow: 0px 0px 40px 0px #115798; color: #fd9625; border-radius: 50%; font-size: 20px; }
.scoll-down:hover { background: #fd9625; color: #fff; text-decoration: none; }
.app_wrap { overflow: hidden; }
.app_slide_wrap { position: relative; padding-top: 150px; padding-bottom: 200px; }
.app_slide_wrap:before { content: ""; width: 1620px; height: 1000px; background: #e3fdff; border-radius: 50%; position: absolute; top: 0; right: 0; }
.slick-slide:focus { outline: none; -webkit-box-shadow: none; box-shadow: none; }
.app_slider .slick-dots { bottom: 40px; margin-bottom: 0; }
.app_slider .slick-dots li { width: 15px; height: 15px; background: #b4e8f2; border-radius: 50%; padding-left:0;}
.app_slider .slick-dots li:before{display:none;}
.app_slider .slick-dots li.slick-active { background: #029ac7; }
.app_slider .slick-dots li button { display: none; }
.app-detail { max-width: 558px; }
.app-detail p { font-size: 16px; line-height: 35px; color: #80828e; }
.app-detail h6 { color: #5a5a5b; font-size: 19px; font-family: 'montserratmedium', sans-serif; }
.soluion_wrap{padding-top: 80px;padding-bottom: 105px; background: rgb(3,185,184); background: -webkit-gradient(linear,  left top, right top,  from(rgba(3,185,184,1)),color-stop(85%, rgba(2,154,199,1)));  background: -o-linear-gradient(left,  rgba(3,185,184,1) 0%,rgba(2,154,199,1) 85%); background: linear-gradient(to right,  rgba(3,185,184,1) 0%,rgba(2,154,199,1) 85%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03b9b8', endColorstr='#029ac7',GradientType=1 ); }
.soluion_wrap .section_head { margin-bottom: 55px; }
.soluion_wrap .section_head h2 { color: #fff; }
.soluion_wrap .section_head p { font-size: 16px; color: #fff; margin-bottom: 0; font-family: 'montserratlight', sans-serif; }
.solution_box_wrap { margin-bottom: 34px; }
.solution_box { height: 100%; -webkit-box-shadow: 0px 14px 40px 0px rgba(17,86,152,15%);  box-shadow: 0px 14px 40px 0px rgba(17,86,152,15%); background: #fff; padding: 30px 30px 15px 30px; border-radius: 8px; text-align: center; }
.solution_box .icon { min-height: 95px; margin-bottom: 7px; }
.solution_detail h2 { font-size: 22px; color: #333333; font-family: 'montserratsemibold', sans-serif; text-transform: capitalize; }
.solution_detail h2:after { content: ""; width: 40px; height: 4px; background: #01adbc; margin: 15px auto 20px; display: block; }
.solution_detail p { color: #666666; margin-bottom: 0; font-size: 14px; line-height: 27px; }
.solution_detail p strong { font-family: 'montserratsemibold', sans-serif; }
.pricing_wrap { padding-top: 65px; padding-bottom: 233px; position: relative; background: url(../img/pricing_bg.png) no-repeat center bottom; background-size: 100% auto; }
.pricing_box{max-width: 457px; margin: 55px auto 0; padding: 52px 30px 0 30px; border-radius: 8px; text-align: center; background: rgb(3,185,184); 
background: -moz-linear-gradient(left,  rgba(2,154,199,1) 0%, rgba(3,185,184,1) 85%); 
background: -webkit-linear-gradient(left,  rgba(2,154,199,1) 0%, rgba(3,185,184,1) 85%); 
background: linear-gradient(to right,  rgba(2,154,199,1) 0%, rgba(3,185,184,1)) 85%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029ac7', endColorstr='#03b9b8',GradientType=1 );  box-shadow: 0px 10px 68px 0px rgba(17,86,152,44%); position: relative;  }
.pricing_box:after { content: ""; display: block; width: 236px; height: 221px; background: url(../img/small-sky2.png) no-repeat center; position: absolute; background-size: cover; right: -65%; top: 30%; }
.pricing_box:before { content: ""; display: block; width: 220px; height: 233px; background: url(../img/small-sky.png) no-repeat center; position: absolute; background-size: cover; left: -59%; top: 30%; }
.price_head h2 { font-size: 26px; letter-spacing: 0.050rem; color: #fff; text-transform: uppercase; margin-bottom: 15px; }
.price_head h3 { font-size: 26px; color: #fff; font-family: 'montserratsemibold', sans-serif; text-transform: uppercase; margin-bottom: 15px; }
.price_head h3 span { font-size: 54px; }
.price_head p { font-size: 18px; color: #fff; font-family: 'montserratmedium', sans-serif; }
.range { position: relative; width: 100%; height: 10px; margin-top: 30px; border-radius: 10px; }
.range input { width: 100%; position: absolute; top: 0; left: 0; height: 10px; border-radius: 10px; -webkit-appearance: none; }
.range input::-webkit-slider-thumb { -webkit-appearance: none; width: 25px; height: 25px; margin: -8px 0  0; border-radius: 50%; background: #fd9625; cursor: pointer; border: 0 !important; }
.range input::-moz-range-thumb { width: 25px; height: 25px; margin: -8px 0  0; border-radius: 50%; background: #fd9625; cursor: pointer; border: 0 !important; }
.range input::-ms-thumb { width: 25px; height: 25px; margin: -8px 0  0; border-radius: 50%; background: #fd9625; cursor: pointer; border: 0 !important; }
.range input::-webkit-slider-runnable-track { width: 100%; height: 10px; cursor: pointer; background: #68cbd9; border-radius: 3px; }
.range input::-moz-range-track { width: 100%; height: 10px; cursor: pointer; background: #68cbd9; border-radius: 3px; }
.range input::-ms-track { width: 100%; height: 10px; cursor: pointer; background: #68cbd9; border-radius: 3px; }
.range input:focus { background: none; outline: none; }
.range input::-ms-track { width: 100%; cursor: pointer; background: transparent; border-color: transparent; color: transparent; }
.range-labels { margin: 18px 0 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.range-labels li { position: relative; text-align: center; color: #fff; font-family: 'montserratmedium', sans-serif; font-size: 15px; cursor: pointer;  padding-left: 0;}
.range-labels li:before{display:none;}
.range-labels .active { color: #fff; }
.range-labels .selected::before { background: #fff; }
.range-labels .active.selected::before { display: none; }
.price_box_footer { max-width: 320px; margin: 42px auto 0; }
.price_box_footer h5 { font-size: 18px; color: #fff; margin-bottom: 25px; }
.price_box_footer p { font-size: 17px; margin-bottom: 22px; color: #fff; }
.price_box_footer h5 ~ h5 { margin-top: 75px; }
.price_box_footer .btn { margin-bottom: -25px; padding: 15px 60px; }
.faq_wrap { margin-bottom: 120px; padding-top: 90px; background: #fff; position: relative; z-index: 3; }
.faq_wrap .section_head { margin-bottom: 65px; }
.faq .accordion { padding-left: 0; list-style: none; }
ul.accordion li  p:first-child{margin-bottom:15px;}
.accordion > li { border-bottom: 1px solid #bdbdbd;  padding-left: 0;}
.accordion > li:before{display:none;}
.accordion > li:last-child { border-bottom: none; }
.accordion > li > a { padding-top: 13px; padding-bottom: 13px; padding-right: 45px; position: relative; display: block; font-size: 18px; color: #172228; font-family: 'montserratsemibold'; }
.accordion > li > a:after { content: "+"; position: absolute; color: #000; font-family: 'montserratregular', sans-serif; font-size: 35px; right: 0; top: 4px; }
.accordion > li.active > a:after { content: "-"; }
.accordion > li > a:hover { text-decoration: none; }
.faq_answer { padding-top: 2px; padding-bottom: 15px; }
.faq_answer p { font-size: 16px; line-height: 27px; color: #444; }
.testimonial_wrap { background: #029bc7; padding-top: 188px; padding-bottom: 280px; position: relative; }
.testimonial_wrap:before { background: url(../img/banner-shape.svg) no-repeat center top; display: block; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); background-size: cover; width: 100%; height: 160px; top: 0; left: 0; position: absolute; content: ""; }
.testimonial_wrap:after { background: url(../img/banner-shape.svg) no-repeat center top; display: block; z-index: 2; background-size: cover; width: 100%; height: 160px; bottom: 0; left: 0; position: absolute; content: ""; }
.testiominal_container { max-width: 811px; margin: 0 auto; }
.testimonial_head { text-align: center; max-width: 625px; margin: 0 auto; }
.testimonial_head h2 { font-size: 50px; color: #fff; font-family: 'montserratmedium', sans-serif; margin-top: 60px; margin-bottom: 0; }
.testimonial_slide { margin-top: 70px; }
.testimonial_slide .item { text-align: center; }
.rating { margin-bottom: 20px; }
.rating span { color: #fff; padding: 0 2px; font-size: 20px; }
.testimonial_slide p { font-size: 23px; line-height: 45px; font-family: 'montserratmedium', sans-serif; color: #fff; }
.author_detail { margin-top: 49px; }
.author_detail span { display: block; }
.author_name { font-size: 23px; color: #fff; font-family: 'montserratsemibold', sans-serif; }
.author_detail .position { font-size: 15px; color: #fff; font-family: 'montserratlight', sans-serif; }
.testimonial_slide .slick-dots { position: relative; bottom: 0; z-index: 3; margin-top: 42px; }
.testimonial_slide .slick-dots li { width: 15px; height: 15px; background: #35b3cf; border-radius: 50%; }
.testimonial_slide .slick-dots li:before{display:none;}
.testimonial_slide .slick-dots li.slick-active { background: #fff; }
.testimonial_slide .slick-dots li button { display: none; }
.mobile-img { position: absolute; left: -11%; max-width: 30%; top: -11%; z-index: 2; }
.tablet-img { position: absolute; top: -24%; right: -29%; z-index: 3; max-width: 59%; }
.mobile-img2 { position: absolute; right: 3%; bottom: -25%; max-width: 30%; }
.cta_wrap { padding-top: 109px; padding-bottom: 112px; position: relative; padding-left: 90px; padding-right: 90px; margin-bottom: -117px; position: relative; z-index: 2; text-align: center; background: #03b9b8; background: -webkit-gradient(linear, left top, right top, from(#03b9b8), color-stop(85%, #029ac7)); background: -o-linear-gradient(left, #03b9b8 0%, #029ac7 85%); background: linear-gradient(to right, #03b9b8 0%, #029ac7 85%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03b9b8', endColorstr='#029ac7',GradientType=1 ); border-radius: 8px; }
.cta_wrap:before { content: ""; width: 100%; height: 100%; background: url(../img/building.png) no-repeat right bottom; background-size: contain; position: absolute; bottom: 0; left: 0; }
.cta_wrap h2 { color: #fff; font-size: 36px; font-family: 'montserratsemibold', sans-serif; text-shadow: 0px 4px 4px rgba(0, 0, 0, 6%); margin-bottom: 40px; }
.cta_wrap .btn { font-size: 22px; font-family: 'montserratsemibold', sans-serif; min-width: 217px; text-align: center; }
.cta_wrap .btn ~ .btn { margin-left: 15px; }
.button-secondary { background: #fff; color: #02a4c2; }
.cta_wrap > * { position: relative; z-index: 2; }
.footer_wrap { background: #053e4f; padding-top: 208px; position: relative; }
.footer_wrap:before { background: url(../img/banner-shape.svg) no-repeat center top; display: block; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); background-size: cover; width: 100%; height: 160px; top: 0; left: 0; position: absolute; content: ""; }
.footer_logo { margin-bottom: 28px; }
.footer_contact_us p { font-size: 13px; letter-spacing: 0.075rem; margin-bottom: 22px; font-family: 'montserratlight', sans-serif; }
.footer_contact_us p a { color: #fff; }
.footer_contact_us p a:hover { text-decoration: none; }
.footer_contact_us p a img { margin-right: 8px; }
.footer_title { font-size: 20px; color: #fff; font-family: 'montserratregular', sans-serif; margin-bottom: 25px; margin-top: 20px; }
.footer_nav ul { width: 49%; float: left; padding-left: 0; margin-bottom: 0; list-style: none; }
.footer_nav ul li { font-size: 13px; text-transform: uppercase; letter-spacing: 0.075rem; margin-bottom: 15px; padding-left:0;}
.footer_nav ul li:before{display:none;}
.footer_nav ul li a { color: #fff; }
.footer_nav ul li a:hover,.footer_nav ul li a:focus{ color: #f1f1f1; text-decoration:underline;}
.social_link ul { list-style: none; padding-left: 0; }
.social_link li { display: inline-block; vertical-align: middle; padding-left: 0; }
.social_link li:before{display: none;}
.social_link li + li { margin-left: 14px; }
.social_link li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: #fd9625; width: 47px; height: 47px; border-radius: 50%; font-size: 25px; color: #fff; }
.social_link li a:hover { text-decoration: none; background: #02a4c2; }
.footer_bottom { padding-top: 22px; padding-bottom: 22px; border-top: 1px solid #194d5d; margin-top: 120px; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.copyright { font-size: 12px; text-transform: uppercase; color: #fff; margin-bottom: 0; font-family: 'montserratlight', sans-serif; letter-spacing: 0.075rem; }
.other_link { text-align: right; font-size: 12px; color: #fff; font-family: 'montserratlight', sans-serif; letter-spacing: 0.075rem; }
.other_link a { font-size: 12px; padding: 0 8px; color: #fff; font-family: 'montserratlight', sans-serif; letter-spacing: 0.075rem; text-transform: uppercase; }
.other_link a:hover, .footer_nav ul li a:focus{text-decoration:underline;}

/* features page css*/
.inner_banner_wrap{background: url(../img/banner-bg.jpg) no-repeat center bottom; background-size: cover; /*padding-top: 202px; padding-bottom: 162px;*/ height: 424px; position: relative;}
.inner_banner_wrap .row{align-items: center; height: 100%;}
.inner_banner_wrap:after{    background: url(../img/banner-shape.svg) no-repeat center top;  background-size: cover; width: 100%; height: 160px;  bottom: 0;  left: 0; position: absolute;content: "";}
.inner_banner_wrap .banner_text{text-align: center; padding-left: 0;}
.banner_text h1{font-size: 55px; color: #fff; font-family: 'montserratsemibold', sans-serif; text-shadow: 0px 4px 4px rgba(0, 0, 0, 6%); margin-bottom: 15px;}
.featured_wrap{margin-top: 64px;}
.featured_row{margin-top: 100px;}
.featured_row .row{margin-bottom: 145px;}
.featured_row .row:nth-child(even){flex-direction: row-reverse;}
.featured_img img{display: block; margin: 0 auto; height: auto;}
.featured_text{padding-top: 55px;}
.featured_text h2{font-size: 40px; color: #333333; font-family: 'montserratmedium', sans-serif; margin-bottom: 30px;}
.featured_text p{font-size: 16px; color: #80828e; line-height: 30px; margin-bottom: 22px;}
.featured_text .btn{font-family: 'montserratsemibold', sans-serif;}
.featured_text ul{list-style: none; margin-left: 0; padding-left: 0;}
.featured_text ul li{padding-left: 32px; margin-bottom: 0; position: relative;}
.featured_text ul li:before{content: "\f061"; font-family: 'FontAwesome'; position: absolute; left: 0; top: 2px; color: #fd982a;}
.featured_text ul li{font-size: 16px; color: #80828e;}
.featured_text ul li strong{font-family: 'montserratmedium'; font-weight: normal; color: #80828e;}
.featured_text ul li p{font-size: 16px; color: #80828e;}
.featured_text ul ul{margin-bottom: 22px;}
.featured_text ul ul li{padding-left: 16px;}
.featured_text ul ul li:before{width: 5px; height: 5px; display: block; border-radius: 50%;  position: absolute; top: 9px; left: 0;  content: ""; background: #fd9625;}

#_form_5EE93D1E590A9_{,max-width:100%;}


/* Cookie banner css */
.cc_dialog.headline {right: 0; top: auto !important; bottom: 0 !important; left: 0; max-width: 100%;  position: fixed !important; background: rgb(3,185,184); 
background: -moz-linear-gradient(left,  rgba(3,185,184,1) 0%, rgba(2,154,199,1) 85%); 
background: -webkit-linear-gradient(left,  rgba(3,185,184,1) 0%,rgba(2,154,199,1) 85%); 
background: linear-gradient(to right,  rgba(3,185,184,1) 0%,rgba(2,154,199,1) 85%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03b9b8', endColorstr='#029ac7',GradientType=1 );}
.light.cc_dialog .cc_dialog_headline {
    color: #fff !important;
    font-size: 35px;
}
.light.cc_dialog .cc_dialog_text{font-size: 16px; color: #fff!important; font-family: 'montserratregular', sans-serif;}
.light.cc_dialog button.cc_b_ok {color: #fff;
    background-color: #fd9625 !important;
    border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 38px !important;
    line-height: 1 !important;
}
.light.cc_dialog button.cc_b_cp{color: #02a4c2 !important;border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 25px !important;
    line-height: 1 !important;
    background: #fff !important;
}

/* Contact Page CSS */
.contact_wrap{margin-top: 2rem;}
.contact_form_wrap {margin: 50px auto; max-width:870px;}
.contact_form_wrap .input-group-text{background:#fff; border-left:none; border-color:#7a7a7a;}
.contact_form_wrap .input-group .form-control{ padding:1.5rem 1rem; border:1px solid #7a7a7a; border-right:none;}
.contact_form_wrap textarea{border:1px solid #7a7a7a;}
.contact_form_wrap .form-control:focus{outline:none;  box-shadow:none;}
.contact_form_wrap .sbmt_btn{border-radius:4px; width:60%; max-width:396px;}
.mapouter{position:relative;text-align:right;height:100%; width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}
.mapouter iframe{width:100%; height:100%; min-height:520px;}
.map_wrapper{
	margin:45px 0 60px 0;
	box-shadow:2px 14px 40px 0 rgba(17, 86, 152, 0.15);
}
.right_contact_address{background:#e3fdff; padding:44px; height:100%;}
.address_title{text-transform:uppercase;}
.right_contact_address a{color:#7c7a7a;}
.right_contact_address a:hover{color:#333; text-decoration:underline;}
.right_contact_address p{color:#333333; font-size:14.72px;}
.right_contact_address li{padding-left: 0;}
.right_contact_address ul li:before{display:none;}
.right_contact_address li:first-of-type img{vertical-align:middle;}
.right_contact_address .media img{vertical-align:text-bottom;}
.contact_social_media li{padding-left: 0; display:inline-block; margin-right:13px;}
.contact_social_media li a{width:42px; height:42px; border-radius:50%; border:1px solid #04b8b9; display:block; text-align:center; line-height:40px; color:#04b8b9; font-size:22px;}
.contact_social_media li a:hover, .contact_social_media li a:focus{background:#04b8b9; color:#fff;}


/* blog page css*/
.blog_wrap{margin-top: 65px; margin-bottom: 90px;}
.single_blog{margin-bottom: 50px;}
.blog_img a{background-size: cover; padding-top: 66%; border-radius: 10px; background-position: center; display: block;}
.blog-head{margin-top: 25px; }
.blog_meta{display: flex; justify-content: space-between; margin-bottom:8px; flex-wrap: wrap; }
.blog_tag a{color: #01adbc; font-size: 14px; letter-spacing: 0.025rem; font-family: 'montserratsemibold';}
.blog_tag a+a:before{content: "|"; letter-spacing: 0.025rem; display: inline-block; vertical-align: bottom; color: #8d8d8d; margin: 0 9px 0 8px;}
.blog_tag a:hover, .blog_tag a:focus{color: #fd9625;}
.blog_date p{margin-bottom: 0; color: #b0b0b0; font-size: 14px; letter-spacing: 0.025rem; font-family: 'montserratmedium';}
.blog-title{font-size: 28px; letter-spacing: 0.025rem; font-family: 'montserratmedium';     display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;  overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis;}
.btn-read{font-size: 14px; text-transform: uppercase; color: #01adbc; font-family: 'montserratsemibold';}
.btn-read:hover{color: #fd9625; }
.aside-heading{padding-top: 25px; border-top: 1px solid #dfdfdf; color: #01adbc; font-size: 23px; position: relative; margin-bottom: 23px; letter-spacing: 0.010rem;}
.aside-heading:before{content: ""; width: 97px; height: 1px; background: #01adbc; top: 0; position: absolute;}
.media{padding-top: 18px; padding-bottom: 18px;}
.media .recent-post-img {max-width: 97px;  border-radius: 5px; overflow: hidden; display: block; padding-top: 29%; background-position: center; background-size: cover; min-width: 97px;}
.media-body h5{font-size: 16px; margin-bottom: 3px; font-family: 'montserratsemibold'; display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical;  overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis;}
.media-body h5 a{color: #333;}
.media-body p{margin-bottom: 0; font-size: 14px; color: #7c7a7a;font-family: 'montserratmedium';}
.recent-post .media:last-child{border-bottom: none;}
.blog-category li{padding-left: 15px; font-size: 15px; letter-spacing: 0.025rem; font-family: 'montserratmedium'; text-transform: uppercase;}
.blog-category li:before{content:"\f105"; top: 0; color: #01adbc;}
.blog-category li a{color: #444;}
.blog-category li a span{color:#01adbc;}
.blog-category li a:hover{color:#01adbc;}
.blog-sidebar .media{border-bottom:1px dashed #bdbdbd;}
.advertisement{background: url(../img/add-bg.jpg) no-repeat center bottom; border-radius: 8px; background-size: cover; padding: 24px 18px;}
.advertisement h2{font-size: 50px;}
.advertisement h2:after{width: 44px; height: 4px; content: ""; background: #03bbb7; display: block; margin: 0;}
.advertisement h3{font-size: 22px; color: #5a5a5a; margin-top: 12px; margin-bottom: 12px;}
.advertisement .button-primary{padding:11px 19px ; font-size: 14px; margin-bottom: 35px;}
.advertisement img{display: block; margin: 0 auto;}
/* article page css*/
.article-img img{border-radius: 8px; width: 100%;}
.article_head{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; margin-top: 19px;}
.author{display: flex; }
.author .author_detail{margin-top: 0; margin-left: 12px;}
.author_img{width: 50px; height: 50px; border-radius: 50%; min-width: 50px; overflow: hidden;}
.author_img img{margin: 0 auto;}
.article_body{margin-top: 22px;}
.article_body h2{font-size: 33px; letter-spacing: 0.025rem;}
.article_body h3{font-size: 26px;}
.share-icon ul{margin-bottom: 0;}
.share-icon li{padding: 0; margin-bottom: 5px; display: inline-block; vertical-align: middle;}
.share-icon li+li{margin-left: 6px;}
.share-icon li a{width: 40px; height: 40px; transition: all 0.5s; background: #979797; border-radius: 50%; text-align: center; display: flex; align-items: center; justify-content: center; color: #fff; font-size: 20px;}
.share-icon li:before{display: none;}
.share-icon li a.facebook{background: #4565ae}
.share-icon li a.linkedin{background: #0d76b0;}
.share-icon li a.twitter{background: #23a2f3;}
.share-icon li a:hover { -webkit-transform: translateY(-2px); transform: translateY(-2px); -webkit-transition: all 0.5s; transition: all 0.5s; box-shadow: 0 3px 4px rgba(0,0,0,0.2);}
/* about us css*/
.about_feat_wrap{margin-bottom: 80px; margin-top: 80px;}
.owner_quote{position:relative; padding:30px 50px; border:1px solid #d3cbcb; border-radius:10px; width:95%; margin-bottom: 30px;}
.owner_quote p:before{content:''; position:absolute; top:-20px; left:-35px; width:59px; height:49px; display:inline-block; background:url('../img/quote-icon2.png') no-repeat 0 0; z-index:1; b}
.owner_quote p{font-size:27px; line-height:1.29; color:#666; font-family:"montserratitalic", sans-serif; position:relative; z-index:2;}
.quote_author h4{color:#03bbb7;font-size:16px; letter-spacing:0.075rem;}
.quote_author p{font-size:14px;}
.owner_quote:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 34px;
    right: auto;
    top: auto;
    bottom: -35px;
    border: 18px solid;
    border-color: #d3cbcb transparent transparent transparent;
}
.owner_quote:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 37px;
    right: auto;
    top: auto;
    bottom: -31px;
    border: 16px solid;
    border-color: #fff transparent transparent transparent;
}
.core_value_wrap .section_head h2{color: #333}
.core_value_list{padding-left: 0;  display: flex; flex-wrap: wrap; margin-top: 40px;}
.core_value_list li{margin-bottom:43px; text-align: center;}
.core_value_list li:before{display: none;}
.single_value_wrap{padding:20px; box-shadow:0 14px 40px 0 rgba(17,86,152,0.15); height:100%; border-radius:8px;}
.single_value_wrap h4:after{content:""; width:38px; height:3px; background:#01adbc; width:38px; margin:20px auto; display:block;}
.single_value_wrap p{color:#80828e; font-size:14px; line-height:1.90; word-break:normal;}
.core-value-icon{ display: flex; margin-bottom: 1.25rem; flex-direction:column; margin-top: 0.75rem;}
.core-value-icon img{max-width: 93px; display: block; margin: 0 auto;}

.core_value_list h4{text-transform: uppercase; font-size: 22px;}
.team-wrap{background: #e3fdff; padding-top: 55px; padding-bottom: 100px; margin-top: 70px; position: relative;}
.team-wrap:after {content: ""; width: 100%;  height: 999px;bottom: -999px; position: absolute; background: #e3fdff;left: 0;}
.team-wrap .row{position: relative; z-index: 2;}
.team-wrap .section_head h2{color: #333;}
.team-wrap .section_head{margin-bottom: 60px;}
.single-team{margin-bottom: 42px;}
.team-memeber-img img{display: block; margin: 0 auto;}
.team-memeber-detail{margin-top: 18px; text-align: center;}
.team-memeber-detail h4{font-size: 22px; color: #333; margin-bottom: 0;}
.team-memeber-detail p{font-size: 14px; margin-bottom: 5px;}
.contact_img_wrap{background-size:cover; background-position:center;}
.banner_text {padding-left:10%;}


/* sign up css*/
.sign-wrap{padding-top: 17px;}
.jv_logo{text-align: center; }
.jv_logo a{display: inline-block;}

.step{max-width: 835px; margin: 50px auto ;}
.step .nav-tabs{display: flex; align-items: flex-start; justify-content: space-between; border-bottom: none;}
.step .nav-tabs .nav-item{padding-left: 0; border:none; text-align: center;}
.step-icon{width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border:2px solid #dedede; border-radius: 50%; margin: 0 auto 5px; position: relative;position: relative; z-index: 2; background: #eef5f9}
.step-icon:before{content: ""; opacity: 0; width: 100%; height: 100%; border:3px solid #fff; position: absolute; left: 0; top: 0; display: block; border-radius: 50%;}
.step .nav-tabs .nav-item:before{display: none;}
.step .nav-link{font-size: 16px; font-family: 'montserratmedium', sans-serif; letter-spacing: 0.025rem;  color:#909090; text-transform: capitalize;}
.step .nav-tabs .nav-item.show .nav-link, .step .nav-tabs .nav-link.active{border-color: transparent; background-color: transparent; color:#fe9627;}
.step  .nav-tabs .nav-link:focus, .step .nav-tabs .nav-link:hover {border-color: transparent;}
.step .nav-tabs .nav-link.active .step-icon{border-color:#fe9627; background: #fff;}
.step .nav-tabs .nav-item:after {    content: ""; height: 2px; width: 125%;display: block;right: -86%;background: #dedede; position: absolute; top: 34%;}
.step .nav-tabs .nav-item:last-child:after{display: none;}
.step .nav-tabs .nav-link.location.active .step-icon{background:#fe9627 }
.step .nav-tabs .nav-link.location.active .step-icon svg path, .step .nav-tabs .nav-link.location.active .step-icon svg stroke{fill:#fff;}
.step .nav-tabs .nav-link.active .step-icon svg path, .step .nav-tabs .nav-link.location.active .step-icon svg stroke{fill:#fe9627;}
.step .nav-tabs .nav-item.complete-step:after{background: #04b8b9;}
.step .nav-tabs .nav-item.complete-step .nav-link {color: #03b8b8;}
.step .nav-tabs .nav-item:last-of-type .step-icon:after {
    content: "";
    width: 56px;
    height: 40px;
    background: red;
    left: 106%;
    top: 0;
    position: absolute;
    background: #fff;
}

.step-form{max-width: 835px; margin: 0 auto; padding: 60px; border-radius: 25px; background: #fff; border: 2px solid #dedede; box-shadow: 2px 3px 70px 0 rgba(0, 0, 0, 0.11);}
.step-form h3{text-align: center; font-size: 28px; color: #4d4d4d; font-family: 'montserratregular', sans-serif;}
.step-form p{font-size: 17px; text-align: center; color: #909090; font-family: 'montserratmedium', sans-serif; margin-bottom: 0;}
.step-form form{max-width: 388px; margin: 47px auto 0;}
.step-form .input-group .form-control { padding: 1.5rem 1rem; border: 1px solid #cdcdcd; border-right: none; font-size: 14px; color: #909090; font-family: 'montserratmedium', sans-serif;}
.step-form  .input-group-text {  background: #fff; border-left: none; border-color: #cdcdcd;}
.step-form select.form-control{height: 50px; border: 1px solid #cdcdcd; font-size: 14px; color: #909090; font-family: 'montserratmedium', sans-serif;}
.step-form .form-control:focus { outline: none;  box-shadow: none;}
.step-form .sbmt_btn { border-radius: 4px; width: 100%; font-size: 15px;  display: block; text-transform: capitalize;}
.step .nav-tabs .nav-item .step-com{display: none;}
.step .nav-tabs .nav-item.complete-step .step-icon{display: none;}
.step .nav-tabs .nav-item.complete-step .step-com{display: flex;}
.complete-step .step-icon{background: #04b8b9; border-color: #04b8b9;}
.complete-step .step-icon:before{opacity: 1;}
.step .nav-tabs .nav-link.location.active .step-icon:before{opacity: 1;}
.step-form form .mb-3{position: relative;}
.step-form .success-message{line-height:1.42;}
.mark-icon{position: absolute; right: -30px; top: 45%; transform: translateY(-50%);}
.login_link{border-radius:4px; padding-left:30px; padding-right:30px; font-size:15px;  text-transform:uppercase; min-width:200px; margin-bottom: 3rem;}
.footer-sign{text-align: center; margin-top: 22px;}
.footer-sign p{color: #7b8093; font-size: 15px; font-family: 'montserratmedium', sans-serif; }


/* login css */

.body-login{
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;*/
    padding-top: 40px;
    padding-bottom: 40px;
    /*background: rgb(3,185,184); 
	background: url('../img/login-page-logo.png') no-repeat right bottom, -webkit-gradient(linear,  left top, right top,  from(rgba(3,185,184,1)),color-stop(85%, rgba(2,154,199,1))); 
background: url('../img/login-page-logo.png') no-repeat right bottom, -o-linear-gradient(left,  rgba(3,185,184,1) 0%,rgba(2,154,199,1) 85%); 
background: url('../img/login-page-logo.png') no-repeat right bottom, linear-gradient(to right,  rgba(3,185,184,1) 0%,rgba(2,154,199,1) 85%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03b9b8', endColorstr='#029ac7',GradientType=1 );
*/}
.login_wrapper .form-control:focus{box-shadow:none;}
.verification_logo{text-align:center; margin:22px 0 32px 0;}
.login_logo{text-align:center; margin:0 0 32px 0;}
.login_wrapper{
    margin: auto;
    width: 90%;
    max-width: 510px;
    
}
.login_form_wrap{
	background:#fff;
	border-radius:20px;
	padding: 5% 8%;	
	box-shadow:0 -3px 73px 0 rgba(0,0,0,0.30);
}
.login_wrapper .sbmt_btn {
    border-radius: 4px;
    width: 100%;
    font-size: 15px;
    display: block;
    text-transform: capitalize;
}
.login_wrapper form .input-group{position:relative;}
.login_wrapper .input-group .form-control {
    padding: 1.5rem 1rem;
    border: 1px solid #cdcdcd;
    border-right: none;
    font-size: 14px;
    color: #909090;
    font-family: 'montserratmedium', sans-serif;
}

.login_wrapper .input-group-text {
    background: #fff;
    border-left: none;
    border-color: #cdcdcd;
}
.forgot_pw_link{margin-top: 23px; margin-bottom: 23px; font-size:14px; font-weight:500;}
.forgot_pw_link:hover{text-decoration:underline; color:#fd9625;}
.signup_ll{color:#333; font-size:14px;}
.login-copyright{color:rgba(255,255,255,0.30); font-size:15px; position:absolute; bottom:2%; left:50%; transform:translateX(-50%);}
@media screen and (max-width: 1800px) { .mobile-img2 { bottom: -18%; max-width: 500px; }
  .mobile-img { max-width: 450px; left: -15%; top: -11%; } }
@media screen and (max-width: 1400px) { .banner_text { padding-left: 15px; }
  .tablet-img { max-width: 850px; right: -33%; } }
@media screen and (max-width: 1200px) {
	h1{font-size: 45px}
	h2{font-size: 35px;}
	.owner_quote p{font-size:22px;}
 .banner_text h2, .banner_text h1 { font-size: 45px; }
 .banner_text h4 { font-size: 22px; }
.nav_element{padding:0 13px;}
}
@media screen and (max-width: 992px) { #header { padding-top: 12px; padding-bottom: 12px; }
  .menu_btn { display: block; }
  .header_wrap .button-primary { display: none; }
   #main { position: fixed; padding: 30px 0 30px 0; display: block; background: rgb(3,185,184); 
background: -webkit-gradient(linear,  left top, right top,  from(rgba(3,185,184,1)),color-stop(85%, rgba(2,154,199,1))); 
background: -o-linear-gradient(left,  rgba(3,185,184,1) 0%,rgba(2,154,199,1) 85%); 
background: linear-gradient(to right,  rgba(3,185,184,1) 0%,rgba(2,154,199,1) 85%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03b9b8', endColorstr='#029ac7',GradientType=1 ); left: -280px; top: 0px; z-index: 10; width: 280px;  height: 100%;overflow-y: auto;  -webkit-transform: translateX(0);  -ms-transform: translateX(0);  transform: translateX(0); -webkit-transition: 0.3s -webkit-transform ease; transition: 0.3s -webkit-transform ease; -o-transition: 0.3s transform ease; transition: 0.3s transform ease; transition: 0.3s transform ease, 0.3s -webkit-transform ease; }

  #main.nav_open { -webkit-transform: translateX(280px); -ms-transform: translateX(280px); transform: translateX(280px); }
  .nav_element { display: block; vertical-align: middle; padding: 8px 15px; }
  .nav_element + .nav-element { margin-left: 0; }
  .nav_element a:after{display: none;}
  .banner_text { text-align: center; }
  .banner_wrap { padding-top: 100px; }
  .banner_wrap:before, .testimonial_wrap:before, .testimonial_wrap:after, .footer_wrap:before, .inner_banner_wrap:after { height: 94px; }
  .app_slider .slick-dots { bottom: 0; }
  .app_slide_wrap { position: relative; padding-top: 100px; padding-bottom: 80px; }
  .app_slide_wrap:before { display: none; }
  .app-detail { max-width: 100%; margin-bottom: 50px; }
  .faq_img { margin-bottom: 25px; }
  .faq_img img { display: block; margin: 0 auto; }
  /*.footer_wrap:before { height: 30%; }*/
  .social_link li + li { margin-left: 6px; }
  .hidden-md { display: none; }
  .testimonial_head h2 { font-size: 40px; }
  .testimonial_wrap { padding-top: 100px; padding-bottom: 100px; } 
  .inner_banner_wrap{height: 357px;}
  .media .recent-post-img{padding-top: 80px;}
}
@media screen and (max-width: 767px) { .features_wrap { margin-top: 50px; }
  .app_slide_wrap { position: relative; padding-top: 50px; padding-bottom: 50px; }
  .pricing_box:before, .pricing_box:after { display: none; }
  .faq_wrap { padding-top: 50px; margin-bottom: 50px; }
  .cta_wrap h2 { font-size: 30px; }
  .cta_wrap .btn ~ .btn { margin-left: 0; }
  .cta_wrap .btn { margin-top: 12px; }
  .cta_wrap { padding: 50px 30px 60px; margin-bottom: -145px; }
  .footer_bottom { margin-top: 50px; }
  .other_link { text-align: center; margin-bottom: 15px; }
  .copyright { text-align: center; }
  .footer_logo { text-align: center; }
  .pricing_wrap { padding-bottom: 100px; } 
  .featured_text h2{font-size: 30px;}
  .featured_row .row{margin-bottom: 70px;}
  .featured_row{margin-top: 50px;}
  .app_slider .slick-dots { bottom: 15px; margin-bottom: 0; }
  .blog-title{font-size: 23px;}
  .core_value_list h4{font-size:18px;}
  .team-memeber-detail h4{font-size:18px;}
}
@media screen and (max-width: 640px) { 
	.solution_box_wrap { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
	.step .nav-link{font-size:12px; line-height:1.40;}
	.step .nav-tabs .nav-item:after{display:none;}
	.step-icon{width:40px;height:40px;}
	.step-form{padding:30px;}
	.step .nav-tabs{flex-wrap:wrap;}
	.step-form form{margin-top: 25px;}
	.step-form h3{font-size:22px;}
	.step .nav-tabs .nav-item{width:50%;}
  .solution_box { padding-bottom: 25px; }
  .single-features { padding-right: 15px; }
  .single-features-detail h2 { font-size: 18px; }
  .section_head h2 { font-size: 30px; }
  .section_head h4 { font-size: 13px; }
  .banner_text h2, .banner_text h1 { font-size: 30px; }
  h1{font-size: 30px}
  h2{font-size: 25px;}
  h3{font-size: 20px}
  h4{font-size: 18px}
  h5{font-size: 16px;}
  .banner_text h4 { font-size: 18px; }
  .btn { font-size: 16px; }
  .banner_wrap { padding-bottom: 70px; }
  .banner_wrap:before, .testimonial_wrap:before, .testimonial_wrap:after, .inner_banner_wrap:after { height: 50px; }
  .features_wrap .section_head { margin-bottom: 30px; }
  .app-detail p { font-size: 14px; }
  .app-detail h6 { font-size: 16px; }
  .app_slide_wrap { padding-bottom: 0; padding-top: 30px; }
  .soluion_wrap { padding-top: 50px; padding-bottom: 30px; }
  .price_head h2 { font-size: 22px; }
  .price_head h3 { font-size: 22px; }
  .price_head h3 span { font-size: 44px; }
  .price_head p { font-size: 16px; }
  .faq_answer p { font-size: 14px; }
  .accordion > li > a { font-size: 16px; }
  .cta_wrap .btn { font-size: 16px; }
  .cta_wrap h2 { font-size: 25px; margin-bottom: 20px; }
  .footer_nav ul { width: 100%; float: none; }
  .footer_wrap { text-align: center; }
  .testimonial_head h2 { font-size: 30px; }
  .testimonial_slide p { font-size: 18px; line-height: 27px; }
  .author_name { font-size: 18px; }
  .testimonial_wrap { padding-top: 70px; padding-bottom: 50px; }
  .footer_wrap:before { height: 93px; }
  .featured_text h2{margin-bottom: 25px; font-size: 25px;}
  .featured_text p, .featured_text ul li p{line-height: 27px;}
  .featured_text p, .featured_text ul li p, .featured_text ul li{font-size: 14px;}
  .light.cc_dialog button.cc_b_ok{min-width:255px; margin-bottom: 10px;}
  .cc_dialog button.cc_b_cp{margin-left:0 !important;}

  .single_blog_row .col-6{flex:0 0 100%; max-width: 100%;}
  .single_blog{margin-bottom: 25px;}
  .advertisement h2{font-size: 40px;}
  .article_body h2{font-size: 25px;}
  .article_body h3{font-size: 22px;}
  .article_body p{font-size: 14px;}
  .share-icon li a{width: 30px; height: 30px; font-size: 14px;}
  .cc_dialog { padding: 1.5rem 1rem !important;}
 .light.cc_dialog .cc_dialog_headline{font-size: 25px;}
 .light.cc_dialog .cc_dialog_text{font-size: 14px;}
 div.laptop-wrapper iframe, div.laptop-wrapper video {
 	padding:13.5% 15.5% 17%;
 }
}
@media screen and (max-width: 480px) {
  .section_head h2 { font-size: 25px; }
  .solution_box { padding-left: 15px; padding-right: 15px; }
  .section_head br { display: none; }
  .other_link a { padding: 0; }
  .blog-title{font-size: 20px;}
  .share-icon { width: 100%;  margin-top: 16px;}
  .article_body h2{font-size: 20px;}
  .article_body h3{font-size: 18px;}
}
