/** CUSTOM STYLE HERE **/

/** Image sourse sample
  background-image: url('../../assets/images/IL-hero.jpg');
**/

body{
  font-family: 'Titillium Web', sans-serif !important;
  color: #212529;
}
body,
html {
  width: 100%;
}
html {
  position: relative;
  min-height: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
p,
ul,
li {
  font-size: 1rem !important;
}
a {
  color: #02b3b9;
}
a:hover {
  color: #45ac9b;
  text-decoration: none;
}
.wht {
  color: #fff !important;
}
.bg-tcolor {
  color: #02b3b9;
}
.text-center {
  text-align: center !important;
}
.t-upper {
  text-transform: uppercase;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.mt-50 {
  margin-top: 50px;
}
.fw-600 {
  font-weight: 600;
}
.blue-bg {
  /*background: #4dc0ae;*/
  background: linear-gradient(150deg, #03bcb6 15%, #01a9be 70%, #0298c8 94%)!important;
}
.fixed-top {
  /*background: #4dc0ae;*/
  /*background: linear-gradient(150deg, #03bcb6 15%, #01a9be 70%, #0298c8 94%)!important;*/
}
.img-responsive {
  width: 100%;
}
.full-height {
  height: 100vh;
}
.shopping-cart .btn-outline-info:hover,
.shopping-cart .btn-outline-secondary:hover {
  background: none !important;
  color: #02b3b9 !important;
}
.shopping-cart .btn-light {
  color: #fff !important;
}
.text-center {
  text-align: center;
}
.btn {
  text-transform: uppercase;
  font-size: 1.2rem !important;
  border: 0;
}
.heading {
  margin-bottom: 50px;
}
.btn-blue {
  background-color: #0298c8 !important;
  border: 0;
}
.btn-blue:hover {
  background-color: #018cb8 !important;
}
.brand-logo {
  width: 8%;
  transition: all 0.2s ease-out;
}
.brand-logo-shrink {
  width: 8%;
  transition: all 0.2s ease-out;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  padding-right: .9rem;
  padding-left: .9rem;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, .5);
}
.navbar-dark .navbar-nav .login-text {
  color: #ffd763 !important;
}
.masthead {
  width: 100%;
  height: 800px;
  /* overflow: hidden; */
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg, #03bcb6 15%, #01a9be 70%, #0298c8 94%);
  padding-top: 250px;
}
.masthead .content,
.masthead .devices {
  transform: skewY(12deg);
}
.masthead .col-5 img {
  position: absolute;
  top: -160px;
}
.fw-700 {
  font-weight: 700;
}
/**
.automated-message,
.about-us {
  padding: 100px 0;
}
.membership {
  padding: 100px 0 150px 0;
}**/

.shopping-cart-div {
  padding: 100px 0;
}
.contact-us,
.services {
  background: #f6f9fc;
}
.services .list-group-item {
  border: 0;
}
.services li {
  margin-bottom: 15px;
}
.services .services-bullet .fas {
  color: #0298c8 !important;
  font-size: 12px;
}
.services .services-icons .fas {
  font-size: 40px;
  color: #02b3b9 !important;
  margin-bottom: 15px;
}
.services .services-title {
  margin-left: 10px;
  font-size: 20px;
}
.services .services-icons li {
  margin-bottom: 25px;
}
.compatibility .table,
.faq .table {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid #dee2e6;
  text-align: center;
}
.compatibility .table td,
.compatibility .table th {
  border-right: 1px solid #dee2e6;
}
.footer {
  background: #212529;
  padding: 10px 0;
}
.footer p {
  font-size: 14px !important;
  color: #fff;
  text-align: center;
}
.dropdown-menu.show {
  display: block;
  width: 200px;
  padding: 15px;
}
.dropdown-menu .form-group {
  margin: 0;
}
.membership .plan-box1 {
  background: linear-gradient(150deg, #03bcb6 15%, #01a9be 70%, #0298c8 94%);
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 20px solid #ffffff8c;
  max-width: 650px;
}
.membership .plan-box1 .small {
  font-size: 80% !important;
  line-height: 14px;
}
.membership .reqd {
  color: red;
}
.membership .modal-content label {
  color: #000 !important;
  text-align: left;
  float: left;
}
.membership .plan-box2 {
  padding: 30px;
}
.membership .fa-li {
  position: unset !important;
  margin-right: 10px;
}
.contact-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  height: 100vh;
}/*
.login,
.about-us,
.membership,
.compatibility,
.faq,
.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  height: 100vh;
}*/
.membership .row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.login #formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 20px 0 0 0;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 1px solid #f1f1f1;
  margin: 0 auto;
}
.login #formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.login input[type=button],
input[type=submit],
input[type=reset],.signupbtn {
  background-color: #4dc0ae;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(77, 192, 174, 0.28);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.login input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #43b7a5;
}
.login input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.login input[type=text],
.login input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.login input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
.login input[type=text]:placeholder {
  color: #cccccc;
}
.login .underlineHover {
  color: #4dc0ae;
}
.quantity {
  float: left;
  margin-right: 15px;
  background-color: #eee;
  position: relative;
  width: 80px;
  overflow: hidden
}
.quantity input {
  margin: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 0;
  float: right;
  color: #000;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: #F6F6F6;
}
.quantity input.qty {
  position: relative;
  border: 0;
  width: 100%;
  height: 40px;
  padding: 10px 25px 10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  background-clip: padding-box
}
.quantity .minus,
.quantity .plus {
  line-height: 0;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-size: 6px 30px;
  -moz-background-size: 6px 30px;
  color: #bbb;
  font-size: 20px;
  position: absolute;
  height: 50%;
  border: 0;
  right: 0;
  padding: 0;
  width: 25px;
  z-index: 3
}
.quantity .minus:hover,
.quantity .plus:hover {
  background-color: #dad8da
}
.quantity .minus {
  bottom: 0
}
.myaccordion {
  max-width: 900px;
  margin: 0 auto;
}
.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}
.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}
.myaccordion .fa-stack {
  font-size: 10px;
}
.myaccordion .btn {
  width: 100%;
  color: #03bcb6;
  padding: 0;
  text-transform: inherit;
  text-align: left;
  font-size: 16px !important;
}
.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}
.myaccordion li + li {
  margin-top: 10px;
}
.login input[type=email] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.login input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
.login input[type=email]:placeholder {
  color: #cccccc;
}
.login select {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align-last: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  height: 58px;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.login select:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
@media (min-height: 600px) {
  .login,
  .membership,
  .compatibility,
  .services {
    /* height: auto; */
    padding: 100px 0;
  }
}
@media (max-width: 1366px) {
  .masthead .devices img {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .navbar-toggler {
    margin-right: 20px;
  }
  .fixed-top {
    background: #4dc0ae !important;
    background: linear-gradient(150deg, #03bcb6 15%, #01a9be 70%, #0298c8 94%)!important;
  }
  #purechat-container .purechat-launcher-frame.purechat-launcher-frame-bottom-right {
    bottom: 6% !important;
  }
}
@media (max-width: 480px) {
  .fixed-top {
    background: linear-gradient(150deg, #03bcb6 15%, #01a9be 70%, #0298c8 94%)!important;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 15px;
  }
  .btn {
    font-size: 1rem !important;
  }
  .brand-logo-shrink {
    width: 8%;
  }
  .masthead .my-auto {
    margin-top: unset !important;
  }
  .masthead .col-7,
  .masthead .col-5,
  .services .col-4,
  .services .col-8,
  .membership .col,
  .plan-box1 .col-6 {
    max-width: 100%;
    width: 100%;
  }
  .plan-box1 .col-6 {
    border: none !important;
    margin-bottom: 40px;
  }
  .masthead .row,
  .services .row,
  .membership .row {
    display: unset !important;
  }
  .services .col-4 {
    text-align: center;
  }
  .masthead .devices img {
    width: 50%;
  }
  .masthead .col-5 img {
    top: 50px;
    left: 105px;
  }
  .services h5 {
    font-size: 16px;
  }
  .services {
    padding-top: 100px;
  }
  .coupon-code {
    margin-bottom: 20px;
  }
  .shopping-cart .card-body .col-2,
  .shopping-cart .card-body .col-6,
  .shopping-cart .card-body .col-4 {
    width: 100%;
    max-width: 100%;
    flex: unset;
    text-align: left !important;
  }
  #purechat-container .purechat-launcher-frame.purechat-launcher-frame-bottom-right {
    bottom: 10% !important;
  }
  .navbar-toggler {
    margin-right: 0;
  }
  .faq .myaccordion .faq1 .fa-stack-2x {
    margin-left: -2px !important;
  }
  .footer {
    padding: 10px 30px;
  }
}
@media (max-width: 375px) {
  .services h5 {
    font-size: 12px;
  }
  .services .fa-ul {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .services .services-title {
    font-size: 18px;
  }
  .faq .myaccordion .faq1 .fa-stack-2x {
    margin-left: -4px !important;
  }
}
@media (max-height: 650px) {
  .contact-us {
    height: auto !important;
    padding: 100px 0 !important;
  }
}
.cart-page .card-header {
  background: #fff;
  margin-bottom: 0;
}
.cart-page input,
.cart-page select {
  margin-bottom: 10px;
}
.cart-page .btn-warning {
  color: #fff !important;
}
.cart-page .btn-link {
  color: #02b3b9;
}
.cart-page .order-summary {
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 30px;
}
.cart-page .order-summary h4 {
  font-weight: bold;
  color: #02b3b9;
}
.cart-page .cc-cards i {
  margin: 0 3px;
  font-size: 24px;
}
.membership .plan-box1 .plan button {
  font-size: 12px !important;
}
.cart-icon .fa-stack[data-count]:after {
  position: absolute;
  right: 20%;
  top: 0%;
  content: attr(data-count);
  font-size: 50%;
  padding: .6em;
  border-radius: 50%;
  line-height: .75em;
  color: #fff;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: #DF0000;
  border-style: none;
}
.cart-icon .fa-circle {
  color: #DF0000;
}
.cart-icon .red-cart {
  color: #DF0000;
  background: white;
}
.cart-page .card-header .btn {
  font-size: 1.5rem !important;
}
.cart-page .sc-cart-item-qty {
  width: 50px;
  padding: 0px 5px;
}
.cart-page .smartcart .sc-cart-heading .badge {
  color: #03b8b8;
}
.cart-page button.remove-product {
  border: 0;
}
 .cart-page  .billing-address .box{
  display: none;
  margin-top: 20px;
}

@media (max-width: 576px) {
.cart-page .product-item .cart-quantity input {
  width: 35px !important;
}
.cart-page button.remove-product {
  font-size: 11px;
}
.cart-page .product-item h4 {
  font-size: 1rem;
}
}

@media (max-width: 375px) {
.cart-page .column-labels .col,
.cart-page .product-item .col {
  padding-right: 5px;
  padding-left: 5px;
}
}

.cta {
  background: url(../../img/yellow-bg.jpg) center 0 no-repeat fixed #ffd763;
  color: #000;
  padding: 20px 0;
  background-size: cover;
}
.yellow .wrap {
    min-height: 176px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.yellow__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
}
.yellow__title {
    font-size: 37px;
    margin-right: 80px;
}
.pre-footer .title {
  font-weight: 600;
  color: #02b3b9 !important;
}
.slider-carousel .carousel-inner .carousel-item {
  padding: 0 200px !important;
}
.slider-carousel .carousel-inner {
  margin-bottom: 60px;
}
.slider-carousel .carousel-control-prev-icon::before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f053";
  color: #4dc0ae;
  font-size: 20px;
  background-image: unset !Important;
}
.slider-carousel .carousel-control-next-icon::before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f054";
  color: #4dc0ae;
  font-size: 20px;
  background-image: unset !Important;
}
.slider-carousel .carousel-indicators li {
  background-color: #03bcb6;
}
.jervis-modal .modal-dialog {
  max-width: 700px;
}


button #_form_5EC5D76750048_ ._submit,
._form-content {
  font-family: 'Titillium Web', sans-serif !important;
}

.price-plan{
        background: #f6f9fc;
    }
    .business .plan-price {
    padding: 44px 0 37px 0;
}
     .plan-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #212121;
    padding: 16px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.plan-price .price-currency {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    text-align: right;
    font-size: 18px;
    line-height: 18px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-top: 12px;
}
.plan-price .price-value {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    font-size: 64px;
    padding: 0 8px;
    line-height: 74px;
}
.plan-price .price-period {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 18px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-bottom: 8px;    
}
.business .plan-price .price-value {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.ui-widget-content {
	border: 5px solid #bdc3c7;
	background: #e1e1e1;
	color: #222222;
	margin-top: 4px;
        margin-left: -15px !important;
        margin-right: -15px !important;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 3.2em;
	height: 2.2em;
	cursor: default;
	margin: 0 -40px auto !important;
	text-align: center;	
	line-height: 30px;
	color: #FFFFFF;
	font-size: 15px;
}
.ui-corner-all {
	border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.6em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #f9f9f9;
	background: #4dc0ae;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.5em !important;
}

.ui-slider .ui-slider-handle {
	cursor: pointer;
        outline: none;
}

.ui-slider a,
.ui-slider a:focus {
	cursor: pointer;
	outline: none;
}

.ui-slider-range-min {
	background: #2980b9;
}

.plan-header-bottom {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.plan-header-bottom .plan-bottom-title {
    background: #69b84a;
    border-radius: 24px;    
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: 1px;    
    color: #fff;
    padding: 3px 10px;
}