{% extends "layout_manager.html" %} {% block title %}User{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Search User</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="#inviteRoleUser" data-toggle="modal" data-target="#inviteRoleUser" class="btn btn-warning"><i class="icon icon-user-plus"></i> Invite user</a>
                        <div class="modal invite_modal fade text-left" id="inviteRole" tabindex="-1" role="dialog" aria-labelledby="Invite role"  aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                 <form class="needs-validation" novalidate>
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel18">Invite person to role</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <input class="form-control" type="hidden" placeholder="Property Id" id="propertyid" name="propertyid" value="{{propertyId}}" />
                                                <label>First Name:</label>
                                                <input class="form-control" type="text" placeholder="Fisrt Name" id="firstname" name="firstname" />
                                            </div>
                                            <div class="form-group">
                                                <label>Last Name:</label>
                                                <input class="form-control" type="text" placeholder="Last Name" id="lastname" name="lastname" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="hidden" placeholder="Property Id" name="propertyid" value="{{propertyId}}" />
                                                <label>Email</label>
                                                <div class="position-relative has-icon-right">
                                                    <input class="form-control" type="text" placeholder="john@gmail.com" id="email" name="email" />
                                                    <div class="form-control-position">
                                                        <i class="icon icon-mail"></i>
                                                    </div>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Looks like you did not enter a valid email!
                                                    </div>
                                                </div>
                                                <p><strong>Note:</strong> <i>An email will be sent with a special link that will give them a role in this property.</i></p>
                                            </div>
                                            <div class="form-group">
                                                <label>Role</label>
                                                <select class="form-control" name="role_id">
                                                    {% for role in roles %}
                                                    <option value="{{role.role_id}}" {% if role.role_name == 'Property manager' %} selected="selected"{% endif %}>{{role.role_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="submit" class="btn btn-warning">
                                            <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                                            Invite
                                        </button>
                                        <button type="button" class="btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="inviteRoleUser" tabindex="-1" role="dialog" aria-labelledby="Invite role">
            <form class="needs-validation" novalidate>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Invite person to role</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                           <div class="form-group">
                                <input class="form-control" type="hidden" placeholder="Property Id"  name="propertyid" value="{{propertyId}}" />
                                <label>
                                    Email
                                    <input class="form-control" type="text" placeholder="john@gmail.com" name="email" />
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Looks like you did not enter a valid email!
                                    </div>
                                </label>
                                <div class="text-muted">
                                    An email will be sent with a special link that will give them a role in this property.
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Role
                                    <select class="form-control" name="role_id">
                                        {% for role in roles %}
                                        <option value="{{role.role_id}}" {% if role.role_name == 'Property manager' %} selected="selected"{% endif %}>{{role.role_name}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                                Invite
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="content-body">
            <section class="properties-listing checklist_status">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form method="POST" action="/manager/user/search-user" id="search_form" @submit.prevent="search">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <select class="form-control countries" name="country" id="countryId" required>
                                                            <option value="">Select Country</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <select name="state" id="stateId" class="form-control states">
                                                            <option value="">Select State</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <select name="city" class="cities form-control" id="cityId">
                                                            <option value="">Select City</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" id="zipcode" name="zipcode" placeholder="Zipcode" />
                                                    </div>
                                                </div>
                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light"><i class="icon icon-search"></i>Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Search Results</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing checklist_status">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0" id="user_list_table" hidden="hidden">
                                            <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %} {% block afterJs %}
<script src="js/countrystatecity.js"></script>
<script type="text/javascript" src="js/manager_user_search.js"></script>

{% endblock %}