{% extends "layout_manager.html" %} {% block title %}User{% endblock %} 

{% block afterCSS %}
<link rel="stylesheet" type="text/css" href="manager/vendors/css/forms/select/select2.min.css" />
<style>
    .dropdown-toggle {
     white-space: normal; 
}
</style>    
 {% endblock %}
{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">List User</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="/manager/user/add-user?property_id={{propertyId}}" class="btn btn-warning"><i class="icon icon-search"></i> Search user</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing checklist_status">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>First Name</th>                                                   
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Role</th>
                                                    <th>Operations </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for key,propertyDatas in propertyData %}
                                                <tr>
                                                    {% if roleId is empty %}
                                                    <td>{{propertyDatas['first_name']}}</td>                                                   
                                                    <td>{{propertyDatas['last_name']}}</td>                                                   
                                                    <td>{{propertyDatas['email']}}</td>
                                                    <td>{{propertyDatas['mobile']}}</td>
                                                    <td>{{roleName['Name'][key]}}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button" data-toggle="dropdown"><i class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                <a class="dropdown-item" href="manager/schedule/booking?property_id={{propertyId}}&user_id={{propertyDatas['id']}}">Calender</a>
                                                                <a class="dropdown-item editrole" href='#' data-toggle="modal" data-target="#inviteRole" data-id="{{propertyDatas['user_id']}}" data-roleid="{{roleName['id'][key]}}">Edit</a>
                                                                <a class="dropdown-item deleteuser"  style="color: #5867dd;cursor:pointer;" data-userid="{{propertyDatas['id']}}">Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    {% else %} {% if roleId in roleName['id'][key] %}
                                                    <td>{{propertyDatas['first_name']}}</td>                                                   
                                                    <td>{{propertyDatas['last_name']}}</td>                                                   
                                                    <td>{{propertyDatas['email']}}</td>
                                                    <td>{{propertyDatas['mobile']}}</td>
                                                    <td>{{roleName['Name'][key]}}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button" data-toggle="dropdown"><i class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">                                                               
                                                                <a class="dropdown-item" href="manager/schedule/booking?property_id={{propertyId}}&user_id={{propertyDatas['id']}}">Calender</a>
                                                                <a class="dropdown-item editrole" href='#' data-toggle="modal" data-target="#inviteRole" data-id="{{propertyDatas['user_id']}}" data-roleid="{{roleName['id'][key]}}">Edit</a>                                                                    |
                                                                <a class="dropdown-item deleteuser" style="color: #5867dd;cursor:pointer;" data-userid="{{propertyDatas['id']}}">Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    {% endif %} {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Invited Users</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing checklist_status">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Invited Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for invitedUserDatas in invitedUserData %}
                                                <tr>
                                                    <td>{{invitedUserDatas['first_name']}}</td>
                                                    <td>{{invitedUserDatas['last_name']}}</td>
                                                    <td>{{invitedUserDatas['email']}}</td>
                                                    <td>{{invitedUserDatas['created']}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="inviteRole" tabindex="-1" role="dialog" aria-labelledby="Invite role">
    <input type="hidden" class="form-control proprtyid" name="propertyId" value="{{propertyId}}">
    <form class="needs-validation" id="rollupdateform" novalidate>
        <input type="hidden" class="form-control userid" name="userId">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">                    
                    <div class="form-group">
                        <label>Role</label>

                        <select  type="text" class="multiselect form-control selectpicker" multiple="multiple" role="multiselect"  data-live-search="true" name="role_id[]" id="role_name">
                            {% for role in roles %}
                                <option value="{{role.id}}">{{role.role_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary updateroll">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %} {% block afterJs %}
<script src="manager/js/scripts/forms/select/form-select3.js"></script>
<script type="text/javascript" src="js/manager_user_edit.js"></script>
{% endblock %}