<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <base href="/">
        <title>Jervis Systems - House Rules & Rental Agreement</title>
        
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link href="/css/signature_pad.css" rel="stylesheet">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/signature_pad.min.js"></script>
    </head>
    <body>
        <div class="container">    
            <!-- Container Start -->
            <div class="row">
                <!-- Row Start -->           
                <div class="col-md-12">
                    <input type='hidden' id="code" value="{{code}}">
                    {{content|raw}}  
                    <button type="submit" class="btn btn-primary" id="save-pdf" style="margin-bottom: 50px" ><span role="status" aria-hidden="true" class="spinner-border spinner-border-sm invisible"></span> Agree & Submit</button>                      
                </div>             
            </div>
        </div>        
        <script>
            $(document).ready(function() {
                var canvas = document.getElementById('signature-pad');
                function resizeCanvas() {
                    var ratio =  Math.max(window.devicePixelRatio || 1, 1);
                    canvas.width = canvas.offsetWidth * ratio;
                    canvas.height = canvas.offsetHeight * ratio;
                    canvas.getContext("2d").scale(ratio, ratio);
                }
                window.onresize = resizeCanvas;
                resizeCanvas();
                var signaturePad = new SignaturePad(canvas, {
                    backgroundColor: 'rgb(255, 255, 255)' 
                });
                $("#clear").click(function() {
                    signaturePad.clear();
                });  
                
                $("#save-pdf").click(function(event) {
                    var btn = $(this);
                    if (signaturePad.isEmpty()) {
                        alert("Please sign the document.");
                        return false;
                    } else {
                        var dataURL = signaturePad.toDataURL();                        
                    }
                    btn.find('span').removeClass("invisible");
                    btn.attr("disabled","disabled");

                    event.preventDefault(); //prevent default action
                    var post_url = '/manager/agreement/generate-pdf' //get form action url     
                    var form_data = new FormData();
                    form_data.append("signature_url", dataURL);  
                    form_data.append("code", $("#code").val());                            
                    $.ajax({
                        url: post_url,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                        data: form_data,
                        dataType: 'text',
                    }).done(function(response) {                        
                        location.reload();
                        btn.find('span').addClass("invisible").removeAttr("disabled");
                        btn.removeAttr("disabled");
                    }).fail(function() {
                        location.reload();
                        btn.find('span').addClass("invisible").removeAttr("disabled");
                        btn.removeAttr("disabled");
                    });
                });
            });
        </script>
    </body>
</html>