{% extends "layout_public.html" %}

{% block title %}About{% endblock %}

{% block content %}

<section class="container-fluid inner_banner_wrap">
    <div class="row">
        <div class="container">
            <div class="banner_text" data-aos="fade-up" data-aos-duration="2000">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid about_feat_wrap">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">

                    <div class="about_feat_left pr-4" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                        <h2>About Jervis Systems: The Start </h2>
                        <!-- <p>Jervis Systems was born from many of the capabilities we built to meet the needs for a rental property in Ashburn, VA that we call Loudoun Escape.  I was constantly looking for ways to optimize the way we did things from a process improvement and smart home automation perspective.  I had several property owners and property managers reach out to me who heard about some of our automation.  Jervis is our way to offer the aspects we perfected for rental management to the world.</p> -->
                        <p>Jervis Systems was born from many of the capabilities we built to meet the needs for a rental
                            property in Ashburn, Virginia that we call <a href="https://www.loudounescape.com/">Loudoun
                                Escape</a>. Our slogan for that property and business is “Business Travel Perfected”. I
                            was constantly looking for ways to optimize the way we did things from a process improvement
                            and smart home automation perspective. Tuo me, automation and process improvement mean less
                            room for error, less confusion and frustration and the ability for repeatable tasks to be
                            completed automatically and seamlessly. Our approach for business, our customer service and
                            our automation stand out with our guests and others who heard about what we have done. </p>
                        <p>Several property owners and property managers reached out to me who heard about some of our
                            automation and things we were doing and working on for Loudoun Escape. They asked me if I
                            would like to manage their properties and set up the same automation. I had not made any of
                            our capabilities at Loudoun Escape for the world to “plug” into or “use”. Developing Jervis
                            has been a journey of learning for me and our team on creating our capabilities as a
                            Software as a Service (SaaS) geared as a rental management platform. </p>
                        <p>We’ve established great partnership with incredible companies and people over the past few
                            years. We also have several patent pending capabilities now of features we were working on
                            for Loudoun Escape that we will offer with Jervis Systems. </p>
                        <p>Jervis is our way to offer the aspects we perfected for rental management for Loudoun Escape
                            to the world. As we started to build out our rental management platform, we realized there
                            is so much we can automate and streamline. There is also the ability to connect property
                            staff (property managers and property owners) and vendors (handyman companies, cleaning
                            companies and more) and facilitate services, payments and much more. There is also much more
                            that can be done. The possibilities seem endless! </p>
                        <p>My goal with Jervis Systems is to build a platform that anyone can use for fun, for personal
                            use or business use and to build a community around it. We do not want Jervis Systems to be
                            limited to only those with a handful of properties. We want any property owner or property
                            manager to sign up whether you have one property or 1000. I want to build a community around
                            Jervis Systems where we solve real problems and have fun while we do it. </p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12">

                    <div class="about_feat_right" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500">
                        <blockquote>
                            <div class="owner_quote">
                                <p>My goal with Jervis to build a platform that anyone can use and to build a community.
                                </p>
                            </div>
                            <div class="quote_author">
                                <h4 class="mont-bold mb-1">BOBBY VARGHESE</h4>
                                <p class="mont-italic">OWNER at Jervis Systems</p>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid core_value_wrap">
    <div class="row">
        <div class="container">
            <div class="section_head text-center">
                <h2>Our Core Values</h2>
            </div>
            <ul class="core_value_list">
                <li class="col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <div class="single_value_wrap">
                        <div class="core-value-icon">
                            <img src="img/about-icons/1.png" width="93" class="img-fluid">
                        </div>
                        <h4 class="mont-semibold">Integrity</h4>
                        <p>We hold ourselves accountable to be honest about what we do and plan to do.</p>
                    </div>
                </li>
                <li class="col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    <div class="single_value_wrap">
                        <div class="core-value-icon">
                            <img src="img/about-icons/2.png" width="93" class="img-fluid">
                        </div>
                        <h4 class="mont-semibold">PASSION</h4>
                        <p>We love what we do. We want to consistently learn, grow and creatively solve problems. </p>
                    </div>
                </li>
                <li class="col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                    <div class="single_value_wrap">
                        <div class="core-value-icon">
                            <img src="img/about-icons/3.png" width="93" class="img-fluid">
                        </div>
                        <h4 class="mont-semibold">Focus</h4>
                        <p>We aim to remain focused to perfect the processes that lead others to success.</p>
                    </div>
                </li>
                <li class="col-6 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1200">
                    <div class="single_value_wrap">
                        <div class="core-value-icon">
                            <img src="img/about-icons/4.png" width="93" class="img-fluid">
                        </div>
                        <h4 class="mont-semibold">Transparency</h4>
                        <p>We want to be transparent with our users on our policies and what we offer.</p>
                    </div>
                </li>
                <li class="col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1600">
                    <div class="single_value_wrap">
                        <div class="core-value-icon">
                            <img src="img/about-icons/5.png" width="93" class="img-fluid">
                        </div>
                        <h4 class="mont-semibold">Excellence</h4>
                        <p>We strive for stellar user experiences, quality integrations and constant innovation. </p>
                    </div>
                </li>
                <li class="col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="2000">
                    <div class="single_value_wrap">
                        <div class="core-value-icon">
                            <img src="img/about-icons/6.png" width="93" class="img-fluid">
                        </div>
                        <h4 class="mont-semibold">Customer Service</h4>
                        <p>We provide consistent, responsive support to our user community. </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid team-wrap">
    <div class="row">
        <div class="container">
            <div class="section_head text-center">
                <h4>OUR TEAM</h4>
                <h2>Global Team. United Skills.</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-6">
                    <div class="single-team" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <div class="team-memeber-img">
                            <img src="img/team-img.jpg" class="img-fluid rounded-circle" height="255" width="255">
                        </div>
                        <div class="team-memeber-detail">
                            <h4 class="mont-semibold">Bobby Varghese</h4>
                            <p>Owner</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="single-team" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                        <div class="team-memeber-img">
                            <img src="img/team-img2.jpg" class="img-fluid rounded-circle" height="241" width="240">
                        </div>
                        <div class="team-memeber-detail">
                            <h4 class="mont-semibold">Lauren Shroll</h4>
                            <p>Lead Integration Project Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="single-team" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
                        <div class="team-memeber-img">
                            <img src="img/team-img3.jpg" class="img-fluid rounded-circle" height="238" width="239">
                        </div>
                        <div class="team-memeber-detail">
                            <h4 class="mont-semibold">Amber Bockin</h4>
                            <p>Special Projects Consultant</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="single-team" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000">
                        <div class="team-memeber-img">
                            <img src="img/team-img4.jpg" class="img-fluid rounded-circle" height="241" width="241">
                        </div>
                        <div class="team-memeber-detail">
                            <h4 class="mont-semibold">Alper Okutgan</h4>
                            <p>Lead Programmer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="single-team" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1300">
                        <div class="team-memeber-img">
                            <img src="img/team-img5.jpg" class="img-fluid rounded-circle" height="240" width="240">
                        </div>
                        <div class="team-memeber-detail">
                            <h4 class="mont-semibold">Janine Marie Cruz</h4>
                            <p>Lead Web & Graphics Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="single-team" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1700">
                        <div class="team-memeber-img">
                            <img src="img/team-img6.jpg" class="img-fluid rounded-circle" height="240" width="240">
                        </div>
                        <div class="team-memeber-detail">
                            <h4 class="mont-semibold">Mahesh Kaila</h4>
                            <p>Senior Programmer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block afterJS %}
<noscript>Cookie Consent by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
{% endblock %}