{% extends "layout_public.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="css/contact_form.css" />

<section class="container-fluid inner_banner_wrap">
    <div class="row">
        <div class="container">
            <div class="banner_text" data-aos="fade-up" data-aos-duration="3000">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid contact_wrap">
    <div class="row">
        <div class="container">
            <div class="section_head text-center" data-aos="fade-up" data-aos-duration="2000">
                <h4 class="mont-bold">HAVE A QUESTION</h4>
                <h2>We're a friendly bunch.</h2>
            </div>
            <div class="contact_form_wrap col-sm-12" data-aos="fade-up" data-aos-duration="2000">
                <form method="POST" action="https://jervis-systems.activehosted.com/proc.php" id="_form_6_" class="_form _form_6 _inline-form _dark" novalidate>
                     <input type="hidden" name="u" value="6" />
                            <input type="hidden" name="f" value="6" />
                            <input type="hidden" name="s" />
                            <input type="hidden" name="c" value="0" />
                            <input type="hidden" name="m" value="0" />
                            <input type="hidden" name="act" value="sub" />
                            <input type="hidden" name="v" value="2" />
                            <div class="_form-content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="firstname" placeholder="First Name" required />
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2"><img src="img/user-icon.svg" width="21" class="img-fluid"  /></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Last Name" name="lastname" required />
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2"><img src="img/user-icon.svg" width="21" class="img-fluid"  /></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    

                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="field[3]" placeholder="Company" />
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2"><img src="img/office_icon.png" width="21" class="img-fluid" /></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="phone" placeholder="Phone" />
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2"><img src="img/phone-icon.svg" width="21" class="img-fluid" /></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input type="text" name="email" class="form-control" placeholder="Email" data-name="" required>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2"><img src="img/envelope-icon.svg" width="21" class="img-fluid"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <select name="field[6]" class="form-control">
                                            <option selected>Request Type</option>

                                            <option value="Sales Inquiry">
                                                Sales Inquiry
                                            </option>

                                            <option value="Technical Question">
                                                Technical Question
                                            </option>

                                            <option value="Beta Test Request">
                                                Beta Test Request
                                            </option>

                                            <option value="Partnership Request">
                                                Partnership Request
                                            </option>

                                            <option value="Feature Request">
                                                Feature Request
                                            </option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <textarea id="" cols="30" rows="6" name="field[5]" class="form-control" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <button type="submit" id="_form_6_submit" class="_submit btn button-primary sbmt_btn">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        <div class="_form-thank-you" style="display: none;"></div>


            
                </form>

                <script type="text/javascript">
                            window.cfields = { "3": "company", "6": "request_type", "5": "message" };

                            window._show_thank_you = function (id, message, trackcmp_url) {
                                var form = document.getElementById("_form_" + id + "_"),
                                    thank_you = form.querySelector("._form-thank-you");

                                form.querySelector("._form-content").style.display = "none";

                                thank_you.innerHTML = message;

                                //thank_you.style.display = "block";

                                if (typeof trackcmp_url != "undefined" && trackcmp_url) {
                                    // Site tracking URL to use after inline form submission.

                                    _load_script(trackcmp_url);
                                }

                                if (typeof window._form_callback !== "undefined") window._form_callback(id);
                                window.location.href = window.location.origin + '/thankyou';
                            };

                            window._show_error = function (id, message, html) {
                                var form = document.getElementById("_form_" + id + "_"),
                                    err = document.createElement("div"),
                                    button = form.querySelector("button"),
                                    old_error = form.querySelector("._form_error");

                                if (old_error) old_error.parentNode.removeChild(old_error);

                                err.innerHTML = message;

                                err.className = "_error-inner _form_error _no_arrow";

                                var wrapper = document.createElement("div");

                                wrapper.className = "_form-inner";

                                wrapper.appendChild(err);

                                button.parentNode.insertBefore(wrapper, button);

                                document.querySelector('[id^="_form"][id$="_submit"]').disabled = false;

                                if (html) {
                                    var div = document.createElement("div");

                                    div.className = "_error-html";

                                    div.innerHTML = html;

                                    err.appendChild(div);
                                }
                            };

                            window._load_script = function (url, callback) {
                                var head = document.querySelector("head"),
                                    script = document.createElement("script"),
                                    r = false;

                                script.type = "text/javascript";

                                script.charset = "utf-8";

                                script.src = url;

                                if (callback) {
                                    script.onload = script.onreadystatechange = function () {
                                        if (!r && (!this.readyState || this.readyState == "complete")) {
                                            r = true;

                                            callback();
                                        }
                                    };
                                }

                                head.appendChild(script);
                            };

                            (function () {
                                if (window.location.search.search("excludeform") !== -1) return false;

                                var getCookie = function (name) {
                                    var match = document.cookie.match(new RegExp("(^|; )" + name + "=([^;]+)"));

                                    return match ? match[2] : null;
                                };

                                var setCookie = function (name, value) {
                                    var now = new Date();

                                    var time = now.getTime();

                                    var expireTime = time + 1000 * 60 * 60 * 24 * 365;

                                    now.setTime(expireTime);

                                    document.cookie = name + "=" + value + "; expires=" + now + ";path=/";
                                };

                                var addEvent = function (element, event, func) {
                                    if (element.addEventListener) {
                                        element.addEventListener(event, func);
                                    } else {
                                        var oldFunc = element["on" + event];

                                        element["on" + event] = function () {
                                            oldFunc.apply(this, arguments);

                                            func.apply(this, arguments);
                                        };
                                    }
                                };

                                var _removed = false;

                                var form_to_submit = document.getElementById("_form_6_");

                                var allInputs = form_to_submit.querySelectorAll("input, select, textarea"),
                                    tooltips = [],
                                    submitted = false;

                                var getUrlParam = function (name) {
                                    var regexStr = "[\?&]" + name + "=([^&#]*)";

                                    var results = new RegExp(regexStr, "i").exec(window.location.href);

                                    return results != undefined ? decodeURIComponent(results[1]) : false;
                                };

                                for (var i = 0; i < allInputs.length; i++) {
                                    var regexStr = "field\\[(\\d+)\\]";

                                    var results = new RegExp(regexStr).exec(allInputs[i].name);

                                    if (results != undefined) {
                                        allInputs[i].dataset.name = window.cfields[results[1]];
                                    } else {
                                        allInputs[i].dataset.name = allInputs[i].name;
                                    }

                                    var fieldVal = getUrlParam(allInputs[i].dataset.name);

                                    if (fieldVal) {
                                        if (allInputs[i].dataset.autofill === "false") {
                                            continue;
                                        }

                                        if (allInputs[i].type == "radio" || allInputs[i].type == "checkbox") {
                                            if (allInputs[i].value == fieldVal) {
                                                allInputs[i].checked = true;
                                            }
                                        } else {
                                            allInputs[i].value = fieldVal;
                                        }
                                    }
                                }

                                var remove_tooltips = function () {
                                    for (var i = 0; i < tooltips.length; i++) {
                                        tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);
                                    }

                                    tooltips = [];
                                };

                                var remove_tooltip = function (elem) {
                                    for (var i = 0; i < tooltips.length; i++) {
                                        if (tooltips[i].elem === elem) {
                                            tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);

                                            tooltips.splice(i, 1);

                                            return;
                                        }
                                    }
                                };

                                var create_tooltip = function (elem, text) {
                                    var tooltip = document.createElement("div"),
                                        arrow = document.createElement("div"),
                                        inner = document.createElement("div"),
                                        new_tooltip = {};

                                    if (elem.type != "radio" && elem.type != "checkbox") {
                                        tooltip.className = "_error";

                                        arrow.className = "_error-arrow";

                                        inner.className = "_error-inner";

                                        inner.innerHTML = text;

                                        tooltip.appendChild(arrow);

                                        tooltip.appendChild(inner);

                                        elem.parentNode.appendChild(tooltip);
                                    } else {
                                        tooltip.className = "_error-inner _no_arrow";

                                        tooltip.innerHTML = text;

                                        elem.parentNode.insertBefore(tooltip, elem);

                                        new_tooltip.no_arrow = true;
                                    }

                                    new_tooltip.tip = tooltip;

                                    new_tooltip.elem = elem;

                                    tooltips.push(new_tooltip);

                                    return new_tooltip;
                                };

                                var resize_tooltip = function (tooltip) {
                                    var rect = tooltip.elem.getBoundingClientRect();

                                    var doc = document.documentElement,
                                        scrollPosition = rect.top - ((window.pageYOffset || doc.scrollTop) - (doc.clientTop || 0));

                                    if (scrollPosition < 40) {
                                        tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, "") + " _below";
                                    } else {
                                        tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, "") + " _above";
                                    }
                                };

                                var resize_tooltips = function () {
                                    if (_removed) return;

                                    for (var i = 0; i < tooltips.length; i++) {
                                        if (!tooltips[i].no_arrow) resize_tooltip(tooltips[i]);
                                    }
                                };

                                var validate_field = function (elem, remove) {
                                    var tooltip = null,
                                        value = elem.value,
                                        no_error = true;

                                    remove ? remove_tooltip(elem) : false;

                                    if (elem.type != "checkbox") elem.className = elem.className.replace(/ ?_has_error ?/g, "");

                                    if (elem.getAttribute("required") !== null) {
                                        if (elem.type == "radio" || (elem.type == "checkbox" && /any/.test(elem.className))) {
                                            var elems = form_to_submit.elements[elem.name];

                                            if (!(elems instanceof NodeList || elems instanceof HTMLCollection) || elems.length <= 1) {
                                                no_error = elem.checked;
                                            } else {
                                                no_error = false;

                                                for (var i = 0; i < elems.length; i++) {
                                                    if (elems[i].checked) no_error = true;
                                                }
                                            }

                                            if (!no_error) {
                                                tooltip = create_tooltip(elem, "Please select an option.");
                                            }
                                        } else if (elem.type == "checkbox") {
                                            var elems = form_to_submit.elements[elem.name],
                                                found = false,
                                                err = [];

                                            no_error = true;

                                            for (var i = 0; i < elems.length; i++) {
                                                if (elems[i].getAttribute("required") === null) continue;

                                                if (!found && elems[i] !== elem) return true;

                                                found = true;

                                                elems[i].className = elems[i].className.replace(/ ?_has_error ?/g, "");

                                                if (!elems[i].checked) {
                                                    no_error = false;

                                                    elems[i].className = elems[i].className + " _has_error";

                                                    err.push("Checking %s is required".replace("%s", elems[i].value));
                                                }
                                            }

                                            if (!no_error) {
                                                tooltip = create_tooltip(elem, err.join("<br/>"));
                                            }
                                        } else if (elem.tagName == "SELECT") {
                                            var selected = true;

                                            if (elem.multiple) {
                                                selected = false;

                                                for (var i = 0; i < elem.options.length; i++) {
                                                    if (elem.options[i].selected) {
                                                        selected = true;

                                                        break;
                                                    }
                                                }
                                            } else {
                                                for (var i = 0; i < elem.options.length; i++) {
                                                    if (elem.options[i].selected && !elem.options[i].value) {
                                                        selected = false;
                                                    }
                                                }
                                            }

                                            if (!selected) {
                                                elem.className = elem.className + " _has_error";

                                                no_error = false;

                                                tooltip = create_tooltip(elem, "Please select an option.");
                                            }
                                        } else if (value === undefined || value === null || value === "") {
                                            elem.className = elem.className + " _has_error";

                                            no_error = false;

                                            tooltip = create_tooltip(elem, "This field is required.");
                                        }
                                    }

                                    if (no_error && elem.name == "email") {
                                        if (!value.match(/^[\+_a-z0-9-'&=]+(\.[\+_a-z0-9-']+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,})$/i)) {
                                            elem.className = elem.className + " _has_error";

                                            no_error = false;

                                            tooltip = create_tooltip(elem, "Enter a valid email address.");
                                        }
                                    }

                                    if (no_error && /date_field/.test(elem.className)) {
                                        if (!value.match(/^\d\d\d\d-\d\d-\d\d$/)) {
                                            elem.className = elem.className + " _has_error";

                                            no_error = false;

                                            tooltip = create_tooltip(elem, "Enter a valid date.");
                                        }
                                    }

                                    tooltip ? resize_tooltip(tooltip) : false;

                                    return no_error;
                                };

                                var needs_validate = function (el) {
                                    if (el.getAttribute("required") !== null) {
                                        return true;
                                    }

                                    if (el.name === "email" && el.value !== "") {
                                        return true;
                                    }

                                    return false;
                                };

                                var validate_form = function (e) {
                                    var err = form_to_submit.querySelector("._form_error"),
                                        no_error = true;

                                    if (!submitted) {
                                        submitted = true;

                                        for (var i = 0, len = allInputs.length; i < len; i++) {
                                            var input = allInputs[i];

                                            if (needs_validate(input)) {
                                                if (input.type == "text") {
                                                    addEvent(input, "blur", function () {
                                                        this.value = this.value.trim();

                                                        validate_field(this, true);
                                                    });

                                                    addEvent(input, "input", function () {
                                                        validate_field(this, true);
                                                    });
                                                } else if (input.type == "radio" || input.type == "checkbox") {
                                                    (function (el) {
                                                        var radios = form_to_submit.elements[el.name];

                                                        for (var i = 0; i < radios.length; i++) {
                                                            addEvent(radios[i], "click", function () {
                                                                validate_field(el, true);
                                                            });
                                                        }
                                                    })(input);
                                                } else if (input.tagName == "SELECT") {
                                                    addEvent(input, "change", function () {
                                                        validate_field(this, true);
                                                    });
                                                } else if (input.type == "textarea") {
                                                    addEvent(input, "input", function () {
                                                        validate_field(this, true);
                                                    });
                                                }
                                            }
                                        }
                                    }

                                    remove_tooltips();

                                    for (var i = 0, len = allInputs.length; i < len; i++) {
                                        var elem = allInputs[i];

                                        if (needs_validate(elem)) {
                                            if (elem.tagName.toLowerCase() !== "select") {
                                                elem.value = elem.value.trim();
                                            }

                                            validate_field(elem) ? true : (no_error = false);
                                        }
                                    }

                                    if (!no_error && e) {
                                        e.preventDefault();
                                    }

                                    resize_tooltips();

                                    return no_error;
                                };

                                addEvent(window, "resize", resize_tooltips);

                                addEvent(window, "scroll", resize_tooltips);

                                window._old_serialize = null;

                                if (typeof serialize !== "undefined") window._old_serialize = window.serialize;

                                _load_script("//d3rxaij56vjege.cloudfront.net/form-serialize/0.3/serialize.min.js", function () {
                                    window._form_serialize = window.serialize;

                                    if (window._old_serialize) window.serialize = window._old_serialize;
                                });

                                var form_submit = function (e) {
                                    e.preventDefault();

                                    if (validate_form()) {
                                        // use this trick to get the submit button & disable it using plain javascript

                                        document.querySelector("#_form_6_submit").disabled = true;

                                        var serialized = _form_serialize(document.getElementById("_form_6_"));

                                        var err = form_to_submit.querySelector("._form_error");

                                        err ? err.parentNode.removeChild(err) : false;

                                        _load_script("https://jervis-systems.activehosted.com/proc.php?" + serialized + "&jsonp=true");
                                    }

                                    return false;
                                };

                                addEvent(form_to_submit, "submit", form_submit);
                            })();
                        </script>
            </div>
        </div>

        <div class="container"  data-aos="fade-up" data-aos-duration="1000">
            <div class="col-sm-12 map_wrapper">
                <div class="row">
                <div class="col-sm-6 p-0 contact_img_wrap" style="background-image: url('img/phone.jpg');">
                    
                        
                   
                </div>
                <div class="col-sm-6 p-0">
                    
                        <div class="right_contact_address w-100">
                            <h5 class="address_title mont-medium mb-3">MAILING ADDRESS</h5>
                            <ul>
                                <li class="media">
                                    <div class="mr-3 align-self-start"><img src="img/map-marker.svg" width="22" alt="..."></div>
                                    <div class="media-body">
                                      <p>P.O. Box 2565<br>Ashburn, VA 20146</p>
                                    </div>
                                </li>
                                
                            </ul>
                            <h5 class="address_title mont-medium mb-3">Connect on social media</h5>
                            <ul class="contact_social_media">
                                <li><a href="https://www.facebook.com/Jervis-Systems-108349317449681/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/JervisSystems" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/jervis_systems/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/jervis-systems/" target="_blank"><i class="fab fa-linkedin-in" aria-label="linkedin"></i></a></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}