{% extends "layout_public.html" %}

{% block title %}Features{% endblock %}

{% block content %}

<section class="container-fluid inner_banner_wrap">
    <div class="row">
        <div class="container">
            <div class="banner_text" data-aos="fade-up" data-aos-duration="3000">
                <h2>Features</h2>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid featured_wrap">
    <div class="row">
        <div class="container">
            <div class="section_head text-center" data-aos="fade-up" data-aos-duration="2000">
                <h4>FEATURES</h4>
                <h2>Jervis Systems stands out for the <br>following qualities:</h2>
            </div>
            <div class="featured_row">
                <div class="row">
                    <div class="col-md-6">
                        <div class="featured_img" data-aos="fade-left" data-aos-duration="2000">
                            <img src="img/checklist.jpg" class="img-fluid" height="428" width="560" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured_text" data-aos="fade-right" data-aos-duration="2000">
                            <h2>Checklists</h2>
                            <p>Jervis Systems checklists detail out repeatable tasks and expectations, so that your
                                property cleanings are completed the same way each time. </p>
                            <p>Tasks are organized by category, which helps you to specify all that needs to be done in
                                a specific area or room of the house. You can create unlimited tasks in unlimited
                                categories.</p>
                            <p>Our checklists are created to be filled out electronically. Each task has an area to
                                provide notes for restocking, missing items, cleaning issues, and any other feedback.
                            </p>
                            <p>Once the checklist has been submitted, a property owner and manager can download, edit,
                                and review the checklist for incomplete tasks, items in need of restocking and other
                                property related feedback from the checklist.</p>
                            <a href="/signup" class="btn button-primary">GET STARTED <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="featured_img" data-aos="fade-left" data-aos-duration="2000">
                            <img src="img/agreement.jpg" class="img-fluid" height="545" width="479" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured_text" data-aos="fade-right" data-aos-duration="2000">
                            <h2>Rental Agreements</h2>
                            <p>We know you have your own expectations for your properties, so we have developed a
                                streamlined process that allows you to communicate these key rental details to your
                                guests and tenants beforehand.</p>
                            <p>Jervis Systems provides a rental agreement template with house rules and footnotes.
                                Guests review the house rules and additional details in your rental agreement and sign
                                and date the document. Once guests return this document, you can provide their
                                reservation and check-in instructions. Simple!</p>
                            <a href="/signup" class="btn button-primary">GET STARTED <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="featured_img" data-aos="fade-left" data-aos-duration="2000">
                            <img src="img/calendar.jpg" class="img-fluid" height="428" width="560" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured_text" data-aos="fade-right" data-aos-duration="2000">
                            <h2>Multi-Calendar</h2>
                            <p>By syncing all reservation data across booking sites into one calendar with the Jervis
                                Systems Admin Portal, you get an overall view of reservations. The calendars can be
                                named, and color coded to better organize for you and your team.</p>
                            <p>A property manager can use this in creating checklist requests in advance to plan for
                                rental property turnover, or the property’s default cleaning company can check the
                                upcoming booking calendar to see upcoming potential cleanings.</p>
                            <p>For manually input reservations, the user can then have a birds-eye view of notifications
                                that are in the pipeline and sent to guest for that reservation.</p>
                            <a href="/signup" class="btn button-primary">GET STARTED <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="featured_img" data-aos="fade-left" data-aos-duration="2000">
                            <img src="img/automated.jpg" class="img-fluid" height="452" width="585" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured_text" data-aos="fade-right" data-aos-duration="2000">
                            <h2>Automated Communication</h2>
                            <ul>
                                <li>
                                    <strong>Notifications</strong>
                                    <p>Within the Jervis Systems Admin Portal, you can create and fully format a message
                                        to be sent to another team member via SMS or email. In addition to message
                                        formatting, you can set scheduling details when sending.</p>
                                </li>
                                <li>
                                    <strong>Customizable Templates</strong>
                                    <p>Jervis Systems relies heavily on templates to automate the repeatable processes
                                        and communications within property management. There are several pre-filled
                                        templates ready for you in the Jervis Systems Portal for communicating check-in
                                        instructions, check-out reminders, security deposits, cleaning requests,and many
                                        other reservation details. The Master templates that are pre-existing here can
                                        be edited to get you going right away!</p>
                                </li>
                                <li>
                                    <strong>Reservation Workflow</strong>
                                    <p>The Master templates are part of our Reservation Workflow that has been used by
                                        our team to fully automate the rental process for the past several years to cut
                                        down on manual work hours in property management per week. By saving and editing
                                        the Master templates, you can hit the group running with preformatted
                                        communications with guests.</p>
                                </li>

                            </ul>
                            <a href="/signup" class="btn button-primary">GET STARTED <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="featured_img" data-aos="fade-left" data-aos-duration="2000">
                            <img src="img/team.jpg" class="img-fluid" height="592" width="521" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured_text" data-aos="fade-right" data-aos-duration="3000">
                            <h2>Team Coordination</h2>
                            <p>Property owners and managers can manage dedicated team members across different
                                locations, properties and companies. Team activity is tracked through work assigned via
                                checklists and scheduled appointments.</p>
                            <ul>
                                <li>
                                    <strong>User</strong>
                                    <p>Your team can see details of users, view their availability through their
                                        calendar integration and edit and delete users, based on their permissions and
                                        role within the Jervis Systems Portal.</p>
                                </li>
                                <li>
                                    <strong>Roles</strong>
                                    <p class="mb-0">This tab allows members to view, edit or delete the available
                                        property management roles:</p>
                                    <ul>
                                        <li>Property Owner</li>
                                        <li>Property Manager</li>
                                        <li>Cleaning Company</li>
                                        <li>Handyman</li>
                                        <li>Realtor</li>
                                    </ul>
                                    <p>From here, users can also create a role and give specific permissions.</p>
                                </li>
                                <li>
                                    <strong>Schedule</strong>
                                    <p>To schedule appointments or other activities, team members can set their working
                                        hours, breaks and vacations in the Schedule tab of the Jervis Systems Portal.
                                    </p>
                                    <p>From there, any user seeking an appointment with another member, can select an
                                        available 30-minute appointment time.</p>
                                    <p>The appointments tab will then list out all your confirmed appointments with
                                        other users for the specific date and time selected</p>
                                </li>

                            </ul>
                            <a href="/signup" class="btn button-primary">GET STARTED <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="featured_img" data-aos="fade-left" data-aos-duration="2000">
                            <img src="img/schedule.jpg" class="img-fluid" height="452" width="585" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured_text" data-aos="fade-right" data-aos-duration="2000">
                            <h2>Schedule</h2>
                            <p>To schedule appointments or other activities, team members can set their working hours,
                                breaks and vacations in the Schedule tab of the Jervis Systems Portal.</p>
                            <p>From there, any user seeking an appointment with another member, can select an available
                                30-minute appointment time.</p>
                            <p>The appointments tab will then list out all your confirmed appointments with other users
                                for the specific date and time selected.</p>
                            <a href="/signup" class="btn button-primary">GET STARTED <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="featured_img" data-aos="fade-left" data-aos-duration="2000">
                            <img src="img/faeature.jpg" class="img-fluid" height="428" width="560" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured_text" data-aos="fade-right" data-aos-duration="2000">
                            <h2>Convenience Features</h2>
                            <ul>
                                <li>
                                    <strong>Intuition Access</strong>
                                    <p>This is the specialized patent-pending process for providing and removing access
                                        for your guests, cleaning companies and handyman companies connected with Jervis
                                        Systems.</p>
                                    <p>This process automatically sends and tracks rental agreements. It also adds and
                                        removes randomly generated codes for smart locks on doors and wireless access
                                        points, based on time intervals you specify from your Jervis Systems Portal.</p>
                                </li>
                                <li>
                                    <strong>Text2Command</strong>
                                    <p>This patent-pending feature works by having your team or a guest send a message
                                        to a phone number. They are then prompted with a list of possible actions. These
                                        actions can then be sent via text message to command the property.</p>
                                </li>
                                <li>
                                    <strong>Call2Command</strong>
                                    <p>With this patent-pending feature, your team member or a guest calls a specified
                                        phone number. The user is verified and provided with a menu of options to choose
                                        from. These options can be sent via the individual’s voice prompts to command
                                        property features. The user can execute multiple commands on one of these calls
                                        or hang up.</p>
                                </li>
                                <li>
                                    <strong>Realtor Entry</strong>
                                    <p>Jervis Systems is meant to not only help with short-term rental needs, but also
                                        the need to automate for longer term housing and real estate tasks. We allow
                                        real estate agents and property managers the ability to remotely manage showing
                                        windows for prospective owners and tenants. Paired with our patent-pending
                                        features Call2Command and Text2Command, you can show off the property with ease!
                                    </p>
                                </li>
                            </ul>
                            <a href="/signup" class="btn button-primary">GET STARTED <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="featured_img" data-aos="fade-left" data-aos-duration="2000">
                            <img src="img/marketplace.jpg" class="img-fluid" height="545" width="479" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured_text" data-aos="fade-right" data-aos-duration="2000">
                            <h2>Marketplace - Coming Soon</h2>
                            <p>Geared toward property cleaning companies and maintenance experts, this upcoming feature
                                connects service companies with rental property owners and managers in need! The
                                Marketplace is a location for owners and managers to find locally vetted companies
                                searching for assignments and services from each other.</p>
                            <p>In integrating with Stripe, Jervis Systems allows your service company members to be paid
                                their assignment dues in exchange for charging them a transaction fee. Currently, the
                                transaction fee is 5% for property cleaning companies and maintenance personnel. We make
                                it easy for your team to get paid.</p>
                            <a href="/signup" class="btn button-primary mb-4">GET STARTED <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}