{% extends "layout_public.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="container-fluid banner_wrap" id="top">
    <div class="row">
        <div class="col-lg-5">
            <div class="banner_text" data-aos="fade-up" data-aos-duration="3000">
                <h1>Leading Automation in Property Management</h1>
                <h4>We automate and perfect the details. You grow your business.</h4>
                <a href="/signup" class="btn button-primary">GET STARTED <i class="fas fa-arrow-right"></i></a>
                <p>
                    14-day free trial. No unit minimums. No setup fees. <br />
                    No long-term contracts.
                </p>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="banner-img1">
                <!-- <img src="img/banner-img.png" class="img-fluid" height="618" width="952" alt="banner" /> -->
                <div class="laptop-wrapper">

                    <iframe frameborder="0" width="605" height="370"
                        src="https://biteable.com/watch/embed/jervis-home-page-2577174" allowfullscreen="true"
                        allow="autoplay"></iframe>
                </div>
                <!-- <a data-fancybox="" href="https://www.youtube.com/watch?v=Y3JP4rIpNwM" class="video-play"><img aria-label="Play Video" alt="play video" src="img/icon-play.png" height="78" width="78" /></a> -->
            </div>
        </div>
    </div>
</section>

<section class="container-fluid features_wrap" id="why_jervis">
    <div class="row">
        <div class="container">
            <div class="section_head text-center" data-aos="fade-up" data-aos-duration="2000">
                <h4>Why Jervis Systems?</h4>
                <h2>
                    Jervis Systems stands out for the <br />
                    following qualities:
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6 single-features-wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="single-features">
                        <div class="icon">
                            <img src="img/icon-1.png" alt="icon" class="img-fluid" height="65" width="67" />
                        </div>
                        <div class="single-features-detail">
                            <h2>Easy Property Management</h2>
                            <p>Why muddle through the mundane tasks of property management?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 single-features-wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="single-features">
                        <div class="icon">
                            <img src="img/icon-2.png" alt="icon" class="img-fluid" height="64" width="62" />
                        </div>
                        <div class="single-features-detail">
                            <h2>Delegate to an automated system</h2>
                            <p>Why not delegate your work to an automated system that works while you sleep and scale
                                your business?</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 single-features-wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="single-features">
                        <div class="icon">
                            <img src="img/icon-3.png" alt="icon" class="img-fluid" height="59" width="62" />
                        </div>
                        <div class="single-features-detail">
                            <h2>Repeatable tasks can be done easily</h2>
                            <p>Our property management solution ensures that repeatable tasks can be done in the
                                background both consistently and accurately.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 single-features-wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="single-features">
                        <div class="icon">
                            <img src="img/icon-4.png" alt="icon" class="img-fluid" height="61" width="64" />
                        </div>
                        <div class="single-features-detail">
                            <h2>Focus on customer service experience</h2>
                            <p>That gives you and your team the ability to focus on more important things, such as your
                                customer service experience and administrative decision-making.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12" data-aos="fade-up" data-aos-duration="2000">
                    <a href="#property-Services" class="scoll-down"><span class="fas fa-arrow-down"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid app_wrap">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="app_slide_wrap" data-aos="fade-left" data-aos-duration="2000">
                <div class="app_slider">
                    <div class="item">
                        <img src="img/app-img1.png" class="img-fluid" height="645" width="976" alt="app image" />
                    </div>
                    <div class="item">
                        <img src="img/app-img.png" class="img-fluid" height="645" width="976" alt="app image" />
                    </div>
                    <div class="item">
                        <img src="img/app-img1.png" class="img-fluid" height="645" width="976" alt="app image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="app-detail" data-aos="fade-right" data-aos-duration="2000">
                <div class="section_head">
                    <h4>THE PLATFORM</h4>
                    <h2>Why we created Jervis Systems.</h2>
                </div>
                <p>
                    As a team of vacation rental professionals, we built this system from scratch to master the
                    management of our own "Superhost" rental property. We wanted this system to help others in property
                    management,
                    whether with short-term stays or long-term leasing.
                </p>
                <h6>Jervis Systems Is Powerful</h6>
                <p>
                    The incredible value Jervis Systems provides for the price, coupled with the feedback from guests
                    and company partners, has led to our decision to offer up our rental system for all property
                    management teams to use.
                </p>
                <a href="/signup" class="btn button-primary">GET STARTED <i class="fas fa-arrow-right"
                        aria-label="get started" role="img"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid soluion_wrap" id="property-Services">
    <div class="row">
        <div class="container">
            <div class="section_head text-center" data-aos="fade-up" data-aos-duration="2000">
                <h2>Property Management Services</h2>
                <p>Jervis Systems offers solutions for diverse property management requirements:</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-6 solution_box_wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="solution_box">
                        <div class="icon">
                            <img src="img/icon-checklist.png" class="img-fluid" height="79" width="114" alt="icon" />
                        </div>
                        <div class="solution_detail">
                            <h2>Checklists</h2>
                            <p>Never miss a task again with <strong>key, repeatable tasks</strong> laid out in
                                checklists that are completed electronically by team members.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 solution_box_wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="solution_box">
                        <div class="icon">
                            <img src="img/icon-agreements.png" class="img-fluid" height="80" width="141"
                                alt="icon agreement" />
                        </div>
                        <div class="solution_detail">
                            <h2>Rental Agreements</h2>
                            <p>Want to <strong>communicate your expectations the same way</strong> every time BEFORE
                                check in? We've structured a solution that’s easy and clear for your guests to review
                                and sign.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 solution_box_wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="solution_box">
                        <div class="icon">
                            <img src="img/icon-calendar.png" class="img-fluid" height="76" width="141"
                                alt="icon calendar" />
                        </div>
                        <div class="solution_detail">
                            <h2>Multi-Calendar</h2>
                            <p>No more tracking availability across platforms, with the <strong>ability to
                                    integrate</strong> all booking site calendars. Double-booking customers is a thing
                                of the past!</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 solution_box_wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="solution_box">
                        <div class="icon">
                            <img src="img/icon-workflow.png" class="img-fluid" height="73" width="114"
                                alt="icon workflow" />
                        </div>
                        <div class="solution_detail">
                            <h2>Reservation Workflow</h2>
                            <p>Using our template messages and automated scheduling features, you can cut down on your
                                workload by around <strong>5-10 hours per week, per person.</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 solution_box_wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="solution_box">
                        <div class="icon">
                            <img src="img/icon-template.png" class="img-fluid" height="74" width="141"
                                alt="icon template" />
                        </div>
                        <div class="solution_detail">
                            <h2>Customizable Templates</h2>
                            <p>Always get the same questions from guests? Create new templates or edit our master
                                templates to <strong>save time</strong> and hit the ground running with operations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 solution_box_wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="solution_box">
                        <div class="icon">
                            <img src="img/icon-team.png" class="img-fluid" height="82" width="141" alt="icon team" />
                        </div>
                        <div class="solution_detail">
                            <h2>Team Coordination</h2>
                            <p>We give you the ability to notify, track submissions, review checklists and set
                                <strong>highly comprehensive permissions</strong> for team members.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-6 solution_box_wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="solution_box">
                        <div class="icon">
                            <img src="img/icon-notification.png" class="img-fluid" height="65" width="114"
                                alt="notification icon" />
                        </div>
                        <div class="solution_detail">
                            <h2>Notifications</h2>
                            <p>Have to send an email to your team? Need to share a task reminder? Craft scheduled
                                messages, set conditions for sending, and choose the medium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 solution_box_wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="solution_box">
                        <div class="icon">
                            <img src="img/icon-access-features.png" class="img-fluid" height="72" width="141"
                                alt="access features" />
                        </div>
                        <div class="solution_detail">
                            <h2>Access Features</h2>
                            <p>Provide temporary property access that's <strong>specially assigned</strong> to guests,
                                cleaning and maintenance personnel to streamline reservations and property management.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 solution_box_wrap" data-aos="fade-up" data-aos-duration="2000">
                    <div class="solution_box">
                        <div class="icon">
                            <img src="img/icon-marketplace.png" class="img-fluid" height="72" width="141"
                                alt="marketplace icon" />
                        </div>
                        <div class="solution_detail">
                            <h2>Marketplace</h2>
                            <p>Want help finding a local cleaning company? Need a handyman who can help handle a
                                last-minute work order?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing_wrap container-fluid" id="pricing">
    <div class="row">
        <div class="container">
            <div class="section_head text-center" data-aos="fade-up" data-aos-duration="2000">
                <h4>PRICING</h4>
                <h2>Pricing as per your needs</h2>
            </div>
            <div class="pricing_box" data-aos="fade-up" data-aos-duration="2000">
                <div class="price_head">
                    <h2>Monthly Plan</h2>
                    <h3 id="proPlan">from <span id="rangePrice">${{PLAN.0.unit}} </span>/ UNIT</h3>
                    <h3 id="contactUs" hidden="hidden">Contact Us</h3>
                    <p>Select number of Properties</p>
                </div>
                <div class="range">
                    <input type="range" min="1" max="7" steps="1" value="1" id="slider" />
                </div>
                <ul class="range-labels">
                    <li class="active selected">1-4</li>
                    <li>5-9</li>
                    <li>10-14</li>
                    <li>15-19</li>
                    <li>20-24</li>
                    <li>50-99</li>
                    <li>100+</li>
                </ul>
                <div class="price_box_footer">
                    <h5>Features</h5>
                    {% for feature in PLAN.0.features %}
                    <p>{{feature}}</p>
                    {% endfor %}
                    <h5>Interested in enterprise solutions? Contact us below.</h5>
                    <a href="/signup" class="btn button-primary">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid testimonial_wrap">
    <div class="row">
        <div class="container">
            <div class="testiominal_container">
                <div class="testimonial_head" data-aos="fade-up" data-aos-duration="2000">
                    <img src="img/quote-icon.png" class="img-fluid" height="64" width="77" alt="customer quote" />
                    <h2>From the Jervis Team</h2>
                </div>
                <div class="testimonial_slide" data-aos="fade-up" data-aos-duration="2000">
                    <div class="item">
                        <div class="rating"><span class="fas fa-star"></span><span class="fas fa-star"></span><span
                                class="fas fa-star"></span><span class="fas fa-star"></span><span
                                class="fas fa-star"></span></div>
                        <p>
                            My goal with Jervis to build a platform that anyone can use and to build a community.
                        </p>
                        <div class="author_detail">
                            <span class="author_name">BOBBY VARGHESE</span>
                            <span class="position">OWNER, JERVIS SYSTEMS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="images hidden-md">
            <div class="mobile-img" data-aos="fade-left" data-aos-duration="2000">
                <img src="img/mobile.png" class="img-fluid" height="934" width="802" alt="mobile" />
            </div>
            <div class="tablet-img" data-aos="fade-right" data-aos-duration="2000">
                <img src="img/tablet.png" class="img-fluid" height="1129" width="1251" alt="tablet" />
            </div>
            <div class="mobile-img2" data-aos="fade-up" data-aos-duration="2000">
                <img src="img/mobile2.png" class="img-fluid" height="934" width="728" alt="mobile" />
            </div>
        </div>
    </div>
</section>

<section class="faq_wrap container-fluid">
    <div class="row">
        <div class="container">
            <div class="section_head text-center" data-aos="fade-up" data-aos-duration="2000">
                <h2>Frequently Asked Questions</h2>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="faq_img" data-aos="fade-left" data-aos-duration="2000">
                        <img src="img/faq-img.jpg" class="img-fluid" height="434" width="457" alt="faq image" />
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="faq" data-aos="fade-right" data-aos-duration="2000">
                        <ul class="accordion">
                            <li>
                                <a href="javascript:;">How do I manage my property remotely with Jervis Systems?</a>
                                <div class="faq_answer">
                                    <p>You can manage all aspects of short-term rental and property management with our
                                        Jervis Admin Portal. This includes personalizing the automated messages and
                                        checklists, users, roles, schedules and property details to your specific needs,
                                        among many other features.
                                    </p>

                                    <p><b>Coming Soon:</b><br>
                                        We will soon be able to offer our standalone automation solution for your
                                        property units or personal home space. Our users gain the benefit of
                                        transforming their spaces into smart havens with our patent-pending features!
                                    </p>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">What if I have my property listed on another booking site not
                                    integrated with Jervis Systems?</a>
                                <div class="faq_answer">
                                    <p>We currently integrate with Airbnb, Booking.com, HomeAway, VRBO, TripAdvisor and
                                        Flipkey.</p>
                                    <p>We’re in the process of integrating more booking sites based on popular demand by
                                        our customers.</p>
                                    <p>Your feature wish is our next product update and a chance for your product
                                        recommendation to be in the spotlight, so let us know what you want to see here!
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a href="javascript:;">When will I be billed for my monthly subscription plan?</a>
                                <div class="faq_answer">
                                    <p>
                                        You will be billed on the same date that you signed up and submitted your
                                        initial payment to activate your paid subscription.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">What are the general payment terms?</a>
                                <div class="faq_answer">
                                    <p>
                                        Users can select from one of our monthly plan pricing options, based on the
                                        number of properties they manage. We bill monthly on the anniversary of the
                                        users paid sign-up date in our Jervis Portal. The 14-day free trial is entirely
                                        free. The first charge will be a smaller prorated payment for the partial month
                                        immediately following the 14-day free trial.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">Is there a setup fee? Additional fees I should know about? </a>
                                <div class="faq_answer">
                                    <p>
                                        There is no setup fee charged for integrating your home or property into our
                                        system.
                                    </p>
                                    <p>We integrate with Stripe as our payment processor. For our cleaning and
                                        maintenance service assignments, there are resulting transaction fees that are
                                        passed onto service companies when paying team members and partners for their
                                        hard work. These are costs that are explained further in our Marketplace
                                        Solution. Cleaning companies and handyman/maintenance companies agree to these
                                        charges when they sign on with us and accept assignments from property managers
                                        and property owners.</p>

                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">How do I cancel my subscription? </a>
                                <div class="faq_answer">
                                    <p>
                                        Our team at Jervis Systems is constantly working on improving and adding
                                        additional capabilities. We want to do all we can to make our customers happy.
                                    </p>
                                    <p>If it so happens that you’re unhappy with our service at any time, you can cancel
                                        your subscription by <a href="contact.php">contacting our team</a>.</p>
                                    <p>We do not charge cancellation fees of any kind and you can cancel at any point
                                        before your next billing date. We will refund only the current month of
                                        membership.</p>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">What are the different roles with Jervis Systems? What can they
                                    do?</a>
                                <div class="faq_answer">
                                    <p>Jervis Systems allows multiple users with a property management system to enroll
                                        and use the automation tools that our Portal offers. If you're like us and the
                                        teams that we've connected with through our years in property management, you
                                        might be "wearing many hats" too.</p>
                                    <p>You begin the signup process with us by selecting your main role within our
                                        system based on your key responsibilities. You might have multiple roles in
                                        different properties or units, so we allow you the flexibility to add properties
                                        and specify what you do in all areas once you're within the portal.</p>
                                    <p>Additionally, multiple people can be a part of one property, but everyone must
                                        have their own Jervis Systems account.</p>
                                    <p>These are the current roles available on sign-up.</p>
                                    <ul>
                                        <li>Property Owner</li>
                                        <li>Property Manager</li>
                                        <li>Cleaner/Cleaning Company</li>
                                        <li>Handyman/Maintenence Company</li>
                                        <li>Real Estate Agent</li>
                                        <li>Realtor</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block afterJS %}
<script>
    $(document).ready(function () {
        let plan = '{{PLAN|json_encode}}';
        plan = JSON.parse(plan.replace(/&quot;/g, '"'));


        $(document).on('input', '#slider', function () {
            var step = $(this).val();
            if (step == 7) {
                $("#proPlan").attr('hidden', 'hidden');
                $("#contactUs").removeAttr('hidden');
            } else {
                $("#proPlan").removeAttr('hidden');
                $("#contactUs").attr('hidden', 'hidden');
                $("#rangePrice").html('$' + plan[step - 1].unit + ' ');
            }
            $('.price_box_footer').find('p').remove();
            var features = plan[step - 1].features;
            $.each(features.reverse(), function (key, feature) {
                $(".price_box_footer > h5").after('<p>' + feature + '</p>');
            });
        });
    });
</script>
{% endblock %}