<!DOCTYPE html>

<html lang="en">
    <!-- BEGIN: Head-->
    <head>
        <base href="{{WEB_DIR}}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
        <meta name="description" content="Jervis {{siteTitle}}" />
        <meta name="keywords" content="Jervis {{siteTitle}} for Jervis Systems" />
        <meta name="author" content="Secure my Sanity Team" />
        <title>{% block title %}Unnamed page!!!{% endblock %}{% block separator %} - {% endblock %}{{siteTitle}}</title>    

        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet" />
        <!--begin::Global Theme Styles(used by all pages) -->
        <link rel="stylesheet" type="text/css" href="manager/vendors/css/vendors.min.css" />
        {% block vendorsCSS %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="manager/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="manager/css/bootstrap-extended.css" />
        <link rel="stylesheet" type="text/css" href="manager/css/colors.css" /> 
        <link rel="stylesheet" type="text/css" href="manager/css/components.css" />
        <link rel="stylesheet" type="text/css" href="manager/css/core/menu/menu-types/vertical-menu.css" />
        <link rel="stylesheet" type="text/css" href="manager/css/timepicki.css" />        
        <link rel="stylesheet" type="text/css" href="manager/assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="manager/css/custom.css" />         
         <script>
            var country = ""; 
            var state = "";
            var city = "";
            var currentProperty = {{ currentProperty ? currentProperty.id : null }};
         </script>        
        {% block afterCSS %}{% endblock %}        
    </head>
    <!-- END: Head-->
    
    <!-- BEGIN: Body-->
    <body class="vertical-layout vertical-menu-modern 2-columns navbar-sticky footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

        {{ include('manager/theme/header.html') }}
        
        {{ include('manager/theme/main_menu.html') }}
        
        <!-- BEGIN: Content-->                
        {% block content %}
        {% endblock %}                
        <!-- END: Content-->
        
        <div class="sidenav-overlay"></div>
        <div class="drag-target"></div>
        
        {{ include('manager/theme/footer.html') }}
        
        <!-- BEGIN: Vendor JS-->
        <script src="manager/vendors/js/vendors.min.js"></script>
        <script src="manager/vendors/js/forms/select/select2.full.min.js"></script>        
        <script src="manager/js/core/app-menu.js"></script>
        <script src="manager/vendors/js/pickers/pickadate/timepicki.js"></script>
        <script src="manager/js/core/app.js"></script>  
        <script src="manager/js/scripts/components.js"></script>             
        <!-- END: Theme JS-->        
        <script>
            
            $(document).ready(function () {
//                    $('.toast').toast('show');
//                    $('.toastdata').on("click",function(){
//                            var id = $(this).data('id');
//                            $.ajax({
//                                    method: "POST",
//                                    url: "/manager/user/api/delete-notification",
//                                    data:
//                                    {
//                                            'id':id,
//                                    },
//                                    success: () => {
//                                            console.log("Delete success");
//                                    },
//                                    error: () => {
//                                            console.log("Delete error");
//                                    },
//                            });
//                    });

                    
                    
                        if (typeof currentProperty !== 'undefined') {                        
                            setPropertyIdInURL(currentProperty);                        
                        }  
                                      
                    $("#propertyLists a").click(function () {
                            var propertyId = $(this).attr('data-id');
                            if (location.href.includes('property_id')) {
                                window.location.href = location.href.replace("property_id=" + '{{ request_property_id }}',
                                            "property_id=" + propertyId);
                            } else {                                
                                window.location.href = location.href + "?property_id=" + propertyId;
                            }

                            setPropertyIdInURL(propertyId);
                    });

                    $("#userRole a").click(function(){
                        var role = $(this).text();                            
                        $.ajax({
                                method: "POST",
                                url: "/manager/role/api/set-role/" + role,
                                success: () => {
                                        window.location.reload();
                                },
                                error: () => {
                                        window.location.reload();
                                },
                        });
                    });
            });

            function setPropertyIdInURL(propertyId) {
                    $("a.listReservation").attr("href", "/manager/reservation/index?property_id=" + propertyId);
                    $("a.newReservation").attr("href", "/manager/reservation/add-reservation?property_id=" + propertyId);
                    $("a.listCalendar").attr("href", "/manager/calendar/index?property_id=" + propertyId);
                    $("a.setupCalendar").attr("href", "/manager/calendar/add-calendar?property_id=" + propertyId);
                    $("a.schedulesetup").attr("href", "/manager/schedule/index?property_id=" + propertyId);
                    $("a.appointmentNotification").attr("href", "/manager/schedule/appointment-notification?property_id=" + propertyId);
                    $("a.listChecklist").attr("href", "/manager/checklist/index?property_id=" + propertyId);
                    $("a.listChecklistTemplate").attr("href", "/manager/checklist/template?property_id=" + propertyId);
                    $("a.newTemplate").attr("href", "/manager/checklist/add-template?property_id=" + propertyId);
                    $("a.incompleteTasks").attr("href", "/manager/checklist/incompleteTasks?property_id=" + propertyId);
                    $("a.listDevice").attr("href", "/manager/device/index?property_id=" + propertyId);
                    $("a.newDevice").attr("href", "/manager/device/add-device?property_id=" + propertyId);
                    $("a.chat").attr("href", "/manager/chat/index?property_id=" + propertyId);
                    $("a.listUser").attr("href", "/manager/user/index?property_id=" + propertyId);
                    $("a.newUser").attr("href", "/manager/user/add-user?property_id=" + propertyId);
                    $("a.listRole").attr("href", "/manager/role/index?property_id=" + propertyId);
                    $("a.newRole").attr("href", "/manager/role/add-role?property_id=" + propertyId);
                    $("a.listTemplate").attr("href", "/manager/notification/template?property_id=" + propertyId);
                    $("a.newNotification").attr("href", "/manager/notification/custom-notification?property_id=" + propertyId);
                    $("a.invoice").attr("href", "/manager/invoice/index?property_id=" + propertyId);
                    $("a.listReview").attr("href", "/manager/review/list?property_id=" + propertyId);
                    // $("a.profileInfo").attr("href", "/manager/profile/index?property_id=" + propertyId);
                    // $("a.changePassword").attr("href", "/manager/profile/change-password?property_id=" + propertyId);
                    // $("a.billingInfo").attr("href", "/manager/profile/billing?property_id=" + propertyId);
                    // $("a.companyInfo").attr("href", "/manager/profile/company?property_id=" + propertyId);
                    // $("a.notifications").attr("href", "/manager/profile/notifications?property_id=" + propertyId);
                    // $("a.planInfo").attr("href", "/manager/profile/plan?property_id=" + propertyId);
            }
	</script>
	{% block afterJs %}{% endblock %}
        
    </body>
    <!-- END: Body-->
</html>