<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Leading Automation in Property Management">
    <title>{{siteTitle}} - {% block title %}Unnamed page!!!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="css/vendors.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="https://kit.fontawesome.com/5e226041e5.js" crossorigin="anonymous"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '724908758249678');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=724908758249678&ev=PageView
        &noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Google Analytics Code -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174457767-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-174457767-1');
    </script>
    <!-- END Google Analytics Code -->
</head>

<body>
    <div id="page">

        {{ include('inc/header.html') }}

        {% block content %}
        {% endblock %}

        {{ include('inc/footer-cta.html') }}

        {{ include('inc/footer.html') }}

    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.accordion.source.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    {% block afterJS %}
    {% endblock %}
</body>

</html>