{% extends "layout_public.html" %}

{% block title %}Features{% endblock %}

{% block content %}

<section class="container-fluid inner_banner_wrap">
    <div class="row">
        <div class="container">
            <div class="banner_text" data-aos="fade-up" data-aos-duration="3000">
                <h1>Refund Policy</h1>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid main">
    <div class="row">
        <div class="container">
            <p>Last updated: June 11, 2020</p> 

            <p>Thank you for shopping at Jervis Systems website and Jervis Systems app.</p> 

            <p>If, for any reason, You are not completely satisfied with a purchase We invite You to review our policy on refunds and returns.</p> 

            <p>The following terms are applicable for any products that You purchased with Us.</p> 

            <h3>Interpretation and Definitions</h3> 
            <br>
            <h4>Interpretation</h4> 

            <p>The words of which the initial letter is capitalized have meanings defined under the following conditions.</p> 

            <p>The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p> 

            <h4>Definitions</h4> 

            <p>For the purposes of this Return and Refund Policy:</p> 

            <ul> 

                <li> 

                    <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p> 

                </li> 

                <li> 

                    <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to Guarded Horizons Inc. , P.O. Box 2565, Ashburn, VA 20146.</p> 

                </li> 

                <li> 

                    <p><strong>Service</strong> refers to the Application or the Website or both.</p> 

                </li> 

                <li> 

                    <p><strong>Application</strong> means the software program provided by the Company downloaded by You on any electronic device, named Jervis Systems</p> 

                </li> 

                <li> 

                    <p><strong>Website</strong> refers to Jervis Systems, accessible from <a href="/" rel="external nofollow noopener" target="_blank">jervis-systems</a></p> 

                </li> 

                <li> 

                    <p><strong>Goods</strong> refer to the items offered for sale on the Service.</p> 

                </li> 

                <li> 

                    <p><strong>Orders</strong> mean a request by You to purchase Goods from Us.</p> 

                </li> 

            </ul> 

            <h3>Your Order Cancellation Rights</h3> 

            <p>You are entitled to cancel Your Order within 30 days without giving any reason for doing so.</p> 

            <p>The deadline for cancelling an Order is 30 days from the date on which You received the Goods or on which a third party you have appointed, who is not the carrier, takes possession of the product delivered.</p> 

            <p>In order to exercise Your right of cancellation, You must inform Us of your decision by means of a clear statement. You can inform us of your decision by:</p> 

            <ul> 

                <li>By email: marketing@jervis-systems.com</li> 

            </ul> 

            <p>We will reimburse You no later than 14 days from the day on which We receive the returned Goods. We will use the same means of payment as You used for the Order, and You will not incur any fees for such reimbursement.</p> 

            <h3>Conditions for Returns</h3> 

            <p>In order for the Goods to be eligible for a return, please make sure that:</p> 

            <ul> 

                <li> 

                    <p>The Goods were purchased in the last 30 days</p> 

                </li> 

                <li> 

                    <p>You have the receipt or proof of purchase</p> 

                </li> 

            </ul> 

            <p>The following Goods cannot be returned:</p> 

            <ul> 

                <li>The supply of Goods made to Your specifications or clearly personalized.</li> 

                <li>The supply of Goods which according to their nature are not suitable to be returned, deteriorate rapidly or where the date of expiry is over.</li> 

                <li>The supply of Goods which are not suitable for return due to health protection or hygiene reasons and were unsealed after delivery.</li> 

                <li>The supply of Goods which are, after delivery, according to their nature, inseparably mixed with other items.</li> 

            </ul> 

            <p>We reserve the right to refuse returns of any merchandise that does not meet the above return conditions in our sole discretion.</p> 

            <h3>Returning Goods</h3> 

            <p>You are responsible for the cost and risk of returning the Goods to Us. You should send the Goods at the following address:</p> 

            <p>Users can contact our team at the specified email, regarding a refund on services.</p> 

            <p>We cannot be held responsible for Goods damaged or lost in return shipment. Therefore, We recommend an insured and trackable mail service. We are unable to issue a refund without actual receipt of the Goods or proof of received return delivery.</p> 

            <h3>Gifts</h3> 

            <p>If the Goods were marked as a gift when purchased and then shipped directly to you, You'll receive a gift credit for the value of your return. Once the returned product is received, a gift certificate will be mailed to You.</p> 

            <p>If the Goods weren't marked as a gift when purchased, or the gift giver had the Order shipped to themselves to give it to You later, We will send the refund to the gift giver.</p> 

            <h4>Contact us</h4> 

            <p>If you have any questions about our Returns and Refunds Policy, please contact us:</p> 

            <ul> 

                <li>By email: marketing@jervis-systems.com</li> 

            </ul> 
        </div>
    </div>
</div>

{% endblock %}

{% block afterJS %}
<script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/3.1.0/cookie-consent.js"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        cookieconsent.run({ notice_banner_type: "headline", consent_type: "express", palette: "light", language: "en", website_name: "Jervis Systems" });
    });
</script>
<noscript>Cookie Consent by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
{% endblock %}