{% extends "layout_public.html" %}

{% block title %}Thank you{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="css/contact_form.css" />

<section class="container-fluid inner_banner_wrap">
    <div class="row">
        <div class="container">
            <div class="banner_text" data-aos="fade-up" data-aos-duration="3000">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid contact_wrap">
    <div class="row">
        <div class="container">
            <div class="section_head text-center" data-aos="fade-up" data-aos-duration="2000">
                <br><br>
                <h3 class="my-4">
                    Your request has been submitted.<br />
                    The Jervis Systems team will get back to you within 24 hours.
                </h3>
                <br /><br />
            </div>

        </div>


    </div>
</section>

{% endblock %}