{% extends "layout_manager.html" %}

{% block title %}Create Invoice{% endblock %}
{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Add Invoice</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div id="invoice" v-cloak>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                               <h5>Item</h5>                          
                                            </div>      
                                            <div class="form-group col-md-2">
                                                <h5>Quantity</h5>                                  
                                            </div>                   
                                            <div class="form-group col-md-2">
                                                <h5>Rate</h5>                                    
                                            </div>  
                                            <div class="form-group col-md-3">
                                                <h5>Amount</h5>                                   
                                            </div>            
                                        </div>  
                                        <form id="invoiceform"  @submit.prevent="save">
                                        <div class="form-group">
                                            <div class="form-row"  v-for="(input,k) in inputs" :key="k">
                                                <div class="form-group col-md-4">
                                                    <input type="text" class="form-control"  name="name[]" v-model="input.name">                           
                                                </div>      
                                                <div class="form-group col-md-2">
                                                    <input type="text" class="form-control" name="quantity[]" v-model.number="input.quantity">                               
                                                </div>                   
                                                <div class="form-group col-md-2">
                                                    <input type="text" class="form-control" name="rate[]" v-model.number="input.rate">                                
                                                </div>  	 
                                                <div class="form-group col-md-3">
                                                    <input type="text" class="form-control" name="amount[]"  v-model.number="input.answer =  input.quantity * input.rate">                     
                                                </div> 
                                                <div class="form-group col-md-1">
                                                    <i class="icon icon-trash" style="font-size:33px" @click="remove(k)" onclick="return false;" v-show="k || ( !k && inputs.length > 1)"></i>
                                                </div>       
                                            </div>
                                            <span>
                                                <button class="btn btn-info" onclick="return false;" @click="add()" >+ Item</button>
                                             </span><br><br>
                                        </div>
                                        <div class="form-row"  v-for="(deductinput,k) in deductinputs" :key="k">
                                                <div class="form-group col-md-6">
                                                    <input type="text" class="form-control" name="deductitemname[]"  v-model="deductinput.deductitemname">                     
                                                </div> 
                                                <div class="form-group col-md-2">
                                                    <select class="form-control form-control-md pervalue" name="per[]">
                                                        <option value="$">Flat($)</option>
                                                        <option value="%">Percent(%)</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <input type="text" class="form-control deductamt" name="deductamount[]"  v-model.number="deductinput.deductamount">                     
                                                </div> 
                                                <div class="form-group col-md-1">
                                                    <i class="icon icon-trash" style="font-size:33px" @click="removes(k)" onclick="return false;"></i>
                                                                           
                                                </div>   
                                            </div>
                                        <span>
                                            <button class="btn btn-info listItemdeduct" onclick="return false;" @click="adddeduct()" >- Item</button><br><br>
                                        </span><br>
                                        <div class="form-row">                                      
                                            Total Deduction:
                                          <div class="form-group col-md-3">
                                              <input type="hidden" class="form-control totaldeduct" name="totaldeduction" v-bind:value="[[totaldeduction()]]">
                                              <input type="text" class="form-control totaldeduct" name="totaldeduction" v-bind:value="[[totaldeduction()]]" disabled>
                                          </div>
                                          Subtotal:
                                              <div class="form-group col-md-3">
                                                  <input type="hidden" class="form-control subtotal" name="subtotal" v-bind:value="[[subtotal()]]">
                                                  <input type="text" class="form-control subtotal" name="subtotal" v-bind:value="[[subtotal()]]" disabled>
                                              </div>
                                          Total:
                                              <div class="form-group col-md-3">
                                                  <input type="hidden" class="form-control total" name="total" v-bind:value="[[total()]]">
                                                  <input type="text" class="form-control total" name="total" v-bind:value="[[total()]]" disabled>
                                              </div>
                                      </div>
                                            <button type="submit" class="btn btn-primary">Generate Invoice</button>
                                            <a href="/manager/invoice/index?property_id={{propertyId}}" class="btn btn-primary">Cancel</a>
                                        </div>  
                                        </form>    
                                        <input type="hidden" class="form-control proprtyid" name="propertyId" value="{{propertyId}}">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
{% block afterJs %}
<script tyle="text/javascript" src="js/manager_invoice_edit.js"></script>
{% endblock %}




