{% extends "layout_manager.html" %}

{% block title %}Payment{% endblock %}

{% block content %}
    {% if  getStripData is empty %}
    <a href="{{connectUrl}}">Click Here</a> to add payment method to receive payment details<br>
    {% else %}
    <a href="{{loginUrl}}" target="_blank">Click here</a> to check your payment details<br>
       
    {% endif %}
{% endblock %}

{% block afterJs %}
<script type="text/javascript" src="js/manager_device_list.js"></script>
{% endblock %}
