{% extends "layout_manager.html" %}

{% block title %}Invoice{% endblock %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Invoice</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="/manager/invoice/create-invoice?property_id={{propertyId}}" class="btn btn-warning"><i class="icon icon-plus-circle"></i> Create invoice</a>                                
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Invoice Id</th>
                                                    <th>Total Amount</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>                                             
                                                {% for key,invoiceDatas in invoiceData %}
                                                    <tr data-invoiceid="{{invoiceDatas['id']}}">
                                                       <td>{{invoiceDatas['id']}}</td>
                                                       <td>{{invoiceDatas['total']}}</td>
                                                       <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button" data-toggle="dropdown"><i class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                <a class="dropdown-item" href='manager/invoice/view-invoice?token={{token[key]}}_{{invoiceDatas['id']}}'>View</a>
                                                                <a class="dropdown-item" href='manager/invoice/updateInvoice?property_id={{propertyId}}&&token={{token[key]}}_{{invoiceDatas['id']}}'>Edit</a> 
                                                            </div>
                                                        </div>    
                                                       </td>
                                                   </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete device">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert"><strong>Warning!</strong> Are you sure want to delete ?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary do-delete">
                    <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block afterJs %}
<script type="text/javascript" src="js/manager_invoice_list.js"></script>
{% endblock %}