{% extends "layout_manager.html" %}

{% block title %}Invoice{% endblock %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Invoice</h2>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="content-body">
            <section class="properties-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="invoiceprint" >
                                        <hr>  INVOICE  #<span class="invoiceid">{{invoiceDetails['id']}}</span> <hr>
                                        <div class="row" style="padding-bottom: 20px;">
                                            <div class="col-6">
                                                <span>Invoice From</span>
                                            </div>
                                            <div class="col-6">
                                                <span>Invoice To</span>
                                            </div>
                                        </div>
                                        <div class="row userdata" style="padding-bottom: 20px;">
                                            <div class="col-6">
                                                <span>{{billedFromDetails['first_name']}}&nbsp;{{billedFromDetails['last_name']}}</span><br>
                                                <span>{{billedFromDetails['city']}}-{{billedFromDetails['zipcode']}}</span><br>
                                                <span>{{billedFromDetails['state']}}</span><br>
                                                <span>{{billedFromDetails['country']}}</span><br>
                                                <span>{{billedFromDetails['email']}}</span><br>
                                                <span>{{billedFromDetails['mobile']}}</span><br>
                                           </div>
                                           <div class="col-6">
                                                <span>{{billedToDetails['first_name']}}&nbsp;{{billedToDetails['last_name']}}</span><br>
                                                <span>{{billedToDetails['city']}}-{{billedToDetails['zipcode']}}</span><br>
                                                <span>{{billedToDetails['state']}}</span><br>
                                                <span>{{billedToDetails['country']}}</span><br>
                                                <span>{{billedToDetails['email']}}</span><br>
                                                <span>{{billedToDetails['mobile']}}</span><br>
                                            </div>
                                        </div>
                                        <hr>  INVOICE CONTENTS  <hr>
                                        <div class="row" style="padding-bottom: 20px;" v-for="(input,k) in inputs" :key="k">
                                            <div class="col-8">
                                                {% for serviceNames in serviceName %}
                                                   <span>{{serviceNames}}</span><br><br>
                                                {% endfor %}
                                            </div>
                                            <div class="col-4">  
                                                {% for servicePrices in servicePrice %}
                                                  <span>${{servicePrices}}</span><br><br>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <hr>Deduction<hr>
                                        <div class="row" style="padding-bottom: 20px;" v-for="(input,k) in inputs" :key="k">
                                            <div class="col-8">
                                                {% for deduct_items in deduct_item %}
                                                <span>{{deduct_items}}</span><br><br>
                                                {% endfor %}
                                            </div>
                                            <div class="col-4">  
                                                {% for key,deduct_amounts in deduct_amount %}
                                                {% if sign[key] == '$' %}
                                                    <span>${{deduct_amounts}}</span><br><br>
                                                {% else %}
                                                    <span>{{deduct_amounts}}%</span><br><br>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row" style="padding-bottom: 20px;">
                                            <div class="col-6"></div>
                                            <div class="col-2">
                                                Total Amount:
                                            </div>
                                            <div class="col-4">
                                                <span>${{invoiceDetails['total']}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

