{% extends "layout_manager.html" %}

{% block title %}Update Invoice{% endblock %}
{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Edit Invoice</h2>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="content-body">
            <section class="properties-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div id="invoice">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                               <h5>Item</h5>                          
                                            </div>      
                                            <div class="form-group col-md-2">
                                                <h5>Quantity</h5>                                  
                                            </div>                   
                                            <div class="form-group col-md-2">
                                                <h5>Rate</h5>                                    
                                            </div>  
                                            <div class="form-group col-md-3">
                                                <h5>Amount</h5>                                   
                                            </div>            
                                        </div>  
                                        <form id="invoiceupdateform">
                                        <div class="datastructer">
                                            {% for serviceNames in serviceName %}
                                            <div class="abc form-row">
                                                <div class="form-group col-md-4">
                                                    <input type="text" class="form-control"  name="name[]" value="{{serviceNames}}">                           
                                                </div>     
                                                <div class="form-group col-md-2">
                                                    <input type="text" class="form-control quantity" name="quantity[]"  value="{{quantity[loop.index0]}}">                                
                                                </div>                     
                                                <div class="form-group col-md-2">
                                                    <input type="text" class="form-control rat" name="rate[]"  value="{{rate[loop.index0]}}">                                
                                                </div>  	
                                                <div class="form-group col-md-3">
                                                    <input type="text" class="form-control amount" name="amount[]" value="{{servicePrice[loop.index0]}}">                  
                                                </div> 
                                                <div class="form-group col-md-1">
                                                    <i class="icon icon-trash Remove" style="font-size:33px"></i>                            
                                                </div>
                                            </div>           
                                            {% endfor %}
                                        </div>
                                        <span>
                                            <button class="btn btn-info listItem" onclick="return false;" >+ Item</button>
                                         </span><br><br>
                                       <div class="deductdatastructer">
                                        {% for deduct_items in deduct_item %}
                                        <div class="form-row invoicestruct">    
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="deductitemname[]"  value="{{deduct_items}}">                     
                                            </div> 
                                            <div class="form-group col-md-2">
                                                <select class="form-control form-control-md pervalue" name="per[]">
                                                    <option value="$"  {% if sign[loop.index0] =="$"  %}
                                                    selected 
                                                    {% endif %}>Flat($)</option>
                                                    <option value="%" {% if  sign[loop.index0] == "%" %}
                                                    selected 
                                                    {% endif %}>Percent(%)</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input type="text" class="form-control deductamt" name="deductamount[]"  value="{{deduct_amount[loop.index0]}}">                     
                                            </div> 
                                            <div class="form-group col-md-1">
                                                <i class="icon icon-trash removededuct" style="font-size:33px"></i>     
                                            </div> 
                                        </div>  
                                        {% endfor %}
                                    </div>
                                    <span>
                                        <button class="btn btn-info listItemdeduct" onclick="return false;" @click="adddeduct()" >- Item</button><br><br>
                                    </span>
                                    <div class="form-row">
                                        Total Deduction:
                                        <div class="form-group col-md-3">
                                            <input type="hidden" class="form-control totaldeduct" name="totaldeduction" value="{{invoiceDetails['total_deduction']}}">
                                            <input type="text" class="form-control totaldeduct" name="totaldeduction" value="{{invoiceDetails['total_deduction']}}" disabled>
                                        </div>
                                        Subtotal:
                                        <div class="form-group col-md-3">
                                            <input type="hidden" class="form-control subtotal" name="subtotal" value="{{invoiceDetails['total_amount']}}">
                                            <input type="text" class="form-control subtotal" name="subtotal" value="{{invoiceDetails['total_amount']}}" disabled>
                                        </div>
                                    
                                        Total:
                                        <div class="form-group col-md-3">
                                            <input type="hidden" class="form-control total" name="total" value="{{invoiceDetails['total']}}">
                                            <input type="text" class="form-control total" name="total" value="{{invoiceDetails['total']}}" disabled>
                                        </div>
                                   </div>                                    
                                                <input type="hidden" class="form-control" name="id" value="{{invoiceDetails.id}}">
                                                <button type="button" class="btn btn-primary updateinvoice">Update Invoice</button>
                                                <a href="/manager/invoice/index?property_id={{propertyId}}" class="btn btn-primary">Cancel</a>
                                            </div>  
                                               <input type="hidden" class="form-control proprtyid" name="propertyId" value="{{propertyId}}">
                                        </form>    
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block afterJs %}
<script tyle="text/javascript" src="js/manager_invoice_update.js"></script>
{% endblock %}




