{% extends "layout_public.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="cart-page" style="padding: 150px 0;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Checkout Process</h3>
        <br>
        <div id="accordion">
          <div class="card">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseOne">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <strong>1. Order Summary</strong>
                        </button>
                      </h5>
              </div>
            </a>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="shopping-cart">
                  <div class="column-labels">
                    <div class="row">
                      <div class="col">
                        <label class="product-details fw-700">Product/s</label>
                      </div>
                      <div class="col">
                        <label class="product-price fw-700">Price</label>
                      </div>
                      <div class="col">
                        <label class="product-quantity fw-700">Quantity</label>
                      </div>
                      <div class="col">
                        <label class="product-removal fw-700">Remove</label>
                      </div>
                      <div class="col">
                        <label class="product-line-price fw-700">Total</label>
                      </div>
                    </div>
                  </div>
                  <div class="product-item">
                    <div class="row">
                      <div class="col">
                        <h4 class="bg-tcolor">Monthly Plan</h4>
                        <p>Jervis - 1 User Plan
                        <br>$5/Month</p>
                      </div>
                      <div class="col">
                        $5.00
                      </div>
                      <div class="col cart-quantity">
                        <input class="text-center form-control" type="number" value="1" min="1">
                      </div>
                      <div class="col">
                        <button class="remove-product btn-danger t-upper">Remove</button>
                      </div>
                      <div class="col">
                        $5.00
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="product-item">
                    <div class="row">
                      <div class="col">
                        <h4 class="bg-tcolor">Yearly Plan</h4>
                        <p>Jervis - 1 User Plan
                        <br>$50/Year</p>
                      </div>
                      <div class="col">
                        $50.00
                      </div>
                      <div class="col cart-quantity">
                        <input class="text-center form-control" type="number" value="1" min="1">
                      </div>
                      <div class="col">
                        <button class="remove-product btn-danger t-upper">Remove</button>
                      </div>
                      <div class="col">
                        $50.00
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="totals">
                        <hr>
                        <h3>Grand Total</h3>
                        <strong>$55.00</strong>
                        <br><br>
                        <button class="btn btn-warning btn-lg btn-block blue-bg">Continue</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseTwo">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong>2. Customer Information</strong>
                  </button>
                </h5>
              </div>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">Do you have an account? <a href="#">Login to Purchase</a>
                <br>
                <br>
                <form>
                  <div class="row">
                    <div class="col-6">
                      <input type="text" id="first" name="first" class="form-control" placeholder="First">
                    </div>
                    <div class="col-6">
                      <input type="text" id="last" name="last" class="form-control" placeholder="Last">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-6">
                      <input type="text" id="company" name="company" class="form-control" placeholder="Company">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <select class="form-control">
                        <option selected="true" disabled="disabled">Select a Jervis Role</option>
                        <option>Property Owner</option>
                        <option>Property Manager</option>
                        <option>Handyman Company</option>
                        <option>Handyman Company</option>
                        <option>Cleaning Company</option>
                      </select>
                      <!-- Button trigger modal -->
                      <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                        What are Jervis roles?
                      </a>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header"><!--
                              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>-->
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h3 style="color: #45ac9b;">What are Jervis roles?</h3>
                            <p style="text-align: justify;">Jervis roles encompass many areas of the short-term rental experience. The role selected allows users different views and available actions on our Jervis Manager Dock. Upon signing up, select the role that best reflects you, whether it's a cleaner or cleaning company, maintenance personnel, property owner or manager, etc. Don't see your role? Send us a message on roles and user capabilities you'd like to see.</p>
                            </div><!--
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col">
                    <br>
                    <button type="button" class="btn btn-warning btn-lg btn-block blue-bg">Continue</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseThree">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <strong>3. Payment</strong>
                  </button>
                </h5>
              </div>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <p>Please input your payment information below to submit for processing.</p>
                <form role="form">
                  <div class="form-group">
                    <label for="cardNumber">Card number</label>
                    <div class="input-group cc-cards">
                      <input type="text" name="cardNumber" placeholder="Card number" class="form-control" required>
                      <div class="input-group-append"> <span class="input-group-text text-muted">
                            <i style="color: #2b2f76" class="fab fa-cc-visa"></i>
                            <i style="color: #f79e1c" class="fab fa-cc-mastercard"></i>
                            <i style="color: #ff6a13" class="fab fa-cc-discover"></i>
                            <i style="color: #016fd0" class="fab fa-cc-amex"></i>
                          </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label><span class="hidden-xs">Expiration</span>
                        </label>
                        <div class="input-group">
                          <input type="number" placeholder="MM" name="" class="form-control" required>
                          <input type="number" placeholder="YY" name="" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group mb-4">
                        <label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV <i class="fa fa-question-circle"></i>
                        </label>
                        <input type="text" required class="form-control" placeholder="CVV">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="col-sm-3 p-0">
                        <label><span class="hidden-xs">Coupon code</span></label><input type="text" name="coupon-code" placeholder="Coupon code" class="form-control" required>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="billing-address">
                  	<div class="row">
                  		<div class="col">
			                <form>
			                  <h5>Billing Address</h5>
			                  <div class="row">
			                    <div class="col-6">
			                      <input type="text" class="form-control" id="address" placeholder="Street Address" value="" required="">
			                    </div>
			                    <div class="col-6">
			                      <input type="text" class="form-control" id="address2" placeholder="Street Address line 2 (optional)">
			                    </div>
			                    <div class="col-6">
			                      <input type="text" class="form-control" id="city" placeholder="City">
			                    </div>
			                    <div class="col-6">
			                      <input type="text" class="form-control" id="state" placeholder="State/Province">
			                    </div>
			                    <div class="col-6">
			                      <input type="text" class="form-control" id="zipcode" placeholder="Postal/Zipcode">
			                    </div>
			                    <div class="col-6">
			                      <select class="form-control">
			                        <option selected="true" disabled="disabled">Select country</option>
			                        <option>Argentina</option>
			                        <option value="AR">Argentina</option>
			                        <option value="AU">Australia</option>
			                        <option value="AT">Austria</option>
			                        <option value="BY">Belarus</option>
			                        <option value="BE">Belgium</option>
			                      </select>
			                    </div>
			                  </div>
			                </form>
                  		</div>
                  	</div>
                    <div class="row">
                      <div class="col">
                        <div>
                        	<br><!--
                          <label><input type="checkbox" name="colorCheckbox" value="person1">&nbsp;&nbsp;&nbsp;Check here if the billing address is the same as the address above.</label><br>-->
                          <label><input type="checkbox" name="colorCheckbox" value="person1">&nbsp;&nbsp;&nbsp;Will this account be paid for by a different person?</label><br><!--
                          <label><input type="checkbox" name="colorCheckbox" value="billing1">&nbsp;&nbsp;&nbsp;Do you have a different billing address?</label><br>
                          <label><input type="checkbox" name="colorCheckbox" value="blue"> Is your company billing address different than entered in the "Customer Information" section?</label>-->
                        </div>
                        <div class="person1 box">
                          <form>
                            <div class="row">
                              <div class="col-6">
                                <input type="text" id="first" name="first" class="form-control" placeholder="First">
                              </div>
                              <div class="col-6">
                                <input type="text" id="last" name="last" class="form-control" placeholder="Last">
                              </div>
                              <div class="col">
                                <input type="text" id="last" name="companyname" class="form-control" placeholder="Company Name">
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="billing1 box">
                          <form>
                            <div class="row">
                              <div class="col-6">
                                <input type="text" class="form-control" id="address" placeholder="Street Address" value="" required="">
                              </div>
                              <div class="col-6">
                                <input type="text" class="form-control" id="address2" placeholder="Street Address line 2 (optional)">
                              </div>
                              <div class="col-6">
                                <input type="text" class="form-control" id="city" placeholder="City">
                              </div>
                              <div class="col-6">
                                <input type="text" class="form-control" id="state" placeholder="State/Province">
                              </div>
                              <div class="col-6">
                                <input type="text" class="form-control" id="zipcode" placeholder="Postal/Zipcode">
                              </div>
                              <div class="col-6">
                                <select class="form-control">
                                  <option selected="true" disabled="disabled">Select country</option>
                                  <option>Argentina</option>
                                  <option value="AR">Argentina</option>
                                  <option value="AU">Australia</option>
                                  <option value="AT">Austria</option>
                                  <option value="BY">Belarus</option>
                                  <option value="BE">Belgium</option>
                                </select>
                              </div>
                            </div>
                          </form>
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-warning btn-lg btn-block blue-bg">Confirm</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}