{% extends "layout_manager.html" %} {% block title %}Properties{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Property</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="/manager/property/add-property" class="btn btn-warning"><i
                                class="icon icon-plus-circle"></i> Add Property</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Title</th>
                                                    <th>Address</th>
                                                    <th>Property Type</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for property in properties %}
                                                <tr data-property-id="{{property.property_id}}">
                                                    <td>
                                                        {% if property.logo != "" %}
                                                        <img src="{{property.logo}}" width="84"
                                                            class="img-fluid rounded" /> {% endif %}
                                                    </td>
                                                    <td>{{property.title}}</td>
                                                    <td>{{property.address}}</td>
                                                    <td>{{property.type}}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button"
                                                                data-toggle="dropdown"><i
                                                                    class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                <a class="dropdown-item"
                                                                    href="/manager/property/edit-property?property_id={{property.property_id}}">Edit</a>
                                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                                    data-target="#deleteModal">Delete</a>
                                                                <a class="dropdown-item"
                                                                    href="/manager/user/index?property_id={{property.property_id}}">View
                                                                    Role and Users</a>
                                                                <a class="dropdown-item"
                                                                    href="/manager/checklist/template?property_id={{property.property_id}}">Checklist
                                                                    Templates</a>
                                                                <a class="dropdown-item"
                                                                    href="/manager/checklist/index?property_id={{property.property_id}}">Checklists</a> {% if hasAnyPermission(property, ["Device.edit", "Device.delete", "Device.create"])
                                                                %}
                                                                <a class="dropdown-item"
                                                                    href="/manager/device/index?property_id={{property.property_id}}">Device</a>
                                                                {% endif %} {% if hasAnyPermission(property, ["Role.edit", "Role.delete", "Role.create"])
                                                                %}
                                                                <a class="dropdown-item"
                                                                    href="/manager/role/index?property_id={{property.property_id}}">Role</a>
                                                                {% endif %}
                                                                {% if hasPermission(property, "NotificationTemplate.edit") %}
                                                                <a class="dropdown-item"
                                                                    href="/manager/notification/template?property_id={{property.property_id}}">Notification
                                                                    templates</a> {% endif %}
                                                                {% if hasAnyPermission(property, ["Reservation.view",
                                                                "Reservation.edit", "Reservation.delete", "Reservation.create"]) %}
                                                                <a class="dropdown-item"
                                                                    href="/manager/reservation/index?property_id={{property.property_id}}">Reservation</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete property">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <!--
            <div class="modal-body">
                <div class="alert alert-danger" role="alert"><strong>Warning!</strong> Deleting this property will delete all checklists, templates, configured automation and check-in information.</div>
            </div>-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary do-delete">
                    <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block afterJs %}
<script type="text/javascript" src="js/manager_property_list.js"></script>
{% endblock %}