{% extends "layout_manager.html" %} {% block title %}Properties{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-body">
            <form method="POST" action="manager/property/accept-invitation?token={{token}}"class="form-horizontal">
                <h1>Invitation to role at
                {{property.title}}</h1>
                <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light wrkbtn">Accept</button>
                <a href="/manager" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Reject</a>
            </form>            
        </div>
    </div>
</div>
{% endblock %} 