{% extends "layout_manager.html" %}

{% block title %}Properties{% endblock %}

{% block afterCSS %}
<link rel="stylesheet" href="/css/cropper.css">
{% endblock %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">                        
                        <h2 class="content-header-title float-left mb-0">{% if not property %}Create property{% else %}Edit property{% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="step">
                            <ul class="nav-tabs" id="myTab">
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link active">
                                        <span class="step-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="15px" height="23px" viewBox="0 0 367 495" enable-background="new 0 0 367 495" xml:space="preserve" > <g> <defs> <rect id="SVGID_1_" width="367" height="495"/> </defs> <clipPath id="SVGID_2_"> <use xlink:href="#SVGID_1_" overflow="visible"/> </clipPath> <path clip-path="url(#SVGID_2_)" d="M319.26,7.5H47.74C25.527,7.526,7.526,25.527,7.5,47.74v399.52 c0.026,22.213,18.027,40.214,40.24,40.24h271.52c22.213-0.026,40.214-18.027,40.24-40.24V47.74 C359.474,25.527,341.473,7.526,319.26,7.5 M343.5,447.26c-0.013,13.382-10.858,24.229-24.24,24.24H47.74 c-13.382-0.012-24.227-10.858-24.24-24.24V47.74c0.013-13.382,10.858-24.227,24.24-24.24h271.52 c13.382,0.013,24.228,10.858,24.24,24.24V447.26z"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#fd9625" stroke-width="15" stroke-miterlimit="10" d="M319.26,7.5H47.74 C25.527,7.526,7.526,25.527,7.5,47.74v399.52c0.026,22.213,18.027,40.214,40.24,40.24h271.52 c22.213-0.026,40.214-18.027,40.24-40.24V47.74C359.474,25.527,341.473,7.526,319.26,7.5z M343.5,447.26 c-0.013,13.382-10.858,24.229-24.24,24.24H47.74c-13.382-0.012-24.227-10.858-24.24-24.24V47.74 c0.013-13.382,10.858-24.227,24.24-24.24h271.52c13.382,0.013,24.228,10.858,24.24,24.24V447.26z"/> <path clip-path="url(#SVGID_2_)" d="M279.5,239.5h-192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8 S283.918,239.5,279.5,239.5"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#fd9625" stroke-width="15" stroke-miterlimit="10" d="M279.5,239.5h-192 c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S283.918,239.5,279.5,239.5z"/> <path clip-path="url(#SVGID_2_)" d="M279.5,335.5h-192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8 S283.918,335.5,279.5,335.5"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#fd9625" stroke-width="15" stroke-miterlimit="10" d="M279.5,335.5h-192 c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S283.918,335.5,279.5,335.5z"/> <path clip-path="url(#SVGID_2_)" d="M279.5,143.5h-192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8 S283.918,143.5,279.5,143.5"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#fd9625" stroke-width="15" stroke-miterlimit="10" d="M279.5,143.5h-192 c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S283.918,143.5,279.5,143.5z"/> </g> </svg>
                                        </span>
                                        <span class="step-icon step-com"><img src="manager/images/property-img/check.svg" width="22" alt="..." /></span>
                                        1. Basic Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <span class="step-icon">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" viewBox="0 0 360 512" enable-background="new 0 0 360 512" xml:space="preserve" > <g> <defs> <rect id="SVGID_1_" width="360" height="512"/> </defs> <clipPath id="SVGID_2_"> <use xlink:href="#SVGID_1_" overflow="visible"/> </clipPath> <path fill="#c2c2c2" clip-path="url(#SVGID_2_)" d="M180,0C80.748,0,0,80.748,0,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257 c2.737,4.411,7.559,7.091,12.745,7.091h0.119c5.23-0.041,10.063-2.804,12.75-7.292L334.611,272.22 C351.22,244.428,360,212.539,360,180C360,80.748,279.252,0,180,0 M308.866,256.818L182.272,468.186L52.367,258.846 C37.734,235.214,29.8,207.95,29.8,180C29.8,97.29,97.29,29.8,180,29.8S330.1,97.29,330.1,180 C330.1,207.121,322.689,233.688,308.866,256.818"/> <path fill="#c2c2c2" clip-path="url(#SVGID_2_)" d="M180,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90 C270,130.374,229.626,90,180,90 M180,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2 C240.1,212.683,213.784,240.2,180,240.2"/> </g> </svg>
                                        </span>
                                        <span class="step-icon step-com"><img src="manager/images/property-img/check.svg" width="22" alt="..." /></span>
                                        2. Location Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <span class="step-icon">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" > <path d="M408.714,241H275.429v98.857h133.286L408.714,241L408.714,241z M378.714,309.857h-73.286V271h73.286V309.857z"/> <path d="M30,443.143h452.001V482H30V443.143z M133.286,271h73.285v142.142h-73.285V271z M70.144,210.961L256,103.656 l185.858,107.305v202.181H236.571V241H103.286v172.142H70.144V210.961z M30.002,165.121L256,34.641l225.999,130.48v34.374 L256,69.016L30.002,199.495V165.121z M98.856,30h38.857v38.292L98.856,90.727V30z M256,0l-88.286,50.972V0H68.857v108.047 L0.001,147.801v103.656l40.141-23.176v184.861H0V512h512v-98.858h-40.143V228.281l40.142,23.176V147.801L256,0z"/> </svg>
                                        </span>
                                        <span class="step-icon step-com"><img src="manager/images/property-img/check.svg" width="22" alt="..." /></span>

                                        3. Property Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <span class="step-icon">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="394.711px" height="405.066px" viewBox="0 0 394.711 405.066" enable-background="new 0 0 394.711 405.066" xml:space="preserve" > <g> <defs><rect id="SVGID_1_" width="394.711" height="405.066"/></defs> <clipPath id="SVGID_2_"><use xlink:href="#SVGID_1_" overflow="visible"/></clipPath> <path clip-path="url(#SVGID_2_)" d="M364.033,150.077l-34.908-34.906l1.15-4.83l38.172-11.293c2.9-0.857,4.894-3.523,4.894-6.547c0-3.025-1.993-5.69-4.894-6.547l-38.172-11.293l-8.32-34.94c-0.733-3.078-3.479-5.247-6.641-5.247c-3.162,0-5.908,2.169-6.641,5.247l-8.314,34.94l-9.062,2.681l-54.524-54.517c-10.08-10.083-23.488-15.637-37.74-15.637c-14.259,0-27.66,5.554-37.739,15.637L34.035,150.077c-20.813,20.81-20.813,54.677,0,75.485l6.373,6.373l-7.494,26.597c-3.934,20.711-27.992,56.32-28.233,56.677c-1.84,2.71-1.501,6.348,0.819,8.663l75.694,75.694c1.319,1.319,3.067,2,4.827,2c1.279,0,2.573-0.36,3.706-1.098l40.674-26.327c10.444-6.762,20.444-14.229,30.018-22.198l0.874,0.872c10.08,10.083,23.48,15.633,37.739,15.633c14.254,0,27.661-5.55,37.74-15.633L364.03,225.562C384.841,204.75,384.841,170.89,364.033,150.077 M308.021,86.633c2.346-0.693,4.139-2.587,4.707-4.966l2.587-10.877l2.593,10.877c0.568,2.381,2.361,4.273,4.707,4.966l19.833,5.868l-19.833,5.867c-2.346,0.693-4.139,2.588-4.707,4.967l-2.593,10.876l-2.587-10.876c-0.568-2.381-2.361-4.274-4.707-4.967L288.187,92.5L308.021,86.633z M122.979,362.683l-36.033,23.326l-67.86-67.86c7.026-10.916,23.641-38.144,27.106-56.49l29.108-103.313c1.14-5.987,6.453-10.1,12.64-9.493c3.153,0.301,5.993,1.82,7.994,4.281c1.926,2.367,2.84,5.319,2.587,8.347l-13.573,58.82c-0.679,2.969,0.679,6.029,3.347,7.506c2.647,1.476,5.973,1.014,8.133-1.144l98.008-98.004c3.819-3.816,10.439-3.804,14.247,0c1.899,1.903,2.952,4.434,2.952,7.124c0,2.693-1.053,5.224-2.952,7.126c0,0,0,0.002-0.002,0.002l-72.105,72.108c-2.666,2.666-2.666,6.987,0,9.653s6.987,2.666,9.653,0l92.027-92.031c3.934-3.927,10.319-3.927,14.254,0c1.898,1.903,2.947,4.434,2.947,7.127c0,2.69-1.047,5.221-2.947,7.124l-24.054,24.052c-0.004,0.004-0.01,0.007-0.015,0.01l-67.966,67.967c-2.666,2.666-2.666,6.987,0,9.653c1.333,1.332,3.081,2,4.827,2c1.745,0,3.493-0.668,4.826-2l67.975-67.972c4.014-4.007,10.542-4.006,14.566,0.005c4.015,4.018,4.015,10.558,0,14.573l-19.6,19.6l-52.033,52.029c-2.666,2.666-2.666,6.987,0,9.653c2.666,2.665,6.987,2.665,9.653,0l3.657-3.658c0.004-0.002,0.007-0.002,0.009-0.007l48.367-48.366c3.714-3.718,10.201-3.728,13.926,0.003c1.861,1.857,2.886,4.33,2.886,6.96s-1.026,5.103-2.886,6.963l-84.801,84.803C157.021,337.99,140.581,351.286,122.979,362.683 M354.38,215.91L227.121,343.162c-7.507,7.503-17.48,11.633-28.088,11.633c-10.613,0-20.585-4.13-28.086-11.636l-0.169-0.169c3.648-3.316,7.242-6.688,10.724-10.172l84.801-84.803c4.439-4.44,6.886-10.341,6.886-16.616c0-6.28-2.448-12.179-6.886-16.612c-2.463-2.468-5.457-4.178-8.655-5.275l4.674-4.675c9.341-9.341,9.341-24.54,0-33.884c-2.619-2.615-5.718-4.418-8.999-5.567l8.839-8.839c4.48-4.48,6.947-10.44,6.947-16.777c0-6.34-2.467-12.299-6.947-16.783c-9.273-9.257-24.313-9.24-33.559,0.004l-4.787,4.787c-1.144-3.199-2.922-6.216-5.479-8.771c-8.953-8.963-24.586-8.977-33.553,0l-81.173,81.173l8.32-36.057c0.06-0.259,0.101-0.521,0.133-0.78c0.753-6.817-1.206-13.5-5.533-18.823c-4.326-5.319-10.467-8.61-17.294-9.26c-13.173-1.241-24.886,7.579-27.212,19.959l-17.369,61.654l-0.964-0.965c-15.486-15.49-15.486-40.69,0-56.18L170.951,32.476c7.501-7.503,17.473-11.636,28.085-11.636c10.608,0,20.581,4.133,28.088,11.636L276.4,81.747l-14.216,4.205c-2.901,0.857-4.894,3.523-4.894,6.547c0,3.024,1.992,5.69,4.894,6.547l38.179,11.293l8.313,34.941c0.733,3.077,3.479,5.246,6.641,5.246s5.907-2.169,6.642-5.246l3.455-14.517l28.971,28.967C369.86,175.22,369.86,200.42,354.38,215.91"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#818181" stroke-width="7" stroke-miterlimit="10" d="M364.033,150.077l-34.908-34.906l1.15-4.83l38.172-11.293c2.9-0.857,4.894-3.523,4.894-6.547c0-3.025-1.993-5.69-4.894-6.547l-38.172-11.293l-8.32-34.94c-0.733-3.078-3.479-5.247-6.641-5.247c-3.162,0-5.908,2.169-6.641,5.247l-8.314,34.94l-9.062,2.681l-54.524-54.517c-10.08-10.083-23.488-15.637-37.74-15.637c-14.259,0-27.66,5.554-37.739,15.637L34.035,150.077c-20.813,20.81-20.813,54.677,0,75.485l6.373,6.373l-7.494,26.597c-3.934,20.711-27.992,56.32-28.233,56.677c-1.84,2.71-1.501,6.348,0.819,8.663l75.694,75.694c1.319,1.319,3.067,2,4.827,2c1.279,0,2.573-0.36,3.706-1.098l40.674-26.327c10.444-6.762,20.444-14.229,30.018-22.198l0.874,0.872c10.08,10.083,23.48,15.633,37.739,15.633c14.254,0,27.661-5.55,37.74-15.633L364.03,225.562C384.841,204.75,384.841,170.89,364.033,150.077z M308.021,86.633c2.346-0.693,4.139-2.587,4.707-4.966l2.587-10.877l2.593,10.877c0.568,2.381,2.361,4.273,4.707,4.966l19.833,5.868l-19.833,5.867c-2.346,0.693-4.139,2.588-4.707,4.967l-2.593,10.876l-2.587-10.876c-0.568-2.381-2.361-4.274-4.707-4.967L288.187,92.5L308.021,86.633z M122.979,362.683l-36.033,23.326l-67.86-67.86c7.026-10.916,23.641-38.144,27.106-56.49l29.108-103.313c1.14-5.987,6.453-10.1,12.64-9.493c3.153,0.301,5.993,1.82,7.994,4.281c1.926,2.367,2.84,5.319,2.587,8.347l-13.573,58.82c-0.679,2.969,0.679,6.029,3.347,7.506c2.647,1.476,5.973,1.014,8.133-1.144l98.008-98.004c3.819-3.816,10.439-3.804,14.247,0c1.899,1.903,2.952,4.434,2.952,7.124c0,2.693-1.053,5.224-2.952,7.126c0,0,0,0.002-0.002,0.002l-72.105,72.108c-2.666,2.666-2.666,6.987,0,9.653s6.987,2.666,9.653,0l92.027-92.031c3.934-3.927,10.319-3.927,14.254,0c1.898,1.903,2.947,4.434,2.947,7.127c0,2.69-1.047,5.221-2.947,7.124l-24.054,24.052c-0.004,0.004-0.01,0.007-0.015,0.01l-67.966,67.967c-2.666,2.666-2.666,6.987,0,9.653c1.333,1.332,3.081,2,4.827,2c1.745,0,3.493-0.668,4.826-2l67.975-67.972c4.014-4.007,10.542-4.006,14.566,0.005c4.015,4.018,4.015,10.558,0,14.573l-19.6,19.6l-52.033,52.029c-2.666,2.666-2.666,6.987,0,9.653c2.666,2.665,6.987,2.665,9.653,0l3.657-3.658c0.004-0.002,0.007-0.002,0.009-0.007l48.367-48.366c3.714-3.718,10.201-3.728,13.926,0.003c1.861,1.857,2.886,4.33,2.886,6.96s-1.026,5.103-2.886,6.963l-84.801,84.803C157.021,337.99,140.581,351.286,122.979,362.683z M354.38,215.91L227.121,343.162c-7.507,7.503-17.48,11.633-28.088,11.633c-10.613,0-20.585-4.13-28.086-11.636l-0.169-0.169c3.648-3.316,7.242-6.688,10.724-10.172l84.801-84.803c4.439-4.44,6.886-10.341,6.886-16.616c0-6.28-2.448-12.179-6.886-16.612c-2.463-2.468-5.457-4.178-8.655-5.275l4.674-4.675c9.341-9.341,9.341-24.54,0-33.884c-2.619-2.615-5.718-4.418-8.999-5.567l8.839-8.839c4.48-4.48,6.947-10.44,6.947-16.777c0-6.34-2.467-12.299-6.947-16.783c-9.273-9.257-24.313-9.24-33.559,0.004l-4.787,4.787c-1.144-3.199-2.922-6.216-5.479-8.771c-8.953-8.963-24.586-8.977-33.553,0l-81.173,81.173l8.32-36.057c0.06-0.259,0.101-0.521,0.133-0.78c0.753-6.817-1.206-13.5-5.533-18.823c-4.326-5.319-10.467-8.61-17.294-9.26c-13.173-1.241-24.886,7.579-27.212,19.959l-17.369,61.654l-0.964-0.965c-15.486-15.49-15.486-40.69,0-56.18L170.951,32.476c7.501-7.503,17.473-11.636,28.085-11.636c10.608,0,20.581,4.133,28.088,11.636L276.4,81.747l-14.216,4.205c-2.901,0.857-4.894,3.523-4.894,6.547c0,3.024,1.992,5.69,4.894,6.547l38.179,11.293l8.313,34.941c0.733,3.077,3.479,5.246,6.641,5.246s5.907-2.169,6.642-5.246l3.455-14.517l28.971,28.967C369.86,175.22,369.86,200.42,354.38,215.91z"/> <path clip-path="url(#SVGID_2_)" d="M42.021,30.806c3.773,0,6.827-3.057,6.827-6.827V10.326c0-3.77-3.054-6.827-6.827-6.827s-6.827,3.057-6.827,6.827v13.653C35.194,27.749,38.248,30.806,42.021,30.806"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#818181" stroke-width="7" stroke-miterlimit="10" d="M42.021,30.806c3.773,0,6.827-3.057,6.827-6.827V10.326c0-3.77-3.054-6.827-6.827-6.827s-6.827,3.057-6.827,6.827v13.653C35.194,27.749,38.248,30.806,42.021,30.806z"/> <path clip-path="url(#SVGID_2_)" d="M42.021,44.459c-3.773,0-6.827,3.057-6.827,6.827v13.653c0,3.77,3.054,6.827,6.827,6.827s6.827-3.057,6.827-6.827V51.287C48.848,47.517,45.793,44.459,42.021,44.459"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#818181" stroke-width="7" stroke-miterlimit="10" d="M42.021,44.459c-3.773,0-6.827,3.057-6.827,6.827v13.653c0,3.77,3.054,6.827,6.827,6.827s6.827-3.057,6.827-6.827V51.287C48.848,47.517,45.793,44.459,42.021,44.459z"/> <path clip-path="url(#SVGID_2_)" d="M14.713,44.459h13.654c3.773,0,6.826-3.057,6.826-6.827s-3.053-6.826-6.826-6.826H14.713c-3.773,0-6.827,3.056-6.827,6.826S10.94,44.459,14.713,44.459"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#818181" stroke-width="7" stroke-miterlimit="10" d="M14.713,44.459h13.654c3.773,0,6.826-3.057,6.826-6.827s-3.053-6.826-6.826-6.826H14.713c-3.773,0-6.827,3.056-6.827,6.826S10.94,44.459,14.713,44.459z"/> <path clip-path="url(#SVGID_2_)" d="M55.674,44.459h13.653c3.774,0,6.827-3.057,6.827-6.827s-3.053-6.826-6.827-6.826H55.674c-3.773,0-6.827,3.056-6.827,6.826S51.901,44.459,55.674,44.459"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#818181" stroke-width="7" stroke-miterlimit="10" d="M55.674,44.459h13.653c3.774,0,6.827-3.057,6.827-6.827s-3.053-6.826-6.827-6.826H55.674c-3.773,0-6.827,3.056-6.827,6.826S51.901,44.459,55.674,44.459z"/> <path clip-path="url(#SVGID_2_)" d="M332.154,338.006c-13.174,0-23.895,10.72-23.895,23.894s10.721,23.893,23.895,23.893s23.894-10.719,23.894-23.893S345.328,338.006,332.154,338.006 M332.154,372.139c-5.647,0-10.24-4.592-10.24-10.239s4.593-10.239,10.24-10.239c5.646,0,10.239,4.592,10.239,10.239S337.8,372.139,332.154,372.139"/> <path clip-path="url(#SVGID_2_)" fill="none" stroke="#818181" stroke-width="7" stroke-miterlimit="10" d="M332.154,338.006c-13.174,0-23.895,10.72-23.895,23.894s10.721,23.893,23.895,23.893s23.894-10.719,23.894-23.893S345.328,338.006,332.154,338.006z M332.154,372.139c-5.647,0-10.24-4.592-10.24-10.239s4.593-10.239,10.24-10.239c5.646,0,10.239,4.592,10.239,10.239S337.8,372.139,332.154,372.139z"/> <path clip-path="url(#SVGID_2_)" d="M383.914,293.83c-4.031,0-7.298,3.268-7.298,7.297c0,4.031,3.267,7.3,7.298,7.3c4.03,0,7.298-3.269,7.298-7.3C391.213,297.096,387.944,293.83,383.914,293.83"/> <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#818181" stroke-width="7" stroke-miterlimit="10" cx="383.914" cy="301.128" r="7.298"/> </g> </svg>
                                        </span>
                                        <span class="step-icon step-com"><img src="manager/images/property-img/check.svg" width="22" alt="..." /></span>
                                        4. Cleaning Details
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="step-form">
                            <div class="step0">
                                <h3>Please enter property basic details</h3>
                            </div>
                            <div class="step1" hidden="hidden">
                                <h3>Please property location details</h3>
                            </div>
                            <div class="step2" hidden="hidden">
                                <h3>Please enter property details</h3>
                            </div>
                            <div class="step3" hidden="hidden">
                                <h3>Please enter Cleaning details</h3>
                            </div>
                            <div class="step4 text-center" hidden="hidden">
                                <img src="manager/images/property-img/sucess-image.png" width="120" class="img-fluid mb-1 ">
                                <h3 class="success-message mb-2 ">Your New Property has been successfully {% if property %} updated! {% else %} created! {% endif %} Click below to view the property details.</h3>
                                <a href="manager/property/index" class="btn btn-warning ">VIEW PROPERTY</a>
                            </div>
                            
                            <form method="POST" enctype="multipart/form-data" action="manager/property/api/save-property/{{ property ? "#{property.id}" : '' }}" id="edit-property" class="form-horizontal" data-property="{{property|json_encode}}" data-access="{{access|json_encode}}" data-roles="{{roles|json_encode}}" @submit.prevent="save">
                                <div class="step0">
                                    <div class="form-group">
                                        <input type="text" placeholder="Title of Property" class="form-control" name="propertyTitle" id="propertyTitle" v-model="title" required />
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" v-model="type"  name="propertyType" id="propertyType" required>
                                            <option>Single Family</option>
                                            <option>Townhouse</option>
                                            <option>Apartment</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <!--div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01" />
                                            <label class="custom-file-label" for="inputGroupFile01">Upload Property Photo</label>
                                        </div -->
                                        <input type="file" name="image" ref="input" accept="image/*" @change="setImage">
                                            <div class="img-cropper mt-3" style="width: 200px;">
                                                <vue-cropper
                                                    v-show="logo"
                                                    ref="cropper"
                                                    class="vue-cropper"
                                                    :aspect-ratio="1"
                                                    :view-mode="1"
                                                    :crop-box-resizable="false"
                                                    :guides="true"
                                                    drag-mode="crop"
                                                    :auto-crop-area="1"
                                                    :min-container-width="200"
                                                    :min-container-height="200"
                                                    :background="false"
                                                    :rotatable="false"
                                                    :src="logo" 
                                                    :crop="cropImage"  
                                                    :img-style="{ 'width': '200px', 'height': '200px' }"        
                                                    :scalable="true"
                                                    />
                                            </div>
                                    </div>
                                </div>
                                
                                <div class="step1" hidden="hidden">
                                    <div class="form-group">
                                        <input type="text" placeholder="Address" class="form-control" name="propertyAddress" id="propertyAddress" v-model="address" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Zipcode" class="form-control" name="zipcode" id="zipcode" v-model="zipcode" />
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control countries" v-model="country" id="countryId" name="countryId">
                                            <option value="">Select Country</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control states" v-model="state" id="stateId" name="stateId"> 
                                            <option value="">Select State</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control cities" v-model="city" id="cityId" name="cityId">
                                            <option value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="step2" hidden="hidden">
                                    <div class="form-group">
                                        <input type="text" class="form-control"  v-model="property_square_footage" id="propertySquareFootage" name="propertySquareFootage" placeholder="Property Square Footage" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Number of Bedrooms" class="form-control" name="propertyBedroom" id="propertyBedroom" v-model="no_of_bedroom"/>  
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Number of Bathroom" class="form-control" name="propertyBathroom" id="propertyBathroom" v-model="no_of_bathroom"/>
                                    </div>
                                </div>
                                
                                <div class="step3" hidden="hidden">
                                    <div class="form-group">
                                        <select class="form-control" v-model="reason_for_cleaning" name="propertyReasonForCleaning" id="propertyReasonForCleaning">
                                            <option>Standard</option>
                                            <option>Short-Term Rental Turnover</option>
                                            <option>Short-Term Rental Mid-Stay Cleaning</option>
                                            <option>Deep Clean</option>
                                            <option>Seasonal Cleaning</option>
                                            <option>Special Occasion/Party Cleaning</option>
                                            <option>Annual Cleaning</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" v-model="frequency_of_cleanings" name="propertyFrequencyOfCleanings" id="propertyFrequencyOfCleanings">
                                            <option>one-time</option>
                                            <option>per booking reservation</option>
                                            <option>weekly</option>
                                            <option>bi-monthly</option>
                                            <option>monthly</option>
                                            <option>annually</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Current Rental Cleaning Fee" class="form-control" name="propertyCurrentRentalCleaningFee" id="propertyCurrentRentalCleaningFee" v-model="current_rental_cleaning_fee" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Cleaning Estimate" class="form-control" name="propertyCleaningEstimate" id="propertyCleaningEstimate" v-model="cleaning_estimate" />
                                    </div>
                                </div>                                
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-warning sbmt_btn">
                                        <span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status" aria-hidden="true"></span>
                                        Next <i class="fa fa-angle-right"></i>
                                    </button>
                                    <!--<a href="javascript:;" class="btn btn-block btn-warning sbmt_btn">Next <i class="fa fa-angle-right"></i></a>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete person access">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">Are you sure that you wish to remove <span class="removePersonName"></span> from this role?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary do-delete">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inviteRole" tabindex="-1" role="dialog" aria-labelledby="Invite role">
    <form class="needs-validation" novalidate>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Invite person to role</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>
                            Email
                            <input class="form-control" type="text" placeholder="john@gmail.com" name="email" />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Looks like you did not enter a valid email!
                            </div>
                        </label>
                        <div class="text-muted">
                            An email will be sent with a special link that will give them a role in this property.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Role
                            <select class="form-control" name="role_id">
                                {% for role in roles %}
                                <option value="{{role.role_id}}" {% if role.role_name == 'Property manager' %} selected="selected"{% endif %}>{{role.role_name}}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                        Invite
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="limitNotification" tabindex="-1" role="dialog" aria-labelledby="Limit Notification">
    <form class="needs-validation" novalidate>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User Limit Notifications</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">                        
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block afterJs %}

<script>
     country = "{{ property ? property.country : '' }}"; 
     state = "{{ property ? property.state : '' }}";
     city = "{{ property ? property.city : '' }}";   
</script>
<script src="js/countrystatecity.js"></script>
<script type="text/javascript" src="js/manager_property_edit.js"></script>
{% endblock %}