<html>
    <head>
        <link href="/css/bootstrap4-toggle.min.css" rel="stylesheet"> 
        <link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
	<!--end::Fonts -->

	<!--begin::Global Theme Styles(used by all pages) -->
	<link href="/manager/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/manager/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Theme Styles -->

	
    </head>
  <body>
    <div class="container">
        <h1>Filling checklist:
            {{template.title}}</h1>
        <form method='post' data-returnUrl="manager/checklist/index?property_id={{property.id}}" action="manager/checklist/api/fill/{{template.id}}{{ submission ? "/#{submission.id}" : ''}}{{ request ? "?request_id=#{request.id}" : '' }}" class="form-horizontal" id="fill">
            {% if submission %}
                <input type="hidden" name="checklistId" value=""/>
            {% endif %}

            <div class="form-group">
                Filled by
                <input class="form-control" type="text" placeholder="{{ submission ? "#{submission.first_name} #{submission.last_name}" : "#{session.managerFirstName} #{session.managerLastName}" }}" readonly/>
            </div>
            <div class="form-group">
                Date
                <input class="form-control" type="text" placeholder="{{ (submission ? submission.created : 'now')|date('F j, Y') }}" readonly/>
            </div>
            {% if submission %}
                <div class="form-group">
                    Modified
                    <input class="form-control" type="text" placeholder="{{ 'now'|date('F j, Y') }}" readonly/>
                </div>
            {% endif %}

            {% for groupId,group in template.groups %}
                <h2>{{group.title}}</h2>
                {% for taskId,task in group.tasks %}
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="toggle" name="group[{{groupId}}][{{taskId}}]" {{ submission and submission.data[groupId].tasks[taskId].checked ? 'checked' : ''}} value="1" data-toggle="toggle" data-on="Yes" data-off="No" data-size="xs"  data-onstyle="success"/>
                            {{task}}
                        </label>
                        <p class="mb-0">
                                <a data-toggle="collapse" href="#multi-collapse{{groupId}}{{taskId}}" role="button" aria-expanded="false" aria-controls="multi-collapse{{groupId}}{{taskId}}">Note</a>
                        </p>                                
                        <div class="collapse {{submission and submission.data[groupId].tasks[taskId].note ? 'show' : ''}}" id="multi-collapse{{groupId}}{{taskId}}">
                                <textarea name="note[{{groupId}}][{{taskId}}]" class="form-control" placeholder="Let us know if there is something we should pay attention to about this issue.">{{submission and submission.data[groupId].tasks[taskId].note ? submission.data[groupId].tasks[taskId].note : ''}}</textarea>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea name="notes" id="notes" class="form-control" placeholder="Let us know if there is something we should pay attention to about this property.">{{submission ? submission.notes : ''}}</textarea>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmSubmission">Submit</button>
        </form>
    </div>
  </body>
</html>

