{% extends "layout_manager.html" %} {% block title %}Filling checklist: {{template.title}} {% endblock %}
{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Filling checklist: {{template.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing border-none-last">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form method='post'
                                        data-returnUrl="manager/checklist/index?property_id={{property.id}}"
                                        action="manager/checklist/api/fill/{{template.id}}{{ submission ? "/#{submission.id} " : ''}}{{ (submission is empty and request) ? "?request_id=#{request.id} " : '' }}"
                                        class="form-horizontal" id="fill" enctype="multipart/form-data">
                                        <div class="form-body">
                                            {% if submission %} <input type="hidden" name="checklistId" value="" />
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>Filled by</label>
                                                        <input class="form-control" type="text"
                                                            placeholder="{{ submission ? " #{submission.first_name} #{submission.last_name} " : "#{session.managerFirstName} #{session.managerLastName} " }}"
                                                            readonly />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Date</label>
                                                        <input class="form-control" type="text"
                                                            placeholder="{{ (submission ? submission.created : 'now')|date('F j, Y') }}"
                                                            readonly />
                                                    </div>
                                                    {% if submission %}
                                                    <div class="form-group">
                                                        <label>Modified</label>
                                                        <input class="form-control" type="text"
                                                            placeholder="{{ 'now'|date('F j, Y') }}" readonly />
                                                    </div>
                                                    {% endif %} {% for groupId,group in template.groups %}
                                                    <h2>{{group.title}}</h2>
                                                    {% for taskId,task in group.tasks %}
                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" class="toggle"
                                                                name="group[{{groupId}}][{{taskId}}]"
                                                                {{ submission and submission.data[groupId].tasks[taskId].checked ? 'checked' : ''}}
                                                                value="1" data-toggle="toggle" data-on="Yes"
                                                                data-off="No" data-size="xs" data-onstyle="success" />
                                                            {{task}}
                                                        </label>
                                                        <p class="mb-0">
                                                            <a data-toggle="collapse"
                                                                href="#multi-collapse{{groupId}}{{taskId}}"
                                                                role="button" aria-expanded="false"
                                                                aria-controls="multi-collapse{{groupId}}{{taskId}}">Note</a>
                                                            |
                                                            <label class="button-file-upload">
                                                                Attach Files
                                                                <input type="file" name="file[{{groupId}}][{{taskId}}]"
                                                                    multiple="multiple"
                                                                    id="file-upload-{{request.id}}-{{groupId}}-{{taskId}}"
                                                                    class="form-control taskFiles" hidden>
                                                            </label>
                                                            <span class="badge badge-success"
                                                                id="filesUploaded-{{groupId}}-{{taskId}}"></span>

                                                            {% if submission and submission.data[groupId].tasks[taskId].files is not empty %}
                                                            <div class="form-group">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">#</th>
                                                                            <th scope="col">Owner</th>
                                                                            <th scope="col">Attachment</th>
                                                                            <th scope="col">Date</th>
                                                                            <th scope="col">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for file in submission.data[groupId].tasks[taskId].files %}
                                                                        <tr>
                                                                            <td scope="row">
                                                                                {{loop.index}}
                                                                            </td>
                                                                            <td>
                                                                                {% if file.uploaded_by %}
                                                                                {{file.uploaded_by}}
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>
                                                                                <span class="cursor-pointer">
                                                                                    {% if '.jpg' in file.file|lower or '.png' in file.file|lower or '.jpeg' in file.file|lower or '.gif' in file.file|lower %}
                                                                                    <span data-toggle="modal"
                                                                                        class="activateTaskFilesModalWindow"
                                                                                        data-loop-id={{loop.index}}
                                                                                        data-target="#taskFilesModal-{{groupId}}-{{taskId}}"
                                                                                        data-group-id="{{groupId}}"
                                                                                        data-task-id="{{taskId}}">
                                                                                        <img src="img/checklist-icons/image.png"
                                                                                            width="30px">
                                                                                    </span>
                                                                                    {% elseif '.mp4' in file.file|lower or '.webm' in file.file|lower or '.ogg' in file.file|lower or '.m4a' in file.file|lower or '.m4v' in file.file|lower or '.f4v' in file.file|lower or '.f4a' in file.file|lower or '.m4b' in file.file|lower or '.m4r' in file.file|lower or '.f4b' in file.file|lower or '.mov' in file.file|lower %}
                                                                                    <span data-toggle="modal"
                                                                                        class="activateTaskFilesModalWindow"
                                                                                        data-loop-id={{loop.index}}
                                                                                        data-target="#taskFilesModal-{{groupId}}-{{taskId}}"
                                                                                        data-group-id="{{groupId}}"
                                                                                        data-task-id="{{taskId}}">
                                                                                        <img src="img/checklist-icons/video.png"
                                                                                            width="30px">
                                                                                    </span>
                                                                                    {% elseif '.mp3' in file.file|lower or '.wav' in file.file|lower or '.ogg' in file.file|lower or '.aac' in file.file|lower or '.wma' in file.file|lower or '.opus' in file.file|lower %}
                                                                                    <span data-toggle="modal"
                                                                                        class="activateTaskFilesModalWindow"
                                                                                        data-loop-id={{loop.index}}
                                                                                        data-target="#taskFilesModal-{{groupId}}-{{taskId}}"
                                                                                        data-group-id="{{groupId}}"
                                                                                        data-task-id="{{taskId}}">
                                                                                        <img src="img/checklist-icons/audio.png"
                                                                                            width="30px">
                                                                                    </span>
                                                                                    {% elseif '.pdf' in file.file|lower %}
                                                                                    <span data-toggle="modal"
                                                                                        class="activateTaskFilesModalWindow"
                                                                                        data-loop-id={{loop.index}}
                                                                                        data-target="#taskFilesModal-{{groupId}}-{{taskId}}"
                                                                                        data-group-id="{{groupId}}"
                                                                                        data-task-id="{{taskId}}">
                                                                                        <img src="img/checklist-icons/pdf.png"
                                                                                            width="30px">
                                                                                    </span>
                                                                                    {% elseif '.doc' in file.file|lower or '.docx' in file.file|lower or '.rtf' in file.file|lower %}
                                                                                    <span data-toggle="modal"
                                                                                        class="activateTaskFilesModalWindow"
                                                                                        data-loop-id={{loop.index}}
                                                                                        data-target="#taskFilesModal-{{groupId}}-{{taskId}}"
                                                                                        data-group-id="{{groupId}}"
                                                                                        data-task-id="{{taskId}}">
                                                                                        <img src="img/checklist-icons/doc.png"
                                                                                            width="30px">
                                                                                    </span>
                                                                                    {% else %}
                                                                                    <span data-toggle="modal"
                                                                                        class="activateTaskFilesModalWindow"
                                                                                        data-loop-id={{loop.index}}
                                                                                        data-target="#taskFilesModal-{{groupId}}-{{taskId}}"
                                                                                        data-group-id="{{groupId}}"
                                                                                        data-task-id="{{taskId}}">
                                                                                        <img src="img/checklist-icons/file.png"
                                                                                            width="30px">
                                                                                    </span>
                                                                                    {% endif %}
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                {% if file.uploaded_at %}
                                                                                {{file.uploaded_at}}
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <a class="dropdown-toggle property-table-button"
                                                                                        data-toggle="dropdown"><i
                                                                                            class="icon icon-ellipsis"></i></a>
                                                                                    <div
                                                                                        class="dropdown-menu dropdown-menu-left">
                                                                                        <span
                                                                                            class="dropdown-item activateTaskFilesModalWindow"
                                                                                            data-toggle="modal"
                                                                                            data-loop-id={{loop.index}}
                                                                                            data-target="#taskFilesModal-{{groupId}}-{{taskId}}"
                                                                                            data-group-id="{{groupId}}"
                                                                                            data-task-id="{{taskId}}">
                                                                                            View
                                                                                        </span>
                                                                                        {% if session.managerEmail == file.uploaded_by %}
                                                                                        <a class="dropdown-item removeFile"
                                                                                            id="file-{{loop.index}}-{{submission.id}}-{{taskId}}-{{groupId}}">Delete</a>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <!-- The Modal for multiple task files -->
                                                            <div class="modal"
                                                                id="taskFilesModal-{{groupId}}-{{taskId}}">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <!-- Modal Header -->
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Attachments</h4>
                                                                        </div>
                                                                        <!-- Modal body -->
                                                                        <div class="modal-body">
                                                                            <div id="slider-{{groupId}}-{{taskId}}"
                                                                                class="carousel slide"
                                                                                data-interval="10000">
                                                                                <div class="carousel-inner">
                                                                                    {% for file in submission.data[groupId].tasks[taskId].files %}
                                                                                    <div class="carousel-item multiple-carousel"
                                                                                        id="active_multiple_file_id_{{groupId}}_{{taskId}}_{{loop.index}}">
                                                                                        <small>By:
                                                                                            {{file.uploaded_by}}
                                                                                            ({{file.uploaded_at}})
                                                                                        </small>
                                                                                        <br />
                                                                                        {% if '.jpg' in file.file|lower or '.png' in file.file|lower or '.jpeg' in file.file|lower or '.gif' in file.file|lower %}
                                                                                        <img class="img-responsive"
                                                                                            src="{{file.file}}">
                                                                                        {% elseif '.mp4' in file.file|lower or '.webm' in file.file|lower or '.ogg' in file.file|lower %}
                                                                                        <video controls>
                                                                                            <source
                                                                                                class="img-responsive"
                                                                                                src="{{file.file}}"
                                                                                                type="video/mp4">
                                                                                        </video>
                                                                                        {% elseif '.mp3' in file.file|lower or '.wav' in file.file|lower or '.ogg' in file.file|lower %}
                                                                                        <audio controls>
                                                                                            <source src="{{file.file}}"
                                                                                                type="audio/ogg">
                                                                                            <source src="{{file.file}}"
                                                                                                type="audio/mpeg">
                                                                                            Your browser does not
                                                                                            support the audio element.
                                                                                        </audio>
                                                                                        {% elseif '.pdf' in file.file|lower %}
                                                                                        <object data="{{file.file}}"
                                                                                            type="application/pdf"
                                                                                            width="100%" height="600px">
                                                                                            <p>It appears you don't have
                                                                                                a PDF plugin for this
                                                                                                browser. No biggie...
                                                                                                you can <a
                                                                                                    href="{{file.file}}">click
                                                                                                    here to download the
                                                                                                    PDF file.</a></p>
                                                                                        </object>
                                                                                        {% else %}
                                                                                        <div class="download">
                                                                                            Preview not available,
                                                                                            please <a
                                                                                                href="{{file.file}}">Download</a>
                                                                                        </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                    {% endfor %}
                                                                                </div>
                                                                                <!-- Left and right controls -->
                                                                                <a class="carousel-control-prev"
                                                                                    href="#slider-{{groupId}}-{{taskId}}"
                                                                                    data-slide="prev">
                                                                                    <span
                                                                                        class="carousel-control-prev-icon"></span>
                                                                                </a>
                                                                                <a class="carousel-control-next"
                                                                                    href="#slider-{{groupId}}-{{taskId}}"
                                                                                    data-slide="next">
                                                                                    <span
                                                                                        class="carousel-control-next-icon"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- Modal footer -->
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-warning"
                                                                                data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endif %}

                                                            <div class="file-progress file-progress-{{groupId}}-{{taskId}}"
                                                                style="display: none">
                                                                <div
                                                                    class="file-progress-bar file-progress-bar-{{groupId}}-{{taskId}}">
                                                                    &nbsp;</div>
                                                            </div>

                                                            <input type="hidden"
                                                                name="fileName[{{groupId}}][{{taskId}}]"
                                                                id="file-{{groupId}}-{{taskId}}" value="">
                                                        </p>
                                                        <div class="collapse {{submission and submission.data[groupId].tasks[taskId].note ? 'show' : ''}}"
                                                            id="multi-collapse{{groupId}}{{taskId}}">
                                                            <textarea name="note[{{groupId}}][{{taskId}}]"
                                                                class="form-control"
                                                                placeholder="Let us know if there is something we should pay attention to about this issue.">{{submission and submission.data[groupId].tasks[taskId].note ? submission.data[groupId].tasks[taskId].note : ''}}</textarea>
                                                        </div>
                                                    </div>
                                                    {% endfor %} {% endfor %}
                                                    <div class="form-group">
                                                        <label for="notes">Notes</label>
                                                        <textarea name="notes" id="notes" class="form-control"
                                                            placeholder="Let us know if there is something we should pay attention to about this property.">{{submission ? submission.notes : ''}}</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="notes">Attach Files <span
                                                                class="countCommonFiles badge badge-success"
                                                                id="countCommonFiles"></span></label>
                                                        <input type="file" name="files" id="files-{{request.id}}"
                                                            multiple="multiple" class="form-control commonFiles" />
                                                        <input type="hidden" name="commonFiles" id="commonFiles"
                                                            value="" />
                                                    </div>
                                                    <input type="hidden" class="valuesave" disabled="disabled"
                                                        name="save" value="save">
                                                </div>
                                                {% if submission and submission.files is not empty  %}
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">Owner</th>
                                                                    <th scope="col">Attachment</th>
                                                                    <th scope="col">Date</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for file in submission.files|json_decode %}
                                                                <tr>
                                                                    <td scope="row">
                                                                        {{loop.index}}
                                                                    </td>
                                                                    <td>
                                                                        {% if file.uploaded_by %}
                                                                        {{file.uploaded_by}}
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <span class="cursor-pointer">
                                                                            {% if '.jpg' in file.file|lower or '.png' in file.file|lower or '.jpeg' in file.file|lower or '.gif' in file.file|lower %}
                                                                            <span data-toggle="modal"
                                                                                class="activateCommonFilesModalWindow"
                                                                                data-loop-id={{loop.index}}
                                                                                data-target="#commonFilesModal">
                                                                                <img src="img/checklist-icons/image.png"
                                                                                    width="30px">
                                                                            </span>
                                                                            {% elseif '.mp4' in file.file|lower or '.webm' in file.file|lower or '.ogg' in file.file|lower or '.m4a' in file.file|lower or '.m4v' in file.file|lower or '.f4v' in file.file|lower or '.f4a' in file.file|lower or '.m4b' in file.file|lower or '.m4r' in file.file|lower or '.f4b' in file.file|lower or '.mov' in file.file|lower %}
                                                                            <span data-toggle="modal"
                                                                                class="activateCommonFilesModalWindow"
                                                                                data-loop-id={{loop.index}}
                                                                                data-target="#commonFilesModal">
                                                                                <img src="img/checklist-icons/video.png"
                                                                                    width="30px">
                                                                            </span>
                                                                            {% elseif '.mp3' in file.file|lower or '.wav' in file.file|lower or '.ogg' in file.file|lower or '.aac' in file.file|lower or '.wma' in file.file|lower or '.opus' in file.file|lower %}
                                                                            <span data-toggle="modal"
                                                                                class="activateCommonFilesModalWindow"
                                                                                data-loop-id={{loop.index}}
                                                                                data-target="#commonFilesModal">
                                                                                <img src="img/checklist-icons/audio.png"
                                                                                    width="30px">
                                                                            </span>
                                                                            {% elseif '.pdf' in file.file|lower %}
                                                                            <span data-toggle="modal"
                                                                                class="activateCommonFilesModalWindow"
                                                                                data-loop-id={{loop.index}}
                                                                                data-target="#commonFilesModal">
                                                                                <img src="img/checklist-icons/pdf.png"
                                                                                    width="30px">
                                                                            </span>
                                                                            {% elseif '.doc' in file.file|lower or '.docx' in file.file|lower or '.rtf' in file.file|lower %}
                                                                            <span data-toggle="modal"
                                                                                class="activateCommonFilesModalWindow"
                                                                                data-loop-id={{loop.index}}
                                                                                data-target="#commonFilesModal">
                                                                                <img src="img/checklist-icons/doc.png"
                                                                                    width="30px">
                                                                            </span>
                                                                            {% else %}
                                                                            <span data-toggle="modal"
                                                                                class="activateCommonFilesModalWindow"
                                                                                data-loop-id={{loop.index}}
                                                                                data-target="#commonFilesModal">
                                                                                <img src="img/checklist-icons/file.png"
                                                                                    width="30px">
                                                                            </span> {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if file.uploaded_at %}
                                                                        {{file.uploaded_at}}
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <div class="dropdown">
                                                                            <a class="dropdown-toggle property-table-button"
                                                                                data-toggle="dropdown"><i
                                                                                    class="icon icon-ellipsis"></i></a>
                                                                            <div
                                                                                class="dropdown-menu dropdown-menu-left">
                                                                                <span
                                                                                    class="dropdown-item activateCommonFilesModalWindow"
                                                                                    data-loop-id={{loop.index}}
                                                                                    data-toggle="modal"
                                                                                    data-target="#commonFilesModal">
                                                                                    View
                                                                                </span>
                                                                                {% if session.managerEmail == file.uploaded_by %}
                                                                                <a class="dropdown-item removeFile"
                                                                                    id="removeFile-{{loop.index}}-{{submission.id}}">Delete</a>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <!-- The Modal for common files -->
                                                <div class="modal" id="commonFilesModal">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Attachments</h4>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                                <div id="sliderId" class="carousel slide"
                                                                    data-interval="10000">
                                                                    <div class="carousel-inner">
                                                                        {% for file in submission.files|json_decode %}
                                                                        <div class="carousel-item common-carousel"
                                                                            id="active_common_file_id_{{loop.index}}">
                                                                            <small>By:
                                                                                {{file.uploaded_by}}
                                                                                ({{file.uploaded_at}})
                                                                            </small>
                                                                            <br />
                                                                            {% if '.jpg' in file.file|lower or '.png' in file.file|lower or '.jpeg' in file.file|lower or '.gif' in file.file|lower %}
                                                                            <img class="img-responsive"
                                                                                src="{{file.file}}">
                                                                            {% elseif '.mp4' in file.file|lower or '.webm' in file.file|lower or '.ogg' in file.file|lower %}
                                                                            <video controls>
                                                                                <source class="img-responsive"
                                                                                    src="{{file.file}}"
                                                                                    type="video/mp4">
                                                                            </video>
                                                                            {% elseif '.mp3' in file.file|lower or '.wav' in file.file|lower or '.ogg' in file.file|lower %}
                                                                            <audio controls>
                                                                                <source src="{{file.file}}"
                                                                                    type="audio/ogg">
                                                                                <source src="{{file.file}}"
                                                                                    type="audio/mpeg">
                                                                                Your browser does not
                                                                                support the audio element.
                                                                            </audio>
                                                                            {% elseif '.pdf' in file.file|lower %}
                                                                            <object data="{{file.file}}"
                                                                                type="application/pdf" width="100%"
                                                                                height="600px">
                                                                                <p>It appears you don't have
                                                                                    a PDF plugin for this
                                                                                    browser. No biggie...
                                                                                    you can <a
                                                                                        href="{{file.file}}">click
                                                                                        here to download the
                                                                                        PDF file.</a></p>
                                                                            </object>
                                                                            {% else %}
                                                                            <div class="download">
                                                                                Preview not available,
                                                                                please <a
                                                                                    href="{{file.file}}">Download</a>
                                                                            </div>
                                                                            {% endif %}
                                                                        </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                    <!-- Left and right controls -->
                                                                    <a class="carousel-control-prev" href="#sliderId"
                                                                        data-slide="prev">
                                                                        <span class="carousel-control-prev-icon"></span>
                                                                    </a>
                                                                    <a class="carousel-control-next" href="#sliderId"
                                                                        data-slide="next">
                                                                        <span class="carousel-control-next-icon"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-warning"
                                                                    data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% endif %}
                                                <div class="col-12">
                                                    <div class="file-progress file-progress-common"
                                                        style="display: none">
                                                        <div class="file-progress-bar file-progress-bar-common">
                                                            &nbsp;</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 text-center">
                                                    <button type="button"
                                                        class="btn btn-warning mr-1 mb-1 waves-effect waves-light"
                                                        data-toggle="modal"
                                                        data-target="#confirmSubmission">Submit</button>
                                                    <button type="button"
                                                        class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light save">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal" id="deleteConfirmationBox" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure, you want to delete this file?</p>
                <p class="text-success file-deleted"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="indexId" id="indexId" value="" />
                <input type="hidden" name="submissionId" id="submissionId" value="" />
                <input type="hidden" name="taskId" id="taskId" value="" />
                <input type="hidden" name="groupId" id="groupId" value="" />
                <button type="button" class="btn btn-primary confirmDeleteFile">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmSubmission" tabindex="-1" role="dialog" aria-labelledby="Confirm submission">
    <form class="needs-validation" novalidate>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirm submission</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:0px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger unticked-boxes-message">
                        You are about to submit a checklist with&nbsp;
                        <span class="unticked-boxes-number">N</span>&nbsp; unticked checkboxes.
                    </p>
                    Are you sure that you wish to submit this checklist? Want to double-check? Go ahead and click
                    'Cancel'.
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm invisible" role="status"
                            aria-hidden="true"></span>
                        Confirm
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %} {% block afterJs %}
<link href="/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script type="text/javascript" src="js/checklist_fill.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel('pause');
    });
    //for multiple files
    $(".activateTaskFilesModalWindow").click(function () {
        var index_id = $(this).attr('data-loop-id');
        var groupId = $(this).attr('data-group-id');
        var taskId = $(this).attr('data-task-id');
        $('.carousel-item.multiple-carousel').removeClass('active');
        $('#active_multiple_file_id_' + groupId + '_' + taskId + '_' + index_id).addClass('active');
    });
    //for common files
    $(".activateCommonFilesModalWindow").click(function () {
        var index_id = $(this).attr('data-loop-id');
        $('.carousel-item.common-carousel').removeClass('active');
        $('#active_common_file_id_' + index_id).addClass('active');
    });
</script>
{% endblock afterJs %}