{% extends "layout_manager.html" %} {% block title %}Checklists {% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header mb-1">
            <div class="content-header-left border-bottom">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Incomplete Tasks</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing incomplete-tasks">
                <div class="row ">
                    {% for title, tasks in uncheckedTasks %}

                    <div class="col-12">
                        <h3 class="sub-heading">{{title}}</h3>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th width="80%" style="text-align: left">Task</th>
                                                    <th width="20%" style="text-align: right;">Last Completed Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for title, created in tasks|sort %}
                                                <tr>
                                                    <td width="80%" style="text-align: left">{{title}}</td>
                                                    <td width="20%" style="text-align: right;">{{created}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}