{% extends "layout_manager.html" %} {% block title %}Checklists {% endblock %} {% block afterCSS %} {% endblock %}
{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Completed Checklist</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="manager/checklist/add-template?property_id={{property.property_id}}"
                            class="btn btn-warning waves-effect waves-light"><i class="icon icon-plus-circle"></i> New
                            Checklist</a>
                    </div>

                    <div class="col-12" hidden>
                        {% for template in templates %}
                        <a class="btn btn-warning" style="margin-bottom: 5px;"
                            href="/manager/checklist/fill/?template_id={{template.id}}"><i
                                class="icon icon-plus-circle"></i>New {{template.title}}</a> {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing checklist_status">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Date Completed</th>
                                                    <th>Checklist Type</th>
                                                    <th>Assigned To</th>
                                                    <th>Status</th>
                                                    <th>Priority</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for submission in submissions %}
                                                <tr>
                                                    <td>{{submission.due_date}}</td>
                                                    <td>{{submission.template_title}}</td>
                                                    <td>{{submission.first_name}} {{submission.last_name}}</td>
                                                    <td
                                                        {{submission.status == 1 ? 'class="text-green"' : submission.status == 2 ? 'class="text-red"' : 'class="text-yellow"'}}>
                                                        {{submission.status == 1 ? 'Completed' : submission.status == 2 ? 'Incomplete' : 'Not Started Yet'}}
                                                    </td>
                                                    <td>{{submission.priority == 1 ? 'Standard' : submission.priority == 2 ? 'Important' : 'Urgent'}}
                                                    </td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button"
                                                                data-toggle="dropdown"><i
                                                                    class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                <a target="_blank" class="dropdown-item"
                                                                    href='/manager/checklist/pdf-view/?submission_id={{submission.checklist_id}}'>PDF</a>
                                                                {% if submission.submitter_id != user.id %}
                                                                <a class="dropdown-item"
                                                                    href='/manager/checklist/edit-submission/?submission_id={{submission.checklist_id}}&request_id={{submission.request_id}}'>Edit</a>
                                                                <a class="dropdown-item"
                                                                    href='javascript:deleteSubmission({{submission.checklist_id}})'>Delete</a>
                                                                <!-- <a class="dropdown-item" href='/manager/review/index?token={{token}}_{{submission.submitter_id}}'>Review</a> -->
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                <tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Assigned Checklist</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="/manager/checklist/fill-request" class="btn btn-warning" data-toggle="modal"
                            data-target="#fill-request"><i class="icon icon-plus-circle"></i> Create Checklist
                            Request</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing checklist_status">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Due Date</th>
                                                    <th>Checklist Type</th>
                                                    <th>Assigned To</th>
                                                    <th>Status</th>
                                                    <th>Priority</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for request in requests %}
                                                <tr>
                                                    <td><span
                                                            class="{% if request.status == 0 %} alert-danger {% elseif request.status == 1 %} alert-success {% elseif request.status == 2 %} alert-warning {% elseif request.status == 3 %} alert-primary  {% else %} alert-success {% endif %}">{{request.due_date|date('M d, Y')}}</span>
                                                    </td>
                                                    <td>{{request.template_title}}</td>
                                                    <td>{{request.first_name}} {{request.last_name}}</td>
                                                    <td
                                                        {{request.status == 1 ? 'class="text-green"' : request.status == 2 ? 'class="text-red"' : 'class="text-yellow"'}}>
                                                        {{request.status == 1 ? 'Completed' : request.status == 2 ? 'Incomplete' : 'Not Started Yet'}}
                                                    </td>
                                                    <td>{{request.priority == 1 ? 'Standard' : request.priority == 2 ? 'Important' : 'Urgent'}}
                                                    </td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button"
                                                                data-toggle="dropdown"><i
                                                                    class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                {% if ownerId == request.user_id %}
                                                                {% if request.status == 0 or request.status == 2%}
                                                                {% if not request.filled_id %}
                                                                <a class="dropdown-item"
                                                                    href='/manager/checklist/fill/?template_id={{request.template_id}}&request_id={{request.id}}'>Submit</a>
                                                                {% else %}
                                                                <a class="dropdown-item"
                                                                    href='/manager/checklist/edit-submission/?submission_id={{request.filled_id}}&request_id={{request.id}}' '>Submit</a>
                                                                                {% endif %}
                                                                        {% endif %} 
                                                                    {% else %}
                                                                            {% if request.status == 0 %}
                                                                                Not Started
                                                                            {% else %}
                                                                                {{request.status == 1 ? 'Complated ' : request.status == 2 ? 'In Progress ' : request.status == 3 ?  'Pending Review ':' '}}
                                                                            {% endif %}
                                                                    {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="fill-request" tabindex="-1" role="dialog" aria-labelledby="Make checklist fill request">
    <form method="POST" action="manager/checklist/api/fill-request" class="form-horizontal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Make checklist fill request</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:0px;"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Template</label>
                        <select class="form-control" name="template_id">
                            {% for template in templates %}
                            <option value="{{template.id}}">{{template.title}} ({{template.code}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Recipient</label>
                        <select name="recipient_id" class="form-control">
                            {% for user in users %}
                            <option value="{{user.user_id}}">{{user.first_name}} {{user.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Due date</label>
                        <!--
                                Find solution for missing support in Apple Safari
                                https://caniuse.com/#search=input%20date
                            -->
                        <!--<input type="date" min="{{ 'now '|date('Y-m-d ') }}" class="form-control" name="due_date" />-->
                        <div class="form-group">

                            <div class="date_time">
                                <input type="datetime-local" name="due_date"  class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Priority</label>
                        <select name="priority" class="form-control">
                            <option value="1">Standard</option>
                            <option value="2">Important</option>
                            <option value="3">Urgent</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                     <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                        Send
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %} {% block afterJs %}
<script type="text/javascript" src="js/manager_checklist_submissions.js"></script>
{% endblock %}