{% extends "layout_manager.html" %} {% block title %}Templates{% endblock %} {% block afterCSS %}
<link rel="stylesheet" type="text/css" href="manager/vendors/css/extensions/dragula.min.css" />
<link rel="stylesheet" type="text/css" href="manager/css/plugins/extensions/drag-and-drop.css" /> {% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">{% if not template %}Create template{% else %}Edit template{% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing">
                <div class="row match-height">
                    <div class="col-12" id="card-drag-area">
                        <div class="">
                            <div class="card-content">
                                <div class="">
                                    <form method="POST" action="manager/checklist/template/api/save-template{{ template ? " ?id=#{template.id} " : "?property_id=#{propertyId} " }}" id="edit-checklist-template" class="form-horizontal" data-template="{{template|json_encode}}">
                                        <div class="form-body">
                                            <div class="row card card-body">
                                                {% verbatim %}
                                                <div class="alert alert-danger alert-dismissible" v-if="error" style="position: sticky; top: 5px;display: none">
                                                    <strong>Warning!</strong> {{error}}
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="templateTitle">Title</label>
                                                        <input class="form-control" type="text" v-model="title" placeholder="Pre-checkout cleanup, Cleaning personnel weekly tasks, Monthly maintenance tasks..." id="templateTitle" />
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12" style="display: none">
                                                    <div class="form-group">
                                                        <label for="templateCode">Code</label>
                                                        <input class="form-control" type="text" v-model="code" placeholder="K, KD, B, BM..." id="templateCode" maxlength="10" />
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="notes">Notes</label>
                                                        <textarea class="form-control pickatime" v-model="notes" id="notes" placeholder="Notes, notes, notes..."></textarea>
                                                    </div>
                                                </div>
                                                {% endverbatim %}
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"  name="recurring" id="recurring" />
                                                            <label class="custom-control-label" for="recurring">Recurring?</label>
                                                        </div>
                                                    </div>
                                                </div>                    
                                                <div id="scheduleInfo" class="invisible collapse">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="toWhome">To Whom</label>
                                                            <select class="form-control" name="to_whome" v-model="to_whome" required>
                                                                {% for role in roles %}
                                                                    <li>{{ role.role_name|e }}</li>
                                                                    <option value="{{role.role_name}}">{{role.role_name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="duration">When</label>
                                                        <div class="row">
                                                            <div class="form-group col-md-4">
                                                                <select id="duration" name="duration" class="form-control" v-model="duration" required>
                                                                    <option value="1 min">1 min</option>
                                                                    <option value="5 min">5 min</option>
                                                                    <option value="15 min">15 min</option>
                                                                    <option value="30 min">30 min</option>
                                                                    <option value="45 min">45 min</option>
                                                                    <option value="1 hour">1 hour</option>
                                                                    <option value="2 hour">2 hour</option>
                                                                    <option value="3 hour">3 hour</option>
                                                                    <option value="4 hour">4 hour</option>
                                                                    <option value="5 hour">5 hour</option>
                                                                    <option value="6 hour">6 hour</option>
                                                                    <option value="7 hour">7 hour</option>
                                                                    <option value="8 hour">8 hour</option>
                                                                    <option value="9 hour">9 hour</option>
                                                                    <option value="10 hour">10 hour</option>
                                                                    <option value="11 hour">11 hour</option>
                                                                    <option value="12 hour">12 hour</option>
                                                                    <option value="15 hour">15 hour</option>
                                                                    <option value="18 hour">18 hour</option>
                                                                    <option value="20 hour">20 hour</option>
                                                                    <option value="22 hour">22 hour</option>
                                                                    <option value="1 Day">1 Day</option>
                                                                    <option value="2 Day">2 Day</option>
                                                                    <option value="3 Day">3 Day</option>
                                                                    <option value="4 Day">4 Day</option>
                                                                    <option value="5 Day">5 Day</option>
                                                                    <option value="6 Day">6 Day</option>
                                                                    <option value="1 week">1 week</option>         
                                                                    <option value="Weekly">Weekly</option>
                                                                    <option value="Monthly">Monthly</option>
                                                                    <option value="Quarterly">Quarterly</option>
                                                                    <option value="Yearly">Yearly</option>                    
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-4" {% if template.duration is defined and template.duration in [ 'Weekly', 'Monthly', 'Quarterly', 'Yearly']|keys %} style="display: none;" {% endif %}>
                                                                <select id="before_after" name="before_after" class="form-control" v-model="before_after" required>
                                                                    <option value="Before">Before</option>
                                                                    <option selected="" value="After">After</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-4" {% if template.duration is defined and template.duration in [ 'Weekly', 'Monthly', 'Quarterly', 'Yearly']|keys %} style="display: none;" {% endif %}>
                                                                <select id="event" name="event" class="form-control" v-model="event" required>
                                                                    <option value="Reservation">Reservation</option>
                                                                    <option value="Check-in">Check-in</option>
                                                                    <option value="Check-out">Check-out</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="subject">Subject</label>
                                                            <input type="text" name="subject" class="form-control" value="" v-model="subject" placeholder="Subject" required>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>                                        
                                        {% verbatim %}       
                                            <h3>Tasks</h3>
                                            <draggable v-model="groups" group="taskgroups" @start="drag=true" @end="drag=false" handle=".handle" v-on:sort="sortGroups">
                                                <div v-for="(group, groupIdx) in groups" class="list-group" style="margin: 5px 0">
                                                    <div class="list-group-item" style="position: relative">
                                                        <div class="handle" style="padding: 10px; position: absolute; top: 0; right: 28px; cursor: default"><img src="manager/images/property-img/drag-icon.png" class="img-fluid" /></div>
                                                        <div style="padding: 12px; position: absolute; top: 0; right: 52px; cursor: pointer" v-on:click="deleteGroup(groupIdx)"><i class="icon icon-trash"></i></div>
                                                        <div class="form-group">
                                                            <label :for="'group' + groupIdx">Group</label>
                                                            <input class="form-control" type="text" v-model="group.title" placeholder="Kitchen, bathroom, bedroom..." v-on:input="updateGroups" :id="'group' + groupIdx" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Tasks</label>
                                                            <div>
                                                                <draggable v-model="group.tasks" group="taskitems" @start="drag=true" @end="drag=false" handle=".handle" v-on:sort="sortGroup(group)">
                                                                    <template v-for="task in group.tasks">
                                                                        <div style="display: flex;margin-bottom: 5px;">
                                                                            <input class="form-control" type="text" v-model="task.title" v-on:input="updateItems(group)" placeholder="New task..." />
                                                                            <div class="handle" style="flex: 0 0 auto; padding: 5px; cursor: default"><img src="manager/images/property-img/drag-icon.png" class="img-fluid" /></div>
                                                                            <!-- <div style="padding: 5px; cursor: pointer" class="taskTrash" ><i class="icon icon-trash"></i></div> -->
                                                                        </div>
                                                                    </template>
                                                                </draggable>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </draggable>
                                        {% endverbatim %}
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light" v-on:click="save">Save</button>
                                                <a href="/manager/checklist/template?property_id={{propertyId}}" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</a>
                                            </div> 
                                        </div>                                       
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>    
    </div>
</div>

{% endblock %} {% block afterJs %}
<script src="manager/vendors/js/extensions/dragula.min.js"></script>
<script src="manager/js/scripts/forms/select/form-select2.js"></script>
<!-- <script src="manager/js/scripts/extensions/drag-drop.js"></script> -->
<script type="text/javascript" src="js/manager_checklist_template_edit.js"></script>
<!-- <script>
    $('.taskTrash').on('click',function(event){       
        $(event.target.parentElement.parentElement).remove()
    });
</script>     -->
{% endblock %}