{% extends "layout_manager.html" %}

{% block title %}Email Notifications Template{% endblock %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-body">
            <section class="properties-listing Calendar-listing border-none-last">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Template Name</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            
                                                {% for templates in template %}
                                                <tr data-template-id="{{ templates.id }}"></tr>
                                                    <td >{{templates.title}}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                <a class="dropdown-item" href="/admin/notification/edit-template?id={{ templates.id }}">Edit</a>
                                                                <!-- <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#deleteModal" data-id="{{ templates.id }}">Delete</a> -->
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
 <div class="container">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete device">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert"><strong>Warning!</strong> Are you sure want to delete ?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary do-delete">
                        <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                        Delete
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
 </div>  

{% endblock %}

{% block afterJs %}
<script type="text/javascript" src="js/admin_mail_notification.js"></script>
{% endblock %}