{% extends "layout_manager.html" %}

{% block title %}Templates{% endblock %}

{% block content %}

 <!-- BEGIN: Content-->
 <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Manage Profile</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header row align-items-center mt-4 mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">{% if not template %}Create template{% else %}Edit {{template.title}}{% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing border-none-last">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" method="POST" action="admin/notification/api/save-template{{ template ? "?id=#{template.id}" : "" }}" id="edit-admin-template"  data-template="{{template|json_encode}}">
                                        <input type="hidden" name="title" value="{{template.title}}">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="subject">Subject</label>
                                                        <input type="text" name="subject" class="form-control" value="{{template.subject}}" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="content">Body</label>
                                                        <div id="summernote" name="body"></div>
                                                    </div>
                                                </div>
                                                

                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light" v-on:click="save">Save</button>
                                                    <a type="reset" href="/admin/notification/" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>

{% endblock %}

{% block afterJs %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>  
<script type="text/javascript" src="js/admin_mail_notification.js"></script>
<script>
    $(document).ready(function() {
        if($("#summernote").length > 0) {
            $("#summernote").summernote();
            $('#summernote').summernote('code', '{{ template.body |raw }}');
        }               
    });
</script>
{% endblock %}