{% extends "layout_manager.html" %} {% block title %}Devices{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">{% if not device %}Create device{% else %}Edit device{% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form method="POST" action="manager/device/api/save-device/{{ device ? "#{device.device_id}" : '' }}" id="edit-device" class="form-horizontal" data-device="{{device|json_encode}}" data-access="{{access|json_encode}}">
                                        <div class="form-body">
                                            <input type="hidden" id="devicePropertyId" value="{{propertyId}}">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="deviceTitle">Title</label>
                                                        <input class="form-control" type="text" v-model="title" placeholder="Input Device Title" id="deviceTitle" />
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="deviceDescription">Description</label>
                                                        <input class="form-control" type="text" v-model="description" placeholder="Input Device Description" id="deviceDescription" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="deviceType">Type</label>
                                                        <select class="form-control" v-model="type" id="deviceType">
                                                            <option>WiFi</option>
                                                            <option>Door</option>
                                                            <option>Garage</option>
                                                            <option>TV</option>
                                                            <option>Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light" v-on:click="save"><span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status" aria-hidden="true"></span>
                                                        Save</button>
                                                    <a href="/manager/device/index?property_id={{propertyId}}" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %} {% block afterJs %}
<script type="text/javascript" src="js/manager_device_edit.js"></script>
{% endblock %}