{% extends "layout_manager.html" %} {% block title %}Devices{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">List Device</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="btn-group">
                            <button class="btn btn-warning dropdown-toggle" type="button" id="connectButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon icon-plus-circle"></i> Connect
                            </button>
                            <div class="dropdown-menu" aria-labelledby="connectButton">
                                <a class="dropdown-item" href="/manager/device/api/connect/schlage_account">Schlage
                                    Account</a>
                                <a class="dropdown-item" href="/manager/device/api/connect/august_account">Yale
                                    Account</a>
                                <a class="dropdown-item" href="/manager/device/api/connect/august_account">August
                                    Account</a>
                                <a class="dropdown-item" href="/manager/device/api/connect/kasa_account">TP-Link Kasa
                                    Account</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning dropdown-toggle" type="button" id="disconnectButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon icon-plus-circle"></i> Disconnect
                            </button>
                            <div class="dropdown-menu" aria-labelledby="disconnectButton">
                                <a class="dropdown-item" href="/manager/device/api/disconnect/schlage_account">Schlage
                                    Account</a>
                                <a class="dropdown-item" href="/manager/device/api/disconnect/august_account">Yale
                                    Account</a>
                                <a class="dropdown-item" href="/manager/device/api/disconnect/august_account">August
                                    Account</a>
                                <a class="dropdown-item" href="/manager/device/api/disconnect/kasa_account">TP-Link Kasa
                                    Account</a>
                            </div>
                        </div>
                        <a href="/manager/device/api/refresh">
                            <button class="btn btn-warning dropdown-toggle" type="button" id="refreshButton">
                                <i class="icon icon-plus-circle"></i> Refresh
                            </button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing">
                {% if successMsg %}
                <div class="alert alert-success"> {{successMsg}} </div>
                {% elseif errorMsg %}
                <div class="alert alert-danger"> {{errorMsg}} </div>
                {% endif %}
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Type</th>
                                                    <th>Status</th>
                                                    <th>Operations</th>
                                                    <th>Assigned Property</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for device in devices %}
                                                <tr data-device-id="{{device.deviceId}}">
                                                    <td>{{device.name}}</td>
                                                    <td>{{device.description}}</td>
                                                    <td>{{device.type}}</td>
                                                    <td>
                                                        <select class="form-control state_select">
                                                            <option value="0">Select Status</option>
                                                            {% for state in device.states %}
                                                            <option
                                                                value="manager/device/api/state-request/{{device.device_id}}/{{state._id}}/">
                                                                {{state.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control action_select">
                                                            <option value="0">Select Action</option>
                                                            {% for action in device.actions %}
                                                            <option
                                                                value="manager/device/api/action-request/{{device.device_id}}/{{action._id}}/">
                                                                {{action.action_def.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control property_select">
                                                            <option value="0">Not Assigned</option>
                                                            {% for property in property_list %}
                                                            {% set selected = '' %}
                                                            {% if (property.id) == device.assignedPropertyId %}
                                                            {% set selected = 'selected' %}
                                                            {% endif %}
                                                            <option value="{{ property.id }}" {{ selected }}>
                                                                {{property.title}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete device">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:0px;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert"><strong>Warning!</strong> Are you sure want to delete ?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary do-delete">
                    <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block afterJs %}
<script type="text/javascript" src="js/manager_device_list.js"></script>
{% endblock %}