{% extends "layout_manager.html" %}

{% block title %}Review{% endblock %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Reviews</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="javascript:;" class="btn btn-warning"><i class="icon icon-plus-circle"></i> New Notification</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing border-none-last">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive review_table">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>User name</th>
                                                    <th>Reviewer Name</th>
                                                    <th>Feedback</th>
                                                    <th>Rating</th>
                                                </tr>
                                            </thead>
                                            <tbody>                                            
                                                {% for ratingDatas in ratingData %}
                                                    <tr>
                                                        <td>{{ratingDatas['first_name']}}</td>
                                                        <td>{{ratingDatas['name']}}</td>
                                                        <td>{{ratingDatas['review_text']}}</td>
                                                        <td>{{ratingDatas['rating']}} Star</td>
                                                    </tr>
                                                {% endfor %}                                                                                                                                                 
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}