{% extends "layout_manager.html" %}

{% block title %}Review{% endblock %}

{% block content %}
<div class="container">
    <h1>Review Form</h1> 
    <form method="POST" action="manager/review/add-review?userid={{userId}}&&reviewerid={{reviewerId}}" id="add_review"  @submit.prevent="save">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="feedback">Your Feedback</label>
            <textarea rows="6" cols="64" name="feedback" placeholder="Write Your Feedback" required> </textarea>
        </div>
    </div>     
    <div class="form-row">
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
    </div>           
    <div class="mt-5">
        <button type="submit" class="btn btn-primary">
            <!--<span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status" aria-hidden="true"></span>-->
            Submit
        </button>
    </div>
</div>
{% endblock %}
{% block afterJs %}
   <script type="text/javascript" src="js/manager_review.js"></script>
{% endblock %}


