{% extends "layout_manager.html" %}
{% block content %}

{% block title %}Users{% endblock %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Edit plan</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form"  method="POST" action="admin/user/api/save-user-plan/{{ "#{manager.id}" }}" id="edit-plan">
                                        <div class="form-body">
                                            <div class="row">
                                                {% if managerType == 1 %}
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="access_admin">User Type</label>
                                                        <select name="access_admin"  class="form-control">
                                                            <option value="0" {{ manager.access_admin == 0 ? 'selected' : '' }}>Normal User</option>
                                                            <option value="1" {{ manager.access_admin == 1 ? 'selected' : '' }}>Super User</option>
                                                            <option value="2" {{ manager.access_admin == 2 ? 'selected' : '' }}>Admin</option>
                                                            <option value="3" {{ manager.access_admin == 3 ? 'selected' : '' }}>Helpdesk</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="Property">Number of property</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="number" class="form-control"  type="number" name="property" min="0" placeholder="Number of property" value="{{ plan.property is defined ? plan.property : ''}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="User">Number of User</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="number" class="form-control" name="user" min="0" placeholder="Number of User" value="{{ plan.user is defined ? plan.user : ''}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="trial_date">Trial end date</label>
                                                        
                                                            <div class="date_time">
                                                                <input type="date" name="trial_end_date" class="form-control" value="{{ trial_end_date is defined ? trial_end_date : ''}}"  />
                                                            </div>                                                           
                                                       
                                                    </div>
                                                </div> 
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>Reservation</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="number" class="form-control"  name="per_month" min="0" placeholder="per month" value="{{ plan.reservation.per_month is defined ? plan.reservation.per_month : ''}}"/>
                                                            <small class="form-text text-muted">(Per Month)</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>Reservation</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="number" class="form-control" name="per_year" min="0" placeholder="per year" value="{{ plan.reservation.per_year is defined ? plan.reservation.per_year : ''}}"/>
                                                            <small class="form-text text-muted">(Per Year)</small>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 text-center">
                                                    {% if managerType != 3 %}  
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light" v-on:click="save">
                                                        <span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status"aria-hidden="true"></span>
                                                          Save
                                                    </button>
                                                    {% endif %}
                                                    <a href="/admin/" type="reset" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>
    </div>
</div>

{% endblock %}

{% block afterJs %}
</script>
<script type="text/javascript" src="js/admin_user_plan.js"></script>
{% endblock %}
