<div class="container">
    <div class="cta_wrap" data-aos="fade-up" data-aos-duration="2000">
        <h2>Your Automated, Short-Term Property Management Solution Is Just A Few Clicks Away!</h2>
        <a href="/signup" class="btn button-primary">GET STARTED <span class="fas fa-arrow-right"></span></a>
        <a href="./#top" class="btn button-secondary">VIEW VIDEO <span class="fas fa-arrow-right"></span></a>
    </div>
</div>