<footer class="container-fluid footer_wrap" data-aos="fade-up" data-aos-duration="2000">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer_contact_us">
                        <div class="footer_logo">
                            <a href="/"><img src="{{URL}}/img/footer-logo.png" class="img-fluid" height="92" width="98"
                                    alt="Jervis Systems Logo" /></a>
                        </div>
                        <p>
                            <a href="/contact"><img src="{{URL}}/img/icon-email.png" height="14" width="21"
                                    alt="Contact Our Team" />Contact Our Team</a>
                        </p>
                        <!--  <p>
                             <a href="tel:401278228"><img src="img/icon-phone.png" height="19" width="19" alt="phone icon" />+(401)-278-228</a>
                         </p> -->
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer_nav">
                        <h3 class="footer_title">Quick Links</h3>
                        <ul>
                            <li><a href="./#why_jervis">Why Jervis Systems?</a></li>
                            <li><a href="/features">Features</a></li>
                            <li><a href="./#pricing">Plans & Pricing</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                        <ul>
                            <li><a href="about">About</a></li>
                            <li><a href="/blog">BLOG</a></li>
                            <li><a href="/login">members area</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="social_link">
                        <h3 class="footer_title">Connect with Us</h3>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/Jervis-Systems-108349317449681/?modal=admin_todo_tour"
                                    target="_blank"><i class="fab fa-facebook-f" aria-label="facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/JervisSystems" target="_blank"><i class="fab fa-twitter"
                                        aria-label="twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/jervis_systems/" target="_blank"><i
                                        class="fab fa-instagram" aria-label="Instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/jervis-systems/" target="_blank"><i
                                        class="fab fa-linkedin-in" aria-label="linkedin"></i></a>
                            </li>

                    </div>
                </div>
            </div>
            <div class="row no-gutters footer_bottom">
                <div class="col-md-6 other_link"><a href="/TermsOfService">terms of service</a> | <a
                        href="/PrivacyPolicy">privacy policy</a> | <a href="/RefundPolicy">Refund policy</a></div>
                <div class="col-md-6">
                    <p class="copyright">Jervis Systems. Copyright &copy; {{ "now"|date("Y") }} - Present. All rights
                        reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>