<header class="container-fluid" id="header">
    <div class="row">
        <div class="container">
            <div class="header_wrap">
                <div class="header_item">
                    <h1 class="logo">
                        <a href="/"><img src="img/logo.png" class="img-fluid" height="67" width="71"
                                alt="Jervis Systems Logo" /></a>
                    </h1>
                </div>
                <div class="header_item">
                    <nav id="main">
                        <ul>
                            <li class="nav_element"><a href="./#why_jervis">Why Jervis Systems?</a></li>
                            <li class="nav_element"><a href="/features">Features</a></li>
                            <li class="nav_element"><a href="./#pricing">Plans & Pricing</a></li>
                            <li class="nav_element"><a href="/about">About</a></li>
                            <li class="nav_element"><a href="/blog">Blog</a></li>
                            <li class="nav_element"><a href="/contact">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header_item">
                    <div class="menu_btn">
                        <a href="javascript:;" class="header__nav-button"><span></span><span></span><span></span></a>
                    </div>
                    <a href="/login" class="btn button-primary">Login <i class="far fa-user"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>