{% extends "layout_manager.html" %}

{% block title %}Appoinment Notifications{% endblock %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">List Calendar</h2>
                    </div>
                </div>
            </div>            
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Location</th>
                                                    {% if appoinmentData and appoinmentData[0]['is_owner'] and appoinmentData[0]['is_owner'] == 1 %} <th>Name</th> {% endif %}
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Property Details</th>
                                                    <th>Operations</th>                        
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for key,appoinmentDatas in appoinmentData %}
                                                <tr>
                                                    <td>{{appoinmentDatas['comapny_name']}}</td>
                                                    {% if appoinmentData and appoinmentDatas['is_owner'] == 1 %} <td>{{appoinmentDatas['user_name']}}</td> {% endif %}
                                                    <td>{{appoinmentDatas['date']}}</td>
                                                    <td>{{appoinmentDatas['time']}}</td>
                                                    <td>
                                                        {% set otherDetails = appoinmentDatas['other_details']|json_decode %}
                                                        
                                                        
                                                        <a class="otherdetailsbtn" style="color: #5867dd;cursor:pointer;" data-toggle="modal" data-target="#otherdetailsview" 
                                                        data-service="{{otherDetails['service']}}" data-name="{{otherDetails['name']}}" data-propertytitle="{{otherDetails['propertytitle']}}" data-propertylocation="{{otherDetails['city']}}, {{otherDetails['state']}}, {{otherDetails['country']}}, {{otherDetails['zipcode']}}" data-propertytype="{{ otherDetails['propertytype'] is defined ? otherDetails['propertytype'] : "" }}" data-zipcode="{{ otherDetails['zipcode'] is defined ? otherDetails['zipcode'] : "" }}" data-propertysqft="{{ otherDetails['propertySqft'] is defined ? otherDetails['propertySqft'] : "" }}" data-bedroomsqft="{{otherDetails['bedroomsqft']}}" data-bathroomsqft="{{otherDetails['bathroomsqft']}}" data-cleaningreason="{{otherDetails['cleaningreason']}}"
                                                        data-cleaningfrequency="{{otherDetails['cleaningfrequency']}}"  data-estimate="{{otherDetails['estimate']}}">View</a>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button" data-toggle="dropdown"><i class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                {% if appoinmentDatas['id'] is defined %}
                                                                    {% if appoinmentDatas['status'] == 0 %}    
                                                                        {% if appoinmentDatas['is_owner'] == 0 %}
                                                                            <a  class="dropdown-item acceptbtn"  style="color: #5867dd;cursor:pointer;" data-toggle="modal"
                                                                            data-target="#confirmappoinment" data-id="{{appoinmentDatas['id']}}"
                                                                            data-email="{{appoinmentDatas['email']}}" data-date="{{appoinmentDatas['date']}}"
                                                                            data-time="{{appoinmentDatas['time']}}">Confirm</a>                                        
                                                                        {% else %}
                                                                            Invite Pending
                                                                        {% endif %}
                                                                    {% else %}
                                                                        Confirmed
                                                                    {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmappoinment" tabindex="-1" role="dialog" aria-labelledby="Appoinment Confirm">
    <form method="POST" action="" id="confirmappoinmentdata">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Appoinment Booking</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:0px;"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" id="id" name="id">
                        <input type="text" id="email" name="email">
                       <input type="hidden" id="date" name="date">
                       <input type="hidden" id="time" name="time">
                       <span>Are You sure?</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="confirmappoinmentbtn btn btn-primary">
                        Confirm
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="otherdetailsview" tabindex="-1" role="dialog" aria-labelledby="Other Details">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Property Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:0px;"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-5">Service</dt>
                        <dd class="col-sm-7"><span id="service"></span></dd>
                        <dt class="col-sm-5">Name</dt>
                        <dd class="col-sm-7"><span id="name"></span></dd>
                        <dt class="col-sm-5">Property Title/Name</dt>
                        <dd class="col-sm-7"><span id="propertytitle"></span></dd>
                        <dt class="col-sm-5">Property Type</dt>
                        <dd class="col-sm-7"><span id="propertytype"></span></dd>
                        <dt class="col-sm-5">Property Location</dt>
                        <dd class="col-sm-7"><span id="propertylocation"></span></dd>
                        <dt class="col-sm-5">Property Square Footage</dt>
                        <dd class="col-sm-7"><span id="propertysqft"></span></dd>
                        <dt class="col-sm-5">Number of Bedrooms</dt>
                        <dd class="col-sm-7"><span id="bedroomsqft"></span></dd>
                        <dt class="col-sm-5">Number of Bathrooms</dt>
                        <dd class="col-sm-7"><span id="bathroomsqft"></span></dd>                        
                        <dt class="col-sm-5">Reason For Cleaning</dt>
                        <dd class="col-sm-7"><span id="cleaningreason"></span></dd>                        
                        <dt class="col-sm-5">Frequency of Cleanings</dt>
                        <dd class="col-sm-7"><span id="cleaningfrequency"></span></dd>                        
                        <dt class="col-sm-5">Cleaning Turnover Estimate (For Vacation Rentals)</dt>
                        <dd class="col-sm-7"><span id="estimate"></span></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block afterJs %}
<script tyle="text/javascript" src="js/booking_notification.js"></script>
{% endblock %}
