{% extends "layout_manager.html" %}

{% block title %}Calender{% endblock %}


{% block content %}
<script>
    var wrkday = "{{wrkdaytoggle_off}}";
    var wrkday = wrkday.split(',');
    var datatimeoff  = '{{datatimeoff|json_encode|raw}}';
    var userid = '{{userid}}';
    var propertyId = '{{propertyId}}';
</script>
{% block afterCss %}
   <link rel="stylesheet" href="manager/css/calender.css"/ >

{% endblock %} 
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Calendar</h2>
                    </div>
                </div>
            </div>            
        </div>
        <div class="content-body">
            <section class="properties-listing Calendar-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">

                                    <div class="calenderdetail" align="center">
                                        <span>Select a Date & Time</span>
                                        <div class="monthtitle" style="margin: 16px;">
                                            <span class="year col-md-8" id="label"></span> 
                                            <span class="left-button col-md-1" style="cursor: pointer;" id="prev"> &lang; </span> 
                                            <span class="right-button col-md-1" style="cursor: pointer;" id="next"> &rang; </span>
                                        </div> 
                                        <br>
                                       <table class="days-table table table-responsive" style="display: inline-table; text-align: center;"> 
                                            <td class="day">Sun</td> 
                                            <td class="day">Mon</td> 
                                            <td class="day">Tue</td> 
                                            <td class="day">Wed</td> 
                                            <td class="day">Thu</td> 
                                            <td class="day">Fri</td> 
                                            <td class="day">Sat</td>
                                        </table> 
                                        <div class="frame" style="display: grid; "> 
                                            <table class="dates-table table table-responsive" style="display: inline-table; text-align: center;"> 
                                                <tbody class="tbody" style="cursor: pointer;">             
                                                </tbody> 
                                            </table>
                                        </div>    
                                    </div>   
                                    <div class="timeblog" style="display:none">
                                        <div class="timeline-wrapper card br loader" style="display:none;">      
                                            <table class="table table-responsive">
                                                <tr>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                    <td><h6 class="comment br animate w80"></h6></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
    
{% endblock %}

{% block afterJs %}
<script tyle="text/javascript" src="js/appoinment_booking_calender.js"></script>
<script tyle="text/javascript" src="js/booking_notification.js"></script>
{% endblock %}