{% extends "layout_manager.html" %} {% block title %}Schedule Setup{% endblock %} {% block afterCSS %}

{% endblock %} {% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Setup Schedule</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#working" role="tab" aria-selected="true">Working Hours </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#breaks" role="tab" aria-selected="false">Breaks</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#time" role="tab" aria-selected="false">Time Off </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#services" role="tab" aria-selected="false">Services</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="working" aria-labelledby="working-tab" role="tabpanel">
                                            <div class="wrkhrs table-responsive schedule_table">                                                
                                                <form method="POST" action="" id="formwrkhrs">
                                                <table class="table working_table">
                                                    <tbody>
                                                        {% for key,workingHour in workinHours %}
                                                        <tr>
                                                            <td> <input type="text" name="wrkdayname[{{key}}]" value="{{workingHour.wrkdayname}}" hidden>
                                                                <span>{{workingHour.wrkdayname}}</span>
                                                            </td>
                                                            <td>                                                               
                                                                <div class="custom-control custom-switch custom-switch-warning">
                                                                    <input type="checkbox" class="custom-control-input" name="status[{{key}}]" id="status[{{key}}]" {% if workingHour.status=="on" %} checked="checked" {% else %} unchecked="unchecked" {% endif %} />
                                                                    <label class="custom-control-label" for="status[{{key}}]"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="position-relative has-icon-right">
                                                                    <input type="text" class="form-control timepicker" name="starttime[{{key}}]" id="starttime[{{key}}]" value="{{workingHour.starttime}}" />
                                                                    <div class="form-control-position">
                                                                        <i class="icon icon-clock"></i>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">To</td>
                                                            <td>
                                                                <div class="position-relative has-icon-right">
                                                                    <input type="text" class="form-control timepicker" name="endtime[{{key}}]" id="endtime[{{key}}]" value="{{workingHour.endtime}}" />
                                                                    <div class="form-control-position">
                                                                        <i class="icon icon-clock"></i>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-12 text-center">
                                                <button class="btn btn-warning mr-1 mb-1 waves-effect waves-light wrkbtn"><span class="wrkspin"></span>Save</button>
                                                
                                                <button type="reset" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</button>
                                            </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane addbreakdata" id="breaks" aria-labelledby="breaks-tab" role="tabpanel">
                                            <div class="table-responsive schedule_table">
                                                <form method="POST" action="" id="formaddbrk">
                                                    <table class="table breaks_table">
                                                        <tbody>
                                                            {% for daydataname in ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'] %}   
                                                            {% if daydataname not in addBreak|keys %}                                                          
                                                            <tr>
                                                                <td class="addbreak">
                                                                    <input type="text" name="" value="{{daydataname}}" hidden>
                                                                    <span class="col-form-label">{{daydataname}}</span>
                                                                </td>                                                                 
                                                                <td> 
                                                                    <table>                                                                         
                                                                        <span class="{{daydataname}}Slot" ></span>                                                                        
                                                                    </table>   
                                                                 </td>
                                                                 <td><a href="javascript:;"  class="{{daydataname}}" data-break="{{daydataname}}"><i class="icon icon-plus-circle"></i></a></td>
                                                            </tr>
                                                            {% else %}  
                                                            {% for key,addBreaks in addBreak if daydataname == key %}
                                                                <tr>
                                                                    <td class="addbreak">
                                                                        <input type="text" name="" value="{{key}}" hidden>
                                                                        <span class="col-form-label">{{key}}</span>
                                                                    </td> 
                                                                    <td> 
                                                                        <span class="{{key}}Slot" >
                                                                        {% for index,break in addBreaks if daydataname == key  %}
                                                                        <table data-index="{{index}}">                                                                                                                                                 
                                                                            <tr data-index="{{index}}">                                                             
                                                                                <td style="width: 40%;">
                                                                                    <div class="position-relative has-icon-right">
                                                                                        <input type="text" class="form-control timepicker" id="{{key}}[{{index}}][start]" name="{{key}}[{{index}}][start]" value="{{addBreak[key][index]['start']}}" />
                                                                                        <div class="form-control-position">
                                                                                            <i class="icon icon-clock"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="text-center" style="width: 5%;">To</td>
                                                                                <td style="width: 35%;">
                                                                                    <div class="position-relative has-icon-right">
                                                                                        <input type="text" class="form-control timepicker" id="{{key}}[{{index}}][end]" name="{{key}}[{{index}}][end]" value="{{addBreak[key][index]['end']}}" />
                                                                                        <div class="form-control-position">
                                                                                            <i class="icon icon-clock"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </td> 
                                                                                <td style="width: 2%;">
                                                                                    <a href="javascript:;"  class="{{daydataname}}" data-break="{{daydataname}}"><i class="icon icon-plus-circle"></i></a>                                                                                   
                                                                                </td>                                                                                                                               
                                                                                <td style="width: 2%;">                                                                                   
                                                                                    <a href="javascript:;"><i class="icon icon-trash deletetimeslot"></i></a>                                                                   
                                                                                </td>
                                                                            </tr> 
                                                                        </span>                                                                     
                                                                        </table> 
                                                                        {% endfor %}     
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>                                                    
                                                    <div class="col-12 text-center">
                                                        <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light addbrkbtn"><span class="brkspin"></span>Save</button>
                                                        <button type="reset" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</button>
                                                    </div>

                                                </form>
                                            </div>

                                            <div class="hide" style="display:none">
                                                <div id="hiddendrop">
                                                    <table>
                                                        <tr data-index="1">                                                             
                                                            <td style="width: 40%;">
                                                                <div class="position-relative has-icon-right">
                                                                    <input type="text" class="form-control timepicker" id="start[]" name="start[]"  value="10:00 AM" />
                                                                    <div class="form-control-position">
                                                                        <i class="icon icon-clock"></i>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center" style="width: 5%;">To</td>
                                                            <td style="width: 35%;">
                                                                <div class="position-relative has-icon-right">
                                                                    <input type="text" class="form-control timepicker" id="end[]" name="end[]" value="01:00 PM" />
                                                                    <div class="form-control-position">
                                                                        <i class="icon icon-clock"></i>
                                                                    </div>
                                                                </div>
                                                            </td>                                                                                                                                                                                           
                                                            <td style="width: 2%;">                                                            
                                                                <a href="javascript:;"><i class="icon icon-trash deletetimeslot"></i></a>                                                                   
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="tab-pane" id="time" aria-expanded="false">
                                            <div class="table-responsive schedule_table">
                                                <table class="table breaks_table">
                                                    <tbody>
                                                        {% for key,dayoffOffDetails in dayoffOffDetail %}
                                                            {% if dayoffOffDetails.startofftime != '' %}
                                                                <tr>
                                                                    <td>
                                                                        <div class="date_time">
                                                                            <input type="date" class="form-control" name="startdate" value="{{dayoffOffDetails.startdate}}" />
                                                                        </div>
                                                                    </td>
                                                                    <td> 
                                                                         <input type="text" class="form-control timepicker" id="startofftime" name="startofftime" value="{{dayoffOffDetails.startofftime}}" />             
                                                                    </td>
                                                                    <td class="text-center">To</td>
                                                                    <td>
                                                                        <div class="date_time">
                                                                            <input type="date" name="enddate" class="form-control" value="{{dayoffOffDetails.enddate}}" />
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                         <input type="text" class="form-control timepicker" id="startofftime" name="startofftime" value="{{dayoffOffDetails.endofftime}}" />
                                                                    </td>
                                                                    <td><a title="Delete" class="btn"><i class="icon icon-trash deletetimeoffbtn" data-id="{{dayoffOffDetails.id}}" style="cursor:pointer;"></i></a>
                                                                    </td>
                                                                </tr>
                                                            {% else %}
                                                                <tr>
                                                                    <td class="text-center"><i class="icon icon-clock"></i></td>
        
                                                                    <td>
                                                                        <div class="date_time">
                                                                            <input type="date" class="form-control" name="startdate" value="{{dayoffOffDetails.startdate}}" />
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">To</td>
                                                                    <td>
                                                                        <div class="date_time">
                                                                            <input type="date" name="enddate" class="form-control" value="{{dayoffOffDetails.enddate}}" />
                                                                        </div>
                                                                    </td>
                                                                    
                                                                        <td>All Day Off</td>
                                                                    
                                                                    <td><a title="Delete" class="btn"><i class="icon icon-trash deletetimeoffbtn" data-id="{{dayoffOffDetails.id}}" style="cursor:pointer;"></i></a>
                                                                    </td>
                                                                </tr>
                                                            {% endif%}
                                                        {% endfor %}
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="text-right">
                                                <button type="button" class="btn" data-toggle="modal" data-target="#myModal" style="float:right;"><i class="icon icon-plus-circle" ></i>Add New TIme Off</button>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="services" aria-expanded="false">
                                            <div class="d-flex justify-content-end">                                                
                                                <a href="javascript;" class="btn btn-warning waves-effect waves-light" data-toggle="modal" data-target="#service"><i class="icon icon-plus-circle"></i> Create Service</a>
                                            </div>
                                            <div class="table-responsive schedule_table">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Service Name</th>
                                                            <th>Operations</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                     {% for key,services in service %}
                                                    <tr>
                                                        <td>{{services}}</td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <a class="dropdown-toggle property-table-button" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-ellipsis"></i></a>
                                                                <div class="dropdown-menu dropdown-menu-left">
                                                                    <a class="dropdown-item editservice" data-toggle="modal" data-target="#editservice" data-servicekey="{{key}}" data-service="{{services}}">Edit</a>
                                                                    <a class="dropdown-item deleteservice" data-service="{{services}}">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:650px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New TIme Off</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:0px; padding:0px;">
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" id="formdayoff">    
                    <div class="form-group">
                        Start Date:
                        <input type="date" name="startdate" class="form-control">                             
                    </div>
                    <div class="form-group">
                        Start Time:
                        <div class="position-relative has-icon-right">
                            <input type="text" class="form-control timepicker" id="startofftime" name="startofftime"  />
                            <div class="form-control-position">
                                <i class="icon icon-clock"></i>
                            </div>
                        </div>                          
                    </div>                                      
                    <div class="form-group">
                        End Date:
                        <input type="date" name="enddate" class="form-control">                              
                    </div>
                    <div class="form-group">
                        End Time:
                        <div class="position-relative has-icon-right"></div>     
                            <input type="text" class="form-control timepicker" id="endofftime" name="endofftime"   />
                            <div class="form-control-position">
                                <i class="icon icon-clock"></i>
                            </div> 
                        </div>                            
                    </div>                                   
                
                    <div class="modal-footer">
                        <button class="btn btn-bold btn-label-brand btn-sm dayoffbtn">Save</button>
                        <button type="button" class="btn btn-bold btn-label-brand btn-sm dayoffclose" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="service" tabindex="-1" role="dialog" aria-labelledby="service">
    <form method="POST" id="add_service">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add Service</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:0px;"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>
                            Service Name
                            <input class="form-control" type="text"  name="servicename" />
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary addservice">
                        <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                        Add Service
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="editservice" tabindex="-1" role="dialog" aria-labelledby="editservice">
    <form method="POST" id="edit_service">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Edit Service</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin:0px;"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>
                            Service Name
                            <input class="form-control" type="text"  name="servicename" id="servicename"/>
                            <input class="form-control" type="hidden"  name="servicekey" id="servicekey"/>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary editservicebtn">
                        <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                        Edit Service
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %} {% block afterJs %}
<script tyle="text/javascript" src="js/manager_schedule_edit.js"></script>
{% endblock %}