{% extends "layout_manager.html" %}

{% block title %}Admin{% endblock %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">User Account Setup</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing checklist_status">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for manager in managers %}
                                                <tr  data-manager-id="{{ manager.id }}">
                                                    <td>{{ manager.first_name }} {{ manager.last_name }}</td>
                                                    <td>{{ manager.email }}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button" data-toggle="dropdown"><i class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                <a class="dropdown-item" href="/admin/user/index?id={{ manager.id }}">Edit </a>
                                                                {% if managerType != 3 %}
                                                                   <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal">Delete </a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete Plan">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert"><strong>Warning!</strong> Are you sure want to delete ?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary do-delete">
                    <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block afterJs %}
<script type="text/javascript" src="js/admin_user_plan.js"></script>
{% endblock %}