{% extends "layout_manager.html" %}

{% block title %}Roles{% endblock %}

{% block content %}
<!------------>
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-7 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">List Roles</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right d-flex justify-content-end col-md-5 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="/manager/role/add-role?property_id={{property_id}}" class="btn btn-warning"><i class="icon icon-plus-circle"></i> Create role</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="properties-listing checklist_status">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for role in roles %}
                                                <tr data-role-id="{{role.role_id}}">
                                                    <td>{{role.role_name}}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle property-table-button" data-toggle="dropdown"><i class="icon icon-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                {% if hasPermission(property, "Role.edit") %}
                                                                   <a class="dropdown-item" href='/manager/role/edit-role?id={{role.role_id}}&property_id={{property_id}}'>Edit</a>
                                                                {% endif %}
                                                                <a class="dropdown-item" href='manager/user/index?property_id={{property_id}}&roleid={{role.role_id}}'>Show Team</a> 
                                                                <a class="dropdown-item invite" href="#" data-toggle="modal" data-target="#inviteRoleUser" data-roleid="{{role.role_id}}">Invite</a>
                                                                {% if hasPermission(property, "Role.delete") %}
                                                                   <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal">Delete</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<!------------->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete role">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert"><strong>Warning!</strong> Are you sure want to delete ?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary do-delete">
                    <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="View role">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="view-modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	
<div class="modal fade" id="inviteRoleUser" tabindex="-1" role="dialog" aria-labelledby="Invite role">
    <form class="needs-validation" novalidate>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Invite person to role</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 0px;"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" type="hidden" placeholder="Property Id"  name="propertyid" value="{{property_id}}" />
                        <label>
                            Email
                            <input class="form-control" type="text" placeholder="john@gmail.com" name="email" />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Looks like you did not enter a valid email!
                            </div>
                        </label>
                        <div class="text-muted">
                            An email will be sent with a special link that will give them a role in this property.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Role
                            <select class="form-control" class="inviterole" name="role_id">
                                {% for role in roles %}
                                <option value="{{role.role_id}}">{{role.role_name}}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
                        Invite
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block afterJs %}
<script type="text/javascript" src="js/manager_role_list.js"></script>
<script type="text/javascript" src="js/manager_user_search.js"></script>
{% endblock %}
