{% extends "layout_manager.html" %} {% block title %}Roles{% endblock %} {% block content %}
<!----------------------------------------------->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper properties_wrap">
        <div class="content-header row align-items-center mb-1">
            <div class="content-header-left col-md-12 col-12">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">{% if not role %} Create Role {% else %} Edit role {% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section class="properties-listing checklist_status">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" method="POST" action="manager/role/api/save-role/{{ role ? "#{role.role_id}" : '' }}" id="edit-role" class="form-horizontal" data-role="{{role|json_encode}}" data-access="{{access|json_encode}}">
                                        <input type="hidden" name="propertyId" id="propertyId" value="{{propertyId}}">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="roleName">Role Name</label>
                                                        <input type="text" class="form-control" name="roleName" placeholder="Input Role Name" id="roleName" value="{{ role ? " #{role.role_name} " : '' }}" />
                                                    </div>
                                                </div>
                                               
                                                <div class="col-12">
                                                    {% set perm_group = [] %}
                                                    {% for permission in permissions if permission not in perm_group %}
                                                    <div class="checkbox-group row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input permission-group" id="{{permission.perm_group}}" />
                                                                    <label for="{{permission.perm_group}}" class="custom-control-label">{{permission.perm_group}}</label>
                                                                    <div class="row col-md-12">
                                                                        {% for p in permissions if p.perm_group == permission.perm_group and p not in perm_group %}                                                                   
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <div class="custom-control custom-checkbox">
                                                                                        <input type="checkbox" id="permission-{{p.id}}" name="permissions[]" class="custom-control-input the-permission" value="{{p.id}}" {% if p.id in assignedPermissions %} checked  {% endif %}  v-model='permissions[{{loop.index}}].value'>
                                                                                        <label class="custom-control-label" for="permission-{{p.id}}">{{p.description}}</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>                                                                    
                                                                        {% set perm_group = perm_group|merge([p]) %} {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>                                               
                                                <div class="col-md-12 text-center">
                                                    <button type="submit" class="save btn btn-warning mr-1 mb-1 waves-effect waves-light"> <span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status" aria-hidden="true"></span>Save</button>
                                                    <button  class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light"><a href="/manager/role/index?property_id={{propertyId}}">Cancel</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>



{% endblock %} {% block afterJs %}
<script type="text/javascript" src="js/manager_role_edit.js"></script>
{% endblock %}