
{% block content %}

<div class="container">
    {% set perm_group = "" %}
    {% for rolePermission in rolePermissions %}
        {% if rolePermission.perm_group !=  perm_group%}
            <br><b>{{rolePermission.perm_group}}</b>
            {% set perm_group = rolePermission.perm_group %}
        {% endif %} 
        <li>{{rolePermission.description}}</li>
    {% endfor %}
</div>

{% endblock %}

{% block afterJs %}

{% endblock %}