{% extends "layout_manager.html" %}

{% block title %}Properties{% endblock %}
{% block afterCSS %}
<style type="text/css">    
    #card-errors{color: #fa755a}
    #token-error{display: none !important}
    .invalid-feedback{font-size: 100% !important;font-weight: 500;padding-left: 1.6rem;}
    .icon_card{top:32px;right:12px;}
</style>
{% endblock %}
{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Billing Information</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            {% if card.default_source.funding is defined %}
                                            <h5>You can update your billing info here</h5>
                                            <div class="form-group"></div> 
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group" id="update_card_btn_block">
                                                        <div class="form-group text-center">
                                                            <button class="btn btn-primary" id="update_card_btn">Update {{card.default_source.funding|capitalize}} Card</button>
                                                            <div class="form-group"></div>
                                                            <h5> {{card.default_source.brand}} ****- {{card.default_source.last4}}  Expires {{card.default_source.exp_month}}/{{card.default_source.exp_year}} </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <form method="POST" action="manager/profile/api/save-card/" id="card_form" class="form-horizontal">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="error"></div>
                                                        <div class="form-group"></div>
                                                        <div class="col-12 update_card_form" hidden="hidden">
                                                            <div class="form-group">
                                                                <label>Card Number</label>
                                                                <div class="position-relative has-icon-right" id="card_number">
                                                                    <input type="text" class="form-control"/>                                                                    
                                                                </div>
                                                                <div class="form-control-position icon_card">
                                                                    <i class="icon icon-card"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 col-md-6 col-12 update_card_form" hidden="hidden">
                                                            <div class="form-group">
                                                                <label>Expiry Date</label>
                                                                <div id="card_expiry">
                                                                    <input type="text" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>                                                       
                                                        <div class="col-lg-3 col-md-4 col-12 update_card_form" hidden="hidden">
                                                            <div class="form-group position-relative">
                                                                <label>CVC Code</label>
                                                                <div id="card_cvc">
                                                                    <input type="text" class="form-control" />                                                                    
                                                                </div>
                                                                <a href="javascript:;" class="question"><i class="fa fa-question"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Used to display form errors -->
                                                <div id="card-errors" role="alert"></div>

                                                <div class="col-12 update_card_form"  hidden="hidden">
                                                    <button class="btn btn-warning mr-1 mb-1 waves-effect waves-light" id="card_submit" data-cardtype="update">Update Card</button>
                                                </div>

                                            </form>
                                            {% else %}
                                            <form method="POST" action="manager/profile/api/add-card/" id="card_form" class="form-horizontal">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label>Select Plan</label>
                                                                <select class="form-control" id="plan_id" name="plan_id" required>
                                                                    {% for plan in billingPlans %}                
                                                                    <option value="{{ plan.id }}">{{plan.description}}</option>
                                                                    {% endfor %}                                                                    
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label>Card Number</label>
                                                                <div class="position-relative has-icon-right" id="card_number">
                                                                    <input type="text" class="form-control"/>                                                                    
                                                                </div>
                                                                <div class="form-control-position icon_card">
                                                                    <i class="icon icon-card"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 col-md-6 col-12">
                                                            <div class="form-group">
                                                                <label>Expiry Date</label>
                                                                <div id="card_expiry">
                                                                    <input type="text" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>                                                       
                                                        <div class="col-lg-3 col-md-4 col-12">
                                                            <div class="form-group position-relative">
                                                                <label>CVC Code</label>
                                                                <div id="card_cvc">
                                                                    <input type="text" class="form-control" />                                                                    
                                                                </div>
                                                                <a href="javascript:;" class="question"><i class="fa fa-question"></i></a>
                                                            </div>
                                                        </div>                                                                                                                
                                                    </div>
                                                </div>
                                                <!-- Used to display form errors -->
                                                <div id="card-errors" role="alert"></div>

                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light" id="card_submit" data-cardtype="add">Add Card</button>
                                                    <button type="reset" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light">Cancel</button>
                                                </div>
                                            </form>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6 payment-option">
                                            <p>We accept all major credit/debit cards:</p>
                                            <div class="payment-icon">
                                                <a href="javascript:;"><img src="manager/images/property-img/visa.jpg" class="img-fluid" /></a>
                                                <a href="javascript:;"><img src="manager/images/property-img/master-card.jpg" class="img-fluid" /></a>
                                                <a href="javascript:;"><img src="manager/images/property-img/american-express.jpg" class="img-fluid" /></a>
                                                <a href="javascript:;"><img src="manager/images/property-img/discover-logo.jpg" class="img-fluid" /></a>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block afterJs %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
var publishable_key = "{{PUBLISHABLE_KEY}}";
</script>
<script type="text/javascript" src="js/manager_billing.js"></script>
{% endblock %}