{% extends "layout_manager.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Change Password</h2>
                        <div class="error"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" method="POST" action="manager/profile/api/save-password/{{ manager ? "#{manager.id}" : '' }}"
                                    id="edit-manager" class="form-horizontal" data-manager="{{manager|json_encode}}" data-access="{{access|json_encode}}" @submit.prevent="save">
                                    <div class="error"></div>   
                                    <div class="form-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="currentPassword">Current Password</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="password" class="form-control" v-model="current_password" placeholder="Current password" required/>
                                                            <div class="form-control-position">
                                                                <i class="icon icon-key"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="newPassword">New Password</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="password" class="form-control"  v-model="new_password" placeholder="New Password" id="new_password" required/>
                                                            <div class="form-control-position">
                                                                <i class="icon icon-key"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="confirmPassword">Confirm password</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="password" class="form-control" v-model="confirm_password" placeholder="Confirm Password" id="confirm_password" required/>
                                                            <div class="form-control-position">
                                                                <i class="icon icon-key"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light">
                                                        <span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status" aria-hidden="true"></span>
                                                        Save
                                                    </button>
                                                    <button type="reset" class="btn btn-outline-secondary mr-1 mb-1 waves-effect waves-light" id="reset">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block afterJs %}
<script type="text/javascript" src="js/manager_change_password.js"></script>
{% endblock %}