{% extends "layout_manager.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Manage Profile</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form"  method="POST" action="manager/profile/api/save-profile" id="edit-profile"
                                    data-manager="{{manager|json_encode}}" data-access="{{access|json_encode}}">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="text" class="form-control"  v-model="first_name" placeholder="First Name" id="firstName" />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-user-icon"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="text" class="form-control" v-model="last_name" placeholder="Last Name" id="lastName" />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-user-icon"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="email" class="form-control" v-model="email" placeholder="Email" id="email"/>
                                                            <div class="form-control-position">
                                                                <i class="icon icon-mail"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>Mobile</label>
                                                        <div class="position-relative has-icon-right">
                                                            <input type="text" class="form-control" v-model="mobile" placeholder="Mobile" id="mobile" />
                                                            <div class="form-control-position">
                                                                <i class="icon icon-mobile"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>TimeZone</label>
                                                        <div class="position-relative has-icon-right">
                                                            <select name ="user_time_zone" id ="user_time_zone" v-model="user_time_zone" class="form-control">
                                                                {{timezone|raw}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light" v-on:click="save">
                                                        <span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status"aria-hidden="true"></span>
                                                          Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}

{% block afterJs %}
<script type="text/javascript" src="js/manager_profile.js"></script>
{% endblock %}