{% extends "layout_manager.html" %}

{% block title %}Notifications{% endblock %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Manage Notifications</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" method="POST" action="manager/profile/api/save-notifications" id="edit-notifications"  data-notifications="{{notifications|json_encode}}" data-access="{{access|json_encode}}" @submit.prevent="save">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck" value="" v-model="email" />
                                                            <label class="custom-control-label" for="customCheck">Allow by email</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1" value="" v-model="SMS" />
                                                            <label class="custom-control-label" for="customCheck1">Allow by SMS</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2" value=""  v-model="desktop" />
                                                            <label class="custom-control-label" for="customCheck2">Allow on desktop/in-app</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-warning mr-1 mb-1 waves-effect waves-light">
                                                        <span :class="['spinner-border', 'spinner-border-sm', isSaving ? '' : 'invisible']" role="status" aria-hidden="true"></span>
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block afterJs %}
<script type="text/javascript" src="js/manager_notifications.js"></script>
{% endblock %}