{% extends "layout_manager.html" %}

{% block title %}Billing{% endblock %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper reservation_wrap">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Plan Information</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card plan_information_wrap">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="plan_information">                                                
                                                <h4>NUMBER OF ACTIVE PROPERTIES</h4>
                                                <h3>{{ properties|length }}</h3>
                                                <h4>Based on the number of properties, your monthly plan will be:</h4>
                                                <h2> {% if subscriptions %}
                                                   {% for PLANS in PLAN %} 
                                                       {% set classes = PLANS['property']|replace({"-":","}) %}
                                                       {% for letter in classes|split(',') %} 
                                                           {% if  properties|length  == letter %}   
                                                              ${{PLANS['unit']}}/month
                                                           {% endif %}
                                                       {% endfor %}   
                                                  {% endfor %}
                                                {% else %}                                                    
                                                10-day trial<br><br>  
                                                    {% if end_trial %}
                                                    Your free trial has ended.<br>
                                                    {% else %}
                                                        Your free trial will end on {{end_date}}.<br>
                                                        You have {{days_remaining}} days remaining.<br>
                                                    {% endif %}
                                                Protect your account details and sign up now!
                                                {% endif %} </h2>
                                                <div class="light_bg">
                                                    <p>Your <strong>free trial</strong> has ended.</p>
                                                    <p>Protect your account details and sign up now!</p>
                                                </div>
                                                <a href="manager/profile/billing?property_id={{propertyId}}" class="btn btn-warning">Activate your account</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="plan_img">
                                                <img src="/manager/images/property-img/plan-information.svg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}
