<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Leading Automation in Property Management">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/vendors.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="https://kit.fontawesome.com/5e226041e5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="page">
        <div class="container">
            <div class="sign-wrap">
                <div class="jv_logo">
                    <a href="/"><img src="img/JV_logo_small.png" class="img-fluid" height="94" width="100"></a>
                </div>
                <div class="step">
                    <ul class="nav-tabs" id="myTab">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <span class="step-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1" id="Layer_1" x="0px" y="0px" width="15px" height="23px"
                                        viewBox="0 0 367 495" enable-background="new 0 0 367 495" xml:space="preserve">
                                        <g>
                                            <defs>
                                                <rect id="SVGID_1_" width="367" height="495" />
                                            </defs>
                                            <clipPath id="SVGID_2_">
                                                <use xlink:href="#SVGID_1_" overflow="visible" />
                                            </clipPath>
                                            <path clip-path="url(#SVGID_2_)"
                                                d="M319.26,7.5H47.74C25.527,7.526,7.526,25.527,7.5,47.74v399.52   c0.026,22.213,18.027,40.214,40.24,40.24h271.52c22.213-0.026,40.214-18.027,40.24-40.24V47.74   C359.474,25.527,341.473,7.526,319.26,7.5 M343.5,447.26c-0.013,13.382-10.858,24.229-24.24,24.24H47.74   c-13.382-0.012-24.227-10.858-24.24-24.24V47.74c0.013-13.382,10.858-24.227,24.24-24.24h271.52   c13.382,0.013,24.228,10.858,24.24,24.24V447.26z" />
                                            <path clip-path="url(#SVGID_2_)" fill="none" stroke="#fd9625"
                                                stroke-width="15" stroke-miterlimit="10"
                                                d="M319.26,7.5H47.74   C25.527,7.526,7.526,25.527,7.5,47.74v399.52c0.026,22.213,18.027,40.214,40.24,40.24h271.52   c22.213-0.026,40.214-18.027,40.24-40.24V47.74C359.474,25.527,341.473,7.526,319.26,7.5z M343.5,447.26   c-0.013,13.382-10.858,24.229-24.24,24.24H47.74c-13.382-0.012-24.227-10.858-24.24-24.24V47.74   c0.013-13.382,10.858-24.227,24.24-24.24h271.52c13.382,0.013,24.228,10.858,24.24,24.24V447.26z" />
                                            <path clip-path="url(#SVGID_2_)"
                                                d="M279.5,239.5h-192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8   S283.918,239.5,279.5,239.5" />
                                            <path clip-path="url(#SVGID_2_)" fill="none" stroke="#fd9625"
                                                stroke-width="15" stroke-miterlimit="10"
                                                d="M279.5,239.5h-192   c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S283.918,239.5,279.5,239.5z" />
                                            <path clip-path="url(#SVGID_2_)"
                                                d="M279.5,335.5h-192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8   S283.918,335.5,279.5,335.5" />
                                            <path clip-path="url(#SVGID_2_)" fill="none" stroke="#fd9625"
                                                stroke-width="15" stroke-miterlimit="10"
                                                d="M279.5,335.5h-192   c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S283.918,335.5,279.5,335.5z" />
                                            <path clip-path="url(#SVGID_2_)"
                                                d="M279.5,143.5h-192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8   S283.918,143.5,279.5,143.5" />
                                            <path clip-path="url(#SVGID_2_)" fill="none" stroke="#fd9625"
                                                stroke-width="15" stroke-miterlimit="10"
                                                d="M279.5,143.5h-192   c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S283.918,143.5,279.5,143.5z" />
                                        </g>
                                    </svg>
                                </span>
                                <span class="step-icon step-com"><img src="img/check.svg" width="22" alt="..."></span>
                                1. Personal Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="step-icon">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px"
                                        viewBox="0 0 360 512" enable-background="new 0 0 360 512" xml:space="preserve">
                                        <g>
                                            <defs>
                                                <rect id="SVGID_1_" width="360" height="512" />
                                            </defs>
                                            <clipPath id="SVGID_2_">
                                                <use xlink:href="#SVGID_1_" overflow="visible" />
                                            </clipPath>
                                            <path fill="#c2c2c2" clip-path="url(#SVGID_2_)" d="M180,0C80.748,0,0,80.748,0,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257
                                              c2.737,4.411,7.559,7.091,12.745,7.091h0.119c5.23-0.041,10.063-2.804,12.75-7.292L334.611,272.22
                                              C351.22,244.428,360,212.539,360,180C360,80.748,279.252,0,180,0 M308.866,256.818L182.272,468.186L52.367,258.846
                                              C37.734,235.214,29.8,207.95,29.8,180C29.8,97.29,97.29,29.8,180,29.8S330.1,97.29,330.1,180
                                              C330.1,207.121,322.689,233.688,308.866,256.818" />
                                            <path fill="#c2c2c2" clip-path="url(#SVGID_2_)" d="M180,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90
                                              C270,130.374,229.626,90,180,90 M180,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2
                                              C240.1,212.683,213.784,240.2,180,240.2" />
                                        </g>
                                    </svg>
                                </span>
                                <span class="step-icon step-com"><img src="img/check.svg" width="22" alt="..."></span>
                                2. Location Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">

                                <span class="step-icon">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15"
                                        viewBox="0 0 350.1 481.7" enable-background="new 0 0 350.1 481.7"
                                        xml:space="preserve">
                                        <g>
                                            <defs>
                                                <rect id="SVGID_1_" width="350.1" height="481.7" />
                                            </defs>
                                            <clipPath id="SVGID_2_">
                                                <use xlink:href="#SVGID_1_" overflow="visible" />
                                            </clipPath>
                                            <path clip-path="url(#SVGID_2_)"
                                                d="M300,205.6v-74.7c0.2-33.8-13.3-66.3-37.399-90C239.3,17.7,208.8,5,176.5,5h-1.6
                                              C106,5.1,50,61.5,50,130.9v74.7c-26,3.1-45,24.9-45,51.3v167.8c0,28.5,22.8,52,51.3,52h237.5c28.5,0,51.301-23.5,51.301-52V256.9
                                              C345,230.6,326,208.7,300,205.6 M69.9,130.9H70c0-58.4,47.1-106.2,105-106.2h0.1c27.501-0.1,53.9,10.8,73.4,30.2
                                              c20.3,20.1,31.601,47.5,31.399,76v74.8h-22v-74.8c0.201-22.7-8.799-44.5-24.899-60.5c-15.2-15.2-35.8-23.8-57.3-23.8H175.1
                                              c-46,0-83.2,37.8-83.2,84.2v74.9h-22V130.9z M238,130.9v74.8H112v-74.8c0-35.4,28.2-64.2,63.2-64.2h0.6
                                              c16.2,0,31.801,6.5,43.301,18C231.3,96.9,238.2,113.6,238,130.9 M326,425L326,425c0,17.5-14.2,31.7-31.7,31.7H56.7
                                              C39.2,456.7,25,442.5,25,425V257.4c0-17.5,14.2-31.7,31.7-31.7h237.6c17.5,0,31.7,14.2,31.7,31.7V425z" />
                                            <path clip-path="url(#SVGID_2_)" fill="#818181" stroke="#818181"
                                                stroke-width="10" stroke-miterlimit="10" d="M300,205.6v-74.7
                                              c0.2-33.8-13.3-66.3-37.399-90C239.3,17.7,208.8,5,176.5,5h-1.6C106,5.1,50,61.5,50,130.9v74.7c-26,3.1-45,24.9-45,51.3v167.8
                                              c0,28.5,22.8,52,51.3,52h237.5c28.5,0,51.301-23.5,51.301-52V256.9C345,230.6,326,208.7,300,205.6z M69.9,130.9H70
                                              c0-58.4,47.1-106.2,105-106.2h0.1c27.501-0.1,53.9,10.8,73.4,30.2c20.3,20.1,31.601,47.5,31.399,76v74.8h-22v-74.8
                                              c0.201-22.7-8.799-44.5-24.899-60.5c-15.2-15.2-35.8-23.8-57.3-23.8H175.1c-46,0-83.2,37.8-83.2,84.2v74.9h-22V130.9z M238,130.9
                                              v74.8H112v-74.8c0-35.4,28.2-64.2,63.2-64.2h0.6c16.2,0,31.801,6.5,43.301,18C231.3,96.9,238.2,113.6,238,130.9z M326,425L326,425
                                              c0,17.5-14.2,31.7-31.7,31.7H56.7C39.2,456.7,25,442.5,25,425V257.4c0-17.5,14.2-31.7,31.7-31.7h237.6c17.5,0,31.7,14.2,31.7,31.7
                                              V425z" />
                                            <path clip-path="url(#SVGID_2_)"
                                                d="M209.601,335c-4.4-15.5-18.5-26.1-34.601-26.1c-19.9,0-36.1,16.1-36.1,36.1
                                              c0,16.101,10.6,30.2,26.1,34.601v28c0,5.5,4.5,10,10,10s10-4.5,10-10v-28C204.101,374.101,215.2,354.101,209.601,335 M175,361
                                              c-8.9,0-16.1-7.2-16.1-16.1c0-8.9,7.2-16.101,16.1-16.101c8.899,0,16.101,7.2,16.101,16.101C191.101,353.8,183.899,361,175,361" />
                                            <path clip-path="url(#SVGID_2_)" fill="#818181" stroke="#818181"
                                                stroke-width="10" stroke-miterlimit="10" d="M209.601,335
                                              c-4.4-15.5-18.5-26.1-34.601-26.1c-19.9,0-36.1,16.1-36.1,36.1c0,16.101,10.6,30.2,26.1,34.601v28c0,5.5,4.5,10,10,10s10-4.5,10-10
                                              v-28C204.101,374.101,215.2,354.101,209.601,335z M175,361c-8.9,0-16.1-7.2-16.1-16.1c0-8.9,7.2-16.101,16.1-16.101
                                              c8.899,0,16.101,7.2,16.101,16.101C191.101,353.8,183.899,361,175,361z" />
                                        </g>
                                    </svg>

                                </span>
                                <span class="step-icon step-com"><img src="img/check.svg" width="22" alt="..."></span>

                                3. Create Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="step-icon">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px"
                                        height="25" viewBox="0 0 512 512" enable-background="new 0 0 512 512"
                                        xml:space="preserve">
                                        <g>
                                            <defs>
                                                <rect id="SVGID_1_" width="512" height="512" />
                                            </defs>
                                            <clipPath id="SVGID_2_">
                                                <use xlink:href="#SVGID_1_" overflow="visible" />
                                            </clipPath>
                                            <path fill="#818181" clip-path="url(#SVGID_2_)"
                                                d="M205,260c13.445,0,26.09-5.241,35.606-14.758c5.858-5.857,5.858-15.355,0-21.213
                                              c-5.857-5.857-15.355-5.857-21.213,0c-3.85,3.85-8.961,5.971-14.393,5.971s-10.543-2.121-14.394-5.971
                                              c-5.857-5.857-15.355-5.857-21.213,0c-5.858,5.857-5.858,15.355,0,21.213C178.91,254.759,191.555,260,205,260" />
                                            <path fill="#818181" clip-path="url(#SVGID_2_)"
                                                d="M506.762,387.04l-95-81.429c-5.617-4.814-13.905-4.814-19.522,0l-42.862,36.738
                                              C327.422,327.871,301.449,320,275,320h-5v-20.185c26.271-18.067,44.696-46.752,49.022-79.815H325c24.812,0,45-20.187,45-45
                                              c0-13.437-5.927-25.508-15.295-33.761c-2.117-36.929-17.561-71.343-43.975-97.615C282.445,15.493,244.896,0,205,0
                                              S127.555,15.493,99.27,43.624c-26.415,26.272-41.857,60.687-43.975,97.615C45.927,149.492,40,161.563,40,175
                                              c0,24.813,20.187,45,45,45h5.978c4.326,33.063,22.751,61.748,49.022,79.815V320h-5C60.561,320,0,380.561,0,455v42
                                              c0,8.284,6.716,15,15,15h457c8.284,0,15-6.716,15-15v-87.387l0.238,0.204c2.829,2.425,6.3,3.611,9.755,3.61
                                              c4.227,0,8.429-1.776,11.396-5.237C513.78,401.901,513.052,392.432,506.762,387.04 M325,190h-5v-30h5c8.271,0,15,6.729,15,15
                                              S333.271,190,325,190 M205,30c59.183,0,108.697,43.368,118.277,100h-53.556c-21.866,0-41.525-12.15-51.306-31.708
                                              C215.875,93.21,210.682,90,205,90s-10.875,3.21-13.416,8.292C181.804,117.85,162.145,130,140.278,130H86.723
                                              C96.303,73.368,145.817,30,205,30 M70,175c0-8.271,6.729-15,15-15h5v30h-5C76.729,190,70,183.272,70,175 M120,205v-45h20.278
                                              c25.179,0,48.437-10.578,64.722-28.611C221.285,149.422,244.543,160,269.722,160H290v45c0,46.869-38.131,85-85,85
                                              S120,251.869,120,205 M205,320c12.2,0,23.959-1.917,35-5.452V345c0,19.299-15.701,35-35,35s-35-15.701-35-35v-30.452
                                              C181.041,318.084,192.8,320,205,320 M30,455c0-57.897,47.103-105,105-105h5.211c2.564,33.511,30.632,60,64.789,60
                                              s62.224-26.489,64.789-60H275c17.95,0,35.094,4.414,50.436,12.87l-28.197,24.17c-6.29,5.392-7.02,14.86-1.627,21.15
                                              c5.392,6.292,14.861,7.019,21.149,1.627l0.238-0.204V482H110v-37c0-8.284-6.716-15-15-15s-15,6.716-15,15v37H30V455z M457,482h-40
                                              v-25c0-8.284-6.716-15-15-15s-15,6.716-15,15v25h-40v-98.101l55-47.144l55,47.144V482z" />
                                            <path fill="#818181" clip-path="url(#SVGID_2_)" d="M377,397c0,8.284,6.716,15,15,15h20c8.284,0,15-6.716,15-15s-6.716-15-15-15h-20
                                              C383.716,382,377,388.716,377,397" />
                                        </g>
                                    </svg>
                                </span>
                                <span class="step-icon step-com"><img src="img/check.svg" width="22" alt="..."></span>
                                4. Role</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="step-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80" height="80"
                                        viewBox="0 0 226 226" style=" fill:#000000;">
                                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                            stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                            font-weight="none" font-size="none" text-anchor="none"
                                            style="mix-blend-mode: normal">
                                            <g fill="#000000">
                                                <path
                                                    d="M96.05,58.76c-4.66125,0 -8.475,3.81375 -8.475,8.475v91.53c0,4.66125 3.81375,8.475 8.475,8.475h50.85c4.66125,0 8.475,-3.81375 8.475,-8.475v-27.12h-3.39v15.255h-61.02v-71.19h61.02v6.78h3.39v-15.255c0,-4.66125 -3.81375,-8.475 -8.475,-8.475zM96.05,62.15h50.85c2.82721,0 5.085,2.25779 5.085,5.085v5.085h-61.02v-5.085c0,-2.82721 2.25779,-5.085 5.085,-5.085zM114.695,65.54c-0.60914,-0.00662 -1.17855,0.31119 -1.48975,0.84088c-0.30457,0.52969 -0.30457,1.17855 0,1.70824c0.31119,0.52969 0.88061,0.8475 1.48975,0.84088h13.56c0.60914,0.00662 1.17856,-0.31119 1.48975,-0.84088c0.30457,-0.52969 0.30457,-1.17855 0,-1.70824c-0.31119,-0.52969 -0.88061,-0.8475 -1.48975,-0.84088zM107.82893,65.54c-0.93357,0 -1.695,0.76143 -1.695,1.695c-0.00662,0.93357 0.7548,1.695 1.68838,1.695c0.45023,0.00662 0.88061,-0.17215 1.19842,-0.48996c0.31781,-0.31781 0.5032,-0.75481 0.5032,-1.20504c0,-0.93357 -0.76143,-1.68838 -1.695,-1.695zM97.745,79.1c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM97.745,85.88c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM121.475,85.88c-3.72768,0 -6.78,3.05232 -6.78,6.78v28.815c0,3.72768 3.05232,6.78 6.78,6.78h8.475v10.87184l10.87184,-10.87184h33.19816c3.72768,0 6.78,-3.05232 6.78,-6.78v-28.815c0,-3.72768 -3.05232,-6.78 -6.78,-6.78zM121.475,89.27h52.545c1.89363,0 3.39,1.49637 3.39,3.39v28.815c0,1.89363 -1.49637,3.39 -3.39,3.39h-34.60184l-6.07816,6.07816v-6.07816h-11.865c-1.89363,0 -3.39,-1.49637 -3.39,-3.39v-28.815c0,-1.89363 1.49637,-3.39 3.39,-3.39zM97.745,92.66c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM97.745,99.44c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM129.95,101.135v2.99936l-2.59547,-1.49637l-1.695,2.92652l2.59547,1.50299l-2.59547,1.50299l1.695,2.92652l2.59547,-1.49637v2.99936h3.39v-2.99936l2.59547,1.49637l1.695,-2.92652l-2.59547,-1.50299l2.59547,-1.50299l-1.695,-2.92652l-2.59547,1.49637v-2.99936zM146.9,101.135v2.99273l-2.59547,-1.48975l-1.695,2.92652l2.59547,1.50299l-2.59547,1.50299l1.695,2.92652l2.59547,-1.48975v2.99273h3.39v-2.99273l2.59547,1.48975l1.695,-2.92652l-2.59547,-1.50299l2.59547,-1.50299l-1.695,-2.92652l-2.59547,1.48975v-2.99273zM163.85,101.135v2.99936l-2.59547,-1.49637l-1.695,2.92652l2.59547,1.50299l-2.59547,1.50299l1.695,2.92652l2.59547,-1.49637v2.99936h3.39v-2.99936l2.59547,1.49637l1.695,-2.92652l-2.59547,-1.50299l2.59547,-1.50299l-1.695,-2.92652l-2.59547,1.49637v-2.99936zM97.745,106.22c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM97.745,113c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM97.745,119.78c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM97.745,126.56c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM97.745,133.34c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM97.745,140.12c-0.93357,0 -1.695,0.76143 -1.695,1.695c0,0.93357 0.76143,1.695 1.695,1.695c0.93357,0 1.695,-0.76143 1.695,-1.695c0,-0.93357 -0.76143,-1.695 -1.695,-1.695zM90.965,150.29h61.02v8.475c0,2.82721 -2.25779,5.085 -5.085,5.085h-50.85c-2.82721,0 -5.085,-2.25779 -5.085,-5.085zM121.475,153.68c-1.87377,0 -3.39,1.51623 -3.39,3.39c0,1.87377 1.51623,3.39 3.39,3.39c1.87377,0 3.39,-1.51623 3.39,-3.39c0,-1.87377 -1.51623,-3.39 -3.39,-3.39z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                                <span class="step-icon step-com"><img src="img/check.svg" width="22" alt="..."></span>
                                5. MFA</a>
                        </li>
                    </ul>
                </div>
                <div class="step-form">
                    <div class="step0">
                        <h3>Please fill in your personal details</h3>
                    </div>
                    <div class="step1" hidden="hidden">
                        <h3>Please fill in your location information</h3>
                    </div>
                    <div class="step2" hidden="hidden">
                        <h3>Please fill in your password details</h3>
                    </div>
                    <div class="step3" hidden="hidden">
                        <h3>Please choose your initial role for Jervis Systems</h3>
                        <p>Don't worry, you can also add other roles or change this role for your first property or
                            other properties once you are logged in.</p>
                    </div>
                    <div class="step4" hidden="hidden">
                        <h3>Two-step verification</h3>
                    </div>
                    <form id="signup" action="signup/doSignup" method="post">
                        <div class="step0">
                            <div class="input-group mb-3">
                                <input type="text" id="firstName" name="firstName" class="form-control"
                                    placeholder="Name" required />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><img src="img/user-icon.svg"
                                            width="21" class="img-fluid" /></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="lastName" name="lastName" class="form-control"
                                    placeholder="Last Name" required />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><img src="img/user-icon.svg"
                                            width="21" class="img-fluid" /></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                                    required />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><img src="img/envelope-icon.svg"
                                            width="21" class="img-fluid" /></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="mobile" name="mobile" class="form-control bfh-phone"
                                    data-format="ddd-ddd-dddd" placeholder="Mobile" required />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><img src="img/mobile.svg"
                                            width="15" class="img-fluid" /></span>
                                </div>
                            </div>
                        </div>

                        <div class="step1" hidden="hidden">
                            <div class="mb-3">
                                <select name="user_time_zone" id="user_time_zone" class="form-control select">
                                    {{timezone|raw}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-control countries" name="country" id="countryId">
                                    <option value="">Select Country</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select name="state" class="form-control states" id="stateId">
                                    <option value="">Select State</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select name="city" class="form-control cities" id="cityId">
                                    <option value="">Select City</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="zipcode" name="zipcode" class="form-control" placeholder="Zip" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><img src="img/location-marker.svg"
                                            width="15" class="img-fluid" /></span>
                                </div>
                            </div>
                        </div>

                        <div class="step2" hidden="hidden">
                            <div class="input-group mb-3">
                                <input type="password" id="password" name="password" class="form-control"
                                    placeholder="Password" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><img src="img/key.svg" width="15"
                                            class="img-fluid" /></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                                    placeholder="Confirm Password"
                                    oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")' />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><img src="img/key.svg" width="15"
                                            class="img-fluid" /></span>
                                </div>
                            </div>
                        </div>

                        <div class="step3" hidden="hidden">
                            <div class="mb-3">
                                <select name="role" id="role" class="form-control">
                                    <option value="Owner">Property Owner</option>
                                    <option value="Manager">Property Manager</option>
                                    <option value="Cleaning">Cleaner/Cleaning Company</option>
                                    <option value="Handyman">Handyman/Maintenance Company</option>
                                </select>
                                <a href="javascript:;" class="mark-icon" data-toggle="tooltip" data-placement="right"
                                    title="Please select a role"><img src="img/question.svg" classs="img-fluid"
                                        width="18"></a>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="companyName" name="companyName" class="form-control"
                                    placeholder="Company Name" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><img src="img/company.svg"
                                            width="15" class="img-fluid" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="step4" hidden="hidden">
                            <input type="checkbox" id="mfa" name="mfa" class="mb-4" value="true" checked />
                            <label for="mfa">Enable Two-step verification</label>

                            <div>
                                <div>Step-1: Download a two-step verification app</div> <br />
                                <h6>> iPhone, iPod Touch, or iPad: <a
                                        href="https://itunes.apple.com/us/app/authy/id494168017" target="_blank">Authy
                                        for iOS</a></h6>
                                <h6>> Android devices: <a
                                        href="https://play.google.com/store/apps/details?id=com.authy.authy"
                                        target="_blank">Authy for Android</a></h6>
                                <h6>> Windows devices: <a
                                        href="https://www.microsoft.com/en-us/store/apps/authenticator/9wzdncrfj3rj"
                                        target="_blank">Microsoft Authenticator</a></h6>
                            </div>

                            <hr>

                            <div>
                                <div>Step-2: Scan this QR code with your verification app</div> <br />
                                <div class="mb-3 text-center">
                                    <img src='{{ qrCodeUrl }}' />
                                </div>
                                <div class="alert alert-danger mb-2" id="invalidOtp" role="alert" hidden="hidden">
                                </div>
                            </div>

                            <hr>

                            <div>
                                <div>Step-3: Enter the resulting verification code</div> <br />
                                <input type="hidden" id="secret" name="secret" class="form-control"
                                    value="{{secret}}" />
                                <input type="text" id="otp" name="otp" class="form-control mb-4"
                                    placeholder="Enter OTP">
                            </div>
                        </div>
                        <button class="btn button-primary sbmt_btn">Next <i class="fas fa-angle-right"></i></button>
                    </form>
                </div>
                <div class="step-form text-center" id="success" hidden="hidden">
                    <img src="img/sucess-image.png" width="120" class="img-fluid my-4">
                    <h3 class="success-message">Your user profile has been successfully created! Please check your email
                        for verification link.</h3>
                    <a href="/login" class="btn button-primary login_link mt-4">LOGIN</a>
                </div>
                <div class="step-form text-center" id="error" hidden="hidden">
                    <h3 class="success-message"></h3>
                    <a href="/signup" class="btn button-primary login_link mt-4">SIGN UP</a>
                </div>
            </div>
        </div>
        {{ include('inc/footer.html') }}
    </div>
    <script>
        var country = "";
        var state = "";
        var city = "";
    </script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.accordion.source.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

    <script src="manager/js/bootstrap-formhelpers.js"></script>
    <script src="js/countrystatecity.js"></script>
    <script type="text/javascript" src="js/signup.js"></script>
</body>

</html>