.menu-collapsed .navbar-header .m-auto {
  margin: 0 auto 0 0 !important; }

.menu-collapsed .main-menu .navbar-header .navbar-brand {
  margin-right: 0.5rem; }

.menu-collapsed .main-menu .navbar-header {
  padding: 0.35rem 1rem 0.3rem 1.05rem; }

.reservation_wrap .form {
  padding-bottom: 2rem; }

.reservation_wrap .btn {
  min-width: 150px;
  margin-top: 2rem;
  font-weight: 600; }

.card-body {
  padding: 2.125rem; }

.add_wrap {
  margin-top: 26px;
  padding: 0 30px; }

.add_inner {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  overflow: hidden;
  padding-top: 18px;
  padding-left: 20px; }

.add_inner h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
  margin-bottom: 0.75rem; }

.add_inner .btn {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 10px 11px;
  border-radius: 12px; }

.btn-outline-secondary {
  border: 1px solid #cdcdcd;
  background-color: transparent;
  color: #909090; }

.properties-listing table th {
  font-size: 0.9375rem;
  border-top: none;
  border-bottom: 1px solid #eceef0; }

.properties-listing table td {
  font-size: 0.8125rem;
  border-bottom: 1px solid #eceef0; }

.table thead th {
  font-size: 0.9375rem;
  border-top: none;
  border-bottom: 1px solid #eceef0; }

.table td {
  font-size: 0.8125rem;
  border-bottom: 1px solid #eceef0; }

/*.properties-listing table tr td:nth-child(2) {
  font-weight: 600; }*/
.properties-listing table tr:last-of-type td {
  border-bottom: none; }

.property-table-button {
  color: #999999;
  line-height: 1;
  font-size: 1.8rem; }

.property-table-button:after {
  display: none; }

.properties-listing table td a {
  color: #6d6d6d; }

.dropdown .dropdown-menu .dropdown-item {
  padding: 0.414rem 1rem;
  font-size: 0.8125rem;
  color: #6d6d6d;
  text-transform: capitalize; }

.properties-listing table td .dropdown i {
  font-size: 0.40rem;
  color: #989898 !important; }

table td .dropdown i {
  font-size: 0.40rem !important;
  color: #989898; }

.properties-listing .card-body {
  padding: 1rem; }

.Calendar-listing table td a .icon {
  padding: 0 5px;
  font-size: 1rem;
  color: #000; }

.Calendar-listing table tr td:nth-child(2) {
  font-weight: 400; }

.select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--single {
  height: calc(1.25em + 1.4rem + 1px); }

.schedule_table {
  margin-bottom: 15px; }

.schedule_table table .form-control {
  font-weight: 500;
  color: #909090;
  font-size: 0.875rem; }

.schedule_table table tr td {
  font-size: 0.875rem;
  border-top: none;
  padding-top: 22px;
  padding-bottom: 22px;
  position: relative; }

.schedule_table table tr:last-of-type td {
  border-bottom: 1px solid #eceef0; }

/*.schedule_table{overflow-x: inherit;}*/
.working_table tr td:nth-child(4) {
  max-width: 54px;
  padding-left: 0;
  padding-right: 0; }

.breaks_table tr td:nth-child(3) {
  max-width: 54px;
  padding-left: 0;
  padding-right: 0; }

.schedule_table table td a .icon {
  padding: 0 5px;
  font-size: 1.2rem;
  color: #000;
  transition: 0.5s ease all; }

.schedule_table table td a:hover .icon {
  color: #fd9625; }

.properties-listing table td a:hover .icon {
  color: #fd9625; }

.schedule_table table td > i {
  font-size: 1.2rem; }

.schedule_table .table label {
  font-weight: 500; }

.light_bg {
  background: #f2fefe; }

.schedule_table .light_bg td {
  padding-top: 35px; }

.date_time label {
  position: absolute;
  top: 13px; }

.btn i {
  padding: 0 5px; }

.add_time {
  font-size: 0.875rem;
  color: #000;
  font-weight: 500; }

.add_time i {
  font-size: 1rem;
  padding: 0 7px 0 0;
  display: inline-block;
  vertical-align: middle; }

.content-header .border-bottom {
  padding-bottom: 10px;
  border-color: #d6dbdf; }

.sub-heading {
  font-size: 23px;
  color: #4d4d4d;
  font-weight: 500; }

.checklist_status table tr td:nth-child(2) {
  font-weight: 400; }

.text-green {
  color: #44cb74; }

.text-red {
  color: #f03535; }

.text-yellow {
  color: #deb925; }

label.due {
  background: #fff4e9;
  padding: 8px;
  margin-bottom: 0; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent !important;
  border: 1px solid #cdcdcd !important;
  font-size: 13px;
  color: #6f6f6f;
  padding: 3px 6px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #6f6f6f !important;
  font-size: 21px;
  line-height: 1; }

/*.select2-selection__rendered li+li:before{content: ","; display: inline-block; vertical-align: bottom;}*/
.step {
  max-width: 835px;
  margin: 50px auto; }

.step .nav-tabs {
  display: flex;
  align-items: flex-start;
  list-style: none;
  justify-content: space-between;
  border-bottom: none;
  padding-left: 0; }

.step .nav-tabs .nav-item {
  padding-left: 0;
  border: none;
  text-align: center;
  position: relative; }

.step-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #dedede;
  border-radius: 50%;
  margin: 0 auto 5px;
  position: relative;
  position: relative;
  z-index: 2;
  background: #f7f8fc; }

.step-icon:before {
  content: "";
  opacity: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border-radius: 50%; }

.step .nav-tabs .nav-item:before {
  display: none; }

.step .nav-link {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.025rem;
  color: #909090;
  text-transform: capitalize; }

.step .nav-tabs .nav-item.show .nav-link, .step .nav-tabs .nav-link.active {
  border-color: transparent;
  background-color: transparent;
  color: #fe9627; }

.step .nav-tabs .nav-link:focus, .step .nav-tabs .nav-link:hover {
  border-color: transparent; }

.step .nav-tabs .nav-link.active .step-icon {
  border-color: #fe9627;
  background: #fff; }

.step .nav-tabs .nav-item:after {
  content: "";
  height: 2px;
  width: 157%;
  display: block;
  right: -95%;
  background: #dedede;
  position: absolute;
  top: 34%; }

.step .nav-tabs .nav-item:last-child:after {
  display: none; }

.step .nav-tabs .nav-link.location.active .step-icon {
  background: #fe9627; }

.step .nav-tabs .nav-link svg {
  max-width: 25px;
  height: auto; }

.step .nav-tabs .nav-link svg path, .step .nav-tabs .nav-link svg stroke {
  fill: #818181; }

.step .nav-tabs .nav-link.location.active .step-icon svg path, .step .nav-tabs .nav-link.location.active .step-icon svg stroke {
  fill: #fff; }

.step .nav-tabs .nav-link.active .step-icon svg path, .step .nav-tabs .nav-link.location.active .step-icon svg stroke {
  fill: #fe9627; }

.step .nav-tabs .nav-item.complete-step:after {
  background: #04b8b9; }

.step .nav-tabs .nav-item.complete-step .nav-link {
  color: #03b8b8; }

.step-form {
  max-width: 835px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 25px;
  background: #f4f4f4;
  border: 2px solid #dedede;
  box-shadow: 2px 3px 70px 0 rgba(0, 0, 0, 0.11); }

.step-form h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #4d4d4d; }

.step-form p {
  font-size: 17px;
  text-align: center;
  color: #909090;
  font-weight: 500;
  margin-bottom: 0; }

.step-form form {
  max-width: 388px;
  margin: 34px auto 0; }

.step-form .form-control {
  border: 1px solid #cdcdcd;
  font-weight: 500;
  height: calc(1.3em + 1.3rem + 5px);
  font-size: 14px;
  color: #909090; }

.step-form .form-control::placeholder {
  color: #909090;
  font-weight: 500;
  opacity: 1; }

.step-form .form-control:-ms-input-placeholder {
  color: #909090;
  font-weight: 500; }

.step-form .form-control::-ms-input-placeholder {
  color: #909090;
  font-weight: 500; }

.properties-listing .form-control::placeholder {
  color: #909090;
  font-weight: 500;
  opacity: 1; }

.properties-listing .form-control:-ms-input-placeholder {
  color: #909090;
  font-weight: 500; }

.properties-listing .form-control::-ms-input-placeholder {
  color: #909090;
  font-weight: 500; }

.properties-listing .form-control {
  color: #909090;
  font-weight: 500; }

.step-form .btn {
  margin-top: 0; }

.step-form .sbmt_btn {
  border-radius: 4px;
  width: 100%;
  font-size: 15px;
  display: block;
  text-transform: capitalize; }

.step .nav-tabs .nav-item .step-com {
  display: none; }

.step .nav-tabs .nav-item.complete-step .step-icon {
  display: none; }

.step .nav-tabs .nav-item.complete-step .step-com {
  display: flex; }

.complete-step .step-icon {
  background: #04b8b9;
  border-color: #04b8b9; }

.complete-step .step-icon:before {
  opacity: 1; }

.step .nav-tabs .nav-link.location.active .step-icon:before {
  opacity: 1; }

.step-form .success-message {
  line-height: 1.42; }

.step-form .custom-file-input {
  height: calc(1.3em + 1.3rem + 5px); }

.step-form .custom-file-label {
  color: #909090;
  font-weight: 500;
  margin-bottom: 0; }

.custom-file-label::after {
  background: #eaeaea;
  font-size: 14px;
  color: #909090; }

.chat-application .chat-app-window .start-chat-area, .chat-application .chat-app-window .user-chats {
  background-image: none;
  background-color: #f0f4f7; }

.checkbox-group {
  margin-bottom: 20px; }

.checkbox-group .col-12 .form-group {
  margin-bottom: 14px; }

.checkbox-group .col-12 .form-group label {
  font-weight: 700;
  color: #7a7a7a; }

.checkbox-group .col-md-4 .form-group {
  margin-bottom: 10px; }

.properties-listing .form .btn {
  min-width: 150px; }

.invite_modal .modal-header {
  background: transparent;
  border-bottom: 1px solid #eceef0;
  padding: 17px 19px; }

.invite_modal .modal-title {
  font-size: 15px;
  color: #4d4d4d; }

.invite_modal .modal-footer {
  justify-content: center;
  border: none;
  padding-bottom: 50px; }

.invite_modal .modal-dialog {
  max-width: 660px; }

.invite_modal .modal-header .close span {
  font-size: 2.5rem;
  color: #000; }

.invite_modal .modal-header .close {
  padding: 0.2rem 0.62rem;
  box-shadow: none;
  border-radius: 0em;
  background: transparent;
  transform: none; }

.invite_modal .modal-body {
  padding: 32px 32px 10px; }

.invite_modal p {
  font-size: 13px;
  margin-top: 12px; }

.invite_modal .modal-header .close:hover, .invite_modal .modal-header .close:focus, .invite_modal .modal-header .close:active {
  transform: none; }

/* calendar page css*/
.fc-left {
  display: none; }

.fc-button-group {
  display: none; }

.fc .fc-header-toolbar .fc-right .fc-button {
  padding: 0.6rem 1rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dcdcdc;
  outline: none;
  text-shadow: none;
  background-color: transparent;
  border-radius: 0;
  color: #9296a6;
  width: 55px; }

.fc .fc-header-toolbar .fc-right .fc-button.fc-prev-button {
  border-right: none;
  margin-right: 0; }

.fc .fc-header-toolbar .fc-right .fc-button.fc-prev-button .fc-icon, .fc .fc-header-toolbar .fc-right .fc-button.fc-next-button .fc-icon {
  top: auto;
  left: auto; }

.fc .fc-header-toolbar .fc-right .fc-button.fc-next-button {
  margin-left: 0; }

.fc .fc-header-toolbar .fc-right div:first-child h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0 0.5rem;
  position: absolute;
  left: 30px; }

.Calendar-wrap .card-body {
  padding: 16px 30px; }

.fc .fc-view-container .fc-head .fc-head-container thead .fc-day-header {
  font-size: 13px;
  text-transform: uppercase;
  color: #909090;
  padding: 12px;
  letter-spacing: 0.050rem;
  font-weight: 400; }

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  text-align: center;
  float: none;
  color: #7a7a7a;
  display: inline-block;
  padding-top: 7px; }

.fc .fc-view-container td, .fc .fc-view-container th {
  border-color: #E0E0E0;
  font-size: 13px;
  color: #7a7a7a;
  text-align: center; }

.fc .fc-view-container .fc-body .fc-week table tbody .fc-other-month {
  background: #fff; }

/*.properties-listing table tr:last-of-type td {
  border-bottom: 1px solid #e0e0e0; }*/
tr:first-child > td > .fc-day-grid-event {
  margin-top: 23px; }

.fc .fc-view-container .fc-body .fc-not-end, .fc .fc-view-container .fc-body .fc-not-start {
  padding: 7px !important;
  border-radius: 5px;
  text-align: left; }

.border-none-last table tr:last-of-type td {
  border-bottom: none; }

.properties-listing table tr .fa-star {
  color: #b9b9b9;
  padding: 0 2.5px; }

.properties-listing table tr .fa-star.active {
  color: #fd9625; }

.properties-listing table tr .fa-star-half-full {
  color: #fd9625;
  padding: 0 2.5px; }

.question {
  width: 14px;
  height: 14px;
  background: #fd9625;
  color: #fff;
  position: absolute;
  right: -25px;
  top: 57%;
  border-radius: 50%;
  font-size: 10px;
  text-align: center; }

.payment-option {
  text-align: center; }

.payment-option p {
  font-size: 14px; }

.payment-icon a {
  max-width: 50px;
  display: inline-block; }

.payment-icon a img {
  max-width: 100%;
  height: auto; }

[type="date"] {
  background: #fff url(../images/property-img/date-picker.svg) 97% 50% no-repeat;
  background-size: 18px; }

[type="date"]::-webkit-inner-spin-button {
  display: none; }

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0; }

[type="datetime-local"] {
  background: #fff url(../images/property-img/date-picker.svg) 97% 50% no-repeat;
  background-size: 18px; }

[type="datetime-local"]::-webkit-inner-spin-button {
  display: none; }

[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0; }

.plan_information_wrap {
  max-width: 1038px;
  margin-top: 58px;
  margin-left: auto;
  margin-right: auto; }

.plan_information_wrap .card-body {
  padding: 35px 39px 80px; }

.plan_information {
  text-align: center;
  max-width: 367px;
  margin-left: auto;
  margin-right: auto; }

.plan_information h4 {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.050rem;
  color: #7a7a7a;
  line-height: 2.3;
  text-transform: uppercase; }

.plan_information h4 a {
  color: #fd9625;
  text-decoration: underline; }

.plan_information .btn {
  margin-bottom: 20px; }

.plan_information h3 {
  font-weight: 500;
  color: #4d4d4d;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px; }

.plan_information h2 {
  font-weight: 500;
  color: #4d4d4d;
  font-size: 30px;
  letter-spacing: 0.050rem;
  margin-top: 20px; }

.plan_information .light_bg {
  background: #fff4e9;
  margin-bottom: 20px;
  padding: 14px 5px;
  border-radius: 5px;
  border: 1px solid #f6dec7;
  text-align: center; }

.plan_information .light_bg p {
  font-size: 13px;
  letter-spacing: 0.050rem;
  color: #7a7a7a;
  font-weight: 500;
  margin-bottom: 10px; }

.plan_information .light_bg p strong {
  font-weight: 700; }

.plan_information .light_bg p:last-child {
  margin-bottom: 0; }

.plan_img {
  margin-top: 55px; }

.was-validated .form-control:invalid, .form-control.is-invalid {
  background: #fff; }

.table-responsive {
  overflow-x: inherit; }

.ti_tx,
.mi_tx,
.mer_tx {
  width: 100%;
  text-align: center;
  margin: 10px 0; }

.time,
.mins,
.meridian {
  width: 60px;
  float: left;
  margin: 0 0;
  font-size: 20px;
  color: #2d2e2e;
  font-family: arial;
  font-weight: 700; }

.prev,
.next {
  cursor: pointer;
  padding: 11px;
  width: 28%;
  margin: auto;
  background: url(../images/property-img/arrow.png) no-repeat center;
  background-size: 16px; }

/*.prev:hover,
.next:hover {
  background-color: #ccc;
}*/
.next {
  background-position: 50% 150%; }

.prev {
  background-position: 50% -50%; }

.time_pick {
  position: relative; }

.timepicker_wrap {
  padding: 10px;
  border-radius: 5px;
  z-index: 998;
  display: none;
  background: #fff;
  border: 1px solid #cdcdcd;
  float: left;
  position: absolute;
  top: 27px;
  left: 0; }

input.timepicki-input {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #cdcdcd;
  border-radius: 5px 5px 5px 5px;
  float: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: 46px;
  height: 41px;
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial, serif;
  color: #6f6f6f;
  font-size: 20px; }

input.timepicki-input:focus {
  box-shadow: none;
  outline: none; }

a.reset_time {
  float: left;
  margin-top: 5px;
  color: #000; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  height: 8px;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 8px;
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  transform: rotate(45deg);
  transition: 0.5s ease all; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: #888;
  border-width: 2px;
  transform: rotate(225deg); }

.select2-search--dropdown .select2-search__field {
  height: 37px;
  border-radius: 5px; }

.select2-search__field:focus {
  outline: none; }

/*.custom-control-input:checked ~ .custom-control-label::before{background: #fff;}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after{background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#03b8b8');}
*/
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #adb5bd;
  background: #fff; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: transparent;
  width: 8px;
  height: 8px;
  background: #03b8b8;
  border-radius: 50%;
  top: 6.4px;
  left: -18.75px; }

.welcome_wrap {
  background: #f4f4f4 url(../images/property-img/welcome-img.png) no-repeat top right;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  box-shadow: 0px 0px 27px 3px rgba(163, 176, 207, 0.25); }

.welcome_text h2 {
  font-size: 28px;
  color: #4d4d4d;
  margin-bottom: 0;
  font-weight: 400; }

.welcome_text h2 strong {
  font-weight: 500; }

.summary_wrap {
  margin-top: 40px; }

.col-20 {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 14px;
  padding-right: 14px; }

.single_summary {
  height: calc(100% - 30px);
  margin-bottom: 30px;
  display: flex;
  background: #fff;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 23px 15px; }

.summary_icon {
  min-width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #03b8b8;
  border-radius: 50%; }

.summary_icon i {
  color: #fff;
  font-size: 2.5rem; }

.summary_detail {
  padding-left: 15px; }

.summary_detail h3 {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 20px;
  word-break: break-all;
  text-transform: capitalize; }

.summary_detail h2 {
  font-size: 30px;
  color: #4d4d4d;
  font-weight: 600;
  margin-bottom: 0; }

.summary_detail p {
  font-size: 14px;
  color: #4d4d4d;
  margin-bottom: 0; }

.section-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eceef0; }

.section-head h2 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  color: #4d4d4d; }

.section-head .dropdown {
  line-height: 1; }

.section-head .dropdown a {
  font-size: 14px;
  font-weight: 500;
  color: #4d4d4d; }

.section-head .hide-angle:after {
  display: none; }

.dropdown .icon-ellipsis {
  font-size: 0.40rem;
  color: #989898; }

.dashboard_list .card-body {
  padding: 17px 0; }

.dashboard_list .table-responsive {
  padding-left: 20px;
  padding-right: 20px; }

.dashboard_list .table {
  margin-bottom: 0; }

.card .card-footer {
  background: #fff;
  border-top: none;
  padding: 11px 20px 0; }

.d-flex.card-footer {
  align-items: center;
  justify-content: space-between; }

.d-flex.card-footer .btn {
  font-size: 14px;
  padding: 10px; }

.view-link {
  font-size: 14px;
  color: #fd9625;
  transition: 0.5s ease all;
  font-weight: 500; }

.view-link:hover {
  color: #000; }

.view-link i {
  padding-left: 7px; }

.btn-outline-dark {
  font-size: 14px;
  color: #909090;
  padding: 11px 15px;
  line-height: 1;
  border: 1px solid #d5d6e0;
  border-radius: 20px; }

.btn-outline-dark.active, .btn-outline-dark:hover, .btn-outline-dark:focus {
  color: #03b8b8 !important;
  background: #fff !important;
  border-color: #03b8b8 !important; }

.card-title {
  font-size: 20px;
  font-weight: 500;
  color: #4d4d4d; }

.message_wrap {
  padding: 24px 17px 0; }

.chat_wrap {
  display: flex;
  margin-bottom: 15px; }

.avatar-icon {
  margin-right: 10px; }

.message_wrap .chat-body {
  background: #fafafa;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 13px 10px;
  position: relative;
  border-radius: 0 0 25px 25px;
  border: 1px solid #e5e5e5; }

.message_wrap .chat-body:before {
  content: "";
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  background: #e5e5e5;
  position: absolute;
  width: 9px;
  height: 11px;
  top: -1px;
  display: block;
  left: -9px; }

.message_wrap .chat-body:after {
  content: "";
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  background: #fafafa;
  position: absolute;
  width: 8px;
  height: 10px;
  top: 0;
  display: block;
  left: -7px; }

.chat-content h4 {
  font-size: 13px;
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 5px; }

.chat-content p {
  font-size: 13px;
  margin-bottom: 0; }

.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.chat_footer img {
  max-width: 21px; }

.chat_footer p {
  margin-bottom: 0;
  color: #bdbdbd;
  font-size: 13px; }

.chat_form {
  margin-top: 25px; }

.chat_form .input-group {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  padding: 9px;
  align-items: center; }

.chat_form .form-control {
  border: none;
  font-size: 14px;
  color: #bdbdbd; }

.chat_form .form-control:focus {
  box-shadow: none; }

.attach-icon {
  background: transparent;
  border: none;
  color: #aaaaac;
  margin-right: 8px; }

.send-text {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f0f0f0;
  border: none;
  line-height: 35px; }

.chart_wrap .card-header {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 15px; }

.chart_wrap {
  height: calc(100% - 2.2rem); }

span.apexcharts-legend-text {
  font-size: 16px !important;
  color: #9c9c9c !important;
  margin-bottom: 13px;
  display: inline-block;
  padding-left: 5px; }

.apexcharts-legend.center.position-right {
  top: 50% !important;
  transform: translateY(-50%); }

.apexcharts-tooltip-marker {
  display: none; }

span.apexcharts-tooltip-text-label {
  display: none; }

.apexcharts-tooltip-text-value, .apexcharts-tooltip-text-z-value {
  margin-left: 0 !important; }

.apexcharts-tooltip-series-group {
  padding: 0 10px !important;
  display: none;
  text-align: center !important;
  justify-content: center !important;
  align-items: center; }

.apexcharts-tooltip.light {
  border: none;
  background: #fd9625 !important;
  color: #fff !important;
  width: 50px;
  text-align: center; }

.apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom.light.active {
  display: none !important; }

.carousel {
  padding: 0 20px; }

.carousel-inner {
  border-bottom: 1px solid #eceef0;
  padding: 8px 0; }

.carousel-inner img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.carousel-inner video {
  width: 100%;
  height: auto;
  max-height: 320px; }

.carousel-inner audio {
  width: 80%;
  margin: 118px 0px 118px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.carousel-inner div.download {
  margin: 118px 0px 118px 0px;
  text-align: center; }

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel .item h5 {
  font-size: 14px;
  color: #c9c9c9;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px; }

.carousel .current-date h5 {
  color: #fd9625;
  font-weight: 500; }

.carousel-inner .slick-prev {
  position: absolute;
  left: -10px;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%); }

.carousel-inner .slick-arrow {
  border: none;
  background: transparent; }

.carousel-inner .slick-arrow svg {
  color: #cccccc;
  width: 25px;
  height: 25px; }

.carousel-inner .slick-arrow svg path {
  fill: currentColor; }

.carousel-inner .slick-next {
  position: absolute;
  right: -10px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%); }

.carousel-control-prev {
  left: 0;
  height: 50px;
  margin-top: 150px;
}

.carousel-control-next {
  right: 0;
  height: 50px;
  margin-top: 150px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

a.carousel-control-prev,
a.carousel-control-next {
  border-radius: 58%;
  border: 1px solid #ccc;
  width: 50px;
}

.conversation_wrap {
  background: #03b8b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 15px;
  border-radius: 15px 15px 0 0; }

.conversation_wrap h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 500; }

.contact-info h5 {
  font-weight: 500;
  font-size: 15px;
  color: #4d4d4d; }

.truncate {
  font-size: 13px;
  color: #9c9c9c; }

.contact-meta span {
  font-size: 12px;
  color: #9c9c9c; }

.icon_wrap {
  display: flex; }

.icon_wrap a {
  font-size: 1.5rem;
  color: #fff;
  padding: 0 5px; }

.icon_wrap .icon-menu {
  color: #fff;
  font-size: 1.5rem; }

.chat-user-list select.form-control:focus {
  outline: none;
  box-shadow: none; }

.chat-user-list select.form-control:not([multiple="multiple"]) {
  font-size: 14px;
  background-position: calc(100% - 7px) 13px, calc(100% - 20px) 13px, 100% 0;
  background-size: 15px 15px, 12px 12px; }

.divider .divider-text {
  background: #d4dade;
  font-weight: 600;
  font-size: 13px;
  color: #4d4d4d;
  padding: 9px 11px 9px;
  min-width: 105px;
  border-radius: 5px; }

.chats .divider .divider-text:before, .chats .divider .divider-text:after {
  display: none; }

.chat-app-input {
  border: 1px solid #d5d5d5;
  padding: 9px 12px;
  background: #fff;
  border-radius: 10px; }

.chat-app-input .form-control {
  border: none;
  padding: 0;
  height: 32px; }

.chat-app-input .form-control:focus {
  box-shadow: none;
  outline: none; }

.chat-app-input .btn {
  width: 32px;
  padding: 0 5px;
  text-align: center;
  display: block; }

.chat-app-input .btn-primary {
  width: 35px;
  height: 35px;
  min-width: 35px;
  display: block;
  border-radius: 50%;
  line-height: 35px;
  padding: 0;
  text-align: center; }

.btn-flex {
  display: flex;
  align-items: center; }

.content.app-content .content-area-wrapper.m-0 {
  margin: 0 !important; }

.drag_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; }

.drag_head h4 {
  font-size: 13px;
  letter-spacing: 0.050rem;
  color: #7a7a7a;
  font-weight: 400;
  margin-bottom: 0; }

.drag_head ~ .drag_head {
  margin-top: 20px; }

.drag_head a {
  font-size: 1rem;
  color: #000;
  padding: 0 2px; }

.drag_icon {
  display: flex;
  min-width: 52px;
  justify-content: flex-end;
  align-items: center; }

.drag_icon a {
  font-size: 1rem;
  color: #000;
  padding: 0 2px; }

.flex-direction-column {
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center; }

.list-item-group {
  width: 100%;
  font-size: 13px;
  padding: 11px;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.050rem;
  border: 1px solid #cdcdcd; }

.group-drag .list-group + .list-group .list-item-group {
  border-top: none; }

.list-group {
  margin-bottom: 0; }

.add-group a {
  color: #000;
  font-size: 14px;
  font-weight: 500; }

.card-head {
  padding: 20px 15px 15px;
  border-bottom: 1px solid #eceef0; }

.card-head h3 {
  font-size: 20px;
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 0; }

.space-manual {
  padding: 15px;
  padding-top: 0; }

.timeline_wrap.timeline-left li {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 0;
  padding-top: 10px; }

.timeline_wrap .timeline-info {
  position: relative;
  border: 1px solid #e7e8e8;
  padding: 12px 14px;
  display: inline-block; }

.timeline_wrap .timeline-info:before {
  content: "";
  content: "";
  position: absolute;
  top: 10px;
  left: -1px;
  width: 0.75rem;
  height: 0.75rem;
  display: block;
  background: #fff;
  transform: rotate(-44deg) translate(-7px);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  box-sizing: border-box; }

.timeline_wrap .timeline-info p {
  font-size: 13px;
  color: #4d4d4d;
  text-transform: capitalize; }

.timeline_wrap .timeline-info p span {
  color: #03b8b8; }

.timeline_wrap .timeline-info small {
  color: #c9c9c9;
  font-weight: 600;
  font-size: 13px; }

.timeline_wrap .timeline-info small i {
  margin-right: 7px; }

.timeline_wrap.timeline-left {
  border-left: 1px solid #dae1e7;
  padding-left: 22px;
  margin-left: 1.5rem; }

.timeline_wrap.timeline-left li .timeline-icon {
  position: absolute;
  top: 1.25rem;
  left: -2rem;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
  border: 2px solid #e5e5e5; }

.flex-direction-column {
  flex-direction: column; }

.drag-list {
  width: 100%;
  padding: 0;
  border: none;
  display: flex; }

.list-group .drag-list:hover {
  background: transparent; }

.drag-cursor:hover {
  cursor: grab; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .range-slider {
    width: 100%;
    -webkit-appearance: none;
    background-color: #dcdcdc;
    background: linear-gradient(to right, #03b8b8 0%, #03b8b8 50%, #dcdcdc 50%, #dcdcdc 100%);
    border-radius: 12px;
    transition: background 450ms ease-in;
    /* overflow:hidden;*/ }
  .range-slider::-webkit-slider-runnable-track {
    height: 12px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px; }
  .range-slider::-webkit-slider-thumb {
    width: 22px;
    -webkit-appearance: none;
    height: 22px;
    margin-top: -4px;
    border-radius: 50%;
    cursor: pointer;
    background: #fd9625;
    /* box-shadow: -500px 0 0 500px #03b8b8;*/ } }

.range-slider:focus {
  box-shadow: none;
  outline: none; }

.range-slider::-moz-range-progress {
  background-color: #03b8b8; }

.range-slider::-moz-range-track {
  background-color: #dcdcdc; }

/* IE*/
.range-slider::-ms-fill-lower {
  background-color: #03b8b8; }

.range-slider::-ms-fill-upper {
  background-color: #dcdcdc; }

.incomplete-tasks .table tr td:first-child {
  width: 80%; }

.custom-btn {
  width: 100%; }

.multiselect-container {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
  margin: 0;
  width: 100%; }

.multiselect-container .checkbox {
  margin: 0; }

.multiselect-container li {
  margin: 0;
  padding: 0;
  line-height: 0;
  min-height: 30px; }

.multiselect-container li a {
  line-height: initial;
  margin: 0;
  padding: 4px 11px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #6a6a6a; }

.multiselect-container li:hover {
  background: #f4f4f4; }

.multiselect.dropdown-toggle {
  padding: 10px;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: #6f6f6f; }

.multiselect.dropdown-toggle::after {
  border: none !important;
  font-family: "feather";
  content: "\e842" !important;
  position: absolute;
  top: 1px;
  right: 15px;
  left: auto;
  padding: 0;
  margin: 0;
  vertical-align: 0;
  width: 5px;
  display: block;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block; }

.multiselect-container li > a {
  position: relative;
  display: block;
  min-height: 1.45rem;
  padding-left: 38px; }

.multiselect-container input[type="checkbox"] {
  border: 1px solid #cecece;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  opacity: 0;
  z-index: -1; }

.multiselect-container .checkbox {
  position: relative; }

.multiselect-container .checkbox:before {
  position: absolute;
  top: 0.225rem;
  left: -24px;
  display: block;
  width: 18px;
  height: 18px;
  pointer-events: none;
  content: "";
  border-radius: 2px;
  background-color: #fff;
  border: #adb5bd solid 1px; }

.multiselect-container .checkbox::before, .multiselect-container .checkbox::after {
  content: "";
  width: 1.143rem;
  height: 1.143rem;
  top: 0.08rem; }

.multiselect-container .checkbox::after {
  position: absolute;
  top: 1px;
  left: -25px;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background: no-repeat 50% / 50% 50%; }

.multiselect-container li.active .checkbox::before {
  color: #fff;
  border-color: #03b8b8;
  background-color: #03b8b8; }

.multiselect-container li.active .checkbox::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); }

.fc .fc-header-toolbar .fc-right div:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.fc .fc-view-container .fc-body .fc-day-top.fc-today a {
  background-color: #03b8b8;
  color: #fff;
  padding: 0;
  margin-top: 2px;
  margin-right: 2px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px; }

.fc .fc-event {
  background: #03b8b8;
  border: 1px solid #039f9f;
  padding: 1px 8px;
  border-radius: 1rem;
  border: none;
  padding-left: 1rem; }

.fc .fc-event .fc-title {
  font-size: .85rem;
  color: #fff; }

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-mirror-skeleton td {
  background: 0 0;
  border-color: transparent; }

.fc-unthemed td.fc-today {
  background: transparent; }

.blog-post-banner-wrap {
  margin-top: 34px; }

.big-banner {
  padding-top: 25px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  padding-top: 25px;
  background: url(../images/property-img/big-blog-bg.jpg) no-repeat center;
  background-size: cover; }

.big-banner .add_text {
  padding: 15px 14px 31px 45px; }

.add_text h2 {
  font-size: 33px;
  color: #4d4d4d;
  font-weight: 500;
  margin-bottom: 22px; }

.add_text h2 strong {
  font-weight: 600; }

.big-banner img {
  width: 100%; }

.add_text .btn {
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 188px; }

.big-banner, .small-banner {
  height: calc(100% - 30px);
  margin-bottom: 30px; }

.small-banner {
  background: url(../images/property-img/small-banner.jpg) no-repeat right bottom;
  background-size: cover;
  padding: 60px 25px 55px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 15px; }

.small-banner h2 {
  max-width: 265px; }

.chat-application .sidebar-content .chat-fixed-search {
  background: #f0f4f7;
  padding: .65rem; }

.chat-application .sidebar-content .chat-user-list ul {
  padding-left: 0;
  padding: 9px;
  margin-bottom: 0; }

.chat-application .sidebar-content .chat-user-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.322rem .85rem;
  margin-right: 0;
  margin-bottom: 9px;
  border-radius: 5px;
  border: 1px solid #b4b4b4; }

.chat-application .sidebar-content .sidebar-close-icon {
  position: absolute;
  right: 2px;
  top: -6px; }

.extra {
  display: none; }

.attachement_wrap {
  display: flex;
  padding: 17px 12px 10px;
  background: #fbfbfb;
  align-items: center; }

.attachement_wrap h3 {
  font-size: 13px;
  max-width: 140px;
  font-weight: 500;
  color: #6d6d6d; }

.attachment_icon a {
  display: inline-block;
  vertical-align: middle;
  padding: 0 25px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline; }

.attachment_icon a img {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.extra td {
  padding: 0; }

.extra td .attachement_wrap ~ .attachement_wrap {
  border-top: 1px solid #eceef0; }

/* marketable page css*/
.search_banner {
  background: url(../images/property-img/dahsboard-banner.jpg) no-repeat center;
  background-size: cover;
  border-radius: 15px;
  padding: 90px 25px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }

.search_banner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1; }

.search_banner_inner {
  position: relative;
  z-index: 2; }

.search_banner_inner h2 {
  font-size: 34px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }

.search_form_wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.search_form_wrap .form-group {
  margin-left: 5px;
  margin-right: 5px; }

.search_form_wrap .form-control {
  font-size: 15px;
  font-weight: 500;
  min-height: 52px;
  color: #909090; }

.search_form_wrap input[type='text'] {
  min-width: 389px; }

.search_form_wrap select.form-control {
  min-width: 165px;
  background-position: 95% 50%;
  background-size: 14px 14px, 12px 12px; }

.search_form_wrap .form-control::placeholder {
  opacity: 1;
  font-weight: 500;
  color: #909090; }

.search_form_wrap .form-control:-ms-input-placeholder {
  font-weight: 500;
  color: #909090; }

.search_form_wrap .form-control::-ms-input-placeholder {
  font-weight: 500;
  color: #909090; }

.search_form_wrap .btn {
  font-size: 15px;
  font-weight: 500;
  min-height: 52px;
  border-radius: 5px; }

.popular_service {
  background: #fff;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  padding: 25px 45px;
  margin-bottom: 30px; }

.popular_service_inner h2 {
  font-size: 26px;
  font-weight: 500;
  color: #4d4d4d;
  text-align: center; }

.services_list {
  display: flex;
  justify-content: center;
  margin-top: 22px; }

.single_service {
  width: 14.28%;
  padding: 10px 15px;
  text-align: center;
  border-right: 1px solid #d2d4d5; }

.services_list .single_service:last-child {
  border-right: none; }

.service_icon img {
  max-height: 62px;
  width: auto;
  max-width: 100%;
  margin-bottom: 11px; }

.single_service p {
  margin-bottom: 0;
  font-size: 15px;
  color: #4d4d4d;
  font-weight: 500; }

.dashboard-search-head h2 {
  font-size: 26px;
  color: #4d4d4d;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px; }

.dashboard-search-head h2 strong {
  font-weight: 600; }

.popular_service_list {
  padding: 23px 21px; }

.popular_service_list ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.popular_service_list ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 17px;
  font-weight: 600;
  color: #6d6d6d;
  font-size: 13px; }

.popular_service_list ul li:last-child {
  margin-bottom: 0; }

.popular_service_list ul li a {
  color: #6d6d6d; }

.popular_service_list ul li a span {
  color: #fd9625; }

.popular_service_list ul li:before {
  content: "\f105";
  font-family: 'FontAwesome';
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -2px;
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out; }

.search-result-list {
  background: #fff;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
  padding-right: 35px; }

.company-logo {
  width: 280px;
  padding: 30px;
  border-right: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center; }

.company-detail {
  width: calc(100% - 280px);
  padding: 25px 30px 15px;
  position: relative; }

.company-detail .progress {
  position: absolute;
  right: 15px;
  top: 10px; }

.company-detail h2 {
  font-size: 25px;
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 12px; }

.company-detail table td {
  padding: 3px 15px 3px 0;
  font-size: 15px;
  color: #6d6d6d; }

.company-detail table tr td:last-child {
  font-weight: 500; }

.company-detail .buttons {
  margin-top: 15px; }

.company-detail .buttons .btn {
  min-width: 185px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600; }

.company-detail .buttons .btn i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle; }

.progress .progress-bar {
  border-radius: 0; }

.progress-primary .progress-bar {
  border-color: #0275d8; }

.progress-success .progress-bar {
  border-color: #5cb85c; }

.progress-info .progress-bar {
  border-color: #5bc0de; }

.progress-danger .progress-bar {
  border-color: #d9534f; }

.progress-warning .progress-bar {
  border-color: #fd9625; }

.progress-dark .progress-bar {
  border-color: #292b2c; }

.progress {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: none;
  margin: 30px auto 0;
  box-shadow: none;
  position: relative; }

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #efd5b9;
  position: absolute;
  top: 0;
  left: 0; }

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1; }

.progress .progress-left {
  left: 0; }

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 4px;
  border-style: solid;
  position: absolute;
  top: 0; }

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left; }

.progress .progress-right {
  right: 0; }

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right; }

.progress .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  line-height: inherit;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100% !important;
  font-weight: 500;
  color: #4d4d4d; }

.progress[data-percentage="1"] .progress-right .progress-bar {
  animation: loading-1 1.5s linear forwards; }

.progress[data-percentage="1"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="2"] .progress-right .progress-bar {
  animation: loading-2 1.5s linear forwards; }

.progress[data-percentage="2"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="3"] .progress-right .progress-bar {
  animation: loading-3 1.5s linear forwards; }

.progress[data-percentage="3"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="4"] .progress-right .progress-bar {
  animation: loading-4 1.5s linear forwards; }

.progress[data-percentage="4"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="5"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards; }

.progress[data-percentage="5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="6"] .progress-right .progress-bar {
  animation: loading-6 1.5s linear forwards; }

.progress[data-percentage="6"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="7"] .progress-right .progress-bar {
  animation: loading-7 1.5s linear forwards; }

.progress[data-percentage="7"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="8"] .progress-right .progress-bar {
  animation: loading-8 1.5s linear forwards; }

.progress[data-percentage="8"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="9"] .progress-right .progress-bar {
  animation: loading-9 1.5s linear forwards; }

.progress[data-percentage="9"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-10 1.5s linear forwards; }

.progress[data-percentage="10"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="11"] .progress-right .progress-bar {
  animation: loading-11 1.5s linear forwards; }

.progress[data-percentage="11"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="12"] .progress-right .progress-bar {
  animation: loading-12 1.5s linear forwards; }

.progress[data-percentage="12"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="13"] .progress-right .progress-bar {
  animation: loading-13 1.5s linear forwards; }

.progress[data-percentage="13"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="14"] .progress-right .progress-bar {
  animation: loading-14 1.5s linear forwards; }

.progress[data-percentage="14"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="15"] .progress-right .progress-bar {
  animation: loading-15 1.5s linear forwards; }

.progress[data-percentage="15"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="16"] .progress-right .progress-bar {
  animation: loading-16 1.5s linear forwards; }

.progress[data-percentage="16"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="17"] .progress-right .progress-bar {
  animation: loading-17 1.5s linear forwards; }

.progress[data-percentage="17"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="18"] .progress-right .progress-bar {
  animation: loading-18 1.5s linear forwards; }

.progress[data-percentage="18"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="19"] .progress-right .progress-bar {
  animation: loading-19 1.5s linear forwards; }

.progress[data-percentage="19"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-20 1.5s linear forwards; }

.progress[data-percentage="20"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="21"] .progress-right .progress-bar {
  animation: loading-21 1.5s linear forwards; }

.progress[data-percentage="21"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="22"] .progress-right .progress-bar {
  animation: loading-22 1.5s linear forwards; }

.progress[data-percentage="22"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="23"] .progress-right .progress-bar {
  animation: loading-23 1.5s linear forwards; }

.progress[data-percentage="23"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="24"] .progress-right .progress-bar {
  animation: loading-24 1.5s linear forwards; }

.progress[data-percentage="24"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="25"] .progress-right .progress-bar {
  animation: loading-25 1.5s linear forwards; }

.progress[data-percentage="25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="26"] .progress-right .progress-bar {
  animation: loading-26 1.5s linear forwards; }

.progress[data-percentage="26"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="27"] .progress-right .progress-bar {
  animation: loading-27 1.5s linear forwards; }

.progress[data-percentage="27"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="28"] .progress-right .progress-bar {
  animation: loading-28 1.5s linear forwards; }

.progress[data-percentage="28"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="29"] .progress-right .progress-bar {
  animation: loading-29 1.5s linear forwards; }

.progress[data-percentage="29"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-30 1.5s linear forwards; }

.progress[data-percentage="30"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="31"] .progress-right .progress-bar {
  animation: loading-31 1.5s linear forwards; }

.progress[data-percentage="31"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="32"] .progress-right .progress-bar {
  animation: loading-32 1.5s linear forwards; }

.progress[data-percentage="32"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="33"] .progress-right .progress-bar {
  animation: loading-33 1.5s linear forwards; }

.progress[data-percentage="33"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="34"] .progress-right .progress-bar {
  animation: loading-34 1.5s linear forwards; }

.progress[data-percentage="34"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="35"] .progress-right .progress-bar {
  animation: loading-35 1.5s linear forwards; }

.progress[data-percentage="35"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="36"] .progress-right .progress-bar {
  animation: loading-36 1.5s linear forwards; }

.progress[data-percentage="36"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="37"] .progress-right .progress-bar {
  animation: loading-37 1.5s linear forwards; }

.progress[data-percentage="37"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="38"] .progress-right .progress-bar {
  animation: loading-38 1.5s linear forwards; }

.progress[data-percentage="38"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="39"] .progress-right .progress-bar {
  animation: loading-39 1.5s linear forwards; }

.progress[data-percentage="39"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-40 1.5s linear forwards; }

.progress[data-percentage="40"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="41"] .progress-right .progress-bar {
  animation: loading-41 1.5s linear forwards; }

.progress[data-percentage="41"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="42"] .progress-right .progress-bar {
  animation: loading-42 1.5s linear forwards; }

.progress[data-percentage="42"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="43"] .progress-right .progress-bar {
  animation: loading-43 1.5s linear forwards; }

.progress[data-percentage="43"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="44"] .progress-right .progress-bar {
  animation: loading-44 1.5s linear forwards; }

.progress[data-percentage="44"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="45"] .progress-right .progress-bar {
  animation: loading-45 1.5s linear forwards; }

.progress[data-percentage="45"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="46"] .progress-right .progress-bar {
  animation: loading-46 1.5s linear forwards; }

.progress[data-percentage="46"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="47"] .progress-right .progress-bar {
  animation: loading-47 1.5s linear forwards; }

.progress[data-percentage="47"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="48"] .progress-right .progress-bar {
  animation: loading-48 1.5s linear forwards; }

.progress[data-percentage="48"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="49"] .progress-right .progress-bar {
  animation: loading-49 1.5s linear forwards; }

.progress[data-percentage="49"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="50"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="51"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="51"] .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.5s; }

.progress[data-percentage="52"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="52"] .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.5s; }

.progress[data-percentage="53"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="53"] .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.5s; }

.progress[data-percentage="54"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="54"] .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.5s; }

.progress[data-percentage="55"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="55"] .progress-left .progress-bar {
  animation: loading-5 1.5s linear forwards 1.5s; }

.progress[data-percentage="56"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="56"] .progress-left .progress-bar {
  animation: loading-6 1.5s linear forwards 1.5s; }

.progress[data-percentage="57"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="57"] .progress-left .progress-bar {
  animation: loading-7 1.5s linear forwards 1.5s; }

.progress[data-percentage="58"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="58"] .progress-left .progress-bar {
  animation: loading-8 1.5s linear forwards 1.5s; }

.progress[data-percentage="59"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="59"] .progress-left .progress-bar {
  animation: loading-9 1.5s linear forwards 1.5s; }

.progress[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-10 1.5s linear forwards 1.5s; }

.progress[data-percentage="61"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="61"] .progress-left .progress-bar {
  animation: loading-11 1.5s linear forwards 1.5s; }

.progress[data-percentage="62"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="62"] .progress-left .progress-bar {
  animation: loading-12 1.5s linear forwards 1.5s; }

.progress[data-percentage="63"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="63"] .progress-left .progress-bar {
  animation: loading-13 1.5s linear forwards 1.5s; }

.progress[data-percentage="64"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="64"] .progress-left .progress-bar {
  animation: loading-14 1.5s linear forwards 1.5s; }

.progress[data-percentage="65"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="65"] .progress-left .progress-bar {
  animation: loading-15 1.5s linear forwards 1.5s; }

.progress[data-percentage="66"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="66"] .progress-left .progress-bar {
  animation: loading-16 1.5s linear forwards 1.5s; }

.progress[data-percentage="67"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="67"] .progress-left .progress-bar {
  animation: loading-17 1.5s linear forwards 1.5s; }

.progress[data-percentage="68"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="68"] .progress-left .progress-bar {
  animation: loading-18 1.5s linear forwards 1.5s; }

.progress[data-percentage="69"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="69"] .progress-left .progress-bar {
  animation: loading-19 1.5s linear forwards 1.5s; }

.progress[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-20 1.5s linear forwards 1.5s; }

.progress[data-percentage="71"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="71"] .progress-left .progress-bar {
  animation: loading-21 1.5s linear forwards 1.5s; }

.progress[data-percentage="72"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="72"] .progress-left .progress-bar {
  animation: loading-22 1.5s linear forwards 1.5s; }

.progress[data-percentage="73"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="73"] .progress-left .progress-bar {
  animation: loading-23 1.5s linear forwards 1.5s; }

.progress[data-percentage="74"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="74"] .progress-left .progress-bar {
  animation: loading-24 1.5s linear forwards 1.5s; }

.progress[data-percentage="75"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="75"] .progress-left .progress-bar {
  animation: loading-25 1.5s linear forwards 1.5s; }

.progress[data-percentage="76"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="76"] .progress-left .progress-bar {
  animation: loading-26 1.5s linear forwards 1.5s; }

.progress[data-percentage="77"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="77"] .progress-left .progress-bar {
  animation: loading-27 1.5s linear forwards 1.5s; }

.progress[data-percentage="78"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="78"] .progress-left .progress-bar {
  animation: loading-28 1.5s linear forwards 1.5s; }

.progress[data-percentage="79"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="79"] .progress-left .progress-bar {
  animation: loading-29 1.5s linear forwards 1.5s; }

.progress[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-30 1.5s linear forwards 1.5s; }

.progress[data-percentage="81"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="81"] .progress-left .progress-bar {
  animation: loading-31 1.5s linear forwards 1.5s; }

.progress[data-percentage="82"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="82"] .progress-left .progress-bar {
  animation: loading-32 1.5s linear forwards 1.5s; }

.progress[data-percentage="83"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="83"] .progress-left .progress-bar {
  animation: loading-33 1.5s linear forwards 1.5s; }

.progress[data-percentage="84"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="84"] .progress-left .progress-bar {
  animation: loading-34 1.5s linear forwards 1.5s; }

.progress[data-percentage="85"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="85"] .progress-left .progress-bar {
  animation: loading-35 1.5s linear forwards 1.5s; }

.progress[data-percentage="86"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="86"] .progress-left .progress-bar {
  animation: loading-36 1.5s linear forwards 1.5s; }

.progress[data-percentage="87"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="87"] .progress-left .progress-bar {
  animation: loading-37 1.5s linear forwards 1.5s; }

.progress[data-percentage="88"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="88"] .progress-left .progress-bar {
  animation: loading-38 1.5s linear forwards 1.5s; }

.progress[data-percentage="89"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="89"] .progress-left .progress-bar {
  animation: loading-39 1.5s linear forwards 1.5s; }

.progress[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-40 1.5s linear forwards 1.5s; }

.progress[data-percentage="91"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="91"] .progress-left .progress-bar {
  animation: loading-41 1.5s linear forwards 1.5s; }

.progress[data-percentage="92"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="92"] .progress-left .progress-bar {
  animation: loading-42 1.5s linear forwards 1.5s; }

.progress[data-percentage="93"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="93"] .progress-left .progress-bar {
  animation: loading-43 1.5s linear forwards 1.5s; }

.progress[data-percentage="94"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="94"] .progress-left .progress-bar {
  animation: loading-44 1.5s linear forwards 1.5s; }

.progress[data-percentage="95"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="95"] .progress-left .progress-bar {
  animation: loading-45 1.5s linear forwards 1.5s; }

.progress[data-percentage="96"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="96"] .progress-left .progress-bar {
  animation: loading-46 1.5s linear forwards 1.5s; }

.progress[data-percentage="97"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="97"] .progress-left .progress-bar {
  animation: loading-47 1.5s linear forwards 1.5s; }

.progress[data-percentage="98"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="98"] .progress-left .progress-bar {
  animation: loading-48 1.5s linear forwards 1.5s; }

.progress[data-percentage="99"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="99"] .progress-left .progress-bar {
  animation: loading-49 1.5s linear forwards 1.5s; }

.progress[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-50 1.5s linear forwards; }

.progress[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-50 1.5s linear forwards 1.5s; }

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(3.6);
    transform: rotate(3.6deg); } }

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(7.2);
    transform: rotate(7.2deg); } }

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(10.8);
    transform: rotate(10.8deg); } }

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(14.4);
    transform: rotate(14.4deg); } }

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(18);
    transform: rotate(18deg); } }

@keyframes loading-6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(21.6);
    transform: rotate(21.6deg); } }

@keyframes loading-7 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(25.2);
    transform: rotate(25.2deg); } }

@keyframes loading-8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(28.8);
    transform: rotate(28.8deg); } }

@keyframes loading-9 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(32.4);
    transform: rotate(32.4deg); } }

@keyframes loading-10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg); } }

@keyframes loading-11 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(39.6);
    transform: rotate(39.6deg); } }

@keyframes loading-12 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(43.2);
    transform: rotate(43.2deg); } }

@keyframes loading-13 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(46.8);
    transform: rotate(46.8deg); } }

@keyframes loading-14 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(50.4);
    transform: rotate(50.4deg); } }

@keyframes loading-15 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(54);
    transform: rotate(54deg); } }

@keyframes loading-16 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(57.6);
    transform: rotate(57.6deg); } }

@keyframes loading-17 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(61.2);
    transform: rotate(61.2deg); } }

@keyframes loading-18 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(64.8);
    transform: rotate(64.8deg); } }

@keyframes loading-19 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(68.4);
    transform: rotate(68.4deg); } }

@keyframes loading-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg); } }

@keyframes loading-21 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(75.6);
    transform: rotate(75.6deg); } }

@keyframes loading-22 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(79.2);
    transform: rotate(79.2deg); } }

@keyframes loading-23 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(82.8);
    transform: rotate(82.8deg); } }

@keyframes loading-24 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(86.4);
    transform: rotate(86.4deg); } }

@keyframes loading-25 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90);
    transform: rotate(90deg); } }

@keyframes loading-26 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(93.6);
    transform: rotate(93.6deg); } }

@keyframes loading-27 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(97.2);
    transform: rotate(97.2deg); } }

@keyframes loading-28 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(100.8);
    transform: rotate(100.8deg); } }

@keyframes loading-29 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(104.4);
    transform: rotate(104.4deg); } }

@keyframes loading-30 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg); } }

@keyframes loading-31 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(111.6);
    transform: rotate(111.6deg); } }

@keyframes loading-32 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(115.2);
    transform: rotate(115.2deg); } }

@keyframes loading-33 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(118.8);
    transform: rotate(118.8deg); } }

@keyframes loading-34 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(122.4);
    transform: rotate(122.4deg); } }

@keyframes loading-35 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(126);
    transform: rotate(126deg); } }

@keyframes loading-36 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(129.6);
    transform: rotate(129.6deg); } }

@keyframes loading-37 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(133.2);
    transform: rotate(133.2deg); } }

@keyframes loading-38 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(136.8);
    transform: rotate(136.8deg); } }

@keyframes loading-39 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(140.4);
    transform: rotate(140.4deg); } }

@keyframes loading-40 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg); } }

@keyframes loading-41 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(147.6);
    transform: rotate(147.6deg); } }

@keyframes loading-42 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(151.2);
    transform: rotate(151.2deg); } }

@keyframes loading-43 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(154.8);
    transform: rotate(154.8deg); } }

@keyframes loading-44 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(158.4);
    transform: rotate(158.4deg); } }

@keyframes loading-45 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(162);
    transform: rotate(162deg); } }

@keyframes loading-46 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(165.6);
    transform: rotate(165.6deg); } }

@keyframes loading-47 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(169.2);
    transform: rotate(169.2deg); } }

@keyframes loading-48 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(172.8);
    transform: rotate(172.8deg); } }

@keyframes loading-49 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(176.4);
    transform: rotate(176.4deg); } }

@keyframes loading-50 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg); } }

/* new device css*/
.support_device {
  padding: 1.56rem; }

.support_device .card-body {
  padding: 0; }

.support_device .divider-text {
  background: transparent;
  font-size: 13px;
  color: #7a7a7a;
  font-weight: 400; }

.support_device_logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.25rem;
  justify-content: center; }

.support_device_logo a {
  padding: 0 15px;
  width: 18%;
  margin-bottom: 10px; }

.light_warning_bg {
  background: #fff4e9;
  padding: 12px 10px;
  border-radius: 5px;
  margin-bottom: 25px;
  border: 1px solid #f6dec7; }

.light_warning_bg p {
  font-size: 13px;
  font-weight: 500;
  color: #7a7a7a;
  margin: 0; }

.schlage_modal .modal-dialog {
  max-width: 612px; }

.schlage_modal .modal-body {
  max-width: 499px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 38px; }

.main-menu.menu-light .navigation > li .active, .main-menu.menu-light .navigation > li .open {
  background: transparent; }

.two-column tr td:first-child {
  width: 75%; }

.content-header-right .btn {
  font-size: 0.9375rem; }

.prompt-head {
  border-radius: 0.5rem;
  margin-bottom: 1.875rem;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 1.875rem;
  background: #fff url(../images/property-img/comment-icon.png) no-repeat center right;
  background-position: 89%; }

.prompt-head h2 {
  font-size: 1.875rem;
  margin: 0;
  color: #4d4d4d;
  font-weight: 400; }

.prompt-head h2 strong {
  font-weight: 500; }

.navigation .has-sub li a {
  font-size: 14px !important; }

/* set access css*/
.technology {
  height: calc(100% - 30px);
  padding: 3.375rem 1rem 3rem;
  text-align: center;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px; }

.technology-icon {
  max-width: 99px;
  margin: 0 auto 18px; }

.technology p {
  font-size: 18px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 5px; }

.technology h3 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  color: #4d4d4d; }

.main-menu .navbar-header .navbar-brand .brand-logo {
  width: 71px;
  height: 73px; }

/* checkout page css*/
.checkout_wrap {
  max-width: 907px;
  margin-top: 47px;
  padding: 36px 47px 38px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 1.25rem;
  background: #fff url(../images/property-img/building-bg.png) no-repeat center bottom; }

.checkout_wrap p {
  font-size: 15px;
  font-weight: 500;
  color: #7a7a7a; }

.checkout_wrap table {
  width: 100%; }

.checkout_wrap table tr td {
  border-bottom: 1px solid #eceef0;
  padding-left: 0;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #7a7a7a;
  font-weight: 500; }

.checkout_wrap table tr td:last-child {
  font-size: 20px;
  color: #4d4d4d; }

.checkout_wrap table tr:last-child td {
  font-weight: 700;
  border-bottom: none; }

.checkout_bottom {
  margin-top: 70px; }

.checkout_bottom .btn {
  max-width: 274px;
  width: 100%;
  margin-bottom: 18px; }

.checkout_bottom p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.050rem;
  margin-bottom: 0; }

.checkout_bottom p a {
  color: #fd9625;
  text-decoration: underline; }

.pricing_modal .modal-dialog {
  max-width: 712px; }

.pricing_modal .modal-body {
  padding: 5px 15px 30px; }

.pricing_modal .table thead th {
  padding: 13px 13px 13px 0; }

.pricing_modal .table tr td {
  font-weight: 500;
  padding: 13px 13px 13px 0;
  font-size: 0.9375rem;
  color: #7a7a7a; }

.pricing_modal .table tr:last-child td {
  border-bottom: none; }

.confirmation_wrap {
  max-width: 907px;
  text-align: center;
  margin-top: 47px;
  padding: 55px 69px 38px;
  min-height: 628px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 1.25rem;
  background: #fff url(../images/property-img/building-bg.png) no-repeat center bottom; }

.confirmation_wrap h2 {
  font-size: 47px;
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 20px; }

.confirmation_wrap p {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.050rem;
  color: #7a7a7a;
  line-height: 2.63; }

.confirmation_wrap .btn {
  margin-top: 10px; }

/* Reoprt dashboard css*/
.progress_circle {
  width: 107px;
  min-width: 107px; }

.progress_circle .progress {
  margin: 0;
  width: 104px;
  height: 104px;
  line-height: 104px; }

.progress_circle .progress .progress-bar {
  border-width: 9px; }

.progress_circle .progress .progress-value {
  font-size: 30px;
  font-weight: 600; }

.progress_circle .progress .progress-left .progress-bar {
  border-top-right-radius: 52px;
  border-bottom-right-radius: 52px; }

.progress_circle .progress .progress-right .progress-bar {
  border-top-left-radius: 52px;
  border-bottom-left-radius: 52px; }

.progress-primary .progress-bar {
  border-color: #03b8b8; }

.progress_circle .progress:after {
  border: 9px solid  #cecece; }

.progress_circle .progress-success .progress-bar {
  border-color: #deb925; }

.summary_detail h2 {
  word-break: break-all; }

.align-center {
  align-items: center; }

.dropdown-property a {
  font-size: 14px;
  font-weight: 500; }

.dropdown-property .dropdown-toggle::after {
  border: none !important;
  font-family: "feather";
  content: "\e842" !important;
  position: relative;
  top: 1px;
  right: 0px;
  left: 0.714rem;
  padding: 0;
  display: inline-block !important;
  margin: 0;
  vertical-align: 0; }

.apexcharts-tooltip.light .apexcharts-tooltip-title {
  border-bottom: 1px solid #ddd;
  color: #000;
  background: #fff;
  color: #03b8b8; }

.apexcharts-toolbar {
  display: none !important;
  opacity: 0; }

.apexcharts-canvas:hover .apexcharts-toolbar {
  opacity: 0 !important; }

.recent_invoice {
  padding-left: 0;
  padding-right: 0; }

.recent_invoice .table-responsive {
  padding: 0 20px; }

.apexcharts-legend.center.position-bottom {
  display: none !important; }

.invoice-filter {
  display: flex;
  align-items: center; }

.invoice-filter p {
  font-size: 13px;
  margin-bottom: 0;
  margin-right: 2px; }

.invoice-filter select.form-control {
  font-size: 14px;
  margin: 0 2px;
  font-weight: 500;
  text-transform: capitalize; }

.recent_invoice_list {
  padding: 12px 20px 25px; }

.content-header-right .btn {
  padding: 0.9rem 0.8125rem; }

.drag_head.flex-column h4 {
  margin-bottom: 8px; }

.survey_box {
  font-size: 13px;
  color: #6f6f6f;
  font-weight: 500; }

.survey_box .form-control::placeholder {
  color: #6f6f6f;
  font-size: 13px;
  font-weight: 500;
  opacity: 1; }

.survey_box .form-control:-ms-input-placeholder {
  color: #6f6f6f;
  font-size: 13px;
  font-weight: 500; }

.survey_box .form-control::-ms-input-placeholder {
  color: #6f6f6f;
  font-size: 13px;
  font-weight: 500; }

.properties-listing .form-control::placeholder {
  color: #909090;
  font-weight: 500;
  opacity: 1; }

.properties-listing .form-control:-ms-input-placeholder {
  color: #909090;
  font-weight: 500; }

.properties-listing .form-control::-ms-input-placeholder {
  color: #909090;
  font-weight: 500; }

.preview-survery-form .form-group > label {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.050rem;
  color: #7a7a7a;
  margin-bottom: 18px; }

.preview-survery-form .custom-control {
  margin-bottom: 14px; }

.preview-survery-form .custom-control label {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.050rem;
  color: #7a7a7a; }

.preview-survery-form .card-body {
  padding: 1.875rem; }

.preview-survery-form textarea {
  min-height: 120px; }

.rating-star-wrap a {
  font-size: 2rem;
  color: #7a7a7a; }

.summary_detail h2 .question-icon {
  color: #fda748;
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle; }

.popover-body {
  padding: 12px 12px 12px 20px;
  border-radius: 5px;
  color: #fff;
  background: #04a7a7;
  font-size: 13px;
  line-height: 1.46; }

.popover-body a {
  color: #fff;
  text-decoration: underline; }

.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #04a7a7; }

.button-file-upload {
  color: #03b8b8;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.file-progress {
  display: flex;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #ededed;
  border-radius: 1.28rem;
  margin-top: 5px;
  margin: 10px auto;
  position: relative;
  width: 100%;
  height: 21px;
}

.file-progress-bar {
  background: #008DE6;
  height: 21px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: width 0.3s ease 0s;
  width: 0;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1600px) {
  .company-logo {
    width: 200px;
    padding: 0 15px; }
  .search-result-list {
    padding-right: 15px; }
  .company-detail {
    width: calc(100% - 200px); }
  .company-detail .buttons .btn {
    min-width: 165px; }
  /*report dashboard css */
  .report_wrap .col-lg-3 {
    max-width: 33.33%;
    flex: 0 0 33.33%; } }

@media (max-width: 1550px) {
  .add_text h2 {
    font-size: 25px; } }

@media (max-width: 1450px) {
  .col-20 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-left: 14px;
    padding-right: 14px; }
  .d-flex.card-footer .btn {
    font-size: 12px;
    padding: 10px 8px; }
  .view-link {
    font-size: 12px; } }

@media (max-width: 1025px) {
  .services_list {
    flex-wrap: wrap; }
  .single_service {
    width: 25%;
    border: none;
    margin-bottom: 15px; }
  .popular_service {
    padding: 25px 15px; } }

@media (max-width: 992px) {
  .table-responsive {
    overflow-x: auto; }
  .col-20 {
    flex: 0 0 50%;
    max-width: 50%; }
  .big-banner {
    margin-bottom: 30px; }
  .search_form_wrap input[type='text'] {
    min-width: inherit; }
  /*report dashboard css */
  .report_wrap .col-lg-3 {
    max-width: 50%;
    flex: 0 0 50%; }
  .recent_invoice .table {
    width: 1000px; } }

@media (max-width: 991.98px) {
  .chat-application .sidebar-content {
    transform: translateX(-110%);
    transition: all .3s ease-in-out;
    left: 0;
    position: fixed;
    z-index: 5;
    left: -15px; }
  .chat-application .sidebar-content.show {
    transform: none;
    transition: all .3s ease;
    display: block;
    left: auto !important; }
  .chat-application .sidebar-content .sidebar-close-icon {
    visibility: visible; } }

@media (max-width: 868px) {
  .step .nav-tabs .nav-item:after {
    width: 132%;
    right: -78%; } }

@media (max-width: 767px) {
  .plan_img {
    margin: 25px auto; }
  .plan_information_wrap {
    margin-top: 20px; }
  .plan_information_wrap .card-body {
    padding: 35px 15px 5px; }
  .schedule_table .table {
    width: 650px; }
  .review_table .table {
    width: 750px; }
  .checklist_status .table {
    width: 700px; }
  .fc-toolbar {
    align-items: flex-end; }
  .fc .fc-header-toolbar .fc-right {
    margin: 0; }
  .content-header-right {
    margin-top: 1rem; }
  html body.navbar-sticky .app-content .content-wrapper {
    padding: 2.2rem 1rem; }
  footer.footer {
    padding: 1rem 1rem; }
  .step .nav-tabs .nav-item:after {
    display: none; }
  .step .nav-tabs {
    flex-wrap: wrap;
    margin-bottom: 0; }
  .step .nav-tabs .nav-item {
    width: 50%;
    margin-bottom: 15px; }
  .step-form {
    padding: 20px; }
  .step {
    margin-top: 30px; }
  .single_service {
    width: 33.33%; }
  .company-detail h2 {
    font-size: 20px; }
  .company-detail table td {
    font-size: 12px; }
  /*report dashboard css */
  .report_wrap .col-lg-3 {
    max-width: 100%;
    flex: 0 0 100%; } }

@media (max-width: 640px) {
  .line-chart .card-body.pb-0 {
    padding: 0rem; }
  .apexcharts-xaxis-texts-g text {
    font-size: 10px !important; }
  .card-body {
    padding: 2.125rem 1rem; }
  .search_banner {
    padding: 35px 15px 20px; }
  .search_banner_inner h2 {
    font-size: 24px; }
  .search-result-list {
    flex-wrap: wrap; }
  .company-logo {
    width: 100%;
    padding: 0 15px;
    border: none; }
  .company-detail {
    width: 100%;
    padding: 25px 80px 15px 30px; }
  /* new device css*/
  .prompt-head h2 {
    font-size: 1.625rem; }
  .properties-listing img.rounded {
    min-width: 54px; }
  /* checkout page css*/
  .confirmation_wrap {
    padding: 55px 20px;
    min-height: inherit; }
  .confirmation_wrap p {
    font-size: 16px; }
  .confirmation_wrap h2 {
    font-size: 30px; }
  .dropdown-property {
    display: none; } }

@media (max-width: 575px) {
  .conversation_wrap h2 {
    font-size: 16px; }
  .icon_wrap a {
    font-size: 1rem; }
  .col-20 {
    flex: 0 0 100%;
    max-width: 100%; }
  .card-header .btn-wrap {
    margin-top: 15px; }
  .d-flex.card-footer {
    flex-wrap: wrap; }
  .d-flex.card-footer .btn {
    padding: 10px;
    width: 100%;
    display: block;
    margin-bottom: 15px; }
  .d-flex.card-footer {
    flex-wrap: wrap;
    justify-content: flex-end; }
  .card .card-title {
    font-size: 1.125rem; }
  .btn-outline-dark {
    font-size: 12px; }
  .section-head h2 {
    font-size: 18px; }
  .chat-content h4 {
    font-size: 12px; }
  .chat-content p, .chat_footer p {
    font-size: 12px; }
  .chat_footer img {
    max-width: 16px; }
  .dashboard_list .table {
    width: 400px; }
  footer.footer, footer.footer a {
    font-size: 14px; }
  span.apexcharts-legend-text {
    font-size: 11px !important;
    margin-bottom: 0 !important; }
  .step-form h3 {
    font-size: 22px; }
  .step-form .btn {
    font-size: 14px; }
  .chat-user-list .d-flex.justify-content-between {
    display: none !important; }
  .reservation_wrap .btn {
    margin-top: 0.5rem; }
  .search_form_wrap .form-group {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .single_service {
    width: 50%; }
  .single_service p {
    font-size: 12px; }
  .service_icon img {
    max-height: 47px; } }

@media (max-width: 464px) {
  span.apexcharts-legend-text {
    margin-bottom: 0; } }

/* menu width css*/
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
  width: 320px; }

.header-navbar.fixed-top {
  left: 320px; }

html body .content {
  margin-left: 320px; }

@media (max-width: 1201px) {
  .header-navbar.fixed-top {
    left: 0; } }
